<div id="${arg.a_key}">
	<custom-attributes zclass_prefix="${arg.a_key}_"/>
	<attribute name="onState"><![CDATA[
		String state = event.getData();
		self.setAttribute("state", state);
		if (state.equals("hidden")) {
			self.setVisible(false);
		}
		else {
			String zclass = self.getAttribute("zclass_prefix") + state;
			if (self.getZclass() == null || !self.getZclass().equals(zclass)) {
				self.setZclass(zclass);
			}
			Object label = vView.getComponent(self.getId() + "_label");
			if (label != null) {
				zclass = "button_label_" + state;
				if (label.getZclass() == null || !label.getZclass().equals(zclass)) {
					label.setZclass(zclass);
				}
			}
			self.setVisible(true);
		}
	]]></attribute>
	<attribute name="onClick"><![CDATA[
		// save value
		if (self.getAttribute("state").equals("enabled")) {
			Object macro = self.getParent();
			Object component = vView.getComponent(macro.getDynamicProperty("a_notify_id"));
			if (component != null) {
				Events.sendEvent("onClickButton", component, macro.getDynamicProperty("a_key"));
			}
		}
	]]></attribute>
	<label id="${arg.a_key}_label" value="${arg.a_label}"/>
</div>