@font-face {
	font-family				: MyriadPro;
	src								: url('MyriadPro-Regular.otf'),url('MyriadPro-Regular.eot');
}

.vignettes
{
	position					: absolute;
	left							: 5px;
	top								: 50px;
}


.vignette_test
{
	background-color	: red;
}


span.menu_option
{
	position					: absolute;
	left							: 135px;
	top								: 11px;
	width							: 150px;
	color							: gray;
	font-family				: MyriadPro;
	font-size					: 16px;
}

img.vignette_state
{
	position					: absolute;
	left							: 285px;
	top								: 10px;
}

span.vignette_title
{
	position					: absolute;
	left							: 310px;
	top								: 12px;
	width							: 700px;
	color							: gray;
	font-family				: MyriadPro;
	font-size					: 14px;
}

div.vignette_content
{
	position					: absolute;
	left							: 5px;
	top								: 50px;
	width							: 932px;
	height						: 440px;
	background-color	: lightgray;
}

span.vignette_content_label
{
	position					: absolute;
	left							: 135px;
	top								: 200px;
	font-family				: MyriadPro;
	font-size					: 36px;
}

.button_label_enabled,
.button_label_disabled
{
	position					: relative;
	left							: 5px;
	top								: 8px;
	font-family				: MyriadPro;
	font-size					: 12px;
}

.button_label_enabled
{
	color							: white;
}

.button_label_disabled
{
	color							: gray;
}

.vignette_overview_enabled,
.vignette_overview_disabled
{
	position					: absolute;
	top								: 5px;
	height						: 34px;
	z-index						: 1;
}	
	
.show_instruction_enabled,
.show_instruction_disabled,
.show_vignette_enabled,
.show_vignette_disabled,
.show_reaction_enabled,
.show_reaction_disabled,
.give_feedback_enabled,
.give_feedback_disabled,
.stop_recording_enabled,
.stop_recording_disabled,
.redo_recording_enabled,
.redo_recording_disabled,
.show_recording_enabled,
.show_recording_disabled,
.send_recording_enabled,
.send_recording_disabled,
.show_feedback_enabled,
.show_feedback_disabled,
.previous_vignette_enabled,
.previous_vignette_disabled,
.next_vignette_enabled,
.next_vignette_disabled
{
	position					: absolute;
	top								: 500px;
	height						: 34px;
	z-index						: 1;
}	
	
.vignette_overview_enabled,
.show_instruction_enabled,
.show_vignette_enabled,
.show_reaction_enabled,
.give_feedback_enabled,
.stop_recording_enabled,
.redo_recording_enabled,
.show_recording_enabled,
.send_recording_enabled,
.show_feedback_enabled,
.previous_vignette_enabled,
.next_vignette_enabled
{
	background-image	: url('button_background_active.png');
	cursor						: pointer;
}	
	
.vignette_overview_disabled,
.show_instruction_disabled,
.show_vignette_disabled,
.show_reaction_disabled,
.give_feedback_disabled,
.stop_recording_disabled,
.redo_recording_disabled,
.show_recording_disabled,
.send_recording_disabled,
.show_feedback_disabled,
.previous_vignette_disabled,
.next_vignette_disabled
{
	background-image	: url('button_background_inactive.png');
	cursor						: default;
}	
	
.vignette_overview_enabled,
.vignette_overview_disabled,
.show_instruction_enabled,
.show_instruction_disabled,
.show_vignette_enabled,
.show_vignette_disabled,
.show_reaction_enabled,
.show_reaction_disabled,
.give_feedback_enabled,
.give_feedback_disabled,
.stop_recording_enabled,
.stop_recording_disabled,
.redo_recording_enabled,
.redo_recording_disabled,
.show_recording_enabled,
.show_recording_disabled,
.send_recording_enabled,
.send_recording_disabled,
.show_feedback_enabled,
.show_feedback_disabled,
.previous_vignette_enabled,
.previous_vignette_disabled,
.next_vignette_enabled,
.next_vignette_disabled
{
	width							: 107px;
}	

.vignette_overview_enabled,
.vignette_overview_disabled
{
	left							: 5px;
}	

.show_instruction_enabled,
.show_instruction_disabled
{
	left							: 5px;
}	

.show_vignette_enabled,
.show_vignette_disabled
{
	left							: 130px;
}	

.show_reaction_enabled,
.show_reaction_disabled
{
	left							: 255px;
}	

.give_feedback_enabled,
.give_feedback_disabled
{
	left							: 380px;
}	

.stop_recording_enabled,
.stop_recording_disabled
{
	left							: 255px;
}	

.redo_recording_enabled,
.redo_recording_disabled
{
	left							: 255px;
}	

.show_recording_enabled,
.show_recording_disabled
{
	left							: 380px;
}	

.send_recording_enabled,
.send_recording_disabled
{
	left							: 505px;
}	

.show_feedback_enabled,
.show_feedback_disabled
{
	left							: 380px;
}	

.previous_vignette_enabled,
.previous_vignette_disabled
{
	left							: 705px;
}	

.next_vignette_enabled,
.next_vignette_disabled
{
	left							: 830px;
}	
