<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns:h="http://www.w3.org/1999/xhtml">

	<style src="${arg.a_propertyMap.get('zulfilepath')}assets/html/css/reset.css"/>
	<style src="${arg.a_propertyMap.get('zulfilepath')}assets/html/css/style.css"/>
	
	<h:link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,900italic,900,700italic,700,600italic,600,400italic,300italic,300,200italic' rel='stylesheet' type='text/css'/>

	<h:script src="https://kit.fontawesome.com/d0c839778d.js" crossorigin="anonymous"></h:script>

	<div id="${arg.a_propertyMap.get('macroBoxUuid')}_div" class="emergo-screen" style="z-index:2;background-color:transparent;background-image: url('${arg.a_propertyMap.get('zulfilepath')}assets/bg_blur.png')">
		<div class="js-dialog">
			<div>
				<custom-attributes macroBoxUuid="${arg.a_propertyMap.get('macroBoxUuid')}"/>
				<attribute name="onClick">
					<![CDATA[
						Events.echoEvent("onButtonClick", nl.surf.emergo.control.CDesktopComponents.vView().getComponent(self.getAttribute("macroBoxUuid")), "close_macro");
					]]>
				</attribute>
				<h:a href="#" class="js-btn round primary js-dialog-close"><h:i class="fas fa-times"></h:i></h:a>
			</div>
			<div class="js-dialog-title">
				<html>
				<h1 class="js-h1">${arg.a_propertyMap.get('mailsTitle')}</h1>
				</html>
			</div>
			<div class="js-mail">
				<div class="js-mail-pane">
					<div class="js-mail-messages">
						<h:ul forEach="${arg.a_propertyMap.get('mails')}" class="js-mail-list">
							<div id="${arg.a_propertyMap.get('macroBoxUuid')}_mail_div_${each.get('mailIndex')}">
								<custom-attributes macroBoxUuid="${arg.a_propertyMap.get('macroBoxUuid')}"/>
								<custom-attributes mailIndex="${each.get('mailIndex')}"/>
								<custom-attributes active="${each.get('active')}"/>
								<attribute name="onCreate">
									<![CDATA[
										Events.sendEvent("onSetActive", self, self.getAttribute("active"));
									]]>
								</attribute>
								<attribute name="onSetActive">
									<![CDATA[
										self.setAttribute("active", event.getData());
										Object fellow = self.getFellow(self.getId() + "_li");
										fellow.setSclass(self.getAttribute("active") ? "active" : "");
										fellow.setStyle(self.getAttribute("active") ? "" : "cursor:pointer;");
									]]>
								</attribute>
								<attribute name="onClick">
									<![CDATA[
										Events.echoEvent("onButtonClick", nl.surf.emergo.control.CDesktopComponents.vView().getComponent(self.getAttribute("macroBoxUuid")), self.getAttribute("mailIndex"));
									]]>
								</attribute>
								<h:li id="${arg.a_propertyMap.get('macroBoxUuid')}_mail_div_${each.get('mailIndex')}_li">
                  <h:span if="${each.get('new')}" class="js-badge">Nieuw</h:span>
									<h:strong class="js-strong">${each.get('from')}</h:strong>
									<h:span class="js-mail-subject">${each.get('subject')}</h:span>
									<h:span class="js-mail-preview">${each.get('shortBody')}</h:span>
								</h:li>
							</div>
						</h:ul>
					</div>
					
					<div class="js-mail-readingpane">
						<div class="js-mail-read">
							<?component id="${arg.a_propertyMap.get('macroBoxUuid')}_mail_macro" name="mail" macroURI="JuniorScientist_mail_view_mail_macro.zul"?>
							<mail
								a_mailData="${arg.a_propertyMap.get('mailData')}"
							/>
						</div>
						<div class="js-mail-action">
							<?component id="${arg.a_propertyMap.get('macroBoxUuid')}_mail_action_macro" name="mail" macroURI="JuniorScientist_mail_view_mail_action_macro.zul"?>
							<mail
								a_macroBoxUuid="${arg.a_propertyMap.get('macroBoxUuid')}"
								a_mailData="${arg.a_propertyMap.get('mailData')}"
							/>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

</zk>