<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd">
	
<box id="runReferences_JuniorScientist_FeedbackSvenTweets_box_${arg.a_casecomponent.getCacId()}_${arg.a_tag.getAttribute('id')}" use="nl.surf.emergo.control.run.cases.JuniorScientist.CRunJuniorScientistFeedbackSvenTweetsBox1"/>

</zk>