<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns:h="http://www.w3.org/1999/xhtml">

	<div id="${arg.a_pieceData.get('macroBoxUuid')}_piece_popup" class="emergo-screen" style="z-index:12;background-color:transparent;background-image: url('${arg.a_pieceData.get('zulfilepath')}assets/bg_blur.png')" visible="${arg.a_pieceData.get('piecePopupVisible')}">
		<div class="js-dialog">
			<div>
				<custom-attributes macroBoxUuid="${arg.a_pieceData.get('macroBoxUuid')}"/>
				<attribute name="onClick">
					<![CDATA[
						Events.echoEvent("onButtonClick", nl.surf.emergo.control.CDesktopComponents.vView().getComponent(self.getAttribute("macroBoxUuid")), "hide_piece_popup");
					]]>
				</attribute>
				<h:a href="#" class="js-btn round primary js-dialog-close"><h:i class="fas fa-times"></h:i></h:a>
			</div>
			<div class="js-dialog-title">
				<div class="js-breadcrumbs">
					 <h:span>${arg.a_pieceData.get('referencesTitle')} > </h:span><h:span><h:strong class="js-strong">${arg.a_pieceData.get('pieceName')}</h:strong></h:span>
				</div>
			</div>
			<div class="js-inventory">
				<div class="js-inventory-readingpane">
					<h:embed if="${arg.a_pieceData.get('pieceExtension') == 'pdf'}" src="${arg.a_pieceData.get('pieceUrl')}" width="100%" height="500px" class="pdf-doc" />

					<html if="${arg.a_pieceData.get('pieceExtension') == 'html'}" content="${arg.a_pieceData.get('pieceContent')}" class="js-inventory-readingpane" width="100%" height="500px" />

					<div if="${arg.a_pieceData.get('pieceExtension') == 'mp4'}" id="${arg.a_pieceData.get('macroBoxUuid')}_piece_popup_video" class="js-inventory-readingpane">
						<custom-attributes url="${arg.a_pieceData.get('pieceUrl')}"/>
						<attribute name="onCreate">
							<![CDATA[
								import nl.surf.emergo.view.VView;
								self.getChildren().clear();
								self.setVisible(!self.getAttribute("url").equals(""));
								if (self.getAttribute("url").equals("")) {
									return;
								}
								Include include = new Include();
								self.appendChild(include);
								include.setAttribute("url", self.getAttribute("url"));
								include.setAttribute("playerName", self.getId());
								include.setAttribute("showControls", "true");
								include.setAttribute("playerAutostart", "true");
//								include.setAttribute("playerStretching", "fit");
								include.setAttribute("fragment_position_left", "0px");
								include.setAttribute("fragment_position_top", "55px");
								include.setAttribute("video_size_width", "100%");
								include.setAttribute("video_size_height", "500px");
								include.setSrc(VView.v_run_flash_fr);
							]]>
						</attribute>
					</div>

					<?component name="macro" macroURI="empty_macro.zul"?>
					<macro if="${arg.a_pieceData.get('pieceMacroURI') != ''}" class="js-inventory-readingpane">
						<custom-attributes pieceData="${arg.a_pieceData}"/>
						<attribute name="onCreate">
							<![CDATA[
								Map pieceData = self.getAttribute("pieceData");
								self.setDynamicProperty("a_zulfilepath", pieceData.get("zulfilepath"));
								self.setDynamicProperty("a_casecomponent", pieceData.get("casecomponent"));
								self.setDynamicProperty("a_tag", pieceData.get("tag"));
								self.setDynamicProperty("a_showstatic", pieceData.get("showstatic"));
								self.setMacroURI(pieceData.get("pieceMacroURI"));
								self.recreate();
							]]>
						</attribute>
					</macro>
					
				</div>
			</div>
		</div>
	</div>

</zk>