<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd">

<style>

/* Time */
.time
{
	position					: absolute;
	left							: 35px;
	top								: 47px;
}

div.timeimagediv
{
	width							: 35px;
}

div.timelabeldiv
{
	position					: relative;
	top								: 4px;
	width							: 100px;
}

span.timelabel
{
	color							: white;
	font-size					: 16px;
	font-family				: MyriadPro;
}

div.timevaluediv
{
	position					: relative;
	top								: 4px;
	width							: 140px;
}

span.timevalue
{
	color							: white;
	font-size					: 16px;
	font-family				: MyriadProSemibold;
}

/* Satisfaction */
.satisfaction
{
	position					: absolute;
	left							: 380px;
	top								: 34px;
}

div.nicelabeldiv
{
	width							: 120px;
}

span.nicelabel
{
	color							: white;
	font-size					: 16px;
	font-family				: MyriadPro;
}

div.difficultlabeldiv
{
	width							: 120px;
}

span.difficultlabel
{
	color							: white;
	font-size					: 16px;
	font-family				: MyriadPro;
}

div.nicevaluediv
{
	width							: 120px;
	cursor						: pointer;
}

div.difficultvaluediv
{
	width							: 120px;
	cursor						: pointer;
}

img.satisfactionimage
{
	width							: 20px;
}

/* minigame satisfaction */
div.minigamesatisfaction
{
	position					: absolute;
	left							: 0px; 
	top								: 0px;
	width							: 1000px;
	height						: 580px;
	background-color	: #55A2FC;
	z-index						: 2;
}

span.satisfactionlabel
{
	color							: white;
	font-size					: 16px;
	font-family				: MyriadPro;
}

img.minigamesatisfactionclose
{
	position					: absolute;
	left							: 10px; 
	top								: 10px;
	cursor						: pointer;
}

img.minigamesatisfactionopen
{
	position					: absolute;
	left							: 790px; 
	top								: 35px;
	cursor						: pointer;
}

/* Skills headers */
.skillsheaders
{
	position					: absolute;
	left							: 35px;
	top								: 140px;
}

div.skillsClabeldiv
{
	width							: 328px;
}

span.skillsClabel
{
	color							: #69E3EE;
	font-size					: 20px;
	font-family				: MyriadPro;
}

div.skillsGlabeldiv
{
	width							: 328px;
}

span.skillsGlabel
{
	color							: #FFFF99;
	font-size					: 20px;
	font-family				: MyriadPro;
}

/* Skills */
.skills
{
	position					: absolute;
	left							: 40px;
	top								: 190px;
}

div.skilllabeldiv
{
	width							: 220px;
}

span.skilllabel
{
	color							: white;
	font-size					: 16px;
	font-family				: MyriadPro;
}

div.skillpercentagediv
{
	width							: 40px;
}

span.skillpercentage
{
	color							: white;
	font-size					: 16px;
	font-family				: MyriadPro;
}

img.skillimage
{
	position					: relative;
	left							: 0px;
	top								: 8px;
	width							: 260px;
}

div.skillsliderC
{
	height						: 15px;
	background-color	: #69E3EE;
	border-radius			: 5px;
}

div.skillsliderG
{
	height						: 15px;
	background-color	: #FFFF99;
	border-radius			: 5px;
}

/* Skill details */
div.skilldetails
{
	position					: absolute;
	left							: 255px; 
	top								: 90px;
	z-index						: 2;
}

img.skilldetailsbackground
{
	position					: absolute;
	left							: 0px; 
	top								: 0px;
}

span.skilldetailstitle
{
	position					: absolute;
	left							: 30px; 
	top								: 30px;
	width							: 435px;
	height						: 30px;
	overflow					: auto;
	color							: black;
	font-size					: 20px;
	font-family				: MyriadPro;
}

.skilldetailshtml
{
	position					: absolute;
	left							: 30px; 
	top								: 80px;
	width							: 435px;
	height						: 290px;
	overflow					: auto;
	color							: black;
	font-size					: 16px;
	font-family				: MyriadPro;
}

img.skilldetailsclose
{
	position					: absolute;
	left							: 170px; 
	top								: 390px;
	cursor						: pointer;
}

/* Professions headers */
.professionsheaders
{
	position					: absolute;
	left							: 691px; 
	top								: 140px;
}

div.professionslabeldiv
{
	width							: 328px;
}

span.professionslabel
{
	color							: white;
	font-size					: 20px;
	font-family				: MyriadPro;
}

/* Professions */
.professions
{
	position					: absolute;
	left							: 696px;
	top								: 190px;
}

div.professionlabeldiv
{
	width							: 220px;
}

span.professionlabel
{
	color							: white;
	font-size					: 16px;
	font-family				: MyriadPro;
}

div.professionpercentagediv
{
	width							: 40px;
}

span.professionpercentage
{
	color							: white;
	font-size					: 16px;
	font-family				: MyriadPro;
}

img.professionimage
{
	position					: relative;
	left							: 0px;
	top								: 8px;
	width							: 260px;
}

div.professionslider
{
	height						: 15px;
	background-color	: #FFFFFF;
	border-radius			: 5px;
}

/* Professions iframe*/
.professionsiframe
{
	position					: absolute;
	left							: 676px;
	top								: 173px;
	width							: 300px;
	height						: 300px;
}

</style>

<div
	id="dashboardDiv"
	use="nl.surf.emergo.control.run.cases.IP2.CRunDashboardDiv">

	<!-- Time -->
	<hbox class="time" spacing="0">
		<div class="timeimagediv">
			<image src="${arg.a_propertyMap.get('relativePath')}tijd-in-game-icon.png"/>
		</div>
		<div class="timelabeldiv">
			<label value="Tijd in-game" class="timelabel"/>
		</div>
		<div class="timevaluediv">
			<label class="timevalue" use="nl.surf.emergo.control.run.cases.IP2.CRunDashboardTimeLabel"/>
		</div>
	</hbox>
		
	<image src="${arg.a_propertyMap.get('relativePath')}btn_satisfactie.png" use="nl.surf.emergo.control.run.cases.IP2.CRunDashboardSatisfactionImage" class="minigamesatisfactionopen"/>

	<!-- minigame satisfaction -->
	<div id="minigamesatisfaction" use="nl.surf.emergo.control.run.cases.IP2.CRunDashboardSatisfactionDiv" class="minigamesatisfaction" visible="false">
		<image src="${arg.a_propertyMap.get('relativePath')}button-terug-naar-dashboard.png" use="nl.surf.emergo.control.run.cases.IP2.CRunDashboardSatisfactionCloseImage" class="minigamesatisfactionclose"/>
		<vbox id="templateMinigameSatisfaction_" use="nl.surf.emergo.control.run.cases.IP2.CRunDashboardSatisfactionVboxTemplate" spacing="0" visible="false">
			<div>
				<label class="satisfactionlabel"/>
			</div>
			<hbox style="width:216px;height:95px;background-image:url('${arg.a_propertyMap.get('relativePath')}bg-satisfaction.png');">
				<div style="position:relative;top:2px;">
					<label class="nicelabel" value="Leuk" style="position:relative;left:5px;top:3px;"/>
					<div style="position:relative;left:5px;"/>
					<label class="difficultlabel" value="Moeilijk" style="position:relative;left:5px;top:3px;"/>
					<div style="position:relative;left:5px;"/>
				</div>
				<image style="position:relative;left:-5px;top:2px;"/>
			</hbox>
		</vbox>
		<div id="templateMinigameSatisfactionItem_" use="nl.surf.emergo.control.run.cases.IP2.CRunDashboardSatisfactionItemDivTemplate" visible="false">
			<hbox spacing="2px"/>
		</div>
	</div>

	<!-- Skills headers -->
	<hbox class="skillsheaders" spacing="0">
		<div class="skillsClabeldiv">
			<label value="Inhoudelijke beroepsuitoefening" class="skillsClabel"/>
		</div>
		<div class="skillsGlabeldiv">
			<label value="Generieke vaardigheden" class="skillsGlabel"/>
		</div>
	</hbox>
		
	<!-- Skills -->
	<box use="nl.surf.emergo.control.run.cases.IP2.CRunDashboardSkillsBox" class="skills" spacing="0">
		<vbox id="templateSkillItem_" use="nl.surf.emergo.control.run.cases.IP2.CRunDashboardSkillItemVboxTemplate" spacing="0" visible="false">
			<hbox spacing="0">
				<div class="skilllabeldiv">
					<label class="skilllabel"/>
					<image src="${arg.a_propertyMap.get('relativePath')}btn_info.png"/>
				</div>
				<div class="skillpercentagediv">
					<label class="skillpercentage"/>
				</div>
			</hbox>
			<image src="${arg.a_propertyMap.get('relativePath')}progress-bar-background.png" class="skillimage"/>
			<div/>
		</vbox>
	</box>

	<!-- Skills details popup -->
	<div id="skilldetails" use="nl.surf.emergo.control.run.cases.IP2.CRunDashboardSkillDetailsDiv" class="skilldetails" visible="false">
		<image src="${arg.a_propertyMap.get('relativePath')}popup.png" class="skilldetailsbackground"/>
		<label class="skilldetailstitle"/>
		<html class="skilldetailshtml"/>
		<image use="nl.surf.emergo.control.run.cases.IP2.CRunDashboardSkillDetailsCloseImage" src="${arg.a_propertyMap.get('relativePath')}button-sluiten.png" class="skilldetailsclose"/>
	</div>

	<!-- Professions headers -->
	<vbox id="professionsheaders" spacing="0" visible="true">
		<box class="professionsheaders" spacing="0">
			<div class="professionslabeldiv">
				<label value="Affiniteit met beroepenveld" class="professionslabel"/>
			</div>
		</box>
	</vbox>

	<!-- Professions -->
	<box if="${arg.a_propertyMap.get('showProfessions')}" id="professions" use="nl.surf.emergo.control.run.cases.IP2.CRunDashboardProfessionsBox" class="professions" spacing="0">
		<vbox id="templateProfessionItem_" use="nl.surf.emergo.control.run.cases.IP2.CRunDashboardProfessionItemVboxTemplate" spacing="0" visible="false">
			<hbox spacing="0">
				<div class="professionlabeldiv">
					<label class="professionlabel"/>
				</div>
				<div class="professionpercentagediv">
					<label class="professionpercentage"/>
				</div>
			</hbox>
			<image src="${arg.a_propertyMap.get('relativePath')}progress-bar-background.png" class="professionimage"/>
			<div/>
		</vbox>
	</box>
	
</div>

</zk>