.bar
{
	position					: absolute;
	top								: 50px;
	left							: 20px;
}

.block1,
.block2,
.block3,
.block4,
.block5,
.block6,
.block7,
.block8,
.block9,
.block10,
.block11,
.block12,
.block13,
.block14,
.block15,
.block16,
.block17,
.block18,
.block19,
.block20
{
	position					: absolute;
	cursor						: pointer;
	z-index						: 1;
}

.block1,
.block2,
.block3,
.block4
{
	top								: 18px;
}

.block5,
.block6,
.block7,
.block8
{
	top								: 93px;
}

.block9,
.block10,
.block11,
.block12
{
	top								: 168px;
}

.block13,
.block14,
.block15,
.block16
{
	top								: 243px;
}

.block17,
.block18,
.block19,
.block20
{
	top								: 318px;
}

.block1,
.block5,
.block9,
.block13,
.block17
{
	left							: 40px;
}

.block2,
.block6,
.block10,
.block14,
.block18
{
	left							: 150px;
}

.block3,
.block7,
.block11,
.block15,
.block19
{
	left							: 260px;
}

.block4,
.block8,
.block12,
.block16,
.block20
{
	left							: 370px;
}

.photo
{
	position					: absolute;
	left							: 403px;
	top								: 68px;
	z-index						: 2;
}	
