<?xml version="1.0" encoding="UTF-8"?>
<zk xmlns:h="http://www.w3.org/1999/xhtml">

<html><![CDATA[
  <script type="text/javascript">

  	var updateMethodRole = 'student';
  	var updateMethodMethod;
  	var updateMethodElements;
  	var updateReferencesElements;
		var updateMethodMethodPartsListId = 'updateMethodMethodPartsList';
		var updateMethodSpanIdPrefix = 'updateMethodPart_';
		var updateMethodReferencesInputId = 'updateMethodreferencesInput';
		var updateMethodElement_i = 0;
		var updateMethodElement_j = 0;
		var updateMethodElementTagId = '';

		function initUpdateMethod(methodJson, methodElementsJson, referencesElementsJson) {
  		updateMethodMethod = JSON.parse(methodJson);
  		updateMethodElements = JSON.parse(methodElementsJson);
  		updateReferencesElements = JSON.parse(referencesElementsJson);

			document.getElementById('updateMethodHeaderSpan').innerHTML = updateMethodMethod[0].name;
			
			var methodPartMethod = initUpdateMethodParts();
			initUpdateMethodReferences();
			updateUpdateMethodParts();

			selectUpdateMethodPart(methodPartMethod);
		}
		
		function initUpdateMethodParts() {
			var parentElement = document.getElementById(updateMethodMethodPartsListId);
			removeAllChildNodes(parentElement);
			
			var methodPartMethod = addUpdateMethodPart(updateMethodMethod[0], 0, 0);

			for (let i=1;i<=Object.keys(updateMethodElements).length;i++) {
				var cycleElement = updateMethodElements[i-1];
				addUpdateMethodPart(cycleElement, i, 0);
				for (let j=1;j<=Object.keys(updateMethodElements[i-1].stepOrSubsteps).length;j++) {
					var jsonElement = updateMethodElements[i-1].stepOrSubsteps[j-1];
					addUpdateMethodPart(jsonElement, i, j);
				}
			}
			
			return methodPartMethod;
		}
		
		function addUpdateMethodPart(jsonElement, i, j) {
  		var parentElement = document.getElementById(updateMethodMethodPartsListId);
  		
  		var newElement = document.createElement('li');
  		parentElement.appendChild(newElement);
  		newElement.setAttribute('i', '' + i);
  		newElement.setAttribute('j', '' + j);
  		newElement.setAttribute('tagId', jsonElement.tagId);
  		newElement.setAttribute('tagName', jsonElement.tagName);
  		if (jsonElement.tagName == 'step' || jsonElement.tagName == 'substep') {
	  		newElement.setAttribute('stepNumber', jsonElement.stepNumber);
  		}
  		newElement.onclick = function(){selectUpdateMethodPart(this)};
  		var tagName = jsonElement.tagName;
  		var marginLeft = tagName == 'method' ? '0px' : (tagName == 'cycle' ? '10px' : (tagName == 'step' ? '20px' : (tagName == 'substep' ? '30px' : '0px')));  
  		newElement.style.marginLeft = marginLeft;
  		newElement.style.fontFamily = (tagName == 'method' || tagName == 'cycle') ? 'MyriadProBold' : 'MyriadPro';
  		newElement.style.cursor = 'pointer';
  		var newSubElement = document.createElement('span');
  		newElement.appendChild(newSubElement);
			newSubElement.id = updateMethodSpanIdPrefix + i + '_' + j;

  		return newElement;
		}
		
		function initUpdateMethodReferences() {
			var parentElement = document.getElementById(updateMethodReferencesInputId);
			removeAllChildNodes(parentElement);
			
			for (let i=1;i<=Object.keys(updateReferencesElements).length;i++) {
				var referenceElement = updateReferencesElements[i-1];
				addUpdateMethodReference(referenceElement, i);
			}
		}

		function addUpdateMethodReference(jsonElement, i) {
  		var parentElement = document.getElementById(updateMethodReferencesInputId);
  		
  		var newElement = document.createElement('li');
  		parentElement.appendChild(newElement);
  		newElement.setAttribute('tagId', jsonElement.tagId);
  		newElement.setAttribute('tagName', jsonElement.tagName);
  		var tagName = jsonElement.tagName;
  		var newSubElement = document.createElement('span');
  		newElement.appendChild(newSubElement);
			newSubElement.innerHTML = jsonElement.name;

  		var newSubElement = newElement.appendChild(createEditElementButton('', updateMethodReferencesInputId));
  		newSubElement.style.marginLeft = 'auto';
  		newElement.appendChild(createDeleteElementButton('', updateMethodReferencesInputId));

			var spanId = 'updateMethodReference_span_' + jsonElement.tagId;
 			newSubElement = updateMethodCreateReferenceCheckbox(newElement, jsonElement, i, spanId);
  		newSubElement.onclick = function(){updateMethodHandleReferenceSelection(this)};
  		newSubElement.title = '${vView.getLabel("PV-toolkit-superTeacher.updatemethod.title.reference.add")}';

			spanId = 'updateMethodStudentSpecific_span_' + jsonElement.tagId;
 			newSubElement = updateMethodCreateReferenceCheckbox(newElement, jsonElement, i, spanId);
  		newSubElement.onclick = function(){updateMethodHandleStudentSpecificSelection(this)};
  		newSubElement.title = '${vView.getLabel("PV-toolkit-superTeacher.updatemethod.title.reference.visible")}';

  		return newElement;
		}
		
		function updateMethodCreateReferenceCheckbox(parentElement, jsonElement, i, spanId) {
 			var newSubElement = document.createElement('button');
			parentElement.appendChild(newSubElement);
 			newSubElement.setAttribute('tagId', jsonElement.tagId);
 			newSubElement.setAttribute('i', '' + i);
 			newSubElement.className = 'pv-btn pv-btn-check';
			newSubElement.style.marginLeft = '0.5rem';

	 		var newSubSubElement = document.createElement('div');
			newSubElement.appendChild(newSubSubElement);
			newSubSubElement.className = 'pv-btn-check-div';

			var newSubSubSubElement = document.createElement('span');
			newSubSubElement.appendChild(newSubSubSubElement);
			newSubSubSubElement.id = spanId;
			newSubSubSubElement.className = 'pv-btn-check-span';

  		return newSubElement;
		}
		
  	function deselectUpdateMethodPart() {
  		var elements = document.getElementById(updateMethodMethodPartsListId);
  		for (let i=0;i<elements.childNodes.length;i++) {
  			if (elements.childNodes[i].nodeName == 'LI') {
					elements.childNodes[i].setAttribute('selected', 'false');
					elements.childNodes[i].className = '';
				}
  		}
		}
		
  	function selectUpdateMethodPart(element) {
  		deselectUpdateMethodPart();

			updateMethodElement_i = parseInt(element.getAttribute('i'));
			updateMethodElement_j = parseInt(element.getAttribute('j'));
  		
  		updateMethodElementTagId = element.getAttribute('tagId');
  		
			element.setAttribute('selected', 'true');
			element.className = 'selected';
			
  		var parentElement = getParentDiv(element);
	    var jsonObject = {
	    	"action":"show_learningactivity",
	    	"tagId":element.getAttribute('tagId'),
	    	"role":updateMethodRole
    	};
			zAu.send(new zk.Event(zk.Widget.$(parentElement.id), 'onNotify', jsonObject));
			
			updateMethodShowReferences();
			
			var tagName = element.getAttribute('tagName');
			document.getElementById('updateMethodLabelPlayer').style.visibility = tagName == 'step' || tagName == 'substep' ? 'visible' : 'hidden';
			if (tagName == 'step' || tagName == 'substep') {
				var label = element.getAttribute('cycleName') + ' ' +
					'${vView.getLabel("PV-toolkit-superTeacher.updatemethod.label.step")}' + ' ' +
					element.getAttribute('stepNumber') + ' ' + 
					element.getAttribute('stepName');
					document.getElementById('updateMethodLabelPlayerSpan').innerHTML = label;
					${vView.getLabel("PV-toolkit-superTeacher.updatemethod.label.step")}
			}
		}
		
		function updateMethodShowReferences() {
			var jsonElement;
			if (updateMethodElement_i == 0) {
				jsonElement = updateMethodMethod[0];
			}
			else if (updateMethodElement_j == 0) {
				jsonElement = updateMethodElements[updateMethodElement_i - 1];
			}
			else {
				jsonElement = updateMethodElements[updateMethodElement_i - 1].stepOrSubsteps[updateMethodElement_j - 1];
			}
			var referenceids = ',' + getJsonValue(jsonElement, 'referenceidsfor' + updateMethodRole) +',';

			for (let i=1;i<=Object.keys(updateReferencesElements).length;i++) {
				var referenceElement = updateReferencesElements[i-1];
				var tagId = referenceElement.tagId;
				var spanId = 'updateMethodReference_span_' + tagId;
				var spanElement = document.getElementById(spanId);
				spanElement.innerHTML = referenceids.includes(tagId) ? 'V' : '';
			}
		}

  	function getSelectedUpdateMethodPart() {
  		var elements = document.getElementById(updateMethodMethodPartsListId);
  		for (let i=0;i<elements.childNodes.length;i++) {
  			if (elements.childNodes[i].nodeName == 'LI') {
  				var selected = elements.childNodes[i].getAttribute('selected');
    			if (selected != null && selected == 'true') {
	  				return elements.childNodes[i];
	  			}
				}
  		}
  		return null;
		}
		
		function updateUpdateMethodParts() {
			var methodPartSpan = document.getElementById(updateMethodSpanIdPrefix + '0_0');
			methodPartSpan.innerHTML = updateMethodMethod[0].name;
			
			var cycleName = '';
			var stepName = '';

			for (let i=1;i<=Object.keys(updateMethodElements).length;i++) {
				var jsonElement = updateMethodElements[i-1];
				methodPartSpan = document.getElementById(updateMethodSpanIdPrefix + i + '_0');
				methodPartSpan.innerHTML = jsonElement.name;
				cycleName = jsonElement.name;
				for (let j=1;j<=Object.keys(updateMethodElements[i-1].stepOrSubsteps).length;j++) {
					jsonElement = updateMethodElements[i-1].stepOrSubsteps[j-1];
					methodPartSpan = document.getElementById(updateMethodSpanIdPrefix + i + '_' + j);
  				var name = getJsonValue(jsonElement, updateMethodRole == 'student' ? 'name' : 'namefor' + updateMethodRole);
					methodPartSpan.innerHTML = name;
					if (jsonElement.tagName == 'step') {
						stepName = name;
					}
					if (jsonElement.tagName == 'step' || jsonElement.tagName == 'substep') {
						methodPartSpan.parentElement.setAttribute('cycleName', cycleName);
						methodPartSpan.parentElement.setAttribute('stepName', stepName);
					}
				}
			}
		}
		
		function updateMethodSelectRole(element, role) {
			document.getElementById('updateMethodRolestudent').style.visibility = 'hidden';
			document.getElementById('updateMethodRoleteacher').style.visibility = 'hidden';
			document.getElementById('updateMethodRolepeerstudent').style.visibility = 'hidden';
			document.getElementById('updateMethodRole' + role).style.visibility = 'visible';
			
			updateMethodRole = role;
			updateUpdateMethodParts();
			
			//select current method part to load role dependent data
			selectUpdateMethodPart(getSelectedUpdateMethodPart());
		}

		function updateMethodSelectPanel(element, panel) {
			document.getElementById('updateMethodPanelinstruction').style.backgroundColor = 'white';
			document.getElementById('updateMethodPanelinstructionDiv').style.display = 'none';
			document.getElementById('updateMethodPanelreferences').style.backgroundColor = 'white';
			document.getElementById('updateMethodPanelreferencesDiv').style.display = 'none';
			document.getElementById('updateMethodPanelmessages').style.backgroundColor = 'white';
			document.getElementById('updateMethodPanelmessagesDiv').style.display = 'none';
			document.getElementById('updateMethodPanelconditions').style.backgroundColor = 'white';
			document.getElementById('updateMethodPanelconditionsDiv').style.display = 'none';
			document.getElementById('updateMethodPanel' + panel).style.backgroundColor = '#e0e0e0';
			document.getElementById('updateMethodPanel' + panel + 'Div').style.display = '';
		}

		updateMethodSelectPanel(this, 'instruction');
		
  	function updateMethod(element) {
  		var parentElement = getParentDiv(element);
	    var jsonObject = {
	    	"action":"update_method"
	    	};
			zAu.send(new zk.Event(zk.Widget.$(parentElement.id), 'onNotify', jsonObject));
		}
		
		function updateMethodHandleReferenceSelection(element) {
			var childElement = element.childNodes[0].childNodes[0];
			var select = childElement.innerHTML != 'V';
			childElement.innerHTML = select ? 'V' : '';
			
			var referenceTagId = element.getAttribute('tagId');

  		var parentElement = getParentDiv(element);
	    var jsonObject = {
	    	"action":"select_reference",
	    	"tagId":updateMethodElementTagId,
	    	"role":updateMethodRole,
	    	"referenceTagId":referenceTagId,
	    	"selected":"" + select 
    	};
			zAu.send(new zk.Event(zk.Widget.$(parentElement.id), 'onNotify', jsonObject));
			
			var jsonElement;
			if (updateMethodElement_i == 0) {
				jsonElement = updateMethodMethod[0];
			}
			else if (updateMethodElement_j == 0) {
				jsonElement = updateMethodElements[updateMethodElement_i - 1];
			}
			else {
				jsonElement = updateMethodElements[updateMethodElement_i - 1].stepOrSubsteps[updateMethodElement_j - 1];
			}
			var referenceids = getJsonValue(jsonElement, 'referenceidsfor' + updateMethodRole);
			var referenceidsIncludesReferenceTagId = (',' + referenceids + ',').includes(',' + referenceTagId + ',');
			if (select && !referenceidsIncludesReferenceTagId) {
				referenceids += referenceids == '' ? referenceTagId : "," + referenceTagId;
				setJsonValue(jsonElement, 'referenceidsfor' + updateMethodRole, referenceids);
			}
			else if (!select && referenceidsIncludesReferenceTagId) {
				var referenceidsArr = referenceids.split(',');
				referenceids = '';
	  		for (let i=0;i<referenceidsArr.length;i++) {
					if (referenceidsArr[i] != referenceTagId) {
						if (referenceids != '') {
							referenceids += ',';
						}
						referenceids += referenceidsArr[i];
					}
				}
				setJsonValue(jsonElement, 'referenceidsfor' + updateMethodRole, referenceids);
			}
		}
		
		function updateMethodHandleStudentSpecificSelection(element) {
			var childElement = element.childNodes[0].childNodes[0];
			var select = childElement.innerHTML != 'V';
			childElement.innerHTML = select ? 'V' : '';
		}
		
		
  </script>
]]></html>

<div id="superTeacherUpdateMethodDiv" use="nl.surf.emergo.control.run.cases.PVtoolkit.superTeacher.CRunPVToolkitSuperTeacherUpdateMethodDiv" zclass="zkparentelement" visible="false" style="width:1200px;height:650px;">
	<html>
		<span class="pv-envir">${vView.getLabel("PV-toolkit.mainmenuoption.superTeacher")}</span>
    <div class="pv-body">
			<div class="pv-body-inner">
				<div class="pv-body-top indent-1">
					<div class="pv-title">
						<h3 class="pv-h3" style="margin-right: .5rem"><span style="font-style:italic;color:#8f8f8f;">${vView.getLabel("PV-toolkit-superTeacher.updatemethod.label.method.definition")} </span><span id="updateMethodHeaderSpan" style="margin-left:8px;"></span></h3>
						<button class="pv-btn small" onClick="updateMethod(this)"><i class="fas fa-pencil-alt"></i></button>
					</div>
				</div>
				<h3 class="pv-h3" style="position:absolute;left:126px;top:65px;">${vView.getLabel("PV-toolkit-superTeacher.updatemethod.label.method")}</h3>
				<h3 class="pv-h3" style="position:absolute;left:136px;top:85px;">${vView.getLabel("PV-toolkit-superTeacher.updatemethod.label.cycles")}</h3>
				<h3 class="pv-h3" style="position:absolute;left:146px;top:105px;font-family:MyriadPro;font-weight:100;">${vView.getLabel("PV-toolkit-superTeacher.updatemethod.label.steps")}</h3>
				<h3 class="pv-h3" style="position:absolute;left:156px;top:125px;font-family:MyriadPro;font-weight:100;">${vView.getLabel("PV-toolkit-superTeacher.updatemethod.label.substeps")}</h3>
				<ul id="updateMethodMethodPartsList" class="pv-ul pv-list" style="position:absolute;left:116px;top:170px;height:380px;"/>
			</div>
			<div class="pv-btn-holder indent-1">
				<button class="pv-btn" onClick="navigateBackward(this,'superTeacherMethodsDiv')">${vView.getLabel("PV-toolkit-superTeacher.button.methods")}</button>
			</div>
    </div>
    
    <div id="updateMethodLabelPlayer" style="position:absolute;left:116px;top:540px;visibility:hidden;">
			<h3 class="pv-h3" style="position:absolute;left:10px;top:0px;width:426px;"><span style="font-style:italic;color:#8f8f8f;">${vView.getLabel("PV-toolkit-superTeacher.updatemethod.label.player")}</span></h3>
			<div style="position:absolute;left:0px;top:40px;width:436px;height:30px;border:2px solid #949494;border-radius:0.25rem;">
				<h3 class="pv-h3"><span id="updateMethodLabelPlayerSpan" style="position:relative;top:-12px;margin-left:10px;"></span></h3>
			</div>
		</div>

		<div style="position:absolute;left:580px;top:85px;">
			<div onClick="updateMethodSelectRole(this, 'student')" style="position:absolute;left:0px;top:0px;cursor:pointer;">
				<div style="position:absolute;left:0px;top:0px;width:20px;height:20px;border:2px solid #949494;border-radius:20px;">
					<div id="updateMethodRolestudent" style="width:8px;height:8px;margin-left:6px;margin-top:6px;background-color:#000000;border-radius:8px;"/>
				</div>
				<label class="pv-label" style="position:absolute;left:30px;top:-6px;font-family:MyriadPro;font-weight:500;font-style:normal;font-size:16px;color:#000000">${vView.getLabel("PV-toolkit-superTeacher.updatemethodcycles.label.student")}</label>
			</div>
			<div onClick="updateMethodSelectRole(this, 'teacher')" style="position:absolute;left:100px;top:0px;cursor:pointer;">
				<div style="position:absolute;left:0px;top:0px;width:20px;height:20px;border:2px solid #949494;border-radius:20px;">
					<div id="updateMethodRoleteacher" style="width:8px;height:8px;margin-left:6px;margin-top:6px;background-color:#000000;border-radius:8px;visibility:hidden;"/>
				</div>
				<label class="pv-label" style="position:absolute;left:30px;top:-6px;font-family:MyriadPro;font-weight:500;font-style:normal;font-size:16px;color:#000000">${vView.getLabel("PV-toolkit-superTeacher.updatemethodcycles.label.teacher")}</label>
			</div>
			<div onClick="updateMethodSelectRole(this, 'peerstudent')" style="position:absolute;left:200px;top:0px;cursor:pointer;">
				<div style="position:absolute;left:0px;top:0px;width:20px;height:20px;border:2px solid #949494;border-radius:20px;">
					<div id="updateMethodRolepeerstudent" style="width:8px;height:8px;margin-left:6px;margin-top:6px;background-color:#000000;border-radius:8px;visibility:hidden;"/>
				</div>
				<label class="pv-label" style="position:absolute;left:30px;top:-6px;font-family:MyriadPro;font-weight:500;font-style:normal;font-size:16px;color:#000000">${vView.getLabel("PV-toolkit-superTeacher.updatemethodcycles.label.peerstudent")}</label>
			</div>
		</div>
		
		<div style="position:absolute;left:600px;top:138px;">
			<div style="position:absolute;left:-2px;top:-2px;width:98px;height:27px;background-color:#9c9c9c;"/>
			<div id="updateMethodPanelinstruction" onClick="updateMethodSelectPanel(this, 'instruction')" style="position:absolute;left:0px;top:0px;width:96px;height:25px;background-color:#e0e0e0;cursor:pointer;">
				<label class="pv-label" style="position:absolute;left:10px;top:-6px;font-family:MyriadPro;font-weight:500;font-style:normal;font-size:16px;color:#000000">${vView.getLabel("PV-toolkit-superTeacher.updatemethod.label.instruction")}</label>
			</div>
			<div style="position:absolute;left:98px;top:-2px;width:98px;height:27px;background-color:#9c9c9c;"/>
			<div id="updateMethodPanelreferences" onClick="updateMethodSelectPanel(this, 'references')" style="position:absolute;left:100px;top:0px;width:96px;height:25px;background-color:white;cursor:pointer;">
				<label class="pv-label" style="position:absolute;left:10px;top:-6px;font-family:MyriadPro;font-weight:500;font-style:normal;font-size:16px;color:#000000">${vView.getLabel("PV-toolkit-superTeacher.updatemethod.label.references")}</label>
			</div>
			<div style="position:absolute;left:198px;top:-2px;width:98px;height:27px;background-color:#9c9c9c;"/>
			<div id="updateMethodPanelmessages" onClick="updateMethodSelectPanel(this, 'messages')" style="position:absolute;left:200px;top:0px;width:96px;height:25px;background-color:white;cursor:pointer;">
				<label class="pv-label" style="position:absolute;left:10px;top:-6px;font-family:MyriadPro;font-weight:500;font-style:normal;font-size:16px;color:#000000">${vView.getLabel("PV-toolkit-superTeacher.updatemethod.label.messages")}</label>
			</div>
			<div style="position:absolute;left:298px;top:-2px;width:98px;height:27px;background-color:#9c9c9c;"/>
			<div id="updateMethodPanelconditions" onClick="updateMethodSelectPanel(this, 'conditions')" style="position:absolute;left:300px;top:0px;width:96px;height:25px;background-color:white;cursor:pointer;">
				<label class="pv-label" style="position:absolute;left:10px;top:-6px;font-family:MyriadPro;font-weight:500;font-style:normal;font-size:16px;color:#000000">${vView.getLabel("PV-toolkit-superTeacher.updatemethod.label.conditions")}</label>
			</div>
		</div>
		
	</html>

	<h:div id="updateMethodPanelinstructionDiv" style="position:absolute;left:580px;top:170px;">
		<h:div style="position:absolute;">
		<ckeditor id="updateMethodRichtextInput" customConfigurationsPath='${vView.getInitParameter("ckeditor.cde.config.file")}' width="580px" height="380px">
			<attribute name="onChange">
				<![CDATA[
					Events.sendEvent("onSaveLearningactivity", nl.surf.emergo.control.CDesktopComponents.vView().getComponent("superTeacherUpdateMethodDiv"), null);
				]]>
			</attribute>
		</ckeditor>
		</h:div>
		<h:div class="pv-btn-holder indent-1">
			<h:button class="pv-btn" style="position:absolute;left:0px;top:392px;margin-left:0rem;" onClick="updateMethodResetInstruction(this)">${vView.getLabel("PV-toolkit-superTeacher.updatemethod.button.reset")}</h:button>
		</h:div>
	</h:div>

	<html>
		<div id="updateMethodPanelreferencesDiv" style="position:absolute;left:580px;top:170px;display:none;">
			<ul id="updateMethodreferencesInput" class="pv-ul pv-list" style="width:580px;height:380px;"/>
			<button class="pv-btn" style="position:absolute;left:0px;top:392px;width:40px;font-size:32px;" onClick="updateMethodAddReference(this)">+</button>
		</div>

		<div id="updateMethodPanelmessagesDiv" style="position:absolute;left:580px;top:170px;display:none;">
			<div id="updateMethodmessagesInput" style="width:580px;height:380px;overflow:auto;"/>
		</div>

		<div id="updateMethodPanelconditionsDiv" style="position:absolute;left:580px;top:170px;display:none;">
			<div id="updateMethodconditionsInput" style="width:580px;height:380px;overflow:auto;"/>
		</div>
	</html>

</div>

</zk>