<?xml version="1.0" encoding="UTF-8"?>
<zk xmlns:h="http://www.w3.org/1999/xhtml">

<div id="superTeacherNewRunDiv" use="nl.surf.emergo.control.run.cases.PVtoolkit.superTeacher.CRunPVToolkitSuperTeacherNewRunDiv" zclass="zkparentelement" visible="false" style="width:1200px;height:650px;">
	<html>
		<span class="pv-envir">${vView.getLabel("PV-toolkit.mainmenuoption.superTeacher")}</span>
		<div class="pv-body">
			<div class="pv-btn-holder indent-1">
				<button id="newRunBackBtn" class="pv-btn btn-secondary small" onClick="navigateBackward(this,'superTeacherRunsDiv')">${vView.getLabel("PV-toolkit-superTeacher.button.back")}</button>
				<button class="pv-btn small" onClick="">${vView.getLabel("PV-toolkit-superTeacher.button.ok")}</button>
			</div>
		</div>
	</html>
</div>

</zk>