<?xml version="1.0" encoding="UTF-8"?>
<zk xmlns:h="http://www.w3.org/1999/xhtml">

<html>
	<div id="superTeacherConfirmPopupDiv" style="position:absolute;left:0px;top:0px;width:1200px;height:650px;visibility:hidden;">
		<div class="pv-modal" style="width: 400px;">
			<div id="superTeacherConfirmPopupTextDiv" class="pv-modal-content"/>
			<div class="pv-btn-holder indent-1">
				<button id="superTeacherConfirmPopupCancelButton" class="pv-btn btn-secondary small"/>
				<button id="superTeacherConfirmPopupOkButton" class="pv-btn small"/>
			</div>
		</div>
		<div class="pv-overlay"/>
	</div>
</html>

</zk>