<?xml version="1.0" encoding="UTF-8"?>
<zk xmlns:h="http://www.w3.org/1999/xhtml">

<style>

div.myGoals
{
	position					: absolute;
	left							: 0px; 
	top								: 0px;
}

div.myGoalsDiv
{
	position					: absolute;
	left							: 100px; 
	top								: 70px;
}

</style>

<div id="panel_myGoals" visible="false">
	<div class="myGoalsBackground"/>

	<div id="myGoalsDiv" use="nl.surf.emergo.control.run.cases.PVtoolkit.myGoals.CRunPVToolkitMyGoalsDiv"/>

	<div id="myGoalsStepDiv" use="nl.surf.emergo.control.run.cases.PVtoolkit.CRunPVToolkitStepDiv" visible="false"/>

</div>

</zk>
