<?xml version="1.0" encoding="UTF-8"?>
<zk xmlns:h="http://www.w3.org/1999/xhtml">

<style>

div.superTeacher
{
	position					: absolute;
	left							: 0px; 
	top								: 0px;
}

div.superTeacherZoomVideoDiv
{
	position					: absolute;
	left							: 850px; 
	top								: 75px;
	z-index						: 2;
}

.superTeacherVideoDiv
{
	position					: absolute;
	left							: 60px; 
	top								: 100px;
	width							: 1080px;
	height						: 440px;
	overflow					: auto;
	z-index						: 2;
}

.superTeacherVideoVideo
{
	position					: absolute;
	left							: 0px; 
	top								: 0px;
	width							: 1080px;
}


button.superTeacherPeerGroupsButton,
button.superTeacherMessagesButton,
button.superTeacherResearchButton,
button.superTeacherNewPeerGroupButton,
button.superTeacherNewMessageButton
{
	left							: 100px; 
	top								: 70px;
	width							: 180px;
	background-color	: #74ba0c;
}

button.superTeacherMessagesButton
{
	top								: 120px;
}

button.superTeacherResearchButton
{
	top								: 170px;
}

div.superTeacherPeerGroupsDiv,
div.superTeacherMessagesDiv,
div.superTeacherResearchDiv
{
	position					: absolute;
	left							: 100px; 
	top								: 120px;
}

button.superTeacherSendMessageButton
{
	width							: 80px;
	height						: 20px;
  border						: none;
  border-radius			: 8px;
  color							: white;
	font-size					: 14px;
	font-weight				: 600;
	background-color	: #74ba0c;
 	cursor						: pointer;
}

button.superTeacherBackButton
{
	left							: 1015px; 
	top								: 585px;
	background-color	: #74ba0c;
}

</style>

<style>

img.superTeacherNewOrEditPeerGroupBackground,
img.superTeacherNewOrEditMessageBackground,
img.superTeacherSendMessageBackground
{
	position					: absolute;
	left							: 40px;
	top								: 50px;
	width							: 1120px;
	height						: 550px;
}

span.superTeacherNewOrEditPeerGroupTitle,
span.superTeacherNewOrEditMessageTitle,
span.superTeacherSendMessageTitle
{
	position					: absolute;
	left							: 70px; 
	top								: 55px;
	width							: 980px;
	height						: 25px;
	text-align				: center;
	color							: #c1c1c1;
	font-size					: 16px;
}

img.superTeacherNewOrEditPeerGroupCloseButton,
img.superTeacherNewOrEditMessageCloseButton,
img.superTeacherSendMessageCloseButton
{
	position					: absolute;
	left							: 1115px; 
	top								: 65px;
	width							: 25px;
	height						: 25px;
	cursor						: pointer;
}

div.superTeacherNewOrEditPeerGroupDiv,
div.superTeacherNewOrEditMessageDiv
{
	position					: absolute;
	left							: 0px; 
	top								: 0px;
}

span.superTeacherNewOrEditPeerGroupGiveNameTitle,
span.superTeacherNewOrEditPeerGroupGiveScopeTitle
{
	position					: absolute;
	left							: 80px; 
	width							: 500px;
	height						: 25px;
	color							: #111111;
	font-size					: 14px;
}

span.superTeacherNewOrEditPeerGroupGiveNameTitle
{
	top								: 92px;
}

span.superTeacherNewOrEditPeerGroupGiveScopeTitle
{
	top								: 132px;
}

.superTeacherNewOrEditPeerGroupGiveNameTextbox
{
	position					: absolute;
	left							: 350px; 
	top								: 90px;
	width							: 250px;
	color							: #000000;
	font-family				: 'Open Sans', Arial, sans-serif;
	font-weight				: 600;
	font-style				: normal;
	font-size					: 14px;
}

.superTeacherNewOrEditPeerGroupScopeCombobox
{
	position					: absolute;
	left							: 350px;
	top								: 130px;
	color							: #000000;
	font-size					: 14px;
}

.superTeacherNewOrEditPeerGroupScopeComboitem
{
	color							: #000000;
	font-size					: 14px;
}

button.superTeacherNewOrEditPeerGroupSaveButton,
button.superTeacherNewOrEditMessageSaveButton,
button.superTeacherNewOrEditMessageSendButton
{
	left							: 995px;
	top								: 555px;
	background-color	: #74ba0c;
}

div.superTeacherNewOrEditPeerGroupMembersDiv
{
	position					: absolute;
	left							: 80px; 
	top								: 170px;
}

div.superTeacherSendMessageToDiv
{
	position					: absolute;
	left							: 80px; 
	top								: 100px;
}

span.superTeacherNewOrEditMessageMessageTitle,
span.superTeacherNewOrEditMessageDateTimeTitle,
span.superTeacherNewOrEditMessageStepTitle,
span.superTeacherNewOrEditMessageDeadlineTitle
{
	position					: absolute;
	left							: 80px; 
	width							: 500px;
	height						: 25px;
	color							: #111111;
	font-size					: 14px;
}

span.superTeacherNewOrEditMessageMessageTitle
{
	top								: 92px;
}

span.superTeacherNewOrEditMessageDateTimeTitle
{
	top								: 132px;
}

span.superTeacherNewOrEditMessageStepTitle
{
	top								: 172px;
}

span.superTeacherNewOrEditMessageDeadlineTitle
{
	top								: 212px;
}

.superTeacherNewOrEditMessageMessageCombobox,
.superTeacherNewOrEditMessageDatebox,
.superTeacherNewOrEditMessageTimebox,
.superTeacherNewOrEditMessageStepCombobox,
.superTeacherNewOrEditMessageDeadlineDatebox,
.superTeacherNewOrEditMessageDeadlineTimebox
{
	position					: absolute;
	width							: 180px;
	color							: #000000;
	font-size					: 14px;
}

.superTeacherNewOrEditMessageMessageCombobox
{
	left							: 350px; 
	top								: 92px;
}

.superTeacherNewOrEditMessageDatebox
{
	left							: 350px; 
	top								: 132px;
}

.superTeacherNewOrEditMessageTimebox
{
	left							: 550px; 
	top								: 132px;
}

.superTeacherNewOrEditMessageStepCombobox
{
	left							: 350px; 
	top								: 172px;
}

.superTeacherNewOrEditMessageDeadlineDatebox
{
	left							: 350px; 
	top								: 212px;
}

.superTeacherNewOrEditMessageDeadlineTimebox
{
	left							: 550px; 
	top								: 212px;
}

.superTeacherNewOrEditMessageMessageComboitem,
.superTeacherNewOrEditMessageStepComboitem
{
	color							: #000000;
	font-size					: 14px;
}

button.superTeacherSendMessageSendButton
{
	left							: 990px; 
	top								: 555px;
	background-color	: #74ba0c;
}

button.superTeacherResearchScoresButton,
button.superTeacherResearchAnswersButton,
button.superTeacherResearchTimesButton,
button.superTeacherResearchDeadlinesButton,
button.superTeacherResearchTipsTopsButton,
button.superTeacherResearchGoalsButton,
button.superTeacherResearchFBRatingButton
{
	left							: 100px; 
	top								: 70px;
	width							: 125px;
	background-color	: #74ba0c;
}

button.superTeacherResearchAnswersButton
{
	left							: 245px; 
}

button.superTeacherResearchTimesButton
{
	left							: 390px; 
}

button.superTeacherResearchDeadlinesButton
{
	left							: 535px; 
	pointer-events					: none;
	opacity							: .65;
}

button.superTeacherResearchTipsTopsButton
{
	left							: 680px; 
}

button.superTeacherResearchGoalsButton
{
	left							: 825px; 
}

button.superTeacherResearchFBRatingButton
{
	left							: 970px;
	top								: 63px;
	height							: 42px;
}

span.superTeacherResearchProgressLabel
{
	position					: absolute;
	left							: 1100px; 
	top								: 73px;
}
</style>

<style src="${arg.a_propertyMap.get('zulfilepath')}css/style.css"/>

<h:script src="https://kit.fontawesome.com/d0c839778d.js" crossorigin="anonymous"></h:script>
	
<zscript><![CDATA[
	vView = nl.surf.emergo.control.CDesktopComponents.vView();
	pvToolkit = vView.getComponent("pvToolkit");
]]></zscript>

<html><![CDATA[
	<script type="text/javascript">
  		//general script

	  	function getParentDiv(element) {
	  		var parentElement = null;
	  		while (element != null) {
	  			element = element.parentElement;
	  			if (element.className != null && element.className.includes('zkparentelement')) {
	  				parentElement = element;
	  				element = null;
	  			}
	  		}
	  		return parentElement;
		}
			
	  	function navigateForward(element, toId) {
	  		var parentElement = getParentDiv(element);
	  		if (parentElement != null) {
			    var jsonObject = {
			    	"action":"navigate_forward",
			    	"toId":toId
		    	};
				zAu.send(new zk.Event(zk.Widget.$(parentElement.id), 'onNotify', jsonObject));
			}
		}
			
	  	function navigateBackward(element, toId) {
	  		var parentElement = getParentDiv(element);
	  		if (parentElement != null) {
			    var jsonObject = {
			    	"action":"navigate_backward",
			    	"toId":toId
		    	};
				zAu.send(new zk.Event(zk.Widget.$(parentElement.id), 'onNotify', jsonObject));
			}
		}
	
	
	  	function elementNameExists(textContent, myElementsId) {
	  		var myElements = document.getElementById(myElementsId);
	  		for (let i=0;i<myElements.childNodes.length;i++) {
	  			if (myElements.childNodes[i].nodeName == 'LI' && myElements.childNodes[i].textContent == textContent) {
	  				return true;
				}
	 		}
	 		return false;
		}
			
	  	function getUniqueText(textContent, myElementsId) {
	  		var content = textContent;
	  		var nr = 1;
	  		while (elementNameExists(textContent, myElementsId)) {
	  			var textContent = content + ' (kopie ' + nr + ')';
	  			nr++;
	  		}
	 		return textContent;
		}
			
		function sortJsonElementsByName(x,y) {
			return ((x.name == y.name) ? 0 : ((x.name > y.name) ? 1 : -1 ));
		}
			
		function parseJsonAndSortByName(elementsJson) {
			return JSON.parse(elementsJson).sort(sortJsonElementsByName);
		}
			
		function getJsonValue(element, key) {
			for (var tempKey in element) {
				if (tempKey == key) {
					return element[tempKey];
				}
			}
			return '';
		}
	
		function setJsonValue(element, key, value) {
			for (var tempKey in element) {
				if (tempKey == key) {
					element[tempKey] = value;
					return;
				}
			}
		}
	
			
		function showAlertPopup(text, okButtonLabel, okButtonFunction) {
			document.getElementById('superTeacherAlertPopupDiv').style.visibility = 'visible';
			document.getElementById('superTeacherAlertPopupTextDiv').innerHTML = text;
			document.getElementById('superTeacherAlertPopupOkButton').innerHTML = okButtonLabel;
			document.getElementById('superTeacherAlertPopupOkButton').onclick = okButtonFunction;
		}
	    
		function hideAlertPopup() {
			document.getElementById('superTeacherAlertPopupDiv').style.visibility = 'hidden';
		}
			
		function showDefaultAlertPopup(text) {
			showAlertPopup(text, 'OK', function(){hideAlertPopup()});
		}
			
	    
		function showConfirmPopup(text, okButtonLabel, cancelButtonLabel, okButtonFunction, cancelButtonFunction) {
			document.getElementById('superTeacherConfirmPopupDiv').style.visibility = 'visible';
			document.getElementById('superTeacherConfirmPopupTextDiv').innerHTML = text;
			document.getElementById('superTeacherConfirmPopupOkButton').innerHTML = okButtonLabel;
			document.getElementById('superTeacherConfirmPopupCancelButton').innerHTML = cancelButtonLabel;
			document.getElementById('superTeacherConfirmPopupOkButton').onclick = okButtonFunction;
			document.getElementById('superTeacherConfirmPopupCancelButton').onclick = cancelButtonFunction;
		}
	    
		function hideConfirmPopup() {
			document.getElementById('superTeacherConfirmPopupDiv').style.visibility = 'hidden';
		}
	    
		function showPromptPopup(text, inputText, okButtonLabel, cancelButtonLabel, okButtonFunction, cancelButtonFunction) {
			document.getElementById('superTeacherPromptPopupDiv').style.visibility = 'visible';
			document.getElementById('superTeacherPromptPopupTextDiv').innerHTML = text;
			document.getElementById('superTeacherPromptPopupTextInput').value = inputText;
			document.getElementById('superTeacherPromptPopupTextInput').focus();
			document.getElementById('superTeacherPromptPopupOkButton').innerHTML = okButtonLabel;
			document.getElementById('superTeacherPromptPopupCancelButton').innerHTML = cancelButtonLabel;
			document.getElementById('superTeacherPromptPopupOkButton').onclick = okButtonFunction;
			document.getElementById('superTeacherPromptPopupCancelButton').onclick = cancelButtonFunction;
		}
	    
		function hidePromptPopup() {
			document.getElementById('superTeacherPromptPopupDiv').style.visibility = 'hidden';
		}
	    
		function showPromptRichtextPopup(element, text, richtextFieldZkId, inputText, okButtonLabel, cancelButtonLabel, okButtonFunction, cancelButtonFunction) {
			document.getElementById('superTeacherPromptRichtextPopupTextDiv').innerHTML = text;
			document.getElementById('superTeacherPromptRichtextPopupOkButton').innerHTML = okButtonLabel;
			document.getElementById('superTeacherPromptRichtextPopupCancelButton').innerHTML = cancelButtonLabel;
			document.getElementById('superTeacherPromptRichtextPopupOkButton').onclick = okButtonFunction;
			document.getElementById('superTeacherPromptRichtextPopupCancelButton').onclick = cancelButtonFunction;
				
	  		var parentElement = getParentDiv(element);
		    var jsonObject = {
		    	"action":"show_richtext",
		    	"richtextFieldZkId":richtextFieldZkId,
		    	"inputText":inputText
	    	};
			zAu.send(new zk.Event(zk.Widget.$(parentElement.id), 'onNotify', jsonObject));
		}
	    
		function showPromptRichtextPopupDiv() {
			document.getElementById('superTeacherPromptRichtextPopupDiv').style.visibility = 'visible';
		}
	    
		function hidePromptRichtextPopup() {
			document.getElementById('superTeacherPromptRichtextPopupDiv').style.visibility = 'hidden';
		}
	    
			
		function initElements(myElementsJson, allElementsJson, elementNameId, myElementsId, allElementsId) {
	 		var elementName = document.getElementById(elementNameId);
	 		elementName.value = '';
			initMyElements(myElementsJson, elementNameId, myElementsId, allElementsId);
			initAllElements(allElementsJson, elementNameId, myElementsId, allElementsId);
		}
	
		function initMyElements(myElementsJson, elementNameId, myElementsId, allElementsId) {
			removeListElements(myElementsId);
	 		var myElements = parseJsonAndSortByName(myElementsJson);
			for (let i=0;i<Object.keys(myElements).length;i++) {
		  		addMyElement(elementNameId, myElementsId, myElements[i]);
			}
		}
	
		function initAllElements(allElementsJson, elementNameId, myElementsId, allElementsId) {
			removeListElements(allElementsId);
	 		var allElements = parseJsonAndSortByName(allElementsJson);
			for (let i=0;i<Object.keys(allElements).length;i++) {
	  			addAllElement(elementNameId, myElementsId, allElementsId, allElements[i]);
			}
		}
	
		function addElements(myElementsJson, elementNameId, myElementsId) {
	 		var myElements = parseJsonAndSortByName(myElementsJson);
			for (let i=0;i<Object.keys(myElements).length;i++) {
	  			addMyElement(elementNameId, myElementsId, myElements[i]);
			}
	
	 		document.getElementById(myElementsId).scrollTop = 99999;
		}
	
		function removeListElements(listId) {
			removeAllChildNodes(document.getElementById(listId));
		}
	
		function removeAllChildNodes(parent) {
			while (parent.firstChild) {
				parent.removeChild(parent.firstChild);
			}
		}
	
	  	function deselectElement(myElementsId) {
	  		var myElements = document.getElementById(myElementsId);
	  		for (let i=0;i<myElements.childNodes.length;i++) {
	  			if (myElements.childNodes[i].nodeName == 'LI') {
					myElements.childNodes[i].setAttribute('selected', 'false');
					myElements.childNodes[i].className = '';
				}
	 		}
		}
			
	  	function selectElement(element, elementNameId, myElementsId) {
			if (elementNameId != null && elementNameId != '') {
		  		var elementName = document.getElementById(elementNameId);
	 			elementName.value = '';
	 		}
	
	  		deselectElement(myElementsId);
	  		
			element.setAttribute('selected', 'true');
			element.className = 'selected';
		}
			
	  	function getSelectedElement(elementsId) {
	  		var elements = document.getElementById(elementsId);
	  		for (let i=0;i<elements.childNodes.length;i++) {
	  			if (elements.childNodes[i].nodeName == 'LI') {
	  				var selected = elements.childNodes[i].getAttribute('selected');
	    			if (selected != null && selected == 'true') {
		  				return elements.childNodes[i];
		  			}
				}
	  		}
	  		return null;
		}
			
		function addMyElement(elementNameId, myElementsId, myElement) {
	  		var myElements = document.getElementById(myElementsId);
	  		
	  		var newElement = document.createElement('li');
	  		myElements.appendChild(newElement);
	  		newElement.setAttribute('elementType', myElement.elementType);
	  		newElement.setAttribute('cacId', myElement.cacId);
	  		newElement.setAttribute('tagId', myElement.tagId);
	  		newElement.setAttribute('runId', myElement.runId);
	  		newElement.setAttribute('elementName', myElement.name);
	  		newElement.onclick = function(){selectElement(this, elementNameId, myElementsId)};
	  		newElement.style.cursor = 'pointer';
	  		newElement.appendChild(document.createTextNode(myElement.name));
	
	  		newElement.appendChild(createEditElementButton(elementNameId, myElementsId));
	  		newElement.appendChild(createDeleteElementButton(elementNameId, myElementsId));
	
	  		return newElement;
		}
			
		function createEditElementButton(elementNameId, myElementsId) {
	  		var newSubElement = document.createElement('button');
	  		newSubElement.onclick = function(){promptEditElement(this.parentElement, elementNameId, myElementsId)};
	  		newSubElement.className = 'pv-btn btn btn-secondary btn-context';
	
	  		var newSubSubElement = document.createElement('i');
	  		newSubElement.appendChild(newSubSubElement);
	  		newSubSubElement.className = 'fa fa-pencil-alt';
	
	  		return newSubElement;
		}
			
		function createDeleteElementButton(elementNameId, myElementsId) {
	  		var newSubElement = document.createElement('button');
	  		newSubElement.onclick = function(){confirmDeleteElement(this.parentElement, elementNameId, myElementsId)};
	  		newSubElement.className = 'pv-btn btn btn-secondary btn-context';
	
	  		var newSubSubElement = document.createElement('i');
	  		newSubElement.appendChild(newSubSubElement);
	  		newSubSubElement.className = 'fas fa-trash-alt';
	
	  		return newSubElement;
		}
			
	  	function promptEditElement(element, elementNameId, myElementsId) {
	  		showPromptPopup('Pas naam aan',
	  			element.getAttribute('elementName'), 
	  			'OK',
	  			'Annuleer',
	  			function(){hidePromptPopup();editElement(element, elementNameId, myElementsId, document.getElementById('superTeacherPromptPopupTextInput').value)},
	  			function(){hidePromptPopup()});
		}
	
	  	function editElement(element, elementNameId, myElementsId, name) {
				//first save change
	  		var parentElement = getParentDiv(element);
		    var jsonObject = {
		    	"action":"edit_element",
		    	"elementType":element.getAttribute('elementType'),
		    	"cacId":element.getAttribute('cacId'),
		    	"tagId":element.getAttribute('tagId'),
		    	"runId":element.getAttribute('runId'),
		    	"elementName":name
	    	};
			zAu.send(new zk.Event(zk.Widget.$(parentElement.id), 'onNotify', jsonObject));
				
				//then update interface
	  		element.setAttribute('elementName', name);
	  		element.textContent = name;
	  		element.childNodes[0].nodeValue = name;
	  		
				//NOTE add buttons, because setting nodeValue results in removing buttons
	  		element.appendChild(createEditElementButton(elementNameId, myElementsId));
	  		element.appendChild(createDeleteElementButton(elementNameId, myElementsId));
		}
	
	  	function confirmDeleteElement(element, elementNameId, myElementsId) {
	  		showConfirmPopup("Weet u zeker dat u '" + element.getAttribute('elementName') + "' wilt verwijderen?",
	  			'OK',
	  			'Annuleren', 
	  			function(){hideConfirmPopup();deleteElement(element)}, 
	  			function(){hideConfirmPopup()});
		}
	
	  	function deleteElement(element) {
				//first save change
	  		var parentElement = getParentDiv(element);
		    var jsonObject = {
		    	"action":"delete_element",
		    	"elementType":element.getAttribute('elementType'),
		    	"cacId":element.getAttribute('cacId'),
		    	"tagId":element.getAttribute('tagId'),
		    	"runId":element.getAttribute('runId')
	    	};
			zAu.send(new zk.Event(zk.Widget.$(parentElement.id), 'onNotify', jsonObject));
			//then update interface
			element.parentElement.removeChild(element);
		}
	
		function addAllElement(elementNameId, myElementsId, allElementsId, allElement) {
	  		var allElements = document.getElementById(allElementsId);
	
	  		var newElement = document.createElement('li');
	  		allElements.appendChild(newElement);
	  		newElement.setAttribute('elementType', allElement.elementType);
	  		newElement.setAttribute('cacId', allElement.cacId);
	  		newElement.setAttribute('tagId', allElement.tagId);
	  		newElement.setAttribute('runId', allElement.runId);
	  		newElement.setAttribute('elementName', allElement.name);
	  		newElement.setAttribute('elementOwner', allElement.owner);
	  		newElement.style.cursor = 'pointer';
	  		newElement.appendChild(document.createTextNode(allElement.name + ' [' + allElement.owner + ']'));
	
	  		newElement.appendChild(createCopyElementButton(elementNameId, myElementsId));
	
	  		return newElement;
		}
	
		function createCopyElementButton(elementNameId, myElementsId) {
	  		var newSubElement = document.createElement('button');
	  		newSubElement.onclick = function(){copyElement(this.parentElement, elementNameId, myElementsId)};
	  		newSubElement.className = 'pv-btn btn btn-secondary btn-context';
	
	  		var newSubSubElement = document.createElement('i');
	  		newSubElement.appendChild(newSubSubElement);
	  		newSubSubElement.className = 'fas fa-copy';
	
	  		return newSubElement;
		}
			
	  	function copyElement(element, elementNameId, myElementsId) {
			if (elementNameId != null && elementNameId != '') {
		  		var elementName = document.getElementById(elementNameId);
	  			elementName.value = '';
	  		}
	  		var name = getUniqueText(element.getAttribute('elementName'), myElementsId);
	
	  		var parentElement = getParentDiv(element);
		    var jsonObject = {
		    	"action":"copy_element",
		    	"elementType":element.getAttribute('elementType'),
		    	"cacId":element.getAttribute('cacId'),
		    	"tagId":element.getAttribute('tagId'),
		    	"runId":element.getAttribute('runId'),
		    	"elementName":name
	    	};
			zAu.send(new zk.Event(zk.Widget.$(parentElement.id), 'onNotify', jsonObject));
	
	  		document.getElementById(myElementsId).scrollTop = 99999;
		}
	
	  	function showElement(clickedElement, elementType, elementNameId, myElementsId) {
	  		var nameElement = document.getElementById(elementNameId);
	
			var name = nameElement.value;
			var selectedElement = getSelectedElement(myElementsId);
			var mode = 'new';
			var cacId = '0';
			var tagId = '0';
			var runId = '0';
			if (selectedElement != null) {
				mode = 'update';
				cacId = selectedElement.getAttribute('cacId');
				tagId = selectedElement.getAttribute('tagId');
				runId = selectedElement.getAttribute('runId');
				name = selectedElement.textContent;
			}
				
			if (name != '' && selectedElement == null && name != getUniqueText(name, myElementsId)) {
				showAlertPopup('Deze naam komt al voor!', 
					'OK', 
					function(){hideAlertPopup()});
				return;
			}
				
	  		var parentElement = getParentDiv(clickedElement);
		    var jsonObject = {
		    	"action":"show_element",
		    	"elementType":elementType,
		    	"mode":mode,
		    	"cacId":cacId,
		    	"tagId":tagId,
		    	"runId":runId,
		    	"elementName":name
	    	};
			zAu.send(new zk.Event(zk.Widget.$(parentElement.id), 'onNotify', jsonObject));
		}
			
	</script>
]]></html>

<div id="panel_superTeacher" visible="false">
	<div class="superTeacherBackground"/>

	<include src="${arg.a_propertyMap.get('zulfilepath')}PV-toolkit-super-teacher-alert-popup.zul"/>
	<include src="${arg.a_propertyMap.get('zulfilepath')}PV-toolkit-super-teacher-confirm-popup.zul"/>
	<include src="${arg.a_propertyMap.get('zulfilepath')}PV-toolkit-super-teacher-prompt-popup.zul"/>
	<include src="${arg.a_propertyMap.get('zulfilepath')}PV-toolkit-super-teacher-prompt-richtext-popup.zul"/>

	<include src="${arg.a_propertyMap.get('zulfilepath')}PV-toolkit-super-teacher-authoring-environment.zul"/>

	<include src="${arg.a_propertyMap.get('zulfilepath')}PV-toolkit-super-teacher-tutorials.zul"/>

	<include src="${arg.a_propertyMap.get('zulfilepath')}PV-toolkit-super-teacher-rubrics.zul"/>
	<include src="${arg.a_propertyMap.get('zulfilepath')}PV-toolkit-super-teacher-new-rubric.zul"/>
	<include src="${arg.a_propertyMap.get('zulfilepath')}PV-toolkit-super-teacher-update-rubric-skill.zul"/>
	<include src="${arg.a_propertyMap.get('zulfilepath')}PV-toolkit-super-teacher-update-rubric.zul"/>
	<include src="${arg.a_propertyMap.get('zulfilepath')}PV-toolkit-super-teacher-update-rubric-examples.zul"/>

	<include src="${arg.a_propertyMap.get('zulfilepath')}PV-toolkit-super-teacher-methods.zul"/>
	<include src="${arg.a_propertyMap.get('zulfilepath')}PV-toolkit-super-teacher-new-method.zul"/>
	<include src="${arg.a_propertyMap.get('zulfilepath')}PV-toolkit-super-teacher-update-method-cycles.zul"/>
	<include src="${arg.a_propertyMap.get('zulfilepath')}PV-toolkit-super-teacher-update-method.zul"/>

	<include src="${arg.a_propertyMap.get('zulfilepath')}PV-toolkit-super-teacher-runs.zul"/>
	<include src="${arg.a_propertyMap.get('zulfilepath')}PV-toolkit-super-teacher-new-run.zul"/>
	<include src="${arg.a_propertyMap.get('zulfilepath')}PV-toolkit-super-teacher-update-run.zul"/>


	<div id="superTeacherPeerGroupsDiv" use="nl.surf.emergo.control.run.cases.PVtoolkit.superTeacher.CRunPVToolkitSuperTeacherPeerGroupsDiv" visible="false"/>
	<div id="superTeacherNewOrEditPeerGroupDiv" use="nl.surf.emergo.control.run.cases.PVtoolkit.superTeacher.CRunPVToolkitSuperTeacherNewOrEditPeerGroupDiv" visible="false"/>
	<div id="superTeacherMessagesDiv" use="nl.surf.emergo.control.run.cases.PVtoolkit.superTeacher.CRunPVToolkitSuperTeacherMessagesDiv" visible="false"/>
	<div id="superTeacherNewOrEditMessageDiv" use="nl.surf.emergo.control.run.cases.PVtoolkit.superTeacher.CRunPVToolkitSuperTeacherNewOrEditMessageDiv" visible="false"/>
	<div id="superTeacherSendMessageDiv" use="nl.surf.emergo.control.run.cases.PVtoolkit.superTeacher.CRunPVToolkitSuperTeacherSendMessageDiv" visible="false"/>
	<div id="superTeacherResearchDiv" use="nl.surf.emergo.control.run.cases.PVtoolkit.superTeacher.CRunPVToolkitSuperTeacherResearchDiv" visible="false"/>
	<div id="superTeacherStepDiv" use="nl.surf.emergo.control.run.cases.PVtoolkit.CRunPVToolkitStepDiv" visible="false"/>

</div>

</zk>
