<?xml version="1.0" encoding="UTF-8"?>
<zk xmlns:h="http://www.w3.org/1999/xhtml">

<html><![CDATA[
  <script type="text/javascript">
  	//new or update rubric script
  	
  	var newRubricElement = null;
  	var isNewRubric = true;

		function initNewRubric(elementJson, isNewRubricOrNot) {
  		var element = JSON.parse(elementJson);
  		newRubricElement = element[0];
  		isNewRubric = isNewRubricOrNot;
  		document.getElementById('newRubricName').value = element[0].name;
  		setRubricHasSkillClustersOrSubSkills();
			setRubricNumberOfLevels(isNewRubric);
			setRubricLevelsDescending();
			setNewRubricBackBtn();
		}

  	function setRubricHasSkillClustersOrSubSkills() {
			document.getElementById('newRubricPartsSpan').className = newRubricElement.hasSkillClustersOrSubSkills == 'true' ? 'fas fa-pencil-alt' : 'fas fa-plus';
		}
		
  	function setRubricNumberOfLevels(isNewRubric) {
  		var parentUl = document.getElementById('newRubricLevel');
  		removeAllChildNodes(parentUl);
  		
  		var descending = newRubricElement.performancelevelsdescending == 'true';
  		var chosenNumber = newRubricElement.numberofperformancelevels;
  		for (let i=2;i<=5;i++) {
  			var number = i;
  			if (descending) {
  				number = 5 - (i - 2);
  			}
  			
	  		var newElement = document.createElement('li');
  			parentUl.appendChild(newElement);

	  		var newSubElement = document.createElement('button');
  			newElement.appendChild(newSubElement);
	  		newSubElement.id = 'newRubricLevel' + number;
	  		newSubElement.innerHTML = '' + number;
  			if (isNewRubric) {
		  		newSubElement.onclick = function(){editRubricNumberOfLevels(this)};
	  		}
	  		var className = 'pv-btn';
	  		if (chosenNumber == ('' + number)) {
					className = className + ' rubricLevelSelected';
	  		}
				newSubElement.className = className;
  			if (!isNewRubric) {
		  		newSubElement.style.cursor = 'auto';
  			}
  		}
		}
		
  	function setRubricLevelsDescending() {
			document.getElementById('newRubricLevelsAscending').className = newRubricElement.performancelevelsdescending == 'false' ? 'rubricLevelsSelected' : 'rubricLevelsDefault';
			document.getElementById('newRubricLevelsDescending').className = newRubricElement.performancelevelsdescending == 'true' ? 'rubricLevelsSelected' : 'rubricLevelsDefault';
		}
		
		function setNewRubricBackBtn() {
			document.getElementById('newRubricBackBtn').style.display = isNewRubric ? '' : 'none'; 
		}
		
  	function promptEditRubricName(element) {
  		showPromptPopup('Pas naam aan',
  			document.getElementById('newRubricName').value, 
  			'OK',
  			'Annuleer',
  			function(){hidePromptPopup();editRubricName(element, document.getElementById('superTeacherPromptPopupTextInput').value)},
  			function(){hidePromptPopup()});
		}

  	function editRubricName(element, name) {
  		if (name == null || name == '') {
  			return;
  		}
			//save change
  		var parentElement = getParentDiv(element);
	    var jsonObject = {
	    	"action":"edit_rubric",
	    	"childTagName":"name",
	    	"elementName":name
	    	};
			zAu.send(new zk.Event(zk.Widget.$(parentElement.id), 'onNotify', jsonObject));
			
			newRubricElement.name = name;
			document.getElementById('newRubricName').value = name;
		}

  	function editRubricNumberOfLevels(element) {
  		var numberofperformancelevels = element.innerHTML;
			//save change
  		var parentElement = getParentDiv(element);
	    var jsonObject = {
	    	"action":"edit_rubric",
	    	"childTagName":"numberofperformancelevels",
	    	"childTagValue":numberofperformancelevels
	    	};
			zAu.send(new zk.Event(zk.Widget.$(parentElement.id), 'onNotify', jsonObject));
			
			newRubricElement.numberofperformancelevels = numberofperformancelevels;
			setRubricNumberOfLevels(isNewRubric);
		}
		
		function editRubricLevelsDescending(element) {
			var performancelevelsdescending = '' + (element.id == 'newRubricLevelsDescending');
			//save change
  		var parentElement = getParentDiv(element);
	    var jsonObject = {
	    	"action":"edit_rubric",
	    	"childTagName":"performancelevelsdescending",
	    	"childTagValue":performancelevelsdescending
	    	};
			zAu.send(new zk.Event(zk.Widget.$(parentElement.id), 'onNotify', jsonObject));
			
			newRubricElement.performancelevelsdescending = performancelevelsdescending;
			setRubricLevelsDescending();
			setRubricNumberOfLevels(isNewRubric);
		}

  	function newRubricShowRubric(clickedElement) {
  		var parentElement = getParentDiv(clickedElement);
	    var jsonObject = {
	    	"action":"show_rubric"
	    	};
			zAu.send(new zk.Event(zk.Widget.$(parentElement.id), 'onNotify', jsonObject));
		}
		
  	function newRubricNavigateBackward(element) {
  		if (isNewRubric) {
  			navigateBackward(element, 'superTeacherRubricsDiv');
  		}
  		else {
  			navigateBackward(element, 'superTeacherUpdateRubricDiv');
  		}
		}
		
  </script>
]]></html>

<style>
.rubricLevelSelected {
	border: 2px solid #41690f;
	background-color: #41690f;
}

.rubricLevelsDefault {
	color: #5d9a01;
	cursor: pointer;
}

.rubricLevelsSelected {
	color: #41690f;
}
</style>

<div id="superTeacherNewRubricDiv" use="nl.surf.emergo.control.run.cases.PVtoolkit.superTeacher.CRunPVToolkitSuperTeacherNewRubricDiv" zclass="zkparentelement" visible="false" style="width:1200px;height:650px;">
	<html>
		<span class="pv-envir">${vView.getLabel("PV-toolkit.mainmenuoption.superTeacher")}</span>
		<div class="pv-body">
			<div class="pv-body-inner">
				<div class="pv-body-top indent-h-center">
					<h1 class="pv-h1">${vView.getLabel("PV-toolkit-superTeacher.rubrics.label.title")}</h1>
				</div>
				<div class="pv-form txt-align-right indent-form-center" style="display:flex;flex-direction:column;max-width:800px;">
					<fieldset class="pv-fieldset">
						<label class="pv-label">${vView.getLabel("PV-toolkit-superTeacher.newrubric.label.name")}</label>
						<span class="input-overlay-btn">
							<button class="pv-btn" onClick="promptEditRubricName(this)">
								<span class="fas fa-pencil-alt"></span>
							</button>
							<input id="newRubricName" disabled="true" class="pv-input large"/>
						</span>
					</fieldset>
					<fieldset class="pv-fieldset">
						<label class="pv-label">${vView.getLabel("PV-toolkit-superTeacher.newrubric.label.rubric-parts-new")}</label>
						<span class="input-overlay-btn">
							<button id="newRubricParts" class="pv-btn" onClick="navigateForward(this,'superTeacherUpdateRubricSkillDiv')">
								<span id="newRubricPartsSpan" class="fas fa-plus"></span>
							</button>
							<input disabled="true" class="pv-input large"
								placeholder="${vView.getLabel('PV-toolkit-superTeacher.newrubric.label.rubric-parts')}" />
						</span>
					</fieldset>
					<fieldset class="pv-fieldset">
						<div style="position:relative;left:370px;width:440px;text-align:left;">
						<h3 class="pv-h3">${vView.getLabel("PV-toolkit-superTeacher.newrubric.label.performance-levels")}</h3>
						<span class="txt-emph">${vView.getLabel("PV-toolkit-superTeacher.newrubric.label.performance-levels-info")}</span>
						</div>
					</fieldset>
					<fieldset class="pv-fieldset">
						<div style="position:relative;left:370px;width:440px;text-align:left;">
						<h3 class="pv-h3">${vView.getLabel("PV-toolkit-superTeacher.newrubric.label.performance-levels-number")}</h3>
						<div class="inline-form-items">
							<ul id="newRubricLevel" class="pv-ul pv-nr-select"/>
							<div style="margin-left: .5rem;">
								<span id="newRubricLevelsAscending" onClick="editRubricLevelsDescending(this)"><strong class="pv-strong">${vView.getLabel("PV-toolkit-superTeacher.newrubric.label.performance-levels-ascending")}</strong></span>
								<span><strong class="pv-strong">/</strong></span>
								<span id="newRubricLevelsDescending" onClick="editRubricLevelsDescending(this)"><strong class="pv-strong">${vView.getLabel("PV-toolkit-superTeacher.newrubric.label.performance-levels-descending")}</strong></span>
							</div>
						</div>
						</div>
					</fieldset>
				</div>
			</div>
			<div class="pv-btn-holder indent-1">
				<button id="newRubricBackBtn" class="pv-btn btn-secondary" onClick="newRubricNavigateBackward(this)">${vView.getLabel("PV-toolkit-superTeacher.button.back")}</button>
				<button class="pv-btn" onClick="newRubricShowRubric(this)">${vView.getLabel("PV-toolkit-superTeacher.button.ok")}</button>
			</div>
		</div>
	</html>
</div>

</zk>
