<?xml version="1.0" encoding="UTF-8"?>
<zk xmlns:h="http://www.w3.org/1999/xhtml">

<div id="panel_teacherGroupsProgress" visible="false">
	<div class="teacherGroupsProgressBackground"/>

	<div id="teacherPeerGroupsProgressPeerGroupsDetailsDiv" use="nl.surf.emergo.control.run.cases.PVtoolkit.teacherDashboard.CRunPVToolkitTeacherDashboardPeerGroupsDetailsDiv">
		<custom-attributes _showBackButton="false"/>
		<custom-attributes _idPrefix="teacherPeerGroupsProgress"/>
	</div>

	<div id="teacherGroupsProgressStepDiv" use="nl.surf.emergo.control.run.cases.PVtoolkit.CRunPVToolkitStepDiv" visible="false"/>

</div>

</zk>
