<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd">
	<script type="text/javascript"><![CDATA[
		zk.afterLoad("fckez", function () {
			fckez.FCKeditor.onBlur = function(fed, ahead) {
				if (fed.IsDirty()) {
					var wgt = zk.Widget.$(fed.Name),
						val = fed.GetXHTML();
					// make the onChange event first
					wgt.fire('onChange', {value: val}, {sendAhead: true});
					fed.ResetIsDirty();
				}
			};
		});
	]]></script>
</zk>
