<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns:h="http://www.w3.org/1999/xhtml" xmlns:zk="http://www.zkoss.org/2005/zk">
<include src="../../view/view.zul"/>

<h:script defer="false" type="text/javascript" src="${arg.a_emergoRootUrl}player/jw81/jwplayer.js"></h:script>

<h:link rel="stylesheet" type="text/css" href="${arg.a_emergoRootUrl}player/jw81/skins/jw_emergo.css"></h:link>

<hbox spacing="0">

  <window border="none" sclass="CRunMemosPlayer">

    <h:div
      id="${arg.a_playerName}_container"
      style="position:relative;left:${arg.a_left}px;top:${arg.a_top}px;width:${arg.a_width}px;height:${arg.a_divheight}px;">
	 	  <h:div id="${arg.a_playerName}"/>
    </h:div>

		<h:script type="text/javascript"><![CDATA[
			jwplayer.key='${arg.a_jwplayerKey}';

			var baseFile = '${arg.a_url}';
			var streamingUrls = eval('${arg.a_streamingUrls}');
			var streamingIndex = -1;
			if (streamingUrls.length > 0) {
				streamingIndex = 0;
			}
			var startplaying = true;
			var complete = false;
			var testOnComplete = false;
			
			function eventToServer(event, data) {
				externalEventToServer('jwplayer', '${arg.a_runComponentId}', event, data);
			}

			//NOTE it is possible to create unique javascript variables using ${arg.a_playerName}
			var emPlayer${arg.a_playerName} = jwplayer('${arg.a_playerName}');

			playerSetup();
			
			function playerSetup() {
				
				emPlayer${arg.a_playerName}.setup({
					autostart: true,
					width: "${arg.a_width}",
					height: "${arg.a_height}",
					stretching: "exactfit",
					playlist: fCreateSourcesString(streamingUrls, streamingIndex, baseFile),
					controls: "true",
					//NOTE set mute to true, because in Chrome/Opera HTML5 video with audio will not start on page load without user interaction
					//muted video may or may not start; in the latter case the 'start video' button will be shown
					mute: true
				});
				
				//NOTE after each setup, event handlers need to be defined again (apparently, jwplayer id is renewed)

				emPlayer${arg.a_playerName}.on('play', function(event) {
					eventToServer('onPlay', this.id + ',' + event.oldstate);
					if (startplaying) {
						eventToServer('onStartTime',this.id+','+event.duration+','+event.offset+','+event.position+','+'play video command');
						emPlayer${arg.a_playerName}.setMute(false);
					}
				});
				
				emPlayer${arg.a_playerName}.on('time', function(event) {
					if (startplaying) {
						startplaying = false;
						complete = false;
						testOnComplete = true;
						eventToServer('onTime',this.id+','+event.duration+','+event.offset+','+event.position+','+'start playing video');
					}
					if ((!complete) && ((event.duration - event.position) < 0.2)) {
						emPlayer${arg.a_playerName}.pause();
						eventToServer('onComplete',this.id);
						complete = true;
					}
				});

				emPlayer${arg.a_playerName}.on('error', function(event) {
					console.log('onError ' + event.message);
					if (!checkForRestart('${arg.a_playerName}')) {
						eventToServer('onError', this.id + ',' + event.code + ": " + event.message);
					};
				});

				emPlayer${arg.a_playerName}.on('setupError', function(event) {
					console.log('onSetupError ' + this.id + ',' + event.code + ": " + event.message);
					if (!checkForRestart('${arg.a_playerName}')) {
						eventToServer('onError', this.id + ',' + event.code + ": " + event.message);
					};
				});

				emPlayer${arg.a_playerName}.on('complete', function(event) {
					if (testOnComplete) {
						if (!complete) {
							complete = true;
							eventToServer('onComplete',this.id);
						}
					} else {
						console.log('onComplete before play');
						//NOTE Chrome https: video will not start automatically
						//	'complete' event is generated, before first 'time' event; try to start player;
						//	If player still doesn't start, the 'start video' button should become visisble
						emPlayer${arg.a_playerName}.play();
					}
				});

			}
			
			function checkForRestart(emPlayerName) {
				if (streamingIndex != -1) {
					streamingIndex += 1;
					if (streamingIndex >= streamingUrls.length) {
						//NOTE tried all alternatives, only option left is base URL  
						streamingIndex = -1;
					}
					//NOTE load does nothing; probably because of setup error
					//emPlayer.load(fCreateSourcesString(streamingUrls, streamingIndex, baseFile));
					console.log('reload');
					startplaying = true;
					emPlayer${arg.a_playerName} = jwplayer(emPlayerName);
					playerSetup();
					return true;
				}
				return false;
			}

			function fCreateSourcesString(pStreamUrls, pIndex, pBaseUrl) {
				var lSourcesString = "";
				var lUrlArray = eval(pStreamUrls);
				if (!(pIndex < 0) && (pIndex < lUrlArray.length)) {
					for (let j = 0; j < lUrlArray[pIndex].length; j++) {
						if (lSourcesString.length > 0)
							lSourcesString += ",";
						lSourcesString += "{file:'" + lUrlArray[pIndex][j].replace(/\\/g, "\\\\") + "'}"; 
					}
				}
				if (pBaseUrl.length > 0) {
					if (lSourcesString.length > 0)
						lSourcesString += ",";
					lSourcesString += "{file:'" + pBaseUrl.replace(/\\/g, "\\\\") + "'}";
				}
				console.log("sources: " + lSourcesString);
				console.log("streaming index: " + pIndex);
				
				return eval("[{sources:[" + lSourcesString + "]}]");
			}
			
		]]></h:script>

  </window>

</hbox>

</zk>
