<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd">

<div>
	<?component name="btn" macroURI="run_input_labelbtn_macro.zul"?>
	<btn id="${each[0]}" forEach="${arg.a_buttons_data}" style="position:absolute;top:${forEachStatus.index*35}px;"
		a_observer="${arg.a_observer}"
		a_event="onIspot${each[1]}"
		a_eventdata="${each[2]}"
		a_label="${each[3]}"
		a_classtype="${each[4]}"
	/>
</div>

</zk>
