<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns:h="http://www.w3.org/1999/xhtml">

	<h:script><![CDATA[
 		function showWebcamMessage(message) {
			$('#ispotWebcamMessage').html(message);
 		}
	]]></h:script>

	<div id="ispotViewers" use="nl.surf.emergo.control.run.CRunIspotViewersDiv" visible="false" zclass="CRunIspotViewersDiv">
 		<div id="ispotTextViewerDiv" zclass="CRunIspotTextDiv" visible="false">
			<html id="ispotTextViewer"/>
		</div>
 		<div id="ispotPlayerViewerDiv" zclass="CRunIspotPlayerDiv" visible="false">
			<include id="ispotPlayerViewer"/>
		</div>
 		<div id="ispotWebcamViewerDiv" zclass="CRunIspotWebcamDiv" visible="false">
			<include id="ispotWebcamViewer"/>
		</div>
 		<div id="ispotWebcamInstructionDiv" zclass="CRunIspotWebcamInstructionDiv" visible="false">
			<html id="ispotWebcamInstruction" use="nl.surf.emergo.control.def.CDefHtml">
				<custom-attributes labelKey="run_ispot.message.givewebcampermission"/>
			</html>
		</div>
 		<div id="ispotWebcamProgressDiv" zclass="CRunIspotWebcamProgressDiv" visible="false">
			<hbox id="ispotWebcamProgress">
				<timer id="ispotWebcamTimer" use="nl.surf.emergo.control.run.CRunIspotWebcamTimer" delay="1000" repeats="true" running="false"/>
				<!-- NOTE progressmeter style cannot be set in css file, does not work. And width cannot be set in style attribute, does not work. -->
				<progressmeter id="ispotWebcamProgressmeter" value="0" width="200px" visible="false"/>
			</hbox>
		</div>
		<h:div id="ispotWebcamMessage"></h:div>
 		<div id="ispotNumberOfRemainingResitsDiv" zclass="CRunIspotNumberOfRemainingResitsDiv" visible="false">
			<label id="ispotNumberOfRemainingResits" zclass="CRunIspotNumberOfRemainingResitsLabel"/>
		</div>
 		<div id="ispotFeedbackBtnsViewerDiv" zclass="CRunIspotFeedbackBtnsDiv" visible="false">
			<vbox id="ispotFeedbackBtnsViewer" use="nl.surf.emergo.control.run.CRunIspotFeedbackBtnsViewerVbox">
				<?component id="ispotFeedbackBtnsMacro" name="btns" macroURI="run_ispotfeedbackbtns_macro.zul"?>
				<btns
					a_propertyMap="${arg.a_propertyMap}"
					a_observer="ispotFeedbackBtnsViewer"
					a_buttons_data="${null}"
				/>
			</vbox>
		</div>
	</div>

</zk>
