<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns:h="http://www.w3.org/1999/xhtml">

<html>
	<![CDATA[
		<script type="text/javascript">

			function setInputLabelWidth(elementId, requiredHeight) {
				var element = document.getElementById(elementId);
				if (element == null) {
					return;
				}

				//NOTE if element or parent of element is not visible, clientWidth and clientHeight are 0, and width will be set to 20px. So first change 'display' to 'block'.
				var lProps = { position: 'absolute', visibility: 'hidden', display: 'block' };
				var lHiddenParents = $("#" + elementId).parents().addBack().not(':visible');
				var lOldProps = [];
				lHiddenParents.each(function () {
					//console.log(" hidden element: " + this.id);
					var lOld = {};
					for (var name in lProps) {
						lOld[name] = this.style[name];
						this.style[name] = lProps[name];
					}
					lOldProps.push(lOld);
				});

				var width = element.clientWidth;
				//console.log(elementId + " before: " + width);
				while (element.clientHeight > requiredHeight) {
					width++;
					setElementWidth(element, width);
				}
				//NOTE in Chrome, Edge and Opera width has to be increased by 10 pixels, otherwise label text still is word wrapped.
				//After while loop element.clientHeight is equal to requiredHeight, but within client development tool height is still greater than requiredHeight.
				//Seems to be bug? In Firefox increasing by 10 pixels is not needed.
				//NOTE now in Firefox 20 pixels is needed to show a button with tekst 'naar de raadkamer van de rechtbank'
				setElementWidth(element, width + 20);
				//console.log(elementId + " after: " + element.style.width);

				//NOTE now restore style of hidden elements.
				lHiddenParents.each(function (i) {
					var lOld = lOldProps[i];
					for (var name in lProps) {
						this.style[name] = lOld[name];
					}
				});

			}

			function setInputLabelPositionAndSize(divId, imageId, labelId) {
				var element = document.getElementById(divId);
				var image = document.getElementById(imageId);
				var label = document.getElementById(labelId);
				if (element == null || image == null || label == null) {
					return;
				}
				setElementWidth(element, image.offsetWidth);
				setElementHeight(element, image.offsetHeight);
				element.style.textAlign = 'center';
				label.style.position = 'relative';
				label.style.top = '' -image.offsetHeight + ((image.offsetHeight - label.offsetHeight) / 2) + 'px';
			}
			
			function setElementWidth(element, value) {
				element.style.width = "" + value + "px";
			}

			function setElementHeight(element, value) {
				element.style.height = "" + value + "px";
			}

		</script>
	]]>
</html>

<div id="${arg.a_id}" use="nl.surf.emergo.control.run.CRunInputLabelBtnDiv" sclass="CRunInputLabelBtnDiv" tooltiptext="${arg.a_tooltiptext}">
	<custom-attributes label="${arg.a_label}"/>
	<custom-attributes labelKey="${arg.a_labelkey}"/>
	<custom-attributes maxLabelLength="${arg.a_max_label_length}"/>
	<custom-attributes classtype="${arg.a_classtype}"/>
	<custom-attributes textstyle="${arg.a_textstyle}"/>
	<custom-attributes imageSrc="${arg.a_imagesrc}"/>
	<custom-attributes accessible="${arg.a_accessible}"/>
	<custom-attributes observer="${arg.a_observer}"/>
	<custom-attributes event="${arg.a_event}"/>
	<custom-attributes eventdata="${arg.a_eventdata}"/>
</div>

</zk>
