<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns:h="http://www.w3.org/1999/xhtml" xmlns:zk="http://www.zkoss.org/2005/zk">

<style src="style/CRun.css"/>

<style src="style/CRunLogbook.css"/>

<window use="nl.surf.emergo.control.run.CRunPlayWnd" border="normal" width="800px" zclass="CRunLogbookOverview_wnd">
	<custom-attributes labelKey="run_logbook_overview.title"/>
	<vbox zclass="CRunLogbookOverview_vbox">
	  	<h:br/>
	  	<div zclass="CRunLogbookOverview_div">
	  		<html content="${arg.body}" />
	  	</div>
   		<vbox style="margin: 10px 0px 0px 620px;" >
   			<button use="nl.surf.emergo.control.run.CRunOkButton" zclass="CRunButton_component_100"/>
    	</vbox>
	</vbox>
</window>

</zk>
