<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns:h="http://www.w3.org/1999/xhtml" xmlns:zk="http://www.zkoss.org/2005/zk">

<window use="nl.surf.emergo.control.run.CRunPlayWnd" zclass="CRunMailWnd" border="normal" width="800px">
	<custom-attributes labelKey="run_mail.title"/>
  <vbox style="margin: 0px 10px;">
	<vbox zclass="CRunMailWnd_content">
		<vbox style="color:black;" use="nl.surf.emergo.control.run.classic.CRunMailHeaderClassic"/>
	  	<h:br/>
	  	<vbox style="color:#2E5282;" use="nl.surf.emergo.control.run.classic.CRunMailAttachmentsClassic"/>
	  	<h:br/>
    	<h:div style="color:black;overflow:auto;width:715px;height:375px;">
	  		<html content="${arg.get('body')}" />
    	</h:div>
    </vbox>
    <vbox>
      <button use="nl.surf.emergo.control.run.classic.CRunOkBtnClassic" width="80px" style="margin: 10px 0px 10px 690px;">
				<custom-attributes labelKey="ok"/>
			</button>
    </vbox>
  </vbox>

</window>

</zk>
