<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd">

<window id="runNewMailWnd" zclass="CRunNewMailWnd" use="nl.surf.emergo.control.run.classic.CRunNewMailWndClassic"/>

</zk>
