body
{
	margin						: 0px;
	padding						: 0px;
	color							: gray;
	background-color	: #000000;
}

.breadcrumb,.breadcrumb_stu {
	color							:	blue;
	font-weight				: bold;
	cursor						: pointer;
}
 
.breadcrumb_stu {
	color							:	white;
	text-decoration		: underline;
}
 
.VboxOuter {
  margin						:	5px 5px 5px 5px;
}

div.CWnd
{
	width							: 400px;
	height						: 531px;
	color							: white;
	background-color	: #323033;
	background-image	: url('background_login.jpg');
	background-repeat	: no-repeat;
}

span.CLogin_label
{
	font-family				: verdana;
	font-size					: 10pt;
	font-weight				: bold;
}

input.CLogin_input
{
	width							: 324px;
	height						: 22px;
	border						: 0;
	font-family				: verdana;
	font-size					: 10pt;
	font-weight				: bold;
}

div.CStuSelWnd
{
	width							: 760px;
	height						: 755px;
	color							: white;
	background-color	: #323033;
	background-image	: url('background_select_case.jpg');
	background-repeat	: no-repeat;
}

span.CCdeComponentWnd_status_label
{
	color							: blue;
	font-size					: xx-small;
}

span.CCdeComponentWnd_treecell_label
{
	color							: blue;
	font-size					: xx-small;
}

span.CCdeComponentWnd_script_condition_label
{
	color							: blue;
	font-size					: xx-small;
}

span.CCdeComponentWnd_script_action_label
{
	color							: blue;
	font-size					: xx-small;
}

span.CCdeComponentWnd_script_label
{
	color							: black;
}

.CCdeComponentWnd_row_conditionstring_condition div.z-row-cnt,
.CCdeComponentWnd_row_actionstring_action div.z-row-cnt
{
	overflow					: auto;
}

span.CCdeComponentWnd_visible_to_student
{
	background-color	: #FFFF80;
}

a.crum:link
{
	text-decoration		: underline;
	color							: white;
}

a.crum:visited
{
	text-decoration		: underline;
	color							: white;
}

a.crum:hover
{
	text-decoration		: underline;
	color							: silver;
}

a.crum:active
{
	text-decoration		: underline;
	color							: white;
}

.CCdeScriptMethodWnd_method
{
	width							: 1025px; 
	height						: 630px;
	background-color	: white;
}

.CCdeScriptMethodWnd_templatemethod
{
	width							: 1025px; 
	height						: 280px; 
	background-color	: white;
}

.CCdeScriptMethodWnd_method_box
{
	height						: 550px;
}

.CCdeScriptMethodWnd_templatemethod_box
{
	height						: 200px; 
}

.CCdeScriptMethodWnd_script_content_box
{
	width							: 500px; 
}

.CCdeScriptMethodWnd_script_status_box
{
	width							: 200px; 
}

.z-listcell
{
	width							: 100% !important; 
}

.CHelpWnd
{
	width							: 700px;
	overflow					: auto;
}

.CHelpWndDiv
{
	margin						: 5px;
}

.CHelpHtml,.CHelpWndHtml,.CHelpWndDiv
{
	color							: black;
	font-family				: verdana;
	font-size					: 9pt;
	font-weight				: normal;
}

.CHelpImage,.CHelpImageAbsolute
{
	width							: 11px;
	height						: 11px;
	background-image	:	url('btn_info.png');
	cursor						: pointer;
}

.CHelpImageAbsolute
{
	position					: absolute;
	left							: 0px;
	top								: 0px;
}

.Html
{
	font-family				:	Arial,Sans-serif;
	font-size					:	12px;
	font-weight				:	normal;
	color							:	rgb(99,99,99);"
}

.HtmlLink
{
	font-family				:	Arial,Sans-serif;
	font-size					:	12px;
	font-weight				:	normal;
}