/* appearance on Tablet */

button.CRunTabletAppBtn_active_videosceneselector,
button.CRunTabletAppBtn_selected_videosceneselector
{
	background-image	:	url('tablet-videosceneselector-button-active.png');
}

button.CRunTabletAppBtn_active_videosceneselector:hover
{
	background-image	:	url('tablet-videosceneselector-button-active.png');
}

button.CRunTabletAppBtn_inactive_videosceneselector
{
	background-image	:	url('tablet-videosceneselector-button-inactive.png');
}


/* in Java */

div.CRunVideosceneselector
{
	z-index						: 211;
}

div.CRunVideosceneselector_title_area
{
	background-image	: url('bg-tablet-videosceneselector-logo.png');
}


/* in Zul */

div.CRunVideosceneselectorDiv
{
	position					: absolute;
	left							: 10px;
	top								: 10px;
	width							: 960px;
}

span.CRunVideosceneselectorTitle
{
	color							: blue !important;
	font-size					: 14pt !important;
}

div.CRunVideosceneselectorInstruction
{
	position					: relative;
	left							: 0px;
	width							: 925px;
}

span.CRunVideosceneselectorInstruction
{
	margin						: 0px;
	font-size					: 11pt !important;
}

div.CRunVideosceneselectorCategoryNumberOfSelectedDiv
{
	position					: absolute;
	top								: 0px;
	width							: 175px;
	text-align				: right;
}

span.CRunVideosceneselectorCategoryTitle,
span.CRunVideosceneselectorCategoryTitleHighlight,
span.CRunVideosceneselectorCategoryTitleHighlightRight
{
	margin						:	0px;
	font-size					: 12pt !important;
	color							: blue !important;
}

span.CRunVideosceneselectorCategoryTitleHighlight,
span.CRunVideosceneselectorCategoryTitleHighlightRight
{
	font-size					: 14pt !important;
	color							: #990000 !important;
}

span.CRunVideosceneselectorCategoryTitleHighlightWrong
{
	color							: #990000 !important;
}

span.CRunVideosceneselectorCategoryTitleHighlightRight
{
	color							: #77FFCC !important;
}

div.CRunVideosceneselectorLinks
{
	position					: absolute;
	left							: 10px;
	top								: 30px;
	width							: 170px;
	height						: 50px;
}

div.CRunVideosceneselectorLinksInner
{
	position					: relative;
	left							: 10px;
}

span.CRunVideosceneselectorLink
{
	color							: blue !important;
	font-family				: MyriadPro !important;
	font-size					: 10pt !important;
	font-weight				: normal !important;
	text-decoration		: underline;
	cursor						: pointer;
}

div.CRunVideosceneselectorCategoriesDiv
{
	position					: absolute;
	top								: 80px;
	width							: 185px;
	height						: 355px;
	overflow					: auto;	
}

div.CRunVideosceneselectorCategoriesInnerDiv
{
	position					: absolute;
	left							: 10px;
}

div.CRunVideosceneselectorCategoryLabelDiv
{
	width							: 124px;
}

span.CRunVideosceneselectorCategoryLabel
{
	font-size					: 14px !important;
	font-family				: MyriadProSemibold !important;
}

div.CRunVideosceneselectorScenesDiv
{
	position					: absolute;
	left							: 0px;
	height						: 26px;
	background-color	: gray;
}

div.CRunVideosceneselectorVideoPositionDiv
{
	position					: absolute;
	top								: 8px;
	width							: 11px;
	height						: 11px;
	background-image	: url('white_dot.png');
}

div.CRunVideosceneselectorFeedbackLinks
{
	position					: absolute;
	left							: 10px;
	top								: 430px;
	height						: 50px;
	width							: 170px;
}

div.CRunVideosceneselectorCategorySceneSelectable,
div.CRunVideosceneselectorCategorySceneSelectableRight,
div.CRunVideosceneselectorCategorySceneSelectableWrong
{
	position					:	absolute;
	left							:	0px;
	top								:	0px;
	width							: 10px;
	height						:	26px;
	cursor						:	pointer;
}

div.CRunVideosceneselectorCategorySceneSelectable,
div.CRunVideosceneselectorCategorySceneSelectableWrong
{
	border						: 1px solid #0000CC;
}

div.CRunVideosceneselectorCategorySceneSelectableRight
{
	border						: 3px solid #77FFCC;
}

div.CRunVideosceneselectorCategorySceneNumberDiv
{
	text-align				: center;
	padding						: 2px 0;
}

span.CRunVideosceneselectorCategorySceneNumberLabel
{
	font-size					: 12px;
	font-family				: MyriadPro;
	color							: #0000CC;
}

.CRunVideosceneselectorCloseBtn
{
	position					: absolute;
	left							: 445px;
	top								: -10px;
}

div.CRunVideosceneselectorReadyBtn
{
	position					: absolute;
	left							: 730px;
	top								: 500px;
}

div.CRunVideosceneselectorReadyTitleDiv
{
	position					: absolute;
	left							: 755px;
	top								: 80px;
	width							: 200px;
}

span.CRunVideosceneselectorReadyTitleHtml
{
	font-size					: 12pt !important;
	color							: #E5F7FF !important;
}

div.CRunVideosceneselectorReadyBtnDiv
{
	position					: absolute;
	left							: 955px;
	top								: 43px;
}
