/* appearance on Tablet */

button.CRunTabletAppBtn_active_assessments,
button.CRunTabletAppBtn_selected_assessments
{
	background-image	:	url('tablet-assessments-button-active.png');
}

button.CRunTabletAppBtn_active_assessments:hover
{
	background-image	:	url('tablet-assessments-button-active.png');
}

button.CRunTabletAppBtn_inactive_assessments
{
	background-image	:	url('tablet-assessments-button-inactive.png');
}


/* in Java */

div.CRunAssessments
{
	z-index						: 211;
}

div.CRunAssessments_title_area
{
	background-image	: url('bg-tablet-assessments-logo.png');
}


/* in Zul */

div.CRunAssessmentsDiv,
div.CRunAssessmentDiv,
div.CRunAssessmentItemDiv
{
	position					: absolute;
	left							: 0px;
	top								: 0px;
	width							: 920px;
}


/* runAssessments */

div.CRunAssessmentsInstructionDiv
{
	position					: relative;
	left							: 20px;
	top								: 0px;
	width							: 910px;
	height						: 58px;
	overflow					: auto;
}

.CRunAssessmentsInstructionHtml
{
	color							: #494949;
	font-family				: MyriadProSemibold !important;
	font-size					: 12pt !important;
}

div.CRunAssessmentBtns
{
	position					: relative;
	left							: 20px;
	top								: 0px;
	background-color	: transparent;
}

div.CRunAssessmentBtnsScroll
{
	overflow					: auto;
}

div.CRunAssessmentBtnDiv
{
	width							: 450px;
	height						: 100px;
	background-color	: transparent;
}

div.CRunAssessmentBtn
{
	width							: 345px;
	height						: 90px;
	background-color	: transparent;
	background-image	: url('assessmentbtn-background.png');
	background-repeat	: no-repeat;
	cursor						: pointer;
}

img.CRunAssessmentBtnStatusImage
{
}

img.CRunAssessmentBtnStatusImageNone
{
	position					: relative;
	left							: 314px;
	top								: 11px;
	width							: 22px;
	height						: 24px;
	background-color	: transparent;
	background-repeat	: no-repeat;
}

img.CRunAssessmentBtnStatusImageBusy
{
	position					: relative;
	left							: 314px;
	top								: 11px;
	width							: 22px;
	height						: 24px;
	background-color	: transparent;
	background-image	: url('assessment-busy.png');
	background-repeat	: no-repeat;
}

img.CRunAssessmentBtnStatusImageFinished
{
	position					: relative;
	left							: 314px;
	top								: 11px;
	width							: 22px;
	height						: 24px;
	background-color	: transparent;
	background-image	: url('assessment-finished.png');
	background-repeat	: no-repeat;
}

span.CRunAssessmentBtnTitleLabel
{
	position					: relative;
	left							: -2px;
	top								: 10px;
	width							: 264px;
	color							: #494949;
	font-family				: MyriadProSemibold !important;
	font-size					: 13pt !important;
}

.CRunAssessmentBtnInstructionDiv
{
	position					: relative;
	left							: 20px;
	top								: 30px;
	width							: 264px;
	height						: 18px;
	overflow					: hidden;
}

.CRunAssessmentBtnInstructionHtml
{
	position					: relative;
	top								: -17px;
	color							: #494949;
	font-family				: MyriadPro !important;
	font-size					: 11pt !important;
}

span.CRunAssessmentBtnNumberOfItemsLabel
{
	position					: absolute;
	left							: 20px;
	top								: 60px;
	width							: 314px;
	color							: #494949;
	font-family				: MyriadProSemibold !important;
	font-size					: 11pt !important;
}

div.CRunAssessmentBtnScoreLabelTitleDiv
{
	position					: relative;
	left							: 234px;
	top								: 15px;
	width							: 100px;
	height						: 20px;
	background-color	: transparent;
}

span.CRunAssessmentBtnScoreLabelTitle
{
	color							: #494949;
	font-family				: MyriadProSemibold !important;
	font-size					: 12pt !important;
}

span.CRunAssessmentBtnScoreLabelTitleGray
{
	color							: #C9C9C9;
	font-family				: MyriadProSemibold !important;
	font-size					: 12pt !important;
}

div.CRunAssessmentBtnScoreLabelDiv
{
	position					: relative;
	left							: 234px;
	top								: 10px;
	width							: 100px;
	height						: 20px;
	background-color	: transparent;
}

span.CRunAssessmentBtnScoreLabel
{
	color							: #494949;
	font-family				: MyriadProSemibold !important;
	font-size					: 14pt !important;
}


/* runAssessment */

.CRunAssessmentPanelLeft
{
	position					: relative;
	left							: 20px;
	top								: 0px;
	width							: 425px;
	margin						: 0px 20px 0px 0px;
}

.CRunAssessmentPanelRight
{
	position					: relative;
	left							: 23px;
	top								: 0px;
	width							: 465px;
}

span.CRunAssessmentTitleLabel
{
	color							: #494949;
	font-family				: MyriadProSemibold !important;
	font-size					: 12pt !important;
}

div.CRunAssessmentInstructionDiv
{
	width							: 425px;
	height						: 150px;
	overflow					: auto;
}

span.CRunAssessmentInstructionHtml
{
	color							: #494949;
	font-family				: MyriadPro !important;
	font-size					: 11pt !important;
}

span.CRunAssessmentScoreLabel
{
	color							: #494949;
	font-family				: MyriadProSemibold !important;
	font-size					: 14pt !important;
}

div.CRunAssessmentItemBtns
{
	position					: relative;
	left							: 0px;
	top								: 0px;
	width							: 455px;
	height						: 440px;
	background-color	: #EEEEEE;
	overflow					: auto;
	
}

div.CRunAssessmentItemBtn,
div.CRunAssessmentItemBtn:hover
{
	width							: 455px;
	height						: 30px;
	color							: #494949;
	cursor						: pointer;
}

div.CRunAssessmentItemBtn:hover
{
	background-image	: url('assessment-item-hover.jpg');
}

img.CRunAssessmentItemBtnStatusImage
{
	position					: relative;
	top								: 5px;
	width							: 22px;
	height						: 24px;
	background-color	: transparent;
	background-image	: url('assessment-item.png');
	background-repeat	: no-repeat;
}

img.CRunAssessmentItemBtnStatusImageFinished
{
	position					: relative;
	top								: 5px;
	width							: 22px;
	height						: 24px;
	background-color	: transparent;
	background-image	: url('assessment-item-finished.png');
	background-repeat	: no-repeat;
}

div.CRunAssessmentItemBtnTitleDiv
{
	width							: 411px;
	height						: 30px;
}

span.CRunAssessmentItemBtnTitleLabel
{
	position					: relative;
	left							: 20px;
	top								: 7px;
	font-family				: MyriadPro !important;
	font-size					: 11pt !important;
}


/* runAssessmentItem */

.CRunAssessmentItemPanelLeft
{
	position					: relative;
	left							: 20px;
	top								: 0px;
	width							: 425px;
	margin						: 0px 20px 0px 0px;
}

.CRunAssessmentItemPanelRight
{
	position					: relative;
	left							: 27px;
	top								: 0px;
	width							: 465px;
}

span.CRunAssessmentItemTitleLabel
{
	color							: #494949;
	font-family				: MyriadProSemibold !important;
	font-size					: 12pt !important;
}

div.CRunAssessmentItemInstructionDiv,
div.CRunAssessmentItemFeedbackDiv
{
	width							: 425px;
	height						: 165px;
	overflow					: auto;
}

span.CRunAssessmentItemInstructionHtml
{
	color							: #494949;
	font-family				: MyriadPro !important;
	font-size					: 11pt !important;
}

span.CRunAssessmentItemPieceLabel
{
	color							: blue;
	font-family				: MyriadPro !important;
	font-size					: 11pt !important;
	cursor						: pointer;
}

.CRunAssessmentFeedbackVbox
{
	position					: relative;
	top								: 10px;
}

div.CRunAssessmentShowFeedbackBtn
{
	cursor						: pointer;
}

span.CRunAssessmentFeedbackInstructionLabel
{
	color							: #494949;
	font-family				: MyriadProSemibold !important;
	font-size					: 14pt !important;
}

.CRunAssessmentFeedbackInstructionHtml
{
	background-color	: transparent;
	color							: #494949;
	font-family				: MyriadPro !important;
	font-size					: 11pt !important;
}

div.CRunAssessmentAltDiv,
div.CRunAssessmentAltDivDisabled
{
	width							: 435px;
	margin						: 0px 0px -1px 0px;
}

div.CRunAssessmentAltDiv
{
	cursor						: pointer;
}

div.CRunAssessmentAltDivDisabled
{
	cursor						: default;
}

.CRunAssessmentAltCheckboxActive,
.CRunAssessmentAltCheckboxSelected,
.CRunAssessmentAltCheckboxDisabledActive,
.CRunAssessmentAltCheckboxDisabledSelected,
.CRunAssessmentAltRadioActive,
.CRunAssessmentAltRadioSelected,
.CRunAssessmentAltRadioDisabledActive,
.CRunAssessmentAltRadioDisabledSelected
{
	width							: 27px;
	height						: 26px;
	background-repeat	: no-repeat;
	margin						: 0px 10px 0px 10px;
}

.CRunAssessmentAltCheckboxSelected,
.CRunAssessmentAltCheckboxDisabledSelected
{
	background-image	: url('assessment-item-alt-selected.png');
}

.CRunAssessmentAltRadioSelected,
.CRunAssessmentAltRadioDisabledSelected
{
	background-image	: url('assessment-item-alt-radio-selected.png');
}

.CRunAssessmentAltCheckboxActive,
.CRunAssessmentAltCheckboxDisabledActive,
.CRunAssessmentAltRadioActive,
.CRunAssessmentAltRadioDisabledActive
{
	background-image	: url('assessment-item-alt-active.png');
}

.CRunAssessmentAltRadioActive:hover
{
	background-image	: url('assessment-item-alt-radio-hover.png');
}

.CRunAssessmentAltCheckboxSelected,
.CRunAssessmentAltCheckboxActive,
.CRunAssessmentAltRadioSelected,
.CRunAssessmentAltRadioActive
{
	cursor						: pointer;
}

.CRunAssessmentAltCheckboxDisabledSelected,
.CRunAssessmentAltCheckboxDisabledActive,
.CRunAssessmentAltRadioDisabledSelected,
.CRunAssessmentAltRadioDisabledActive
{
	cursor						: default;
}

div.CRunAssessmentAltInstructionDiv
{
	margin						: 10px 20px 10px 0px;
}

.CRunAssessmentAltInstructionHtml
{
	background-color	: transparent;
	color							: #494949;
	font-family				: MyriadPro !important;
	font-size					: 11pt !important;
}

div.CRunAssessmentAltFieldSpacing
{
	width							: 20px;
}

div.CRunAssessmentAltFieldDiv
{
	margin						: 10px 20px 10px 0px;
}

.CRunAssessmentAltField
{
	width							: 415px;
	background-color	: transparent;
	font-family				: MyriadPro !important;
	font-size					: 11pt !important
}

div.CRunAssessmentItemAlts
{
	width							: 455px;
	height						: 400px;
	background-color	: #EEEEEE;
	overflow					: auto;
}

div.CRunAssessmentItemsControl
{
	position					: relative;
	left							: 0px;
	top								: 5px;
	width							: 475px;
}

div.CRunAssessmentItemsPreviousQuestionDiv,
div.CRunAssessmentItemsNextQuestionDiv
{
	width							: 183px;
	height						: 27px;
	overflow					: hidden;
}

div.CRunAssessmentItemsNumberOfQuestionsDiv
{
	width							: 80px;
}

span.CRunAssessmentItemsNumberOfQuestionsLabel
{
	position					: relative;
	top								: 5px;
	color							: #494949;
	font-family				: MyriadPro !important;
	font-size					: 11pt !important;
}
