button.CRunDashboardBtn_empty,
button.CRunDashboardBtn_active,
button.CRunDashboardBtn_selected,
button.CRunDashboardBtn_inactive
{
	position					: absolute;
	left							: 1130px;
	top								: 50px;
	width							: 53px;
	height						: 53px;
	border						: 0;
	overflow					: hidden;
	background-color	: transparent;
	color							: #115F86;
	z-index						: 151;
}

button.CRunDashboardBtn_empty
{
	color							: #000000;
	cursor						: default;
	background-image	:	url('button-dashboard.png');
}

button.CRunDashboardBtn_active
{
	color							: #115F86;
	cursor						: pointer;
	background-image	:	url('button-dashboard.png');
}

button.CRunDashboardBtn_selected
{
	color							: #FFFFFF;
	cursor						: default;
	background-image	:	url('button-dashboard.png');
}

button.CRunDashboardBtn_inactive
{
	color							: #888888;
	cursor						: default;
	background-image	:	url('button-dashboard.png');
}

button.CRunDashboardBtn_active:hover
{
	background-image	:	url('button-dashboard.png');
}