/* appearance on Tablet */

button.CRunTabletAppBtn_active_logbook,
button.CRunTabletAppBtn_selected_logbook
{
	background-image	:	url('tablet-logbook-button-active.png');
}

button.CRunTabletAppBtn_active_logbook:hover
{
	background-image	:	url('tablet-logbook-button-active.png');
}

button.CRunTabletAppBtn_inactive_logbook
{
	background-image	:	url('tablet-logbook-button-inactive.png');
}


/* in Java */

div.CRunLogbook
{
	z-index						: 211;
}

div.CRunLogbook_title_area
{
	background-image	: url('bg-tablet-logbook-logo.png');
}

div.CRunLogbook_report_area
{
	position					: absolute;
	left							: 600px;
	top								: 50px;
	width							: 200px;
}

.CRunLogbookItemRowOdd,
.CRunLogbookItemRowEven
{
	width							: 953px;
	overflow					: hidden;
}

.CRunLogbookItemRowContent
{
	width							: 877px;
	margin						: 10px 5px 5px 24px;
}

.CRunLogbookItemRowButtons
{
	margin						: 25px 0px 0px 0px;
}

.CRunLogbookItemRowOdd
{
	background-color	:	#FFFFFF;
}

.CRunLogbookItemRowEven
{
	background-color	:	#EEEEEE;
}

span.CRunLogbookTitleLabel,span.CRunLogbookTitleLabelSub
{
	font-size					: 11pt !important;
	font-family				: MyriadPro !important;
	font-weight				: bold !important;
	}

span.CRunLogbookNoteHtml
{
	position					: relative;
	top								: -5px;
	font-size					: 12pt !important;
	font-family				: MyriadPro !important;
	font-size					: 10pt !important;
}

.CRunLogbookNoteTextbox
{
	position					: relative;
	top								: -5px;
	width							: 860px;
	color							: #494949;
	font-family				: MyriadPro;
	font-size					: 10pt;
}

.CRunLogbookNoteEditButton
{
	position					: relative;
	left							: 5px;
	width							: 23px;
	height						: 23px;
	background-image	:	url('logbook-edit.png');
	cursor						: pointer;
}

.CRunLogbookNoteSaveButton
{
	position					: relative;
	top								: 0px;
	width							: 24px;
	height						: 24px;
	background-image	:	url('logbook-save.png');
	cursor						: pointer;
}
