div.CRunConversationInteraction,
div.CRunConversationInteractionOnTop
{
	position					: absolute;
	width							: 590px;
	height						: 157px;
	halign						: left;
	valign						:	top;
	overflow					: visible;
	background-color	: transparent;
	background-image	:	url('bg-interview.png');
	background-repeat	: no-repeat;
	background-position	: bottom center;
}

div.CRunConversationInteraction
{
	left							: 100px;
	top								: 435px;
}

div.CRunConversationInteractionOnTop
{
	left							: 420px;
	top								: 295px;
}

div.CRunConversationInteraction
{
	z-index						: 151;
}

div.CRunConversationInteractionOnTop
{
	z-index						: 251;
}

div.CRunConversationInteraction_title_area
{
	display						: none;
}

div.CRunConversationInteraction_close_area
{
	display						: none;
}

div.CRunConversationInteraction_content_area
{
	position					: relative;
	top								: 16px;
	width							: 577px;
	height						: 131px;
	margin						: 0px 0px 0px 0px;
	background-color	: transparent;
}

div.CRunConversationInteraction_s_content
{
	width							: 577px;
	height						: 131px;
	border						: 0px;
	vertical-align		: middle;
	margin						: 0px 0px 0px 0px;
	background-color	: transparent;
	overflow					: auto;
}

.CRunConversationInteraction_content_area .z-dottree-body
{
	height						: 109px !important;
}

button.CRunConversationBtn_active,
button.CRunConversationBtn_inactive
{
	width							: 76px;
	height						: 16px;
	margin						: 0px 16px 0px 0px;
	border						: 0;
	overflow					: hidden;
	background-color	: transparent;
}
button.CRunConversationBtn_active
{
	cursor						: pointer;
}
button.CRunConversationBtn_inactive
{
	cursor						: default;
}

tr.CRunConversationInteraction_treerow
{
	background				: #6D9A9F;
	background-color	: #6D9A9F;
}

td.CRunConversationInteraction_treecell_active_odd,
td.CRunConversationInteraction_treecell_active_even,
td.CRunConversationInteraction_treecell_selected_odd,
td.CRunConversationInteraction_treecell_selected_even,
td.CRunConversationInteraction_treecell_opened_odd,
td.CRunConversationInteraction_treecell_opened_even,
td.CRunConversationInteraction_treecellalt_active_odd,
td.CRunConversationInteraction_treecellalt_active_even,
td.CRunConversationInteraction_treecellalt_selected_odd,
td.CRunConversationInteraction_treecellalt_selected_even,
td.CRunConversationInteraction_treecellalt_opened_odd,
td.CRunConversationInteraction_treecellalt_opened_even
{
	font-size					: 12pt;
	font-family				: MyriadPro;
	cursor						: pointer;
	height						: 26px;
}

td.CRunConversationInteraction_treecell_active_odd
{
  background-color	: #6D9A9F;
	color							: #FFFFFF;
}

td.CRunConversationInteraction_treecell_active_even
{
	background-color	: #6D9A9F;  
	color							: #FFFFFF;
}

td.CRunConversationInteraction_treecell_selected_odd
{
  background-color	: #6D9A9F;
	color							: #FFFFFF;
}

td.CRunConversationInteraction_treecell_selected_even
{
	background-color	: #6D9A9F;  
	color							: #FFFFFF;
}

td.CRunConversationInteraction_treecell_opened_odd
{
  background-color	: #6D9A9F;
	color							: #DDDDDD;
}

td.CRunConversationInteraction_treecell_opened_even
{
	background-color	: #6D9A9F;  
	color							: #DDDDDD;
}


td.CRunConversationInteraction_treecellalt_active_odd
{
  background-color	: #6D9A9F;
	color							: #AAFFFF;
}

td.CRunConversationInteraction_treecellalt_active_even
{
	background-color	: #6D9A9F;  
	color							: #AAFFFF;
}

td.CRunConversationInteraction_treecellalt_selected_odd
{
  background-color	: #6D9A9F;
	color							: #AAFFFF;
}

td.CRunConversationInteraction_treecellalt_selected_even
{
	background-color	: #6D9A9F;  
	color							: #AAFFFF;
}

td.CRunConversationInteraction_treecellalt_opened_odd
{
  background-color	: #6D9A9F;
	color							: #88DDDD;
}

td.CRunConversationInteraction_treecellalt_opened_even
{
	background-color	: #6D9A9F;  
	color							: #88DDDD;
}
