/* appearance on Tablet */

button.CRunTabletAppBtn_active_tests,
button.CRunTabletAppBtn_selected_tests
{
	background-image	:	url('tablet-tests-button-active.png');
}

button.CRunTabletAppBtn_active_tests:hover
{
	background-image	:	url('tablet-tests-button-active.png');
}

button.CRunTabletAppBtn_inactive_tests
{
	background-image	:	url('tablet-tests-button-inactive.png');
}


/* in Java */

div.CRunTests
{
	z-index						: 211;
}

div.CRunTests_title_area
{
	background-image	: url('bg-tablet-tests-logo.png');
}


/* in Zul */

div.CRunTestDiv
{
	position					: absolute;
	left							: 10px;
	top								: 10px;
	width							: 960px;
}

span.CRunTestTitle
{
	color							: blue !important;
	font-size					: 14pt !important;
}

div.CRunTestInstruction
{
	position					: relative;
	left							: 0px;
	width							: 925px;
}

span.CRunTestInstruction
{
	margin						: 0px;
	font-size					: 11pt !important;
}

div.CRunTestsLinkDiv
{
	padding-top				: 10px;
	padding-bottom		: 10px;
}

span.CRunTestLink,
span.CRunTestsLink
{
	color							: blue !important;
	font-family				: MyriadPro !important;
	font-size					: 10pt !important;
	font-weight				: normal !important;
	text-decoration		: underline;
	cursor						: pointer;
}

span.CRunTestTitle
{
	color							: blue !important;
	font-size					: 12pt !important;
}

span.CRunTestFixed
{
	font-size					: 11pt !important;
}

.CRunTestOverwrite,
.CRunTestOverwriteWrong,
.CRunTestOverwriteRight
{
	position					: relative;
	left							: 0px;
	width							: 925px;
	font-family				: MyriadPro !important;
	font-size					: 11pt !important;
}

.CRunTestOverwriteWrong
{
	border						: 3px solid #990000;
}

.CRunTestOverwriteRight
{
	border						: 3px solid #77FFCC;
}

div.CRunTestsReadyBtn
{
	position					: absolute;
	left							: 730px;
	top								: 500px;
}

div.CRunTestsReadyTitleDiv
{
	position					: absolute;
	left							: 755px;
	top								: 80px;
	width							: 200px;
}

span.CRunTestsReadyTitleHtml
{
	font-size					: 12pt !important;
	color							: #E5F7FF !important;
}

div.CRunTestsReadyBtnDiv
{
	position					: absolute;
	left							: 955px;
	top								: 43px;
}
