div.CRunBreadcrumbsArea
{
	position					: absolute;
	top								: 6px;
	left							: 6px;
	height						: 29px;
	overflow					: hidden;
	z-index						: 151;
}

td.CRunBreadcrumbsAreaLeft
{
	width							:	5px;
	background-image	:	url('pad-left.png');
}

td.CRunBreadcrumbsAreaSpacer
{
	width							:	6px;
	background-image	:	url('pad-bg.png');
	background-repeat	:	repeat-x;
	cursor						: pointer;
}

td.CRunBreadcrumbsAreaLabel
{
	background-image	:	url('pad-bg.png');
	background-repeat	:	repeat-x;
	font-size					: 14px;
	font-family				: MyriadPro;
	padding-bottom		:	4px;
	cursor						: pointer;
}

td.CRunBreadcrumbsAreaNext
{
	width							:	11px;
	background-image	:	url('pad-next.png');
}

td.CRunBreadcrumbsAreaRight
{
	width							:	8px;
	background-image	:	url('pad-right.png');
}

span.CRunBreadcrumbLabel
{
	color							: #494949;
	cursor						: pointer;
}
