/* appearance on Tablet */

button.CRunTabletAppBtn_active_memos,
button.CRunTabletAppBtn_selected_memos
{
	background-image	:	url('tablet-memos-button-active.png');
}

button.CRunTabletAppBtn_active_memos:hover
{
	background-image	:	url('tablet-memos-button-active.png');
}

button.CRunTabletAppBtn_inactive_memos
{
	background-image	:	url('tablet-memos-button-inactive.png');
}


/* in Java */

div.CRunMemos
{
	z-index						: 211;
}

div.CRunMemos_title_area
{
	background-image	: url('bg-tablet-references-logo.png');
}

.CRunMemosItemRowOdd,
.CRunMemosItemRowEven
{
	width							: 318px;
	overflow					: hidden;
}

.CRunMemosItemRowContent
{
	width							: 302px;
	margin						: 10px 5px 5px 12px;
}

.CRunMemosItemRowOdd
{
	background-color	:	#FFFFFF;
}

.CRunMemosItemRowEven
{
	background-color	:	#EEEEEE;
}

span.CRunMemosTitleLabel
{
	font-family				: MyriadPro !important;
	font-size					: 12pt !important;
	font-weight				: bold !important;
}

span.CRunMemosTitleLabelSub,
span.CRunMemosTitleLabelSubSelected
{
	font-family				: MyriadPro !important;
	font-size					: 11pt !important;
	cursor						: pointer !important;
}

span.CRunMemosTitleLabelSub
{
}

span.CRunMemosTitleLabelSubSelected
{
	color							: #BF2420 !important;
}

div.CRunMemosPlayer
{
	position					: absolute;
	left							: 406px;
	top								: 154px;
	width							: 626px;
	height						: 457px;
}

