button.CRunTabletBtn_empty,
button.CRunTabletBtn_active,
button.CRunTabletBtn_selected,
button.CRunTabletBtn_inactive
{
	position					: absolute;
	left							: 1130px;
	top								: 550px;
	width							: 53px;
	height						: 53px;
	border						: 0;
	overflow					: hidden;
	background-color	: transparent;
	color							: #115F86;
	z-index						: 151;
}

button.CRunTabletBtn_empty
{
	color							: #000000;
	cursor						: default;
	background-image	:	url('button-tablet.png');
}

button.CRunTabletBtn_active
{
	color							: #115F86;
	cursor						: pointer;
	background-image	:	url('button-tablet.png');
}

button.CRunTabletBtn_selected
{
	color							: #FFFFFF;
	cursor						: default;
	background-image	:	url('button-tablet.png');
}

button.CRunTabletBtn_inactive
{
	color							: #888888;
	cursor						: default;
	background-image	:	url('button-tablet.png');
}

button.CRunTabletBtn_active:hover
{
	background-image	:	url('button-tablet.png');
}