/* appearance on Tablet */

button.CRunTabletAppBtn_active_graphicalforms,
button.CRunTabletAppBtn_selected_graphicalforms
{
	background-image	:	url('tablet-graphicalforms-button-active.png');
}

button.CRunTabletAppBtn_active_graphicalforms:hover
{
	background-image	:	url('tablet-graphicalforms-button-active.png');
}

button.CRunTabletAppBtn_inactive_graphicalforms
{
	background-image	:	url('tablet-graphicalforms-button-inactive.png');
}


/* in Java */

div.CRunGraphicalforms
{
	z-index						: 211;
}

div.CRunGraphicalforms_title_area
{
	background-image	: url('bg-tablet-graphicalforms-logo.png');
}


/* in Zul */

div.CRunGraphicalformDiv
{
	position					: absolute;
	left							: 10px;
	top								: 10px;
	width							: 960px;
	height						:	473px;
}

span.CRunGraphicalformTitle
{
	color							: blue !important;
	font-size					: 14pt !important;
}

div.CRunGraphicalformInstruction
{
	position					: relative;
	left							: 0px;
	width							: 925px;
}

span.CRunGraphicalformInstruction
{
	margin						: 0px;
	font-size					: 11pt !important;
}

span.CRunGraphicalformLink
{
	color							: blue !important;
	font-family				: MyriadPro !important;
	font-size					: 10pt !important;
	font-weight				: normal !important;
	text-decoration		: underline;
	cursor						: pointer;
}

.CRunGraphicalformPoint,
.CRunGraphicalformPointWrong,
.CRunGraphicalformPointRight
{
}

.CRunGraphicalformPointWrong
{
	border						: 3px solid #990000;
}

.CRunGraphicalformPointRight
{
	border						: 3px solid #77FFCC;
}

div.CRunGraphicalformsReadyBtn
{
	position					: absolute;
	left							: 730px;
	top								: 500px;
}

div.CRunGraphicalformsReadyTitleDiv
{
	position					: absolute;
	left							: 755px;
	top								: 80px;
	width							: 200px;
}

span.CRunGraphicalformsReadyTitleHtml
{
	font-size					: 12pt !important;
	color							: #E5F7FF !important;
}

div.CRunGraphicalformsReadyBtnDiv
{
	position					: absolute;
	left							: 955px;
	top								: 43px;
}
