/* body */

@font-face {
	font-family				: MyriadPro;
	src								: url('MyriadPro-Regular.otf'),url('MyriadPro-Regular.eot');
}

@font-face {
	font-family				: MyriadProSemibold;
	src								: url('MyriadPro-Semibold.otf'),url('MyriadPro-Semibold.eot');
}


body
{
	margin						: 0px;
	padding						: 0px;
	background				: transparent;
	background-position	: center;
	background-color	: #31302f;
}

/* tree */

div.z-tree,
div.z-tree-body
{
	background				: transparent;
	background-color	: transparent;
	border						: 0px;
}

.z-tree-header-border {
	border-bottom			: 0px;
}

tr.z-treerow
{
	background				: white;
	background-color	: white;
	border						: 0px;
}
/* window */

.z-window,
.z-window-content
{
	background:transparent;
}

.z-window-content
{
	padding:0px;
}

/* window-embedded */

.z-window-embedded-cnt-noborder
{
	overflow					: visible;
}

/* window-modal */

div.z-window-modal,
div.z-window-modal-shadow,
div.z-window-modal-tl,
div.z-window-modal-tr,
div.z-window-modal-cl,
div.z-window-modal-cr,
div.z-window-modal-bl,
div.z-window-modal-br,
div.z-window-modal-hl,
div.z-window-modal-hr,
div.z-window-modal-hm
{
	background				: #FFFFFF;
	background-color	: #FFFFFF;
}

div.z-window-modal-header
{
	font-family				: MyriadProSemibold;
	font-size					: 12pt;
}

div.z-window-modal-cm
{
	border						: 0px;
}

div.z-window-modal-move-ghost,
div.z-window-modal-move-ghost dl
{
	background				: #FFFFFF;
	background-color	: #FFFFFF;
	border						: 0px;
}

/* textbox */

z-textbox
{
	background				: transparent;
	background-color	: transparent;
	border						: 0px;
	font-family				: MyriadPro;
	font-size					: 10pt;
}


button
{
	outline	: none;
}

/* CRunCloseBtn - general */

button.CRunCloseBtn_active
{
	cursor						: pointer;
}

button.CRunCloseBtn_inactive
{
	cursor						: default;
}

button.CRunCloseBtn_active,
button.CRunCloseBtn_inactive
{
	border						: 0;
	background-color	: transparent;
	background-image	:	url('close-tablet-active.png');
	background-repeat	: no-repeat;
	background-position	: top center;
	width							: 49px;
	height						: 49px;
}

/* CRunCloseBtn - overrule for closing Emergo */

div.CRunCloseArea button.CRunCloseBtn_active,
div.CRunCloseArea button.CRunCloseBtn_inactive
{
	background-image	: url('close-emergo-active.png');
	background-repeat	: no-repeat;
	background-position	: top right;
	height						: 18px;
	width							: 18px;
}

div.CRunCloseArea button.CRunCloseBtn_active:hover
{
	background-image	:	url('close-emergo-hover.png');
}

/* CRunCloseEmergoBtn */

button.CRunCloseEmergoBtn_active
{
	cursor						: pointer;
}

button.CRunCloseEmergoBtn_inactive
{
	cursor						: default;
}

button.CRunCloseEmergoBtn_active,
button.CRunCloseEmergoBtn_inactive
{
	border						: 0;
	background-color	: transparent;
	color							: #787878;
	font-family				: MyriadPro;
	font-size					: 9pt;
	background-image	: url('close-emergo-active.png');
	background-repeat	: no-repeat;
	background-position	: top right;
	height						: 18px;
	width							: 18px;
}

button.CRunCloseEmergoBtn_active:hover
{
	background-image	:	url('close-emergo-hover.png');
}

/* CRunButton */

button.CRunButton_component_100,
button.CRunButton_component_200
{
	margin						: 0px 10px 0px 0px;
	background-color	: #F2F2F2;
	color							: #787878;
	font-family				: MyriadPro;
	font-size					: 9pt;
	cursor						: pointer;
}

button.CRunButton_component_100
{
}

button.CRunButton_component_200
{
}

button[disabled].CRunButton_component_100,
button[disabled].CRunButton_component_200
{
	background-color	: #A2A2A2;
	color							: #787878;
	cursor						: default;
}

/* CRunBlobLabel */

span.CRunBlobLabel_active,
span.CRunBlobLabel_inactive
{
	color							: blue;
	font-family				: MyriadPro;
	font-size					: 10pt;
	font-weight				: normal;
}

span.CRunBlobLabel_active
{
	text-decoration		: underline;
	cursor						: pointer;
}

span.CRunBlobLabel_inactive
{
	cursor						: default;
}

/* CRunLocationActionLabel */

span.CRunLocationActionLabel
{
	color							: blue;
	font-family				: MyriadPro;
	font-size					: 10pt;
	font-weight				: normal;
	text-decoration		: underline;
	cursor						: pointer;
}

div.CRunContentArea
{
	position					: absolute;
	top								: 0px;
	width							: 1071px;
	height						: 602px;
	margin-left				: auto;
	margin-right			: auto;
	overflow					: hidden;
	background-color	: transparent;
}

.CRunGmapsIframe
{
 	width							: 997px;
 	height						: 460px;
 	margin						: 0px 16px 0px 16px;
	border						: 0px solid darkgray;
	vertical-align		: middle;
 	background-color	: transparent;
}

.CRunWebsiteIframe
{
 	width							: 1071px;
 	height						: 602px;
 	margin						: 0px 0px 0px 0px;
	border						: 0px solid darkgray;
	vertical-align		: middle;
 	background-color	: black;
}

div.CBufferingWnd
{
	position					: absolute;
	left							: 505px;
	top								: 320px;
	width							: 175px;
	height						: 30px;
}

div.CToolTip
{
	width							: 500px;
}

.CToolTipHover
{
	left							: 205px;
	width							: 400px;
}

.CToolTipHoverDiv
{
	margin						: 0px 16px;
	color							: black;
}

.CToolTipHoverHtml
{
	color							: black;
	font-family				: MyriadPro;
	font-size					: 10pt;
	font-weight				: normal;
}

/* NEW */

button.CRunHoverBtn_empty,
button.CRunHoverBtn_active,
button.CRunHoverBtn_selected,
button.CRunHoverBtn_inactive
{
	position					: absolute;
	border						: 0;
	text-align				: left;
	padding						: 0px 0px !important;
	overflow					: hidden;
	background-color	: transparent;
	color							: white !important;
	font-family				: MyriadPro;
	font-size					: 16px;
}

button.CRunHoverBtn_empty
{
	color							: #000000;
	cursor						: default;
}

button.CRunHoverBtn_active
{
	color							: #115F86;
	cursor						: pointer;
}

button.CRunHoverBtn_active:hover
{
	background-position	: bottom left !important;
}

button.CRunHoverBtn_selected
{
	color							: #FFFFFF;
	cursor						: default;
}

button.CRunHoverBtn_inactive
{
	color							: #888888;
	cursor						: default;
}

button.CRunHoverBtn_empty,
button.CRunHoverBtn_active,
button.CRunHoverBtn_selected,
button.CRunHoverBtn_inactive
{
	left							: 0px;
	top								: 0px;
}

div.CRunLabelButton
{
	height						: 29px;
	overflow					: hidden;
	font-family				: MyriadPro;
	font-size					: 12px;
}

td.CRunLabelButtonLeft,
td.CRunLabelButtonLeftDisabled
{
	width							:	8px;
	height						: 29px;
	background-image	:	url('pad-left-light.png');
}

td.CRunLabelButtonLabel,
td.CRunLabelButtonLabelDisabled
{
	height						: 29px;
	background-image	:	url('pad-bg-light.png');
	background-repeat	:	repeat-x;
}

td.CRunLabelButtonRight,
td.CRunLabelButtonRightDisabled
{
	width							:	8px;
	height						: 29px;
	background-image	:	url('pad-right-light.png');
}

td.CRunLabelButtonLeft,
td.CRunLabelButtonLabel,
td.CRunLabelButtonRight
{
	cursor						: pointer;
}

td.CRunLabelButtonLeftDisabled,
td.CRunLabelButtonLabelDisabled,
td.CRunLabelButtonRightDisabled
{
	cursor						: default;
}

span.CRunLabelButtonLabel
{
	font-family				: MyriadProSemibold;
	font-size					: 16px;
	color							: white;
}

span.CRunLabelButtonLabelDisabled
{
	font-family				: MyriadProSemibold;
	font-size					: 16px;
	color							: gray;
}


div.CRunLabelButtonSmall
{
	height						: 29px;
	overflow					: hidden;
}

td.CRunLabelButtonSmallLeft,
td.CRunLabelButtonSmallLeftDisabled
{
	width							:	8px;
	height						: 29px;
	background-image	:	url('pad-left-light.png');
}

td.CRunLabelButtonSmallLabel,
td.CRunLabelButtonSmallLabelDisabled
{
	background-image	:	url('pad-bg-light.png');
	height						: 29px;
	background-repeat	:	repeat-x;
}

td.CRunLabelButtonSmallRight,
td.CRunLabelButtonSmallRightDisabled
{
	width							:	8px;
	height						: 29px;
	background-image	:	url('pad-right-light.png');
}

td.CRunLabelButtonSmallLeft,
td.CRunLabelButtonSmallLabel,
td.CRunLabelButtonSmallRight
{
	cursor						: pointer;
}

td.CRunLabelButtonSmallLeftDisabled,
td.CRunLabelButtonSmallLabelDisabled,
td.CRunLabelButtonSmallRightDisabled
{
	cursor						: default;
}

span.CRunLabelButtonSmallLabel
{
	font-family				: MyriadPro;
	font-size					: 10px;
	color							: white;
}

span.CRunLabelButtonLabelSmallDisabled
{
	font-family				: MyriadPro;
	font-size					: 8px;
	color							: gray;
}
