/* appearance on Tablet */

button.CRunTabletAppBtn_active_editforms,
button.CRunTabletAppBtn_selected_editforms
{
	background-image	:	url('tablet-editforms-button-active.png');
}

button.CRunTabletAppBtn_active_editforms:hover
{
	background-image	:	url('tablet-editforms-button-active.png');
}

button.CRunTabletAppBtn_inactive_editforms
{
	background-image	:	url('tablet-editforms-button-inactive.png');
}


/* in Java */

div.CRunEditforms
{
	z-index						: 211;
}

div.CRunEditforms_title_area
{
	background-image	: url('bg-tablet-editforms-logo.png');
}


/* in Zul */

div.CRunEditformDiv
{
	position					: absolute;
	left							: 10px;
	top								: 10px;
	width							: 960px;
}

span.CRunEditformTitle
{
	color							: blue !important;
	font-size					: 14pt !important;
}

div.CRunEditformInstruction
{
	position					: relative;
	left							: 0px;
	width							: 925px;
}

span.CRunEditformInstruction
{
	margin						: 0px;
	font-size					: 11pt !important;
}

span.CRunEditformLink
{
	color							: blue !important;
	font-family				: MyriadPro !important;
	font-size					: 10pt !important;
	font-weight				: normal !important;
	text-decoration		: underline;
	cursor						: pointer;
}

div.CRunEditformSectionDiv
{
	position					: relative;
	left							: 0px;
}

span.CRunEditformSectionTitle
{
	color							: blue !important;
	font-size					: 12pt !important;
}

span.CRunEditformSectionFixed
{
	font-size					: 11pt !important;
}

.CRunEditformSectionOverwrite,
.CRunEditformSectionOverwriteWrong,
.CRunEditformSectionOverwriteRight
{
	position					: relative;
	left							: 0px;
	width							: 925px;
	font-family				: MyriadPro !important;
	font-size					: 11pt !important;
}

.CRunEditformSectionOverwriteWrong
{
	border						: 3px solid #990000;
}

.CRunEditformSectionOverwriteRight
{
	border						: 3px solid #77FFCC;
}

.CRunEditformAlt,
.CRunEditformAltWrong,
.CRunEditformAltRight,
.CRunEditformText,
.CRunEditformTextWrong,
.CRunEditformTextRight
{
	position					: relative;
	left							: 0px;
	font-family				: MyriadPro !important;
	font-size					: 11pt !important;
}

.CRunEditformAlt,
.CRunEditformText

{
	border						: 1px solid #0000CC;
}

.CRunEditformAltWrong,
.CRunEditformTextWrong
{
	border						: 3px solid #990000;
}

.CRunEditformAltRight,
.CRunEditformTextRight
{
	border						: 3px solid #77FFCC;
}

.CRunEditformAltHtmlDivleft
{
	margin						: 5px 5px 5px 5px;
}

.CRunEditformAltHtmlDivright
{
	margin						: 5px 5px 5px 5px;
}

.CRunEditformAltHtmlDivtop
{
	margin						: 0px 5px 5px 5px;
}

.CRunEditformAltHtmlDivbottom
{
	margin						: 5px 5px 0px 5px;
}

span.CRunEditformAltHtml
{
	color							: #494949;
	font-size					: 11pt !important;
}

.CRunEditformAltBox
{
	cursor						: pointer;
}

.CRunEditformAltBoxDisabled
{
	cursor						: default;
}

.CRunEditformAltCheckbox,
.CRunEditformAltCheckboxSelected,
.CRunEditformAltCheckboxDisabled,
.CRunEditformAltCheckboxDisabledSelected
{
	width							: 27px;
	height						: 26px;
	background-repeat	: no-repeat;
}

.CRunEditformAltCheckbox,
.CRunEditformAltCheckboxDisabled
{
	background-image	: url('editforms-set-alt-active.png');
}

.CRunEditformAltCheckboxSelected,
.CRunEditformAltCheckboxDisabledSelected
{
	background-image	: url('editforms-set-alt-selected.png');
}

.CRunEditformAltCheckbox,
.CRunEditformAltCheckboxSelected
{
	cursor						: pointer;
}

.CRunEditformAltCheckboxDisabled,
.CRunEditformAltCheckboxDisabledSelected
{
	cursor						: default;
}

.CRunEditformContainerDiv
{
	overflow					: auto;
	border						: 1px solid gray;
}

.CRunEditformContainerItemsBox
{
	margin						: 5px;
}


div.CRunEditformsReadyBtn
{
	position					: absolute;
	left							: 730px;
	top								: 500px;
}

div.CRunEditformsReadyTitleDiv
{
	position					: absolute;
	left							: 755px;
	top								: 80px;
	width							: 200px;
}

span.CRunEditformsReadyTitleHtml
{
	font-size					: 12pt !important;
	color							: #E5F7FF !important;
}

div.CRunEditformsReadyBtnDiv
{
	position					: absolute;
	left							: 955px;
	top								: 43px;
}
