div.CRunIspot
{
	position					: absolute;
	left							: 0px;
	top								: 0px;
	width							: 1200px;
	height						: 650px;
	halign						: left;
	valign						:	top;
	overflow					: hidden;
	z-index						: 141;
}

.CRunIspotTransparent
{
	background-color	: transparent;
}

.CRunIspotOpaque
{
	background-color	: #E4E4E4;
}

div.CRunIspot_close_area
{
	width							: 39px;
	height						: 29px;
	overflow					: hidden;
}

div.CRunIspot_content_area
{
	width							: 1200px;
	height						: 595px;
	margin						: 0px 0px 0px 0px;
	overflow					: hidden;
	background-color	:	transparent;
}

div.CRunIspot_s_content
{
	width							: 1168px;
	height						: 593px;
	border						: 0px;
	vertical-align		: middle;
	margin						: 0px 16px 0px 16px;
	overflow					: hidden;
	background-color	:	transparent;
}

div.CRunIspotMenu
{
	position					: absolute;
	left  						: 545px;
	top  							: 302px;
}

div.CRunIspotMenuButton
{
	position					: absolute;
	left  						: 10px;
	top  							: 10px;
}

.CRunIspotVignettesListbox,
.CRunIspotGivenFeedbacksListbox,
.CRunIspotInspectedFeedbacksListbox
{
	position					: absolute;
	left  						: 10px;
	top  							: 50px;
}

div.CRunIspotVignettesButton,
div.CRunIspotGivenFeedbacksButton,
div.CRunIspotInspectedFeedbacksButton
{
	position					: absolute;
	left  						: 70px;
	top  							: 10px;
}

img.CRunIspotVignetteState,
img.CRunIspotGivenFeedbackState,
img.CRunIspotInspectedFeedbackState
{
	position					: absolute;
	left							: 235px;
	top								: 12px;
}

span.CRunIspotVignetteTitle,
span.CRunIspotGivenFeedbackTitle,
span.CRunIspotInspectedFeedbackTitle,
span.CRunIspotInspectedFeedbackGiverName
{
	position					: absolute;
	left							: 260px;
	top								: 16px;
	width							: 450px;
	color							: gray;
	font-family				: MyriadPro;
	font-size					: 14px;
	letter-spacing		: 0.03em;
}

span.CRunIspotInspectedFeedbackGiverName
{
	top								: 36px;
}

.CRunIspotPreviousVignetteButton,
.CRunIspotNextVignetteButton,
.CRunIspotShowInstructionButton,
.CRunIspotShowVignetteButton,
.CRunIspotShowFeedbackButton,
.CRunIspotShowRecordingButton,
.CRunIspotStartRecordingButton,
.CRunIspotPauseRecordingButton,
.CRunIspotResumeRecordingButton,
.CRunIspotStopRecordingButton,
.CRunIspotRedoRecordingButton,
.CRunIspotSendRecordingButton
{
	position					: absolute;
}	

.CRunIspotPreviousVignetteButton
{
	top  							: 10px;
	left							: 710px;
}	

.CRunIspotNextVignetteButton
{
	top  							: 10px;
	left							: 835px;
}	

.CRunIspotShowInstructionButton
{
	top								: 574px;
	left							: 10px;
}	

.CRunIspotShowVignetteButton
{
	top								: 574px;
	left							: 150px;
}	

.CRunIspotShowFeedbackButton
{
	top								: 574px;
	left							: 290px;
}	

.CRunIspotShowRecordingButton,
.CRunIspotStartRecordingButton,
.CRunIspotStopRecordingButton
{
	top								: 574px;
	left							: 570px;
}	

.CRunIspotPauseRecordingButton,
.CRunIspotResumeRecordingButton
{
	top								: 574px;
	left							: 500px;
}	

.CRunIspotRedoRecordingButton
{
	top								: 574px;
	left							: 710px;
}	

.CRunIspotSendRecordingButton
{
	top								: 574px;
	left							: 850px;
}	


.CRunIspotPreviousGivenFeedbackButton,
.CRunIspotNextGivenFeedbackButton,
.CRunIspotPreviousInspectedFeedbackButton,
.CRunIspotNextInspectedFeedbackButton,
.CRunIspotShowReactionButton,
.CRunIspotShowCommentButton
{
	position					: absolute;
}	

.CRunIspotPreviousGivenFeedbackButton,
.CRunIspotPreviousInspectedFeedbackButton
{
	top  							: 10px;
	left							: 710px;
}	

.CRunIspotNextGivenFeedbackButton,
.CRunIspotNextInspectedFeedbackButton
{
	top  							: 10px;
	left							: 835px;
}	

.CRunIspotShowReactionButton
{
	top								: 574px;
	left							: 430px;
}	

.CRunIspotShowCommentButton
{
	top								: 574px;
	left							: 570px;
}	

div.CRunIspotNumberOfRemainingResitsDiv
{
	position					: absolute;
	left							: 715px;
	top								: 558px;
	margin						: 0px 0px 10px 0px;
	overflow					: auto;
	color							: blue;
}

span.CRunIspotNumberOfRemainingResitsLabel
{
	font-family				: MyriadProSemibold;
	font-size					: 14px;
}


div.CRunIspotViewersDiv
{
}

div.CRunIspotTextDiv,
div.CRunIspotPlayerDiv,
div.CRunIspotWebcamDiv
{
	position					: absolute;
	left							: 150px;
	margin						: 0px 0px 10px 0px;
	color							: #444444;
	font-family				: MyriadPro;
	font-size					: 18px;
	letter-spacing		: 1px;
}

div.CRunIspotTextDiv
{
	top								: 80px;
	width							: 650px;
	height						: 467px;
	overflow					: auto;
}

div.CRunIspotPlayerDiv
{
	top								: 65px;
	width							: 830px;
	height						: 497px;
	overflow					: hidden;
}

div.CRunIspotWebcamDiv
{
	top								: 65px;
	width							: 830px;
	height						: 497px;
	overflow					: visible;
}

div.CRunIspotWebcamInstructionDiv
{
	position					: absolute;
	left							: 10px;
	top								: 80px;
	width							: 300px;
	height						: 467px;
	margin						: 0px 0px 10px 0px;
	overflow					: auto;
	background-color	: #E4E4E4;
	color							: blue;
	font-family				: MyriadPro;
	font-size					: 17px;
	letter-spacing		: 0.02em;
}

div.CRunIspotWebcamProgressDiv
{
	position					: absolute;
	left							: 710px;
	top								: 578px;
	margin						: 0px 0px 10px 0px;
	overflow					: auto;
}

div.CRunIspotFeedbackBtnsDiv
{
	position					: absolute;
	left							: 10px;
	top								: 80px;
	width							: 180px;
	height						: 467px;
	margin						: 0px 0px 10px 0px;
	overflow					: hidden;
}


div.CRunIspotMenuCommandBtn
{
	margin						: 0px 0px 0px 0px;
	width							: 405px;
	height						: 30px;
 	cursor						: pointer;
}

span.CRunIspotMenuLabelBtnLabel
{
	color							: white;
	font-size					: 30px !important;
	font-family				: MyriadPro !important;
	letter-spacing		: 0.02em;
	line-height				: 100%;
}

span.CRunIspotMenuLabelBtnLabel:hover
{
	color							: red;
}

#ispotWebcamMessage {
	position					: absolute;
	left							: 147px;
	top								: 35px;
	width							: 700px;
	height						: 30px;
	color							: blue;
	font-size					: 21px !important;
	font-family				: MyriadProSemibold !important;
	letter-spacing		: 0.02em !important;
}
