/* appearance on Tablet */

button.CRunTabletAppBtn_active_videomanual,
button.CRunTabletAppBtn_selected_videomanual
{
	background-image	:	url('tablet-videomanual-button-active.png');
}

button.CRunTabletAppBtn_active_videomanual:hover
{
	background-image	:	url('tablet-videomanual-button-active.png');
}

button.CRunTabletAppBtn_inactive_videomanual
{
	background-image	:	url('tablet-videomanual-button-inactive.png');
}


/* in Java */

div.CRunVideomanual
{
	z-index						: 211;
}

div.CRunVideomanual_title_area
{
	background-image	: url('bg-tablet-videomanual-logo.png');
}

div.CRunVideomanual_s_content span
{
	color							: #494949;
	font-size					: 11pt;
	font-family				: MyriadPro;
}


/* in Zul */

.CRunVideomanualItemRowOdd,
.CRunVideomanualItemRowEven
{
	width							: 245px;
	overflow					: hidden;
}

.CRunVideomanualItemRowContent
{
	width							: 228px;
	margin						: 10px 5px 5px 12px;
}

.CRunVideomanualItemRowOdd
{
	background-color	:	#FFFFFF;
}

.CRunVideomanualItemRowEven
{
	background-color	:	#EEEEEE;
}

span.CRunVideomanualTitleLabel,
span.CRunVideomanualTitleLabelSelected
{
	cursor						: pointer;
}

span.CRunVideomanualTitleLabel
{
}

span.CRunVideomanualTitleLabelSelected
{
	color							: #BF2420 !important;
}

div.CRunVideomanualPlayer
{
	position					: absolute;
	left							: 332px;
	top								: 154px;
	width							: 700px;
	height						: 457px;
}

