div.CRunNote
{
	position					: absolute;
	left							: 666px;
	top								: 496px;
	width							: 525px;
	height						: 150px;
	halign						: left;
	valign						:	top;
	overflow					: hidden;
	background-color	: transparent;
	background-image	:	url('bg-note.png');
	z-index						: 401;
}

div.CRunNote_title_area_left
{
	width							: 380px;
	margin-left				: 75px;
	margin-top				: 19px;
}

div.CRunNote_title_area_right
{
	width							: 18px;
	margin						: 8px 0px 0px 0px;
}

span.CRunNote_title_area_label
{
	color							: #494949;
	font-size					: 12pt;
	font-family				: MyriadProSemibold;
	font-weight				: bold;
}

/*
button.CRunNote_close_btn_active.CRunCloseBtn_active,
button.CRunNote_close_btn_active.CRunCloseBtn_active:hover
{
	background-repeat	: no-repeat;
	padding						: 2px 9px;
	height						: 18px;
}
*/

button.CRunNote_close_btn_active.CRunCloseBtn_active
{
	margin-left				: 5px;
	margin-top				: 10px;
	width							: 56px;
	height						: 21px;
	/*overwrite default image*/
	background-image	:	url('');
}

button.CRunNote_close_btn_active.CRunCloseBtn_active:hover
{
	margin-left				: 5px;
	margin-top				: 10px;
	width							: 56px;
	height						: 21px;
	/*overwrite default image*/
	background-image	:	url('');
}

div.CRunNote_text_area
{
	margin-left				: 22px;
	margin-top				: 0px;
	width							: 200px;
	background-color	: transparent;
}

textarea.CRunNote_text_area_div
{
	overflow					: auto;
	font-family				: MyriadPro;
	font-size					: 11pt;
	background-color	: transparent;
	color							: #494949;
}
