div.CRunWndSurrounding
{
	position					: absolute;
	left							: 25px;
	top								: 30px;
	overflow					: visible;
}

div.CRunWnd
{
	position					: absolute;
	left							: 0px;
	top								: 30px;
	width							: 1200px;
	height						: 650px;
	overflow					: visible;
	background-color	: #31302f;
}

div.CRunWndLeftTop
{
	position					: absolute;
	left							: 0px;
	top								: 0px;
	width							: 10px;
	height						: 10px;
	background				: transparent;
	background-image	:	url('border-inside-lefttop.png');
	z-index						: 1000;
}

div.CRunWndRightTop
{
	position					: absolute;
	left							: 1190px;
	top								: 0px;
	width							: 10px;
	height						: 10px;
	background				: transparent;
	background-image	:	url('border-inside-righttop.png');
	z-index						: 1000;
}

div.CRunWndLeftBottom
{
	position					: absolute;
	left							: 0px;
	top								: 640px;
	width							: 10px;
	height						: 10px;
	background				: transparent;
	background-image	:	url('border-inside-leftbottom.png');
	z-index						: 1000;
}

div.CRunWndRightBottom
{
	position					: absolute;
	left							: 1190px;
	top								: 640px;
	width							: 10px;
	height						: 10px;
	background				: transparent;
	background-image	:	url('border-inside-rightbottom.png');
	z-index						: 1000;
}

div.CRunWndLogo
{
	position					: absolute;
	left							: 10px;
	top								: -30px;
	width							: 0px;
	height						: 27px;
	background				: transparent;
	background-image	:	url('logo-openuniversiteit.png');
	z-index						: 111;
}

div.CRunWndBorderTop
{
	position					: absolute;
	left							: 0px;
	top								: -8px;
	width							: 1200px;
	height						: 8px;
	background				: transparent;
	background-image	:	url('border-top.png');
	z-index						: 111;
}

div.CRunWndBorderLeft
{
	position					: absolute;
	left							: -8px;
	top								: 0px;
	width							: 8px;
	height						: 650px;
	background				: transparent;
	background-image	:	url('border-left.png');
	z-index						: 111;
}

div.CRunWndBorderRight
{
	position					: absolute;
	left							: 1200px;
	top								: 0px;
	width							: 8px;
	height						: 650px;
	background				: transparent;
	background-image	:	url('border-right.png');
	z-index						: 111;
}

div.CRunWndBorderBottom
{
	position					: absolute;
	left							: 0px;
	top								: 650px;
	width							: 1200px;
	height						: 8px;
	background				: transparent;
	background-image	:	url('border-bottom.png');
	z-index						: 111;
}

div.CRunWndExitLocation
{
	position					: absolute;
	left							: 7px;
	top								: 38px;
	width							: 37px;
	height						: 37px;
	background				: transparent;
	background-image	:	url('button-exit-location.png');
	cursor						: pointer;
	z-index						: 151;
}

div.CRunWnd_app > div:first-child
{
	position					: absolute;
	left							: 63px;
	top								: 36px;
	width							: 1071px;
	height						: 602px;
	overflow					: hidden;

	margin-left				: auto;
	vertical-align		: top;

	background-color	: transparent;
	background-position	: 36px 36px;
	background-repeat	: no-repeat;
	z-index						: 301;
}

div.CRunWnd_app
{
	position					: absolute;
	overflow					: hidden;
	left							: 0px;
	top								: 0px;
	width							: 1200px;
	height						: 650px;
	margin-left				: auto;
	vertical-align		: top;

	background-color	: transparent;
	background-image	: url('bg-application.png');
	background-position	: 0px 0px;
	background-repeat	: no-repeat;
	z-index						: 301;
}

div.CRunWnd_app span
{
	margin						: 10px;
	font-family				: MyriadProSemibold;
	font-size					: 18pt;
	font-weight				: normal;
}

