div.CRunConversations,
div.CRunConversationsOnTop
{
	position					: absolute;
	left							: 0px;
	top								: 0px;
	halign						: left;
	valign						:	top;
	background-color	: transparent;
}

div.CRunConversations
{
	width							: 1200px;
	height						: 650px;
	overflow					: hidden;
	z-index						: 121;
}

div.CRunConversationsOnTop
{
	overflow					: visible;
	z-index						: 221;
}

.CRunConversations .z-iframe
{
	background-color	: transparent !important;
}

/* height has to be set to 0, and no width, so background objects are still clickable. */
div.CRunText
{
	position					: relative;
	height						:	0px;
	overflow					: visible;
	background-color	: transparent;
}

.CRunText_content
{
	color							: white;
	font-family       : MyriadProSemibold;
	font-size         : 14pt;
	font-style				: italic;
}

div.CRunText_close
{
	position					: absolute;
	width							: 32px;
	height						: 32px;
	background-image	:	url('close_active.png');
	cursor						: pointer;
}

div.CRunText_replay
{
	position					: absolute;
	width							: 25px;
	height						: 25px;
	background-image	:	url('icon_replay.png');
	cursor						: pointer;
}

div.CRunDescription
{
	position          : relative;
	overflow          : auto;
}

div.CRunDescriptionText
{
	margin						: 10px;
	background-color  : black;
}

span.CRunDescription_title,
.CRunDescription_content
{
	color							: white;
	font-family				: MyriadProSemibold;
	font-size					: 10pt;
}


.CRunConversationsEditfield
{
	position					: relative;
	left							: 0px;
	top								: 0px;
	width							: 500px;
	background-color	: #BBBBFF;
	font-family				: MyriadPro !important;
	font-size					: 11pt !important;
}

div.CRunConversationEditfieldReadyBtn
{
	position					: relative;
	left							: 120px;
	top								: 10px;
}
