/* appearance on Tablet */

button.CRunTabletAppBtn_active_googlemaps,
button.CRunTabletAppBtn_selected_googlemaps
{
	background-image	:	url('tablet-googlemaps-button-active.png');
}

button.CRunTabletAppBtn_active_googlemaps:hover
{
	background-image	:	url('tablet-googlemaps-button-active.png');
}

button.CRunTabletAppBtn_inactive_googlemaps
{
	background-image	:	url('tablet-googlemaps-button-inactive.png');
}


/* in Java */

div.CRunGooglemaps
{
	z-index						: 211;
}

div.CRunGooglemaps_title_area
{
	background-image	: url('bg-tablet-googlemaps-logo.png');
}


/* in Zul */
