div.CRunParallax
{
	position					: absolute;
	top								: 0px;
	width							: 1200px;
	height						: 650px;
	overflow					: hidden;
	background-color	: transparent;
	cursor						: move;
	z-index						: 101;
}


#content {
	MARGIN: 0px 0px 0px 0px; WIDTH: 60em
}

DIV#content {
	WIDTH: 100%; HEIGHT: 744px
}

DIV#parallax {
	MARGIN: 0px; OVERFLOW: hidden; WIDTH: 100%; POSITION: absolute; HEIGHT: 100%
}

DIV#parallax DIV {
	TOP: 0px; HEIGHT: 744px; POSITION: absolute
}

DIV#parallax DIV.runLocationBackground A {
	DISPLAY: block; OVERFLOW: hidden; CURSOR: pointer; POSITION: absolute; WIDTH: 2340px
}

.layers
	{float:left; position:absolute; background:transparent; height:650px; width:1200px !important; z-index:501;}

.runLocationBackground
	{
		z-index:101;
	}
.layer1
	{
		z-index:102;
/* 		top:372px !important; */
	}
.layer2
	{
		z-index:103;
/* 		top:374px !important; */
	}
.layer3
	{
		z-index:104;
/* 		top:374px !important; */
	}
.layer4
	{
		z-index:105;
/* 		top:374px !important; */
	}
.layer5
	{
		z-index:106;
/* 		top:374px !important; */
	}
.layer6
	{
		z-index:107;
/* 		top:374px !important; */
	}
.layer7
	{
		z-index:108;
/* 		top:374px !important; */
	}

.runLocationForeground
	{z-index:109;}
