div.CRunDashboard
{
	position					: absolute;
	left							: 39px;
	top								: 26px;
	width							: 1117px;
	height						: 624px;
	overflow					: visible;
	background-color	: transparent;
	background-image	:	url('bg-dashboard.png');
	z-index						: 201;
}

div.CRunDashboard_close_area
{
	position					: absolute;
	left							: 1078px;
	top								: -8px;
	overflow					: auto;
}

button.CRunDashboardCloseBtn_active,
button.CRunDashboardCloseBtn_inactive
{
	border						: 0;
	background-color	: transparent;
	background-image	:	url('close-dashboard-active.png');
	background-repeat	: no-repeat;
	background-position	: top center;
	width							: 49px;
	height						: 49px;
}

button.CRunDashboardCloseBtn_active
{
	cursor						: pointer;
}

button.CRunDashboardCloseBtn_inactive
{
	cursor						: default;
}

div.CRunDashboard_content_area
{
	overflow					: auto;
}

div.CRunDashboard_s_content
{
	position					: absolute;
	left							: 60px;
	top								: 40px;
	width							: 900px;
	height						: 580px;
	overflow					: auto;
}