button.CRunMemoBtn_empty,
button.CRunMemoBtn_active,
button.CRunMemoBtn_selected,
button.CRunMemoBtn_inactive
{
	position					: absolute;
	left							: 1130px;
	top								: 350px;
	width							: 56px;
	height						: 64px;
	border						: 0;
	overflow					: hidden;
	background-color	: transparent;
	color							: #115F86;
	font-family				: MyriadPro;
	font-size					: 9pt;
	font-weight				: bold;
	z-index						: 251;
}

button.CRunMemoBtn_empty
{
	color							: #000000;
	cursor						: default;
}

button.CRunMemoBtn_active
{
	color							: #115F86;
	cursor						: pointer;
	background-image	:	url('button-memo-normal.png');
}

button.CRunMemoBtn_active:hover
{
	color							: #115F86;
	cursor						: pointer;
	background-image	:	url('button-memo-hover.png');
}

button.CRunMemoBtn_selected
{
	color							: #FFFFFF;
	cursor						: pointer;
	background-image	:	url('button-memo-record-normal.png');
}

button.CRunMemoBtn_selected:hover
{
	color							: #FFFFFF;
	cursor						: pointer;
	background-image	:	url('button-memo-record-hover.png');
}

button.CRunMemoBtn_inactive
{
	color							: #888888;
	cursor						: default;
	background-image	:	url('button-memo-normal.png');
}
