div.CRunTitleArea
{
	position					: absolute;
	left							: 10px;
	top								: 10px;
	width							: 1200px;
	height						: 29px;
	overflow					: hidden;
	margin						: 0px 0px 0px 0px;
	background-color	: transparent;
	color							: #B5B5B5;
	font-family				:	MyriadPro;
	font-size					:	9pt;
	font-weight				:	bold;
	z-index						: 151;
}

div.CRunTitleArea_left
{
	width							: 964px;
}

div.CRunTitleArea_right
{
	width							: 18px;
}

span.CRunTitleArea_label
{
	margin						: 0px 20px;
	font-family				:	MyriadPro;
	font-size					:	9pt;
	font-weight				:	bold;
}

button.CRunPausePlayBtn_active,
button.CRunPausePlayBtn_inactive
{
	margin						: 0px 16px 0px 0px;
	border						: 0;
	background-color	: transparent;
}

button.CRunPausePlayBtn_active
{
	cursor						: pointer;
}

button.CRunPausePlayBtn_inactive
{
	cursor						: default;
}
