/* appearance on Tablet */

button.CRunTabletAppBtn_active_mail,
button.CRunTabletAppBtn_selected_mail
{
	background-image	:	url('tablet-mail-button-active.png');
}

button.CRunTabletAppBtn_active_mail:hover
{
	background-image	:	url('tablet-mail-button-active.png');
}

button.CRunTabletAppBtn_inactive_mail
{
	background-image	:	url('tablet-mail-button-inactive.png');
}


/* in Java */

div.CRunMail
{
	z-index						: 211;
}

div.CRunMail_title_area
{
	background-image	: url('bg-tablet-mail-logo.png');
}

div.CRunShowMail,
div.CRunNewMail
{
	width							: 1024px;
	height						: 600px;
	halign						: left;
	valign						:	top;
	background-color	: #FFFFFF;
	color							: #494949;
	font-size					: 11pt;
	font-weight				: bold;
	font-family				: MyriadPro;

}

.CRunNewMail .z-listbox
{
	width							: 824px;
}

div.CRunShowMail_vbox
{
	margin						: 0px 10px;
}

div.CRunShowMail_div
{
	width							: 950px;
	height						: 400px;
	margin						: 0px 0px 10px 0px;
	overflow					: auto;
	color							: #494949;
	font-weight				:	normal;
	font-size					: 10pt;
	font-family				: MyriadPro;
}

div.CRunShowMail_okdiv
{
	width							: 950px;
}

td.CRunMailHeader
{
	color							: #494949;
}

table.CRunMailHeader span
{
	font-weight				: normal;
	font-size					: 11pt;
	font-family				: MyriadProSemibold;
}

td.CRunMailAttachments
{
	color							: #2E5282;
}

button.CRunNewMailAttachment_delete_button_empty,
button.CRunNewMailAttachment_delete_button_active,
button.CRunNewMailAttachment_delete_button_selected,
button.CRunNewMailAttachment_delete_button_inactive
{
	border						: 0;
	overflow					: hidden;
	background-color	: transparent;
	padding						: 0px 0px !important;
}

button.CRunNewMailAttachment_delete_button_empty,
button.CRunNewMailAttachment_delete_button_selected,
button.CRunNewMailAttachment_delete_button_inactive
{
	cursor						: default;
}

button.CRunNewMailAttachment_delete_button_active
{
	cursor						: pointer;
}

button.CRunNewMailAttachment_delete_button_active:hover
{
	background-position	: bottom left !important;
}

div.CRunMail_text
{
	width							: 898px;
	height						: 114px;
	margin						: 0px 0px 0px 0px;
	vertical-align		:	middle;
	background-color	:	#404040;
	border						: 1px solid darkgray;
}

div.CRunNewMail_mail
{
	margin						: 0px 0px 24px 16px;
	vertical-align		:	middle;
	background-color	:	white;
	color							: #494949;
	font-size					: 11pt;
	font-weight				: bold;
	font-family				: MyriadPro;
}

.CRunNewMail_mail_text
{
	width							: 824px;
	background-color	:	white;
	color							: #494949;
	font-size					: 11pt;
	font-weight				: normal;
	font-family				: MyriadPro;
}

.CRunMailSubjectContactsListbox_listheader
{
	background-color	:	#EEEEEE;
	color							: #494949;
	font-size					: 11pt;
	font-weight				: normal;
	font-family				: MyriadProSemibold;
}

.CRunMailSubjectContactsListbox_listcell_label
{
	color							: #494949;
	font-size					: 11pt;
	font-weight				: normal;
	font-family				: MyriadPro;
	cursor						: pointer;
}

div.CRunNewMailAttachment_area
{
	width							: 804px;
}

div.CRunMail_buttons_area
{
	position					: absolute;
	left							: 800px;
	top								: 578px;
	width							: 200px;
	margin						: 7px 36px 20px 20px;
	padding						:	5px;
	background-color	:	transparent;
	filter						: alpha(opacity=100);
	-moz-opacity			: 1.0;
	opacity						: 1.0;
	float							: right;
}

div.CRunNewMail_buttons_area
{
	position					: absolute;
	left							: 780px;
	top								: 620px;
	margin						: 0px 0px 0px 0px;
	padding						:	0px;
	background-color	:	transparent;
	filter						: alpha(opacity=100);
	-moz-opacity			: 1.0;
	opacity						: 1.0;
	float							: right;
}
