/* appearance on Tablet */

button.CRunTabletAppBtn_active_selectionforms,
button.CRunTabletAppBtn_selected_selectionforms
{
	background-image	:	url('tablet-selectionforms-button-active.png');
}

button.CRunTabletAppBtn_active_selectionforms:hover
{
	background-image	:	url('tablet-selectionforms-button-active.png');
}

button.CRunTabletAppBtn_inactive_selectionforms
{
	background-image	:	url('tablet-selectionforms-button-inactive.png');
}


/* in Java */

div.CRunSelectionforms
{
	z-index						: 211;
}

div.CRunSelectionforms_title_area
{
	background-image	: url('bg-tablet-selectionforms-logo.png');
}


/* in Zul */

div.CRunSelectionformDiv
{
	position					: absolute;
	left							: 10px;
	top								: 10px;
	width							: 960px;
}

span.CRunSelectionformTitle
{
	color							: blue !important;
	font-size					: 14pt !important;
}

div.CRunSelectionformInstruction
{
	position					: relative;
	left							: 0px;
	width							: 925px;
}

span.CRunSelectionformInstruction
{
	margin						: 0px;
	font-size					: 11pt !important;
}

span.CRunSelectionformLink
{
	color							: blue !important;
	font-family				: MyriadPro !important;
	font-size					: 10pt !important;
	font-weight				: normal !important;
	text-decoration		: underline;
	cursor						: pointer;
}

div.CRunSelectionformContainerDiv
{
	position					: relative;
	left							: 0px;
}

div.CRunSelectionformContainerItemsDiv
{
	overflow					: auto;
	border						: 1px solid gray;
}

.CRunSelectionformContainerItemsBox
{
	margin						: 10px;
}

div.CRunSelectionformContainerTitleDiv
{
	position					: absolute;
	left							: 0px;
}

div.CRunSelectionformContainerNumberOfSelectedDiv
{
	text-align				: right;
}

span.CRunSelectionformContainerTitle,
span.CRunSelectionformContainerTitleHighlight,
span.CRunSelectionformContainerTitleHighlightRight
{
	margin						:	0px;
	font-size					: 12pt !important;
	color							: blue !important;
}

span.CRunSelectionformContainerTitleHighlight,
span.CRunSelectionformContainerTitleHighlightRight
{
	font-size					: 14pt !important;
	color							: #990000 !important;
}

span.CRunSelectionformContainerTitleHighlight
{
	color							: #990000 !important;
}

span.CRunSelectionformContainerTitleHighlightRight
{
	color							: #77FFCC !important;
}

.CRunSelectionformContainerItemBox
{
	width							: 100%;
}

.CRunSelectionformContainerItemBoxSelectable,
.CRunSelectionformContainerItemBoxSelectableWrong,
.CRunSelectionformContainerItemBoxSelectableRight
{
	width							: 100%;
	margin						: 0px 0px 2px 0px;
	background-color	: white;
	cursor						:	pointer;
}

.CRunSelectionformContainerItemBoxSelectableRight
{
	cursor						:	default;
}

.CRunSelectionformContainerItemBoxSelectable
{
}

.CRunSelectionformContainerItemBoxSelected
{
	border						: 1px solid #0000CC;
}

.CRunSelectionformContainerItemBoxSelectableWrong
{
}

.CRunSelectionformContainerItemBoxSelectableRight
{
	border						: 3px solid #77FFCC;
}

span.CRunSelectionformContainerItem,
span.CRunSelectionformContainerItemSelectable
{
	margin						:	0px;
	font-size					: 12pt !important;
}

span.CRunSelectionformContainerItem
{
	color							: black !important;
}

span.CRunSelectionformContainerItemSelectable,
span.CRunSelectionformContainerItemSelectableWrong,
span.CRunSelectionformContainerItemWrong
{
	cursor						:	pointer;
}

span.CRunSelectionformContainerItem,
span.CRunSelectionformContainerItemSelectableRight,
span.CRunSelectionformContainerItemRight
{
	cursor						:	default;
}

span.CRunSelectionformContainerItemSelectable
{
}

span.CRunSelectionformContainerItemSelected
{
	border						: 1px solid #0000CC;
}

span.CRunSelectionformContainerItemSelectableWrong,
span.CRunSelectionformContainerItemWrong
{
}

span.CRunSelectionformContainerItemSelectableRight,
span.CRunSelectionformContainerItemRight
{
	border						: 3px solid #77FFCC;
}

span.CRunSelectionformContainerItemDocument
{
	font-size					: 12pt !important;
	color							: blue !important;
	cursor						:	pointer;
}

div.CRunSelectionformsDocumentViewerDiv
{
	position					: absolute;
	left							: 0px;
	top								: 25px;
	width							: 472px;
	height						: 420px;
	background-color	: white;
	border						: 1px solid gray;
}

.CRunSelectionformsDocumentViewerContainer
{
	position					: relative;
	left							: 10px;
	top								: 10px;
}

.CRunSelectionformsDocumentViewerItem
{
	width							: 450px;
	height						: 380px;
}

.CRunSelectionformsCloseBtn
{
	position					: absolute;
	left							: 445px;
	top								: -10px;
}

div.CRunSelectionformsReadyBtn
{
	position					: absolute;
	left							: 730px;
	top								: 500px;
}

div.CRunSelectionformsReadyTitleDiv
{
	position					: absolute;
	left							: 755px;
	top								: 80px;
	width							: 200px;
}

span.CRunSelectionformsReadyTitleHtml
{
	font-size					: 12pt !important;
	color							: #E5F7FF !important;
}

div.CRunSelectionformsReadyBtnDiv
{
	position					: absolute;
	left							: 955px;
	top								: 43px;
}
