div.CRunNotifications
{
	position					: absolute;
	z-index						: 401;
}

div.CRunNotifications td
{
	background-clip		: unset !important;
}

div.CRunNotifications_s_content
{
	position					: absolute;
	left							:	0px;
	top								:	0px;
	margin						: 0px 0px 0px 0px;
	overflow					: visible;
	background-color	:	transparent;
}

div.CRunNotifications_s_content span
{
	color							: #000000;
	font-size					: 11pt;
	font-family				: MyriadPro;
}

td.CRunNotificationsLeftTop,
td.CRunNotificationsRightTop,
td.CRunNotificationsLeftBottom,
td.CRunNotificationsRightBottom,
td.CRunNotificationsLeftTopTransparent,
td.CRunNotificationsRightTopTransparent,
td.CRunNotificationsLeftBottomTransparent,
td.CRunNotificationsRightBottomTransparent
{
	background-repeat	:	no-repeat;
}

td.CRunNotificationsLeftTop
{
	background-image	:	url('notifications-pad-left-top.png');
}

td.CRunNotificationsRightTop
{
	background-image	:	url('notifications-pad-right-top.png');
}

td.CRunNotificationsLeftBottom
{
	background-image	:	url('notifications-pad-left-bottom.png');
}

td.CRunNotificationsRightBottom
{
	background-image	:	url('notifications-pad-right-bottom.png');
}

td.CRunNotificationsLeftTopTransparent,
td.CRunNotificationsRightTopTransparent,
td.CRunNotificationsLeftBottomTransparent,
td.CRunNotificationsRightBottomTransparent
{
	background-image	:	url('notifications-pad-transparent.png');
}

td.CRunNotificationsFill,
td.CRunNotificationsFillHorizontal,
td.CRunNotificationsFillVertical
{
	width							:	6px;
	height						:	6px;
	background-image	:	url('notifications-pad-background.png');
}

td.CRunNotificationsFillTransparent,
td.CRunNotificationsFillHorizontalTransparent,
td.CRunNotificationsFillVerticalTransparent
{
	width							:	6px;
	height						:	6px;
	background-image	:	url('notifications-pad-transparent.png');
}

td.CRunNotificationsFill,
td.CRunNotificationsFillTransparent
{
	background-repeat	:	repeat;
}

td.CRunNotificationsFillHorizontal,
td.CRunNotificationsFillHorizontalTransparent
{
	background-repeat	:	repeat-x;
}

td.CRunNotificationsFillVertical,
td.CRunNotificationsFillVerticalTransparent
{
	background-repeat	:	repeat-y;
}

div.CRunNotificationsLeftTop,
div.CRunNotificationsRightTop,
div.CRunNotificationsLeftBottom,
div.CRunNotificationsRightBottom,
div.CRunNotificationsLeftTopTransparent,
div.CRunNotificationsRightTopTransparent,
div.CRunNotificationsLeftBottomTransparent,
div.CRunNotificationsRightBottomTransparent
{
	width							:	6px;
	height						:	6px;
}

img.CRunNotificationsCloseButton
{
	position					: absolute;
	top								: 6px;
	right							: 6px;
	width							:	52px;
	height						:	18px;
	background-image	:	url('notifications-close.png');
}

div.CRunNotificationsCloseArea
{
	height						:	24px;
}

div.CRunNotificationsDiv
{
	overflow					: auto;
}

.CRunNotificationsItemRowOdd
{
	background-color	:	transparent;
}

.CRunNotificationsItemRowEven
{
	background-color	:	#DDDDDD;
}
