button.CRunTabletAppBtn_empty_videomanual,
button.CRunTabletAppBtn_active_videomanual,
button.CRunTabletAppBtn_selected_videomanual,
button.CRunTabletAppBtn_inactive_videomanual,
button.CRunTabletAppBtn_empty_tasks,
button.CRunTabletAppBtn_active_tasks,
button.CRunTabletAppBtn_selected_tasks,
button.CRunTabletAppBtn_inactive_tasks,
button.CRunTabletAppBtn_empty_mail,
button.CRunTabletAppBtn_active_mail,
button.CRunTabletAppBtn_selected_mail,
button.CRunTabletAppBtn_inactive_mail,
button.CRunTabletAppBtn_empty_logbook,
button.CRunTabletAppBtn_active_logbook,
button.CRunTabletAppBtn_selected_logbook,
button.CRunTabletAppBtn_inactive_logbook,
button.CRunTabletAppBtn_empty_memos,
button.CRunTabletAppBtn_active_memos,
button.CRunTabletAppBtn_selected_memos,
button.CRunTabletAppBtn_inactive_memos,
button.CRunTabletAppBtn_empty_googlemaps,
button.CRunTabletAppBtn_active_googlemaps,
button.CRunTabletAppBtn_selected_googlemaps,
button.CRunTabletAppBtn_inactive_googlemaps,
button.CRunTabletAppBtn_empty_directing,
button.CRunTabletAppBtn_active_directing,
button.CRunTabletAppBtn_selected_directing,
button.CRunTabletAppBtn_inactive_directing,
button.CRunTabletAppBtn_empty_references,
button.CRunTabletAppBtn_active_references,
button.CRunTabletAppBtn_selected_references,
button.CRunTabletAppBtn_inactive_references,
button.CRunTabletAppBtn_empty_assessments,
button.CRunTabletAppBtn_active_assessments,
button.CRunTabletAppBtn_selected_assessments,
button.CRunTabletAppBtn_inactive_assessments,
button.CRunTabletAppBtn_empty_editforms,
button.CRunTabletAppBtn_active_editforms,
button.CRunTabletAppBtn_selected_editforms,
button.CRunTabletAppBtn_inactive_editforms,
button.CRunTabletAppBtn_empty_dragdropforms,
button.CRunTabletAppBtn_active_dragdropforms,
button.CRunTabletAppBtn_selected_dragdropforms,
button.CRunTabletAppBtn_inactive_dragdropforms,
button.CRunTabletAppBtn_empty_selectionforms,
button.CRunTabletAppBtn_active_selectionforms,
button.CRunTabletAppBtn_selected_selectionforms,
button.CRunTabletAppBtn_inactive_selectionforms,
button.CRunTabletAppBtn_empty_videosceneselector,
button.CRunTabletAppBtn_active_videosceneselector,
button.CRunTabletAppBtn_selected_videosceneselector,
button.CRunTabletAppBtn_inactive_videosceneselector,
button.CRunTabletAppBtn_empty_tests,
button.CRunTabletAppBtn_active_tests,
button.CRunTabletAppBtn_selected_tests,
button.CRunTabletAppBtn_inactive_tests,
button.CRunTabletAppBtn_empty_graphicalforms,
button.CRunTabletAppBtn_active_graphicalforms,
button.CRunTabletAppBtn_selected_graphicalforms,
button.CRunTabletAppBtn_inactive_graphicalforms
{
	background-repeat	:	no-repeat;
	background-position	: top center;
}

div.CRunVideomanual_title_area,
div.CRunTasks_title_area,
div.CRunMail_title_area,
div.CRunLogbook_title_area,
div.CRunMemos_title_area,
div.CRunGooglemaps_title_area,
div.CRunDirecting_title_area,
div.CRunReferences_title_area,
div.CRunAssessments_title_area,
div.CRunEditforms_title_area,
div.CRunDragdropforms_title_area,
div.CRunSelectionforms_title_area,
div.CRunVideosceneselector_title_area,
div.CRunTests_title_area,
div.CRunGraphicalforms_title_area
{
	position					: absolute;
	left							: 970px;
	top								: 50px;
	width							: 840px;
	height						: 75px;
	overflow					: visible;
	background-color	: transparent;
	background-repeat	: no-repeat;
	background-position	: top left;
	color							: #E5F7FF;
}

div.CRunVideomanual_title_area_label_div,
div.CRunTasks_title_area_label_div,
div.CRunMail_title_area_label_div,
div.CRunLogbook_title_area_label_div,
div.CRunMemos_title_area_label_div,
div.CRunGooglemaps_title_area_label_div,
div.CRunDirecting_title_area_label_div,
div.CRunReferences_title_area_label_div,
div.CRunAssessments_title_area_label_div,
div.CRunEditforms_title_area_label_div,
div.CRunDragdropforms_title_area_label_div,
div.CRunSelectionforms_title_area_label_div,
div.CRunVideosceneselector_title_area_label_div,
div.CRunTests_title_area_label_div,
div.CRunGraphicalforms_title_area_label_div
{
	position					: relative;
	left							: -770px;
	top								: 25px;
	width							: 550px;
	text-align				:	center;
}

div.CRunVideomanual_close_area,
div.CRunTasks_close_area,
div.CRunMail_close_area,
div.CRunLogbook_close_area,
div.CRunMemos_close_area,
div.CRunGooglemaps_close_area,
div.CRunDirecting_close_area,
div.CRunReferences_close_area,
div.CRunAssessments_close_area,
div.CRunEditforms_close_area,
div.CRunDragdropforms_close_area,
div.CRunSelectionforms_close_area,
div.CRunVideosceneselector_close_area,
div.CRunTests_close_area,
div.CRunGraphicalforms_close_area
{
	position					: absolute;
	left							: 75px;
	top								: 65px;
	overflow					: visible;
	width							: 48px;
	height						: 48px;
}

button.CRunTabletAppCloseBtn_active,
button.CRunTabletAppCloseBtn_inactive
{
	border						: 0;
	background-color	: transparent;
	background-image	:	url('close-tabletapp-active.png');
	background-repeat	: no-repeat;
	background-position	: top center;
	width							: 48px;
	height						: 48px;
}

button.CRunTabletAppCloseBtn_active
{
	cursor						: pointer;
}

button.CRunTabletAppCloseBtn_inactive
{
	cursor						: default;
}

button.CRunTabletAppCloseTabletBtn_active,
button.CRunTabletAppCloseTabletBtn_inactive
{
	position					: absolute;
	left							: 1003px;
	top								: -73px;
	border						: 0;
	background-color	: transparent;
	background-image	:	url('close-tablet-active.png');
	background-repeat	: no-repeat;
	background-position	: top center;
	width							: 49px;
	height						: 49px;
}

span.CRunVideomanual_home_label,
span.CRunTasks_home_label,
span.CRunMail_home_label,
span.CRunLogbook_home_label,
span.CRunMemos_home_label,
span.CRunGooglemaps_home_label,
span.CRunDirecting_home_label,
span.CRunReferences_home_label,
span.CRunAssessments_home_label,
span.CRunEditforms_home_label,
span.CRunDragdropforms_home_label,
span.CRunSelectionforms_home_label,
span.CRunVideosceneselector_home_label,
span.CRunTests_home_label,
span.CRunGraphicalforms_home_label
{
	position					: relative;
	left							: 50px;
	top								: -38px;
	color							: #E5F7FF;
}

div.CRunVideomanual_content_area,
div.CRunTasks_content_area,
div.CRunMail_content_area,
div.CRunLogbook_content_area,
div.CRunMemos_content_area,
div.CRunGooglemaps_content_area,
div.CRunDirecting_content_area,
div.CRunReferences_content_area,
div.CRunAssessments_content_area,
div.CRunEditforms_content_area,
div.CRunDragdropforms_content_area,
div.CRunSelectionforms_content_area,
div.CRunVideosceneselector_content_area,
div.CRunTests_content_area,
div.CRunGraphicalforms_content_area
{
	position					: absolute;
	left							: 75px;
	top								: 140px;
	width							: 970px;
	height						: 483px;
	overflow					: auto;
	background-color	:	white;
}

div.CRunMail_content_area
{
	height						: 443px;
}

div.CRunVideomanual_content_area span,
div.CRunTasks_content_area span,
div.CRunMail_content_area span,
div.CRunLogbook_content_area span,
div.CRunMemos_content_area span,
div.CRunGooglemaps_content_area span,
div.CRunDirecting_content_area span,
div.CRunReferences_content_area span,
div.CRunAssessments_content_area span,
div.CRunEditforms_content_area span,
div.CRunDragdropforms_content_area span,
div.CRunSelectionforms_content_area span,
div.CRunVideosceneselector_content_area span,
div.CRunTests_content_area span,
div.CRunGraphicalforms_content_area span
{
	margin						: 0px;
	font-family				: MyriadPro;
	font-size					: 11pt;
	font-weight				: normal;
	background-color	:	transparent;
}

div.CRunVideomanual_s_content,
div.CRunTasks_s_content,
div.CRunMail_s_content,
div.CRunLogbook_s_content,
div.CRunMemos_s_content,
div.CRunGooglemaps_s_content,
div.CRunDirecting_s_content,
div.CRunReferences_s_content,
div.CRunAssessments_s_content
{
	position					: relative;
	left							: 10px;
	top								: 10px;
	width							: 960px;
	height						: 473px;
	overflow					: visible;
	background-color	:	transparent;
}

div.CRunEditforms_s_content,
div.CRunDragdropforms_s_content,
div.CRunSelectionforms_s_content,
div.CRunVideosceneselector_s_content,
div.CRunTests_s_content,
div.CRunGraphicalforms_s_content
{
	position					: relative;
	left							: 0px;
	top								: 0px;
	width							: 970px;
	height						: 483px;
	overflow					: visible;
	background-color	:	transparent;
}

div.CRunMail_s_content
{
	height						: 425px;
}

div.CRunLogbook_s_content,
div.CRunVideosceneselector_s_content
{
	left							: 0px;
	top								: 0px;
	width							: 950px;
}

div.CRunMemos_s_content
{
	left							: 0px;
	top								: 0px;
	width							: 336px;
	height						: 440px;
	margin						: 0px 0px 0px 0px;
	overflow					: auto;
}

div.CRunVideomanual_s_content
{
	left							: 0px;
	top								: 0px;
	width							: 245px;
	height						: 440px;
	margin						: 0px 0px 0px 0px;
	overflow					: auto;
	background-color	:	transparent;
}

div.CRunEditforms_s_content_background,
div.CRunDragdropforms_s_content_background,
div.CRunSelectionforms_s_content_background,
div.CRunVideosceneselector_s_content_background,
div.CRunTests_s_content_background,
div.CRunGraphicalforms_s_content_background
{
	width							: 970px;
	height						: 479px;
}


.CRunTasks_treecell_active,
.CRunTasks_treecell_inactive,
.CRunTasks_treecell_selected,
.CRunTasks_treecell_opened,
.CRunMail_treecell_active,
.CRunMail_treecell_inactive,
.CRunMail_treecell_selected,
.CRunMail_treecell_opened,
.CRunReferences_treecell_active,
.CRunReferences_treecell_inactive,
.CRunReferences_treecell_selected,
.CRunReferences_treecell_opened
{
	background-color	:	transparent;
	font-family				: MyriadPro;
	font-size					: 11pt;
	font-weight				: normal;
}

.CRunTasks_treecell_active,
.CRunMail_treecell_active,
.CRunReferences_treecell_active
{
	color							:	#2E5282;
	cursor						: pointer;
}

.CRunTasks_treecell_inactive,
.CRunMail_treecell_inactive,
.CRunReferences_treecell_inactive
{
	color							:	#888888;
	cursor						: default;
}

.CRunTasks_treecell_selected,
.CRunMail_treecell_selected,
.CRunReferences_treecell_selected
{
	color							:	#203858;
	cursor						: pointer;
}

.CRunMail_treecell_opened,
.CRunReferences_treecell_opened
{
	color							:	#a6b8d0;
	cursor						: pointer;
}

.CRunTasks_treecell_opened
{
	color							:	#A1BBDF;
	cursor						: pointer;
}

