/* appearance on Tablet */

button.CRunTabletAppBtn_active_references,
button.CRunTabletAppBtn_selected_references
{
	background-image	:	url('tablet-references-button-active.png');
}

button.CRunTabletAppBtn_active_references:hover
{
	background-image	:	url('tablet-references-button-active.png');
}

button.CRunTabletAppBtn_inactive_references
{
	background-image	:	url('tablet-references-button-inactive.png');
}


/* in Java */

div.CRunReferences
{
	z-index						: 211;
}

div.CRunReferences_title_area
{
	background-image	: url('bg-tablet-references-logo.png');
}


div.CRunReferences_report_area
{
	display						: none;
}
