/* appearance on Tablet */

button.CRunTabletAppBtn_active_dragdropforms,
button.CRunTabletAppBtn_selected_dragdropforms
{
	background-image	:	url('tablet-dragdropforms-button-active.png');
}

button.CRunTabletAppBtn_active_dragdropforms:hover
{
	background-image	:	url('tablet-dragdropforms-button-active.png');
}

button.CRunTabletAppBtn_inactive_dragdropforms
{
	background-image	:	url('tablet-dragdropforms-button-inactive.png');
}


/* in Java */

div.CRunDragdropforms
{
	z-index						: 211;
}

div.CRunDragdropforms_title_area
{
	background-image	: url('bg-tablet-dragdropforms-logo.png');
}


/* in Zul */

div.CRunDragdropformDiv
{
	position					: absolute;
	left							: 10px;
	top								: 10px;
	width							: 960px;
}

span.CRunDragdropformTitle
{
	color							: blue !important;
	font-size					: 14pt !important;
}

div.CRunDragdropformInstruction
{
	position					: relative;
	left							: 0px;
	width							: 925px;
}

span.CRunDragdropformInstruction
{
	margin						: 0px;
	font-size					: 11pt !important;
}

span.CRunDragdropformLink
{
	color							: blue !important;
	font-family				: MyriadPro !important;
	font-size					: 10pt !important;
	font-weight				: normal !important;
	text-decoration		: underline;
	cursor						: pointer;
}

div.CRunDragdropformContainerDiv
{
	position					: relative;
	left							: 0px;
}

div.CRunDragdropformContainerItemsDiv
{
	overflow					: auto;
	border						: 1px solid gray;
}

.CRunDragdropformContainerItemsBox
{
	margin						: 10px;
}

span.CRunDragdropformContainerTitle
{
	margin						:	0px;
	font-size					: 12pt !important;
	color							: blue !important;
}

.CRunDragdropformContainerItemBox
{
	width							: 100%;
	cursor						:	default;
}

.CRunDragdropformContainerItemBoxDraggable,
.CRunDragdropformContainerItemBoxDraggableWrong,
.CRunDragdropformContainerItemBoxDraggableRight
{
	width							: 100%;
	margin						: 0px 0px 2px 0px;
	background-color	: white;
	cursor						:	pointer;
}

.CRunDragdropformContainerItemBoxDraggable
{
	border						: 1px solid #0000CC;
}

.CRunDragdropformContainerItemBoxDraggableWrong
{
	border						: 3px solid #990000;
}

.CRunDragdropformContainerItemBoxDraggableRight
{
	border						: 3px solid #77FFCC;
}

span.CRunDragdropformContainerItemBoxText,
span.CRunDragdropformContainerItemBoxTextDraggable
{
	margin						:	0px;
	font-size					: 12pt !important;
}

span.CRunDragdropformContainerItemBoxText
{
	color							: black !important;
	cursor						:	default;
}

span.CRunDragdropformContainerItemBoxTextDraggable
{
	cursor						:	pointer;
}

.CRunDragdropformContainerItemBoxDocument
{
	width							: 100%;
	font-size					: 12pt !important;
	color							: blue !important;
	cursor						:	pointer;
}

span.CRunDragdropformContainerItemText,
span.CRunDragdropformContainerItemTextDraggable,
span.CRunDragdropformContainerItemTextDraggableWrong,
span.CRunDragdropformContainerItemTextDraggableRight,
span.CRunDragdropformContainerItemTextDisabled,
span.CRunDragdropformContainerItemDocument,
span.CRunDragdropformContainerItemDocumentDraggable,
span.CRunDragdropformContainerItemDocumentDraggableWrong,
span.CRunDragdropformContainerItemDocumentDraggableRight,
span.CRunDragdropformContainerItemDocumentDisabled
{
	margin						:	0px;
	font-size					: 12pt !important;
	color							: black !important;
	cursor						:	pointer;
}

span.CRunDragdropformContainerItemTextDisabled,
span.CRunDragdropformContainerItemDocumentDisabled
{
	color							: gray !important;
}

span.CRunDragdropformContainerItemDocument,
span.CRunDragdropformContainerItemDocumentDraggable,
span.CRunDragdropformContainerItemDocumentDraggableWrong,
span.CRunDragdropformContainerItemDocumentDraggableRight
{
	color							: blue !important;
}

span.CRunDragdropformContainerItemText,
span.CRunDragdropformContainerItemTextDisabled,
span.CRunDragdropformContainerItemDocument,
span.CRunDragdropformContainerItemDocumentDisabled
{
	cursor						:	default;
}

span.CRunDragdropformContainerItemTextDraggable,
span.CRunDragdropformContainerItemDocumentDraggable
{
	border						: 1px solid #0000CC;
}

span.CRunDragdropformContainerItemTextDraggableWrong,
span.CRunDragdropformContainerItemDocumentDraggableWrong
{
	border						: 3px solid #990000;
}

span.CRunDragdropformContainerItemTextDraggableRight,
span.CRunDragdropformContainerItemDocumentDraggableRight
{
	border						: 3px solid #77FFCC;
}

div.CRunDragdropformsDocumentViewerDiv
{
	position					: absolute;
	left							: 0px;
	top								: 25px;
	width							: 472px;
	height						: 420px;
	background-color	: white;
	border						: 1px solid gray;
}

.CRunDragdropformsDocumentViewerContainer
{
	position					: relative;
	left							: 10px;
	top								: 10px;
}

.CRunDragdropformsDocumentViewerItem
{
	width							: 450px;
	height						: 380px;
}

.CRunDragdropformsCloseBtn
{
	position					: absolute;
	left							: 445px;
	top								: -10px;
}

div.CRunDragdropformsReadyBtn
{
	position					: absolute;
	left							: 730px;
	top								: 500px;
}

div.CRunDragdropformsReadyTitleDiv
{
	position					: absolute;
	left							: 755px;
	top								: 80px;
	width							: 200px;
}

span.CRunDragdropformsReadyTitleHtml
{
	font-size					: 12pt !important;
	color							: #E5F7FF !important;
}

div.CRunDragdropformsReadyBtnDiv
{
	position					: absolute;
	left							: 955px;
	top								: 43px;
}
