/* appearance on Tablet */

button.CRunTabletAppBtn_active_tasks,
button.CRunTabletAppBtn_selected_tasks
{
	background-image	:	url('tablet-tasks-button-active.png');
}

button.CRunTabletAppBtn_active_tasks:hover
{
	background-image	:	url('tablet-tasks-button-active.png');
}

button.CRunTabletAppBtn_inactive_tasks
{
	background-image	:	url('tablet-tasks-button-inactive.png');
}


/* in Java */

div.CRunTasks
{
	font-family				: MyriadProSemibold;
	font-weight				:	bold;
	z-index						: 211;
}

div.CRunTasks_title_area
{
	background-image	: url('bg-tablet-tasks-logo.png');
}
