div.CRunProfile
{
	position					: absolute;
	right							: 6px;
	top								: 6px;
	width							:	144px;
	height						: 29px;
 	halign						: left;
	valign						:	top;
	background-color	: transparent;
	z-index						: 252;
}

td.CRunProfileLeft
{
	width							:	5px;
	background-image	:	url('profile-pad-left.png');
	background-repeat	:	repeat-x;
}

td.CRunProfileSpacer
{
	width							:	6px;
	background-image	:	url('profile-pad-bg.png');
	background-repeat	:	repeat-x;
}

td.CRunProfileLabel
{
	background-image	:	url('profile-pad-bg.png');
	background-repeat	:	repeat-x;
	font-size					: 14px;
	font-family				: MyriadPro;
	padding-bottom		:	4px;
}

td.CRunProfileRight
{
	width							:	8px;
	background-image	:	url('profile-pad-right.png');
	background-repeat	:	repeat-x;
}

span.CRunProfileLabel
{
	color							: #838383;
	font-size					: 14px;
	font-family				: MyriadProSemibold;
}

img.CRunProfileNewChats
{
	position					: relative;
	top								: 1px;
}


div.CRunProfileProfiles
{
	position					: absolute;
	left							: -104px;
	top								: 27px;
	width							: 246px;
}

td.CRunProfileProfilesTop
{
	width							:	246px;
	height						:	5px;
	background-image	:	url('profile-profiles-pad-top.png');
	background-repeat	:	repeat-y;
}

td.CRunProfileProfilesSpacer
{
	width							:	246px;
	height						:	6px;
	background-image	:	url('profile-profiles-pad-background.png');
	background-repeat	:	repeat-y;
}

td.CRunProfileProfilesLabel
{
	width							:	246px;
	background-image	:	url('profile-profiles-pad-background.png');
	background-repeat	:	repeat-y;
	font-size					: 14px;
	font-family				: MyriadPro;
	padding-bottom		:	4px;
}

td.CRunProfileProfilesBottom
{
	width							:	246px;
	height						:	5px;
	background-image	:	url('profile-profiles-pad-bottom.png');
	background-repeat	:	repeat-y;
}

.CRunProfileProfilesRow,
.CRunProfileProfilesSelectedRow
{
	position					: relative;
	left							: 6px;
	width							:	235px;
	height						:	38px;
}

.CRunProfileProfilesRow
{
	background-color	: transparent;
	cursor						: pointer;
}

.CRunProfileProfilesSelectedRow
{
	background-color	: lightgray;
	cursor						: pointer;
}

img.CRunProfileProfilesAvatar
{
	position					: relative;
	left							: 6px;
	top								: 4px;
	width							:	30px;
	height						:	30px;
	background-image	:	url('profile-groupchat.png');
}

span.CRunProfileProfilesNameLabel1,
span.CRunProfileProfilesNameLabel2,
span.CRunProfileProfilesRoleLabel
{
	color							: #838383;
	font-size					: 14px;
	font-family				: MyriadProSemibold;
}

span.CRunProfileProfilesNameLabel1
{
	position					: relative;
	left							: 11px;
	top								: 9px;
}

span.CRunProfileProfilesNameLabel2
{
	position					: relative;
	left							: 11px;
	top								: 4px;
}

span.CRunProfileProfilesRoleLabel
{
	position					: relative;
	left							: 11px;
	top								: -2px;
	font-size					: 13px;
	font-style				: italic;
}

span.CRunProfileProfilesOnlineLabel,
span.CRunProfileProfilesOfflineLabel
{
	position					: absolute;
	left							: 190px;
	color							: #B7B7B7;
	font-size					: 13px;
	font-family				: MyriadProSemibold;
}

img.CRunProfileProfilesChatButton
{
	position					: absolute;
	left							: 183px;
	width							:	52px;
	height						:	18px;
	background-image	:	url('profile-chat.png');
}

img.CRunProfileProfilesChatIcon
{
	position					: relative;
	left							: -12px;
	top								: -7px;
	width							:	17px;
	height						:	16px;
	background-image	:	url('profile-newchats.png');
}

.CRunProfileProfilesSeparator
{
	position					: relative;
	left							: 12px;
	width							:	223px;
	height						:	1px;
	background-color	: #D4D5D5;
}


div.CRunProfileProfile
{
	position					: absolute;
	left							: -445px;
	top								: 27px;
	width							: 341px;
}

td.CRunProfileProfileTop
{
	width							:	341px;
	height						:	5px;
	background-image	:	url('profile-profile-pad-top.png');
	background-repeat	:	repeat-y;
}

td.CRunProfileProfileSpacer
{
	width							:	341px;
	height						:	6px;
	background-image	:	url('profile-profile-pad-background.png');
	background-repeat	:	repeat-y;
}

td.CRunProfileProfileLabel
{
	width							:	341px;
	background-image	:	url('profile-profile-pad-background.png');
	background-repeat	:	repeat-y;
	font-size					: 14px;
	font-family				: MyriadPro;
	padding-bottom		:	4px;
}

td.CRunProfileProfileBottom
{
	width							:	341px;
	height						:	5px;
	background-image	:	url('profile-profile-pad-bottom.png');
	background-repeat	:	repeat-y;
}

img.CRunProfileProfileAvatar
{
	position					: relative;
	left							: 16px;
	top								: 12px;
	width							:	90px;
	height						:	90px;
}

span.CRunProfileProfileNameLabel,
span.CRunProfileProfileMoodLabel,
input.CRunProfileProfileMoodTextbox,
span.CRunProfileProfileDataKeyLabel,
span.CRunProfileProfileDataValueLabel
{
	color							: #838383;
	font-size					: 14px;
	font-family				: MyriadProSemibold;
}

span.CRunProfileProfileNameLabel
{
	position					: relative;
	left							: 25px;
	top								: 25px;
}

span.CRunProfileProfileMoodLabel,
input.CRunProfileProfileMoodTextbox
{
	position					: relative;
	left							: 25px;
	top								: 25px;
	font-size					: 13px;
	font-style				: italic;
}

input.CRunProfileProfileMoodTextbox
{
	width							: 180px;
}

.CRunProfileProfileInfoRow
{
	position					: relative;
	left							: 6px;
	width							:	330px;
	height						:	128px;
}

.CRunProfileProfileDataRow
{
	position					: relative;
	left							: 6px;
	width							:	330px;
	height						:	38px;
}

span.CRunProfileProfileDataKeyLabel
{
	position					: relative;
	left							: 25px;
	top								: 25px;
}

span.CRunProfileProfileDataValueLabel
{
	position					: relative;
	left							: 25px;
	top								: 25px;
}

.CRunProfileProfileDataRowElement
{
	width							:	185px;
}

img.CRunProfileProfileCloseButton
{
	position					: absolute;
	left							: 278px;
	width							:	52px;
	height						:	18px;
	background-image	:	url('profile-close.png');
}


div.CRunProfileChat
{
	position					: absolute;
	left							: -536px;
	top								: 27px;
	width							: 412px;
}

td.CRunProfileChatTop
{
	width							:	412px;
	height						:	5px;
	background-image	:	url('profile-chat-pad-top.png');
	background-repeat	:	repeat-y;
}

td.CRunProfileChatSpacer
{
	width							:	412px;
	height						:	6px;
	background-image	:	url('profile-chat-pad-background.png');
	background-repeat	:	repeat-y;
}

td.CRunProfileChatLabel
{
	width							:	412px;
	background-image	:	url('profile-chat-pad-background.png');
	background-repeat	:	repeat-y;
	font-size					: 14px;
	font-family				: MyriadPro;
	padding-bottom		:	4px;
}

td.CRunProfileChatBottom
{
	width							:	412px;
	height						:	5px;
	background-image	:	url('profile-chat-pad-bottom.png');
	background-repeat	:	repeat-y;
}

img.CRunProfileChatAvatar
{
	position					: relative;
	left							: 16px;
	top								: 12px;
	width							:	55px;
	height						:	55px;
}

span.CRunProfileChatNameLabel,
span.CRunProfileChatMoodLabel
{
	color							: #838383;
	font-size					: 14px;
	font-family				: MyriadProSemibold;
}

span.CRunProfileChatNameLabel
{
	position					: relative;
	left							: 25px;
	top								: 25px;
}

span.CRunProfileChatMoodLabel
{
	position					: relative;
	left							: 25px;
	top								: 25px;
	font-size					: 13px;
	font-style				: italic;
}

.CRunProfileChatInfoRow
{
	position					: relative;
	left							: 6px;
	width							:	401px;
	height						:	73px;
}

.CRunProfileChatDataRows
{
	width							:	411px;
	height						:	400px;
	overflow					: auto;
}

.CRunProfileChatDataRow
{
	position					: relative;
	left							: 6px;
	width							:	371px;
	height						:	38px;
}

.CRunProfileChatSeparator
{
	position					: relative;
	left							: 12px;
	width							:	389px;
	height						:	1px;
	background-color	: #D4D5D5;
}

.CRunProfileChatTextbox
{
	position					: relative;
	left							: 10px;
	top								: 5px;
	width							: 316px;
	color							: black;
	font-size					: 14px;
	font-family				: MyriadProSemibold;
}

img.CRunProfileChatCloseButton
{
	position					: absolute;
	top								: 12px;
	left							: 349px;
	width							:	52px;
	height						:	18px;
	background-image	:	url('profile-close.png');
}

span.CRunProfileChatDataNameLabel,
span.CRunProfileChatDataTimeLabel,
span.CRunProfileChatDataChatLabel
{
	color							: #838383;
	font-size					: 14px;
	font-family				: MyriadProSemibold;
}

span.CRunProfileChatDataNameLabel
{
	position					: relative;
	left							: 11px;
	top								: 9px;
	font-size					: 14px;
}

span.CRunProfileChatDataTimeLabel
{
	position					: relative;
	left							: 11px;
	top								: 10px;
	font-size					: 13px;
}

span.CRunProfileChatDataChatLabel
{
	position					: relative;
	left							: 11px;
	top								: 5px;
	font-size					: 13px;
}

img.CRunProfileChatSendChatButton
{
	position					: absolute;
	left							: 349px;
	width							:	53px;
	height						:	19px;
	background-image	:	url('profile-send-chat.png');
}
