div.CRunScores
{
	position					: absolute;
	z-index						: 161;
}

div.CRunScores_s_content
{
	position					: absolute;
	left							:	13px;
	width							: 170px;
	height						: 0px;
	margin						: 0px 0px 0px 0px;
	overflow					: visible;
	background-color	:	transparent;
	cursor						: pointer;
}

div.CRunScores_s_content span
{
	color							: #FFFFFF;
	font-size					: 14pt;
	font-family				: MyriadPro;
}

div.CRunScoresDiv
{
	width							: 160px;
	height						: 54px;
}

.CRunScoresItemRowOdd,
.CRunScoresItemRowEven
{
	overflow					: visible;
	background-repeat	: no-repeat;
}

.CRunScoresItemRowOdd
{
	width							: 27px;
	background-image	:	url('scores-background-odd.png');
}

.CRunScoresItemRowEven
{
	width							: 27px;
	background-image	:	url('scores-background-odd.png');
}

img.CRunScoresScoreImageOdd,
img.CRunScoresScoreImageEven
{
	position					: relative;
	top								: -7px;
}

img.CRunScoresScoreImageOdd,
img.CRunScoresScoreImageEven
{
	left							: -10px;
}

div.CRunScoresScoreDivOdd
{
	width							: 83px;
}

div.CRunScoresScoreDivEven
{
	width							: 83px;
}

span.CRunScoresScoreLabel
{
	position					: relative;
	top								: 1px;
	left							: -10px;
	font-weight				: bold !important;
}


div.CRunScoresOverview
{
	position					: absolute;
	left							: 204px;
	top								: 72px;
	width							: 646px;
	cursor						: default;
}

td.CRunScoresOverviewTop
{
	width							:	646px;
	height						:	5px;
	background-image	:	url('scores-overview-pad-top.png');
	background-repeat	:	repeat-y;
}

td.CRunScoresOverviewSpacer
{
	width							:	646px;
	height						:	6px;
	background-image	:	url('scores-overview-pad-background.png');
	background-repeat	:	repeat-y;
}

td.CRunScoresOverviewLabel
{
	width							:	646px;
	background-image	:	url('scores-overview-pad-background.png');
	background-repeat	:	repeat-y;
	font-size					: 14px;
	font-family				: MyriadPro;
	padding-bottom		:	4px;
	text-align				: center
}

td.CRunScoresOverviewBottom
{
	width							:	646px;
	height						:	5px;
	background-image	:	url('scores-overview-pad-bottom.png');
	background-repeat	:	repeat-y;
}

span.CRunScoresOverviewTitle
{
	color							: #888888 !important;
	font-size					: 18pt !important;
	font-weight				: bold !important;
}

img.CRunScoresOverviewCloseButton
{
	position					: absolute;
	top								: 12px;
	left							: 583px;
	width							:	52px;
	height						:	18px;
	background-image	:	url('scores-overview-close.png');
}

div.CRunScoresOverviewDiv
{
	position					: relative;
	left							: 0px;
	top								: 20px;
	width							: 600px;
	height						: 380px;
	overflow					: auto;
}

div.CRunScoresOverviewItemDiv
{
	width							: 540px;
	height						: 102px;
}

div.CRunScoresOverviewItemDiv span
{
	color							: #888888;
	font-size					: 16pt !important;
}

.CRunScoresOverviewItemRow
{
	overflow					: visible;
	width							: 540px;
}

img.CRunScoresOverviewItemScoreImage
{
}

div.CRunScoresOverviewItemLabelDiv
{
	position					: relative;
	left							: 20px;
	top								: 25px;
	width							: 320px;
}

span.CRunScoresOverviewItemLabelLabel
{
}

div.CRunScoresOverviewItemScoreDiv
{
	position					: relative;
	top								: 25px;
	width							: 106px;
}

span.CRunScoresOverviewItemScoreLabel
{
	color							: #000000 !important;
	font-weight				: bold !important;
}

.CRunScoresOverviewItemLine
{
	position					: relative;
	left							: 20px;
	top								: 23px;
	width							:	406px;
	height						:	1px;
	background-color	: #D4D5D5;
}
