div.CRunTabletAppBtns
{
	background-color	: transparent;
}

button.CRunTabletAppBtn_empty,
button.CRunTabletAppBtn_active,
button.CRunTabletAppBtn_selected,
button.CRunTabletAppBtn_inactive
{
	width							: 130px;
	height						: 130px;
	border						: 0;
	background-color	: transparent;
	font-family				: MyriadPro;
	font-size					: 10pt;
	overflow					: visible;
	word-wrap					: break-word;
}

button.CRunTabletAppBtn_empty
{
	color							: transparent;
	cursor						: default;
}

button.CRunTabletAppBtn_active
{
	color							: #E5F7FF;
	cursor						: pointer;
}

button.CRunTabletAppBtn_selected
{
	color							: #E5F7FF;
	cursor						: default;
}

button.CRunTabletAppBtn_inactive
{
	color							: #888888;
	cursor						: default;
}
