div.CRunTutorial
{
	position					: absolute;
	left							: 0px;
	top								: 0px;
	width							: 1200px;
	height						: 650px;
	halign						: left;
	valign						:	top;
	overflow					: hidden;
	background-color	: #E4E4E4;
	z-index						: 141;
}

div.CRunTutorial_close_area
{
	width							: 39px;
	height						: 29px;
	overflow					: hidden;
}

div.CRunTutorial_content_area
{
	width							: 990px;
	height						: 555px;
	margin						: 0px 0px 0px 0px;
	overflow					: hidden;
	background-color	:	transparent;
}

div.CRunTutorial_s_content
{
	width							: 958px;
	height						: 553px;
	border						: 0px;
	vertical-align		: middle;
	margin						: 0px 16px 0px 16px;
	overflow					: hidden;
	background-color	:	transparent;
}



div.CRunTutorialInstruction
{
	position					: relative;
	left							: -2px;
	width							: 600px;
	height						: 390px;
	overflow					: auto;
}

.CRunTutorialInstructionHtmlbox
{
	color							: #494949;
	font-family				: MyriadPro;
	font-size					: 11pt;
}




div.CRunTutorialReferences
{
	position					: absolute;
	left							: -2px;
	top								: 0px;
	width							: 710px;
	height						: 420px;
	halign						: left;
	valign						:	top;
	overflow					: hidden;
	background-color	: transparent;
	z-index						: 301;
}

div.CRunTutorialReferences_content_area
{
	width							: 670px;
	height						: 265px;
	margin						: 0px 0px 0px 0px;
	overflow					: hidden;
	background-color	:	transparent;
}

div.CRunTutorialReferences_s_content
{
	width							: 636px;
	height						: 263px;
	border						: 0px;
	vertical-align		: middle;
	margin						: 0px 0px 0px 0px;
	overflow					: hidden;
	background-color	:	transparent;
}

td.CRunTutorialReferences_treecell_active,
td.CRunTutorialReferences_treecell_inactive,
td.CRunTutorialReferences_treecell_selected,
td.CRunTutorialReferences_treecell_opened
{
	background-color	:	transparent;
	font-family				: MyriadPro;
	font-size					: 11pt;
	font-weight				: normal;
}

td.CRunTutorialReferences_treecell_active
{
	color							:	#2E5282;
	cursor						: pointer;
}

td.CRunTutorialReferences_treecell_inactive
{
	color							:	#888888;
	cursor						: default;
}

td.CRunTutorialReferences_treecell_selected
{
	color							:	#203858;
	cursor						: pointer;
}

td.CRunTutorialReferences_treecell_opened
{
	color							:	#203858;
	cursor						: pointer;
}





div.CRunTutorialConversations
{
	position					: absolute;
	left							: 0px;
	top								: 0px;
	width							: 648px;
	height						: 420px;
	halign						: left;
	valign						:	top;
	overflow					: hidden;
	background-color	: transparent	;
	z-index						: 151;
}



div.CRunTutorialConversationInteraction
{
	position					: absolute;
	top								: 398px;
	left							: 6px;
	width							: 648px;
	height						: 140px;
	halign						: left;
	valign						:	top;
	overflow					: visible;
	background-color	: transparent;
	background-image	:	url('bg-interview.png');
	background-repeat	: no-repeat;
	background-position	: bottom center;
	z-index						: 301;
}

div.CRunTutorialConversationInteraction_title_area
{
	float							: right;
	margin						: -1px 3px 0px 0px;
	display						: none;
}

div.CRunTutorialConversationInteraction_close_area
{
	position					: relative;
	left							: 607px;
	top								: 3px;
	display						: none;
}

span.CRunTutorialConversationInteraction_title_area_label
{
	margin						: 0px 10px;
	font-family				: MyriadProSemibold;
	font-size					: 11pt;
}

td.CRunTutorialConversationInteractionLeft
{
	width							:	8px;
	background-image	:	url('bg_interview_tab_left.png');
}

td.CRunTutorialConversationInteractionMiddle
{
	background-image	:	url('bg_interview_tab_middle.png');
	background-repeat	:	repeat-x;
}

td.CRunTutorialConversationInteractionMiddleRight
{
	width							:	30px;
	background-image	:	url('bg_interview_tab_middle.png');
	background-repeat	:	repeat-x;
}

td.CRunTutorialConversationInteractionRight
{
	width							:	8px;
	background-image	:	url('bg_interview_tab_right.png');
}

div.CRunTutorialConversationInteraction_content_area
{
	position					: relative;
	top								: 34px;
	width							: 629px;
	height						: 92px;
	margin						: 0px 0px 0px 6px;
	background-color	: transparent;
}

div.CRunTutorialConversationInteraction_s_content
{
	width							: 637px;
	height						: 92px;
	border						: 0px;
	vertical-align		: middle;
	margin						: 0px 0px 0px 0px;
	background-color	: transparent;
}

.CRunTutorialConversationInteraction_content_area .z-dottree-body
{
	height						: 92px !important;
}

button.CRunConversationBtn_active,
button.CRunConversationBtn_inactive
{
	width							: 76px;
	height						: 16px;
	margin						: 0px 16px 0px 0px;
	border						: 0;
	overflow					: hidden;
	background-color	: transparent;
}
button.CRunConversationBtn_active
{
	cursor						: pointer;
}
button.CRunConversationBtn_inactive
{
	cursor						: default;
}

td.CRunTutorialConversationInteraction_treecell_active_odd,
td.CRunTutorialConversationInteraction_treecell_active_even,
td.CRunTutorialConversationInteraction_treecell_selected_odd,
td.CRunTutorialConversationInteraction_treecell_selected_even,
td.CRunTutorialConversationInteraction_treecell_opened_odd,
td.CRunTutorialConversationInteraction_treecell_opened_even
{
	font-size					: 11pt;
	font-family				: MyriadPro;
	cursor						: pointer;
	height						: 23px;
}

td.CRunTutorialConversationInteraction_treecell_active_odd
{
  background-color	: #8D8989;
	color							: #FFFFFF;
}

td.CRunTutorialConversationInteraction_treecell_active_even
{
	background-color	: #999595;  
	color							: #FFFFFF;
}

td.CRunTutorialConversationInteraction_treecell_selected_odd
{
  background-color	: #8D8989;
	color							: #FFFFFF;
}

td.CRunTutorialConversationInteraction_treecell_selected_even
{
	background-color	: #999595;  
	color							: #FFFFFF;
}

td.CRunTutorialConversationInteraction_treecell_opened_odd
{
  background-color	: #8D8989;
	color							: #AAAAAA;
}

td.CRunTutorialConversationInteraction_treecell_opened_even
{
	background-color	: #999595;  
	color							: #AAAAAA;
}



div.CRunTutorialPreviousReport
{
	position					: relative;
	left							: -2px;
	width							: 600px;
	height						: 130px;
	overflow					: auto;
}

.CRunTutorialReportNoteHtmlbox
{
	color							: #494949;
	font-family				: MyriadPro;
	font-size					: 11pt;
}






.CRunTutorial_hbox
{
	position					: absolute;
	left							: 0px;
	top								: 0px;
}

.CRunTutorial_tabs_background
{
	position					: absolute;
	left							: 0px;
	top								: 0px;
	width							: 46px;
	height						: 610px;
	background-color	: #191818;
}

.CRunTutorial_tabs
{
	position					: relative;
	left							: 11px;
	top								: 40px;
	height						:	430px;
	background-repeat	:	no-repeat;
	overflow					: auto;
}

.CRunTutorial_tab1,
.CRunTutorial_tab2,
.CRunTutorial_tab3,
.CRunTutorial_tab4,
.CRunTutorial_tab5,
.CRunTutorial_tab6,
.CRunTutorial_tab7,
.CRunTutorial_tab1_disabled,
.CRunTutorial_tab2_disabled,
.CRunTutorial_tab3_disabled,
.CRunTutorial_tab4_disabled,
.CRunTutorial_tab5_disabled,
.CRunTutorial_tab6_disabled,
.CRunTutorial_tab7_disabled
{
	width							:	30px;
	height						:	26px;
	background-repeat	:	no-repeat;
}

.CRunTutorial_tab1
{
	background-image	:	url('tutorial_tab1_active.png');
}

.CRunTutorial_tab2
{
	background-image	:	url('tutorial_tab2_active.png');
}

.CRunTutorial_tab3
{
	background-image	:	url('tutorial_tab3_active.png');
}

.CRunTutorial_tab4
{
	background-image	:	url('tutorial_tab4_active.png');
}

.CRunTutorial_tab5
{
	background-image	:	url('tutorial_tab5_active.png');
}

.CRunTutorial_tab6
{
	background-image	:	url('tutorial_tab6_active.png');
}

.CRunTutorial_tab7
{
	background-image	:	url('tutorial_tab7_active.png');
}

.CRunTutorial_tab1_disabled
{
	background-image	:	url('tutorial_tab1_inactive.png');
}

.CRunTutorial_tab2_disabled
{
	background-image	:	url('tutorial_tab2_inactive.png');
}

.CRunTutorial_tab3_disabled
{
	background-image	:	url('tutorial_tab3_inactive.png');
}

.CRunTutorial_tab4_disabled
{
	background-image	:	url('tutorial_tab4_inactive.png');
}

.CRunTutorial_tab5_disabled
{
	background-image	:	url('tutorial_tab5_inactive.png');
}

.CRunTutorial_tab6_disabled
{
	background-image	:	url('tutorial_tab6_inactive.png');
}

.CRunTutorial_tab7_disabled
{
	background-image	:	url('tutorial_tab7_inactive.png');
}

.CRunTutorial_tablabel1,
.CRunTutorial_tablabel2,
.CRunTutorial_tablabel3,
.CRunTutorial_tablabel4,
.CRunTutorial_tablabel5,
.CRunTutorial_tablabel6,
.CRunTutorial_tablabel7,
.CRunTutorial_tablabel_finished,
.CRunTutorial_tablabel_selected,
.CRunTutorial_tablabel_finished_selected,
.CRunTutorial_tablabel_disabled,
.CRunTutorial_tablabel_disabled_finished
{
	position					: relative;
	left							: 6px;
	top								: 2px;
	font-family				: MyriadPro;
	font-size					: 14pt;
}

.CRunTutorial_tablabel1,
.CRunTutorial_tablabel2,
.CRunTutorial_tablabel3,
.CRunTutorial_tablabel4,
.CRunTutorial_tablabel5,
.CRunTutorial_tablabel6,
.CRunTutorial_tablabel7
{
	cursor						: pointer;
}

.CRunTutorial_tablabel1
{
	color							: #923788;
}

.CRunTutorial_tablabel2
{
	color							: #452C6A;
}

.CRunTutorial_tablabel3
{
	color							: #252673;
}

.CRunTutorial_tablabel4
{
	color							: #2A5071;
}

.CRunTutorial_tablabel5
{
	color							: #2E6F59;
}

.CRunTutorial_tablabel6
{
	color							: #357235;
}

.CRunTutorial_tablabel7
{
	color							: #6B5C2E;
}

.CRunTutorial_tablabel_finished
{
	color							: #C2C2C2;
	cursor						: pointer;
	font-style				: italic;
}

.CRunTutorial_tablabel_selected
{
	color							: #FFFFFF;
	font-weight				: bold;
}

.CRunTutorial_tablabel_finished_selected
{
	color							: #FFFFFF;
	font-weight				: bold;
	font-style				: italic;
}

.CRunTutorial_tablabel_disabled
{
	color							: #888888;
}

.CRunTutorial_tablabel_disabled_finished
{
	color							: #888888;
	font-style				: italic;
}


.CRunTutorial_tabpanels
{
	position					: relative;
	left							: 11px;
	top								: 40px;
	height						:	430px;
	background-repeat	:	no-repeat;
}

.CRunTutorial_tabpanel1,
.CRunTutorial_tabpanel2,
.CRunTutorial_tabpanel3,
.CRunTutorial_tabpanel4,
.CRunTutorial_tabpanel5,
.CRunTutorial_tabpanel6,
.CRunTutorial_tabpanel7
{
	position					:	relative;
	left							: -5px;
	top								: -40px;
	width							:	159px;
	height						:	640px;
	background-repeat	:	no-repeat;
	overflow					: auto;
}

.CRunTutorial_tabpanel1
{
	background-color	:	#B069A8;
}

.CRunTutorial_tabpanel2
{
	background-color	:	#674698;
}

.CRunTutorial_tabpanel3
{
	background-color	:	#41439D;
}

.CRunTutorial_tabpanel4
{
	background-color	:	#497295;
}

.CRunTutorial_tabpanel5
{
	background-color	:	#49957B;
}

.CRunTutorial_tabpanel6
{
	background-color	:	#4A994A;
}

.CRunTutorial_tabpanel7
{
	background-color	:	#927F46;
}

.CRunTutorial_tabpanelcontent
{
	position					:	relative;
	left							: 0px;
	top								: 40px;
	width							:	150px;
	height						:	570px;
}

.CRunTutorial_tabpanelcontentvbox
{
	width							:	150px;
	height						:	430px;
}

.CRunTutorial_tabpanelhbox1,
.CRunTutorial_tabpanelhbox2,
.CRunTutorial_tabpanelhbox3,
.CRunTutorial_tabpanelhbox4,
.CRunTutorial_tabpanelhbox5,
.CRunTutorial_tabpanelhbox6,
.CRunTutorial_tabpanelhbox7,
.CRunTutorial_tabpanelhbox1_selected,
.CRunTutorial_tabpanelhbox2_selected,
.CRunTutorial_tabpanelhbox3_selected,
.CRunTutorial_tabpanelhbox4_selected,
.CRunTutorial_tabpanelhbox5_selected,
.CRunTutorial_tabpanelhbox6_selected,
.CRunTutorial_tabpanelhbox7_selected
{
	width							:	158px;
	height						:	24px;
}

.CRunTutorial_tabpanelhbox1_selected
{
	background-image	:	url('tutorial_selectedarrow1.png');
}

.CRunTutorial_tabpanelhbox2_selected
{
	background-image	:	url('tutorial_selectedarrow2.png');
}

.CRunTutorial_tabpanelhbox3_selected
{
	background-image	:	url('tutorial_selectedarrow3.png');
}

.CRunTutorial_tabpanelhbox4_selected
{
	background-image	:	url('tutorial_selectedarrow4.png');
}

.CRunTutorial_tabpanelhbox5_selected
{
	background-image	:	url('tutorial_selectedarrow5.png');
}

.CRunTutorial_tabpanelhbox6_selected
{
	background-image	:	url('tutorial_selectedarrow6.png');
}

.CRunTutorial_tabpanelhbox7_selected
{
	background-image	:	url('tutorial_selectedarrow7.png');
}

.CRunTutorial_tabpanellabelhbox
{
	width							:	148px;
}

.CRunTutorial_tabpanellabel1,
.CRunTutorial_tabpanellabel2,
.CRunTutorial_tabpanellabel3,
.CRunTutorial_tabpanellabel4,
.CRunTutorial_tabpanellabel5,
.CRunTutorial_tabpanellabel6,
.CRunTutorial_tabpanellabel7,
.CRunTutorial_tabpanellabel_finished,
.CRunTutorial_tabpanellabel_selected,
.CRunTutorial_tabpanellabel_finished_selected,
.CRunTutorial_tabpanellabel_disabled,
.CRunTutorial_tabpanellabel_disabled_finished
{
	position					: relative;
	left							: 6px;
	top								: 3px;
	font-family				: MyriadPro;
	font-size					: 11pt;
}

.CRunTutorial_tabpanellabel1,
.CRunTutorial_tabpanellabel2,
.CRunTutorial_tabpanellabel3,
.CRunTutorial_tabpanellabel4,
.CRunTutorial_tabpanellabel5,
.CRunTutorial_tabpanellabel6,
.CRunTutorial_tabpanellabel7
{
	cursor						: pointer;
}

.CRunTutorial_tabpanellabel1
{
	color							: #923788;
}

.CRunTutorial_tabpanellabel2
{
	color							: #452C6A;
}

.CRunTutorial_tabpanellabel3
{
	color							: #252673;
}

.CRunTutorial_tabpanellabel4
{
	color							: #2A5071;
}

.CRunTutorial_tabpanellabel5
{
	color							: #2E6F59;
}

.CRunTutorial_tabpanellabel6
{
	color							: #357235;
}

.CRunTutorial_tabpanellabel7
{
	color							: #6B5C2E;
}

.CRunTutorial_tabpanellabel_finished
{
	color							: #C2C2C2;
	cursor						: pointer;
	font-style				: italic;
}

.CRunTutorial_tabpanellabel_selected
{
	color							: #FFFFFF;
	font-weight				: bold;
}

.CRunTutorial_tabpanellabel_finished_selected
{
	color							: #FFFFFF;
	font-weight				: bold;
	font-style				: italic;
}

.CRunTutorial_tabpanellabel_disabled
{
	color							: #888888;
}

.CRunTutorial_tabpanellabel_disabled_finished
{
	color							: #888888;
	font-style				: italic;
}

.CRunTutorial_page_background
{
	position					: relative;
	left							: 11px;
	top								: 40px;
}

.CRunTutorial_page_title
{
	font-family				: MyriadPro;
	font-size					: 12pt;
	color							: #191818;
}

.CRunTutorial_content_box
{
	position					: absolute;
	top								: 30px;
}

.CRunTutorial_closebutton
{
	position					: absolute;
	left							: 4px;
	top								: 2px;
	width							:	37px;
	height						:	37px;
	background-image	:	url('tutorial-closebutton.png');
	cursor						: pointer;
}

.CRunTutorial_page_readybutton
{
	position					: absolute;
	left							: 925px;
	top								: 460px;
	width							: 75px;
}

