div.CRunInputLabelBtnDiv,
div.CRunInputImageBtnDiv
{
	margin						: 0px 0px 0px 0px;
	cursor						: pointer;
}

div.CRunInputLabelBtnDiv td
{
	background-clip		: unset !important;
}

td.CRunInputLabelBtnGreenLeft,
td.CRunInputLabelBtnBlueLeft,
td.CRunInputLabelBtnRedLeft,
td.CRunInputLabelBtnDarkGreenLeft,
td.CRunInputLabelBtnDarkBlueLeft,
td.CRunInputLabelBtnDarkRedLeft,
td.CRunInputLabelBtnPreviousGrayLeft,
td.CRunInputLabelBtnPreviousGrayBlue,
td.CRunInputLabelBtnNextGrayLeft,
td.CRunInputLabelBtnNextGrayBlue
{
	width							:	3px;
	background-repeat	:	repeat-x;
}

td.CRunInputLabelBtnGreenSpacer,
td.CRunInputLabelBtnBlueSpacer,
td.CRunInputLabelBtnRedSpacer,
td.CRunInputLabelBtnDarkGreenSpacer,
td.CRunInputLabelBtnDarkBlueSpacer,
td.CRunInputLabelBtnDarkRedSpacer,
td.CRunInputLabelBtnPreviousGraySpacer,
td.CRunInputLabelBtnPreviousBlueSpacer,
td.CRunInputLabelBtnNextGraySpacer,
td.CRunInputLabelBtnNextBlueSpacer
{
	width							:	5px;
	background-repeat	:	repeat-x;
}

td.CRunInputLabelBtnGreenLabel,
td.CRunInputLabelBtnBlueLabel,
td.CRunInputLabelBtnRedLabel,
td.CRunInputLabelBtnDarkGreenLabel,
td.CRunInputLabelBtnDarkBlueLabel,
td.CRunInputLabelBtnDarkRedLabel,
td.CRunInputLabelBtnPreviousGrayLabel,
td.CRunInputLabelBtnPreviousBlueLabel,
td.CRunInputLabelBtnNextGrayLabel,
td.CRunInputLabelBtnNextBlueLabel
{
	background-repeat	:	repeat-x;
	font-size					: 14px;
	font-family				: MyriadProSemibold;
	padding-bottom		:	7px;
}

td.CRunInputLabelBtnGreenRight,
td.CRunInputLabelBtnBlueRight,
td.CRunInputLabelBtnRedRight,
td.CRunInputLabelBtnDarkGreenRight,
td.CRunInputLabelBtnDarkBlueRight,
td.CRunInputLabelBtnDarkRedRight,
td.CRunInputLabelBtnPreviousGrayRight,
td.CRunInputLabelBtnPreviousBlueRight,
td.CRunInputLabelBtnNextGrayRight,
td.CRunInputLabelBtnNextBlueRight
{
	width							:	3px;
	background-repeat	:	repeat-x;
}

span.CRunInputLabelBtnGreenLabel,
span.CRunInputLabelBtnBlueLabel,
span.CRunInputLabelBtnRedLabel,
span.CRunInputLabelBtnDarkGreenLabel,
span.CRunInputLabelBtnDarkBlueLabel,
span.CRunInputLabelBtnDarkRedLabel,
span.CRunInputLabelBtnPreviousGrayLabel,
span.CRunInputLabelBtnPreviousBlueLabel,
span.CRunInputLabelBtnNextGrayLabel,
span.CRunInputLabelBtnNextBlueLabel
{
	font-size					: 14px !important;
	font-family				: MyriadProSemibold !important;
}

span.CRunInputLabelBtnGreenLabel,
span.CRunInputLabelBtnBlueLabel,
span.CRunInputLabelBtnRedLabel,
span.CRunInputLabelBtnDarkGreenLabel,
span.CRunInputLabelBtnDarkBlueLabel,
span.CRunInputLabelBtnDarkRedLabel,
span.CRunInputLabelBtnPreviousBlueLabel,
span.CRunInputLabelBtnNextBlueLabel
{
	color							: white !important;
}

span.CRunInputLabelBtnPreviousGrayLabel,
span.CRunInputLabelBtnNextGrayLabel
{
	color							: #494949 !important;
}

td.CRunInputLabelBtnGreenLeft
{
	background-image	:	url('input-button-green-left.png');
}
td.CRunInputLabelBtnGreenSpacer,
td.CRunInputLabelBtnGreenLabel
{
	background-image	:	url('input-button-green-bg.png');
}
td.CRunInputLabelBtnGreenRight
{
	background-image	:	url('input-button-green-right.png');
}

td.CRunInputLabelBtnBlueLeft
{
	background-image	:	url('input-button-blue-left.png');
}
td.CRunInputLabelBtnBlueSpacer,
td.CRunInputLabelBtnBlueLabel
{
	background-image	:	url('input-button-blue-bg.png');
}
td.CRunInputLabelBtnBlueRight
{
	background-image	:	url('input-button-blue-right.png');
}

td.CRunInputLabelBtnRedLeft
{
	background-image	:	url('input-button-red-left.png');
}
td.CRunInputLabelBtnRedSpacer,
td.CRunInputLabelBtnRedLabel
{
	background-image	:	url('input-button-red-bg.png');
}
td.CRunInputLabelBtnRedRight
{
	background-image	:	url('input-button-red-right.png');
}

td.CRunInputLabelBtnDarkGreenLeft
{
	background-image	:	url('input-button-dark-green-left.png');
}
td.CRunInputLabelBtnDarkGreenSpacer,
td.CRunInputLabelBtnDarkGreenLabel
{
	background-image	:	url('input-button-dark-green-bg.png');
}
td.CRunInputLabelBtnDarkGreenRight
{
	background-image	:	url('input-button-dark-green-right.png');
}

td.CRunInputLabelBtnDarkBlueLeft
{
	background-image	:	url('input-button-dark-blue-left.png');
}
td.CRunInputLabelBtnDarkBlueSpacer,
td.CRunInputLabelBtnDarkBlueLabel
{
	background-image	:	url('input-button-dark-blue-bg.png');
}
td.CRunInputLabelBtnDarkBlueRight
{
	background-image	:	url('input-button-dark-blue-right.png');
}

td.CRunInputLabelBtnDarkRedLeft
{
	background-image	:	url('input-button-dark-red-left.png');
}
td.CRunInputLabelBtnDarkRedSpacer,
td.CRunInputLabelBtnDarkRedLabel
{
	background-image	:	url('input-button-dark-red-bg.png');
}
td.CRunInputLabelBtnDarkRedRight
{
	background-image	:	url('input-button-dark-red-right.png');
}

td.CRunInputLabelBtnPreviousGrayLeft
{
	width							:	19px;
	background-image	:	url('input-previous-button-gray-left.png');
}
td.CRunInputLabelBtnPreviousGraySpacer,
td.CRunInputLabelBtnPreviousGrayLabel
{
	background-image	:	url('input-previous-button-gray-bg.png');
}
td.CRunInputLabelBtnPreviousGrayRight
{
	background-image	:	url('input-previous-button-gray-right.png');
}

td.CRunInputLabelBtnPreviousBlueLeft
{
	width							:	17px;
	background-image	:	url('input-previous-button-blue-left.png');
}
td.CRunInputLabelBtnPreviousBlueSpacer,
td.CRunInputLabelBtnPreviousBlueLabel
{
	background-image	:	url('input-previous-button-blue-bg.png');
}
td.CRunInputLabelBtnPreviousBlueRight
{
	background-image	:	url('input-previous-button-blue-right.png');
}

td.CRunInputLabelBtnNextGrayLeft
{
	background-image	:	url('input-next-button-gray-left.png');
}
td.CRunInputLabelBtnNextGraySpacer,
td.CRunInputLabelBtnNextGrayLabel
{
	background-image	:	url('input-next-button-gray-bg.png');
}
td.CRunInputLabelBtnNextGrayRight
{
	width							:	15px;
	background-image	:	url('input-next-button-gray-right.png');
}

td.CRunInputLabelBtnNextBlueLeft
{
	background-image	:	url('input-next-button-blue-left.png');
}
td.CRunInputLabelBtnNextBlueSpacer,
td.CRunInputLabelBtnNextBlueLabel
{
	background-image	:	url('input-next-button-blue-bg.png');
}
td.CRunInputLabelBtnNextBlueRight
{
	width							:	17px;
	background-image	:	url('input-next-button-blue-right.png');
}



div.CRunInputLabelBtnDarkGreenVerticalDiv
{
	margin						: 0px 0px 0px 0px;
	cursor						: pointer;
}

td.CRunInputLabelBtnDarkGreenVerticalTop
{
	height						:	10px;
	background-repeat	:	repeat-y;
}

td.CRunInputLabelBtnDarkGreenVerticalSpacer
{
	height						:	3px;
	background-repeat	:	repeat-y;
}

td.CRunInputLabelBtnDarkGreenVerticalLabel
{
	background-repeat	:	repeat-y;
	font-size					: 14px;
	font-family				: MyriadProSemibold;
	padding-left			:	20px;
	padding-right			:	20px;
	text-align				: center;
}

td.CRunInputLabelBtnDarkGreenVerticalBottom
{
	height						:	10px;
	background-repeat	:	repeat-y;
}

span.CRunInputLabelBtnDarkGreenVerticalLabel
{
	font-size					: 14px !important;
	font-family				: MyriadProSemibold !important;
	color							: white !important;
}

td.CRunInputLabelBtnDarkGreenVerticalTop
{
	background-image	:	url('input-button-dark-green-vertical-top.png');
}
td.CRunInputLabelBtnDarkGreenVerticalSpacer,
td.CRunInputLabelBtnDarkGreenVerticalLabel
{
	background-image	:	url('input-button-dark-green-vertical-bg.png');
}
td.CRunInputLabelBtnDarkGreenVerticalBottom
{
	background-image	:	url('input-button-dark-green-vertical-bottom.png');
}

img.CRunInputLabelBtnImage
{
	cursor						: pointer;
}
