div.CRunTablet
{
	position					: absolute;
	left							: 39px;
	top								: 26px;
	width							: 1117px;
	height						: 624px;
	overflow					: visible;
	background-color	: transparent;
	background-image	:	url('bg-tablet.png');
	z-index						: 201;
}

div.CRunTablet_close_area
{
	position					: absolute;
	left							: 1078px;
	top								: -8px;
	overflow					: auto;
}

button.CRunTabletCloseBtn_active,
button.CRunTabletCloseBtn_inactive
{
	border						: 0;
	background-color	: transparent;
	background-image	:	url('close-tablet-active.png');
	background-repeat	: no-repeat;
	background-position	: top center;
	width							: 49px;
	height						: 49px;
}

button.CRunTabletCloseBtn_active
{
	cursor						: pointer;
}

button.CRunTabletCloseBtn_inactive
{
	cursor						: default;
}

div.CRunTablet_content_area
{
	overflow					: auto;
}

div.CRunTablet_s_content
{
	position					: absolute;
	left							: 120px;
	top								: 100px;
	width							: 840px;
	height						: 520px;
	overflow					: none;
}

div.CRunWnd_tablet_app > div:first-child
{
	position					: absolute;
	left							: 0px;
	top								: 0px;
	overflow					: visible;
	background-color	: transparent;
	z-index						: 201;
}

div.CRunWnd_tablet_app
{
	position					: absolute;
	left							: 39px;
	top								: 26px;
	width							: 1117px;
	height						: 624px;
	overflow					: visible;
	background-color	: transparent;
	background-image	: url('bg-tablet-application.png');
	z-index						: 201;
}

div.CRunWnd_tablet_app span
{
	margin						: 10px;
	font-family				: MyriadProSemibold;
	font-size					: 18pt;
	font-weight				: normal;
}

td.CRunLabelButtonLabel span
{
	margin						: 0px;
	font-family				: MyriadProSemibold;
	font-size					: 12pt;
	font-weight				: normal;
}