/* appearance on Tablet */

button.CRunTabletAppBtn_active_directing,
button.CRunTabletAppBtn_selected_directing
{
	background-image	:	url('tablet-directing-button-active.png');
}

button.CRunTabletAppBtn_active_directing:hover
{
	background-image	:	url('tablet-directing-button-active.png');
}

button.CRunTabletAppBtn_inactive_directing
{
	background-image	:	url('tablet-directing-button-inactive.png');
}


/* in Java */

div.CRunDirecting
{
	z-index						: 211;
}

div.CRunDirecting_title_area
{
	background-image	: url('bg-tablet-directing-logo.png');
}


/* in Zul */

div.CRunDirectingViews
{
	position					: absolute;
	left							: 60px;
	top								: 180px;
	background-color	: transparent;
	z-index						: 3;
}

.CRunDirectingViewsVbox
{
	position					: relative;
	left							: 8px;
	top								: 0px;
	width							: 159px;
	height						: 475px;
}

span.CRunDirectingViewsLabel
{
	position					: absolute;
	left							: 0px;
	top								: 90px;
	color							: #494A4B;
	font-family				: MyriadProSemibold !important;
	font-size					: 18px !important;
}

div.CRunDirectingSettings
{
	position					: absolute;
	left							: 60px;
	top								: 130px;
	width							: 1073px;
	background-color	: transparent;
	z-index						: 2;
}

span.CRunDirectingSettingsLabel
{
	color							: #494A4B;
	font-family				: MyriadProSemibold !important;
	font-size					: 14px !important;
}

.CRunDirectingSettingsLabelCombo
{
	position					: relative;
	left							: 0px;
	top								: 0px;
}

div.CRunDirectingPlayer
{
	position					: absolute;
	left							: 200px;
	top								: 180px;
	width							: 860px;
	height						: 430px;
	overflow					: hidden;
	z-index						: 1;
}

div.CRunDirectingLabelButton,
div.CRunDirectingLabelButtonDisabled
{
 	width							: 114px;
	height						: 72px;
	overflow					: hidden;
}

div.CRunDirectingLabelButton
{
	background-image	:	url('directing-camera-active.png');
	cursor						: pointer;
}

div.CRunDirectingLabelButtonDisabled
{
	background-image	:	url('directing-camera-inactive.png');
	cursor						: default;
}

td.CRunDirectingLabelButtonTop
{
	height						: 24px;
}

td.CRunDirectingLabelButtonLeft,
td.CRunDirectingLabelButtonLeftDisabled
{
	width							: 50%;
}

td.CRunDirectingLabelButtonLabel,
td.CRunDirectingLabelButtonLabelDisabled
{
	text-align				: center;
}

td.CRunDirectingLabelButtonRight,
td.CRunDirectingLabelButtonRightDisabled
{
	width							: 50%;
}

span.CRunDirectingLabelButtonLabel,
span.CRunDirectingLabelButtonLabelDisabled
{
	color							: #494A4B;
	font-family				: MyriadProSemibold !important;
	font-size					: 18px !important;
}

span.CRunDirectingLabelButtonLabel
{
	cursor						: pointer;
}

span.CRunDirectingLabelButtonLabelDisabled
{
	cursor						: default;
}

.z-combobox-rounded-readonly 
{
	width							: 938px;
	background-image: url('bg-directing-combo.png');
}

.z-combobox-rounded .z-combobox-rounded-btn 
{
	background-image: url('bg-directing-combo.png');
}

.z-comboitem 
{
	font-family				: MyriadPro;
	font-size					: 12px;
}

.z-combobox-rounded-pp
{
	border					: 1px solid #888888;
	background-color		: #CCCCCC;
}

.z-combobox-rounded-pp .z-comboitem-seld
{
	background-color		: #CCCCCC !important;
}

.z-combobox-rounded-pp .z-comboitem-over,
.z-combobox-rounded-pp .z-comboitem-over-seld
{
	background-color		: #C92929 !important;
}
