<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd">

<window id="runNewMailWnd" use="nl.surf.emergo.control.run.ounl2.CRunNewMailWndOunl2" border="normal" width="1000px">
	<custom-attributes labelKey="run_new_mail.title"/>

	<?component name="run_new_mail_content" macroURI="../run_new_mail_content_macro.zul"?>
	<run_new_mail_content
	/>
</window>

</zk>
