<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns:h="http://www.w3.org/1999/xhtml" xmlns:zk="http://www.zkoss.org/2005/zk">
<style src="style/CRun.min.css?v=5"/>

	<h:script type="text/javascript">
            $(document).ready(function () {
							if (document.createStyleSheet)
							{
//    							document.createStyleSheet("style/CRunStyle.css");
							}
							else
							{
//    							$("head").append('<link rel="stylesheet" type="text/css" href="style/CRunStyle.css" />'); 
							};
						});
	</h:script>

</zk>