<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd">

<include src="run_style_asset.zul"/>

<?component name="run_windowsmedia_fr" macroURI="../run_windowsmedia_fr_macro.zul"?>
<run_windowsmedia_fr
/>

</zk>
