@font-face {
	font-family				: MyriadPro;
	src						: url('MyriadPro-Regular.otf'),url('MyriadPro-Regular.eot');
}

.Question1Text {
	position					: absolute;
	left						: 23px;
	top							: 10px;
	width						: 600px;
	z-index						: 10;
	font-family					: MyriadPro;
	font-size					: 15px;
}

.Question2Text {
	position					: absolute;
	left						: 23px;
	top							: 90px;
	width						: 600px;
	z-index						: 10;
	font-family					: MyriadPro;
	font-size					: 15px;
}

.settings
{
	position					: absolute;
	left						: 0px;
	top							: 0px;
	width						: 638px;
	height						: 175px;
	background-image			: url('settings.png');
	background-size				: 638px 175px;
	z-index						: 1;
}	
	
.PL_RQ2_Q1_Value_slider,
.PL_RQ2_Q2_Value_slider {
	position					: absolute;
	left						: 40px;
	width						: 600px;
	z-index						: 10;
	color						: green;
}

.PL_RQ2_Q1_Value_slider {
	top							: 40px;
}

.PL_RQ2_Q2_Value_slider {
	top							: 120px;
}

.slider_values {
	margin-left					: 20px;
	margin-right				: 20px;
	font-family					: MyriadPro;
	font-size					: 13px;
}

.slider_slide {
}

.PL_RQ2_Q1_Value_checked,
.PL_RQ2_Q1_Value_unchecked,
.PL_RQ2_Q2_Value_checked,
.PL_RQ2_Q2_Value_unchecked
{
	width						: 15px;
	height						: 15px;
	z-index						: 1;
	cursor						: pointer;
	margin-left					: 3px;
	margin-right				: 3px;
}

.PL_RQ2_Q1_Value_checked,
.PL_RQ2_Q2_Value_checked
{
	background-image	: url('block_full.png');
}

.PL_RQ2_Q1_Value_unchecked,
.PL_RQ2_Q2_Value_unchecked
{
	background-image	: url('_block_empty.png');
	background-color	: grey;
}

.PL_RQ2_Q1_Value_text,
.PL_RQ2_Q2_Value_text
{
	font-family					: MyriadPro;
	font-size					: 9px;
}
