<hbox id="${arg.a_key}_line">
	<custom-attributes zclass="${arg.a_key}_slider"/>
	<attribute name="onCreate"><![CDATA[
		self.setZclass(self.getAttribute("zclass"));
	]]></attribute>
	<div zclass="slider_values">
		<html content="${arg.a_text_left}"/>
	</div>
	<div zclass="slider_slide">
		<slider id="${arg.a_key}_slider1" if="${arg.a_slider}" mold="sphere" maxpos="100" curpos="${arg.a_value}" pageIncrement="5">
			<attribute name="onScroll"><![CDATA[
				// save value
				newValue = self.getCurpos().toString();
				Object macro = self.getParent().getParent().getParent();
				Events.sendEvent("onClickBar", vView.getComponent(macro.getDynamicProperty("a_notify_id")), new String[]{macro.getDynamicProperty("a_key"), newValue});
			]]></attribute>
		</slider>
		<?component name="bar" macroURI="sliderbar_macro.zul"?>
		<bar
  			a_key="${arg.a_key}"
  			a_value="${arg.a_value}"
			a_notify_id="${arg.a_notify_id}"
			a_visible="${!arg.a_slider}"
		/>
	</div>
	<div zclass="slider_values">
		<html content="${arg.a_text_right}"/>
	</div>
</hbox>