<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns:h="http://www.w3.org/1999/xhtml">

<style>

div.dashboard,div.details
{
	width							: 1200px;
	height						: 650px;
}

div.dashboard
{
	background-image	: url('${arg.a_propertyMap.get('zulfilepath')}run_dashboard_background.png');
}

div.details
{
	background-image	: url('${arg.a_propertyMap.get('zulfilepath')}run_dashboard_details_background.png');
}

div.header_label
{
	position					: absolute;
	left							: 400px;
	top								: 178px;
	width							: 400px;
	text-align				: center;
}

span.header_label
{
	color							: #1a206d;
	font-size					: 28px;
	font-family				: MyriadProSemibold;
}

span.left_label
{
	position					: absolute;
	left							: 120px;
	top								: 230px;
	width							: 180px;
	color							: white;
	font-size					: 20px;
	font-family				: MyriadProSemibold;
}

div.skills
{
	position					: absolute;
	left							: 420px;
	top								: 225px;
	width							: 370px;
	overflow					: auto;
}

div.skill
{
	height						: 65px;
}

span.skill_label
{
	color							: #493100;
	font-size					: 20px;
	font-family				: MyriadProSemibold;
}

span.skill_label_right
{
	position					: absolute;
	left							: 335px;
	margin-top				: 4px;
	font-size					: 16px;
}

div.skill_slider_background
{
	position					: relative;
	top								: 5px;
	width							: 360px;
	height						: 18px;
	background-image	: url('${arg.a_propertyMap.get('zulfilepath')}run_dashboard_slider_background.png');
}

div.skill_slider_start
{
	position					: relative;
	top								: -13px;
	width							: 8px;
	height						: 18px;
	background-image	: url('${arg.a_propertyMap.get('zulfilepath')}run_dashboard_slider_start.png');
}

div.skill_slider_middle
{
	position					: relative;
	top								: -13px;
	width							: 9px;
	height						: 18px;
	background-image	: url('${arg.a_propertyMap.get('zulfilepath')}run_dashboard_slider_middle.png');
}

div.skill_slider_end
{
	position					: relative;
	top								: -13px;
	width							: 8px;
	height						: 18px;
	background-image	: url('${arg.a_propertyMap.get('zulfilepath')}run_dashboard_slider_end.png');
}

div.open_details
{
	position					: absolute;
	left							: 555px;
	top								: 560px;
	width							: 90px;
	height						: 29px;
	background-image	: url('${arg.a_propertyMap.get('zulfilepath')}run_dashboard_open_details_btn.png');
	padding-left			: 19px;
	padding-top				: 6px;
	cursor						: pointer;
}

span.open_details
{
	color							: white;
	font-size					: 14px;
	font-family				: MyriadProSemibold;
}


div.close_details
{
	position					: absolute;
	left							: 35px;
	top								: 35px;
	width							: 50px;
	height						: 50px;
	background-image	: url('${arg.a_propertyMap.get('zulfilepath')}run_dashboard_close_details_btn.png');
	padding-left			: 14px;
	padding-top				: 6px;
	cursor						: pointer;
}

div.details_tab
{
	position					: absolute;
	top								: 84px;
	width							: 141px;
	height						: 41px;
	padding-left			: 16px;
	padding-top				: 10px;
}

div.details_tab_gray
{
	cursor						: pointer;
	background-image	: url('${arg.a_propertyMap.get('zulfilepath')}run_dashboard_details_tab_gray.png');
}

div.details_tab_yellow
{
	cursor						: default;
	background-image	: url('${arg.a_propertyMap.get('zulfilepath')}run_dashboard_details_tab_yellow.png');
}

div.details_tab_0
{
	left							: 110px;
}

div.details_tab_1
{
	left							: 260px;
}

div.details_tab_2
{
	left							: 410px;
}

div.details_tab_3
{
	left							: 560px;
}

div.details_tab_4
{
	left							: 710px;
}

span.country_label
{
	color							: white;
	font-size					: 20px;
	font-family				: MyriadProSemibold;
}

div.details_rectangle
{
	position					: absolute;
	left							: 100px;
	top								: 125px;
	width							: 1006px;
	height						: 427px;
	background-image	: url('${arg.a_propertyMap.get('zulfilepath')}run_dashboard_details_rectangle.png');
}

div.details_level
{
	position					: absolute;
	top								: 10px;
	width							: 276px;
	height						: 401px;
	background-image	: url('${arg.a_propertyMap.get('zulfilepath')}run_dashboard_details_level_background.png');
	padding						: 20px;
}

div.details_level_0
{
	left							: 20px;
}

div.details_level_1
{
	left							: 365px;
}

div.details_level_2
{
	left							: 710px;
}

div.level_div
{
	height						: 60px;
}

span.level_country_label
{
	color							: #493100;
}

span.level_label
{
	color							: #493100;
	font-size					: 16px;
	font-family				: MyriadProSemibold;
	font-style				: italic;
}

span.level_skill_label
{
	font-size					: 14px;
}

span.score_label
{
	color							: #493100;
	font-size					: 12px;
	font-family				: MyriadPro;
}

</style>

<div>
	<div if="false">${arg.a_propertyMap.get('casecomponent')}</div>
	<div if="false">${arg.a_propertyMap.get('tag')}</div>
	<div id="dashboardDiv" use="nl.surf.emergo.control.run.cases.Tyconstructor.CRunDashboardSkillsDiv" class="dashboard"/>
	<div id="dashboardDetailsDiv" use="nl.surf.emergo.control.run.cases.Tyconstructor.CRunDashboardSkillsDetailsDiv" class="details" visible="false"/>
</div>

</zk>