<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns:h="http://www.w3.org/1999/xhtml">

<style>

div.answers
{
	position					: absolute;
	left							: 80px;
	top								: 460px;
	width							: 1080px;
	height						: 450px;
	overflow					: auto;
}

span.captionleft
{
	color							: #f2c521;
	font-size					: 24px;
	font-family				: MyriadProSemibold;
}

span.captionright
{
	color							: #1a216f;
	font-size					: 24px;
	font-family				: MyriadProSemibold;
}

.answerleft
{
	color							: #f2c521;
	font-size					: 16px;
	font-family				: MyriadProSemibold;
}

.answerright
{
	color							: #1a216f;
	font-size					: 16px;
	font-family				: MyriadProSemibold;
}

.colleft
{
	width							: 450px;
}

.colcenter
{
	width							: 100px;
}

.subcolleft
{
	width							: 50px;
}

</style>

<div>
	<div if="false">${arg.a_propertyMap.get('casecomponent')}</div>
	<div if="false">${arg.a_propertyMap.get('tag')}</div>
	<div style="width:1200px;height:650px;background-image:url('${arg.a_propertyMap.get('zulfilepath')}run_uk_level2_score_background.jpg')">
		<div class="answers">

			<h:table border="0" cellspacing="7" cellpadding="0">
				<h:tr>
					<h:td class="colleft">
						<label value="${arg.a_propertyMap.get('headerleft')}" class="captionleft"/>
					</h:td>
					<h:td class="colcenter">
					</h:td>
					<h:td>
						<h:table border="0" cellspacing="0" cellpadding="0">
							<h:tr>
								<h:td class="subcolleft">
								</h:td>
								<h:td>
									<label value="${arg.a_propertyMap.get('headerright')}" class="captionright"/>
								</h:td>
							</h:tr>
						</h:table>
					</h:td>
				</h:tr>
				<h:tr forEach="${arg.a_propertyMap.get('answersdata')}">
					<h:td class="colleft">
						<html content="${each[0]}" class="answerleft"/>
					</h:td>
					<h:td class="colcenter">
					</h:td>
					<h:td>
						<h:table border="0" cellspacing="0" cellpadding="0">
							<h:tr>
								<h:td class="subcolleft">
									<image src="${arg.a_propertyMap.get('zulfilepath')}${each[1]}"/>
								</h:td>
								<h:td>
									<html content="${each[2]}" class="answerright"/>
								</h:td>
							</h:tr>
						</h:table>
					</h:td>
				</h:tr>
			</h:table>
			
		</div>
	</div>
</div>

</zk>