@font-face {
	font-family				: MyriadPro;
	src						: url('MyriadPro-Regular.otf'),url('MyriadPro-Regular.eot');
}

.Plugin_TotalScore {
	position					: absolute;
	left						: 23px;
	top							: 30px;
	width						: 800px;
	z-index						: 10;
	font-family					: MyriadPro;
	font-size					: 15px;
}

.settings
{
	position					: absolute;
	left						: 0px;
	top							: 0px;
	width						: 740px;
	height						: 550px;
	background-image			: url('settings.png');
	background-size				: 740px 550px;
	z-index						: 1;
}	
	
.Plugin_TotalScore_text1 {
	position					: absolute;
	left						: 0px;
	top							: 0px;
	font-family					: MyriadPro;
	font-size					: 25px;
	font-face					: bold;
	margin						: 20px;
	z-index						: 2;
	color						: red;
}
	
.Plugin_TotalScore_text2 {
	position					: absolute;
	left						: 0px;
	top							: 40px;
	font-family					: MyriadPro;
	font-size					: 20px;
	margin						: 20px;
	z-index						: 2;
}
	
.Plugin_TotalScore_listbox {
	position					: absolute;
	left						: 0px;
	top							: 100px;
	margin-left					: 20px;
	z-index						: 3;
}

.Plugin_TotalScore_header {
	font-family					: MyriadPro;
	font-size					: 20px;
	padding						: 5px;
	text-align					: center;
}
	
.Plugin_TotalScore_cell1 {
	font-family					: MyriadPro;
	font-size					: 18px;
	padding						: 5px;
	text-align					: center;
}
	
.Plugin_TotalScore_cell2failed {
	font-family					: MyriadPro;
	font-size					: 15px;
	padding						: 5px;
	text-align					: center;
	color						: red;
}

.Plugin_TotalScore_cell2passed {
	font-family					: MyriadPro;
	font-size					: 15px;
	padding						: 5px;
	text-align					: center;
	color						: green;
}

.listcell_red {
	color						: red;
}

.listcell_green {
	color						: green;
}

