<div xmlns:h="http://www.w3.org/1999/xhtml">

	<zscript><![CDATA[
		//if plugin is included in another zul file, plugin_path should give the relative path to the plugin as seen from the other zul file
		//otherwise plugin files will not be found
		//String plugin_path = VView.getParameter(VView.parameterPluginPath, self, "");
		String plugin_path = a_pluginPath;
		if (plugin_path == null) {
			plugin_path = "";
		}
	]]></zscript>

	<h:script type="text/javascript">
		//load plugin stylesheet dynamically
		$(document).ready(function () {
			if (document.createStyleSheet) {
				document.createStyleSheet("${plugin_path}plugin.css");
			}
			else {
				$("head").append('<link rel="stylesheet" type="text/css" href="${plugin_path}plugin.css" />'); 
			};
		});
	</h:script>

	<zscript><![CDATA[
    import nl.surf.emergo.business.impl.AppConstants;

    //the id of the zk component that will handle events from zk child components
    //in this case a div within the current file, see further
  	String notify_id = location + "_plugin1";

  	/*location states*/
  	//location states component
    String location_states_component_name = "states " + location;
  	//tag name of tags to be used
  	String state_tag_name = "state";
  	//tag status key to be used
		String state_key = AppConstants.statusKeyValue;
	  	//tag keys of tags to be used, the ids filled in by the case component author
  	String state_tag_key_bar = "bar";
		String state_tag_key_photo = "photo";
		String state_tag_key_delete_photo = "delete_photo";
		String state_tag_key_photo_deleted = "photo_deleted";
  	//default status values of tag status key for all tag keys to be used
		String state_value_bar = "0";
		String state_value_photo = "";
		String state_value_delete_photo = "disabled";
		boolean state_value_photo_deleted = false;

		//get status values for tags identified by their tag keys, show errors if tag keys are missing
		//only possible if plugin is used from within Emergo player
		//these values are initially needed to show the plugin
		String errorString = "";

		Object runWnd = vView.getComponent("runWnd");
		if (runWnd != null) {
			String[] state_tag_keys = new String[]{state_tag_key_bar,
					state_tag_key_photo,
					state_tag_key_delete_photo,
					state_tag_key_photo_deleted
					};
			List state_data = new ArrayList();
			for (int i=0;i<state_tag_keys.length;i++) { 
				state_data.add(new String[]{location_states_component_name, state_tag_name, state_tag_keys[i], state_key});
			}
			List errors = new ArrayList();
			String[] state_values = runWnd.sSpring.getMultipleCurrentRunTagStatus(state_data, AppConstants.statusTypeRunGroup, errors); 
			for (int i=0;i<state_values.length;i++) {
				if (!state_values[i].equals("")) {
					if (i == 0) state_value_bar = state_values[i];
					if (i == 1) state_value_photo = state_values[i];
					if (i == 2) state_value_delete_photo = state_values[i];
					if (i == 3) state_value_photo_deleted = !state_values[i].equals("false");
				}
			}

			for (int i=0;i<errors.size();i++) { 
				errorString += "\n" + errors.get(i);
			}
		}
		
  	/*states*/
  	//states component
    String states_component_name = "states";
  	//state_tag_name and state_key are the same as for location states component 
  	//tag keys of tags to be used, the ids filled in by the case component author
  	String state_tag_key_InventoryPhotos = "InventarisFotos";
  	String state_tag_key_FotoHistory = "FotoHistorie";
  	//default status values of tag status key for all tag keys to be used
  	String state_value_InventoryPhotos = "";
  	String state_value_FotoHistory = "";

		//get status values for tags identified by their tag keys, show errors if tag keys are missing
		//only possible if plugin is used from within Emergo player
		//these values are initially needed to show the plugin
		if (runWnd != null) {
			String[] state_tag_keys = new String[]{state_tag_key_InventoryPhotos};
			List state_data = new ArrayList();
			for (int i=0;i<state_tag_keys.length;i++) { 
				state_data.add(new String[]{states_component_name, state_tag_name, state_tag_keys[i], state_key});
			}
			List errors = new ArrayList();
			String[] state_values = runWnd.sSpring.getMultipleCurrentRunTagStatus(state_data, AppConstants.statusTypeRunGroup, errors); 
			for (int i=0;i<state_values.length;i++) {
				if (!state_values[i].equals("")) {
					if (i == 0) state_value_InventoryPhotos = state_values[i];
				}
			}
			
			for (int i=0;i<errors.size();i++) { 
				errorString += "\n" + errors.get(i);
			}
		}
		else {
			//fill with dummy data to be able to test standalone
	  	state_value_InventoryPhotos = "5"+AppConstants.statusValueSeparator+
		  		"45"+AppConstants.statusValueSeparator+
		  		"23"+AppConstants.statusValueSeparator+
		  		"78"+AppConstants.statusValueSeparator+
		  		"1"+AppConstants.statusValueSeparator+
		  		"5"+AppConstants.statusValueSeparator+
		  		"45"+AppConstants.statusValueSeparator+
		  		"23"+AppConstants.statusValueSeparator+
		  		"78"+AppConstants.statusValueSeparator+
		  		"1"+AppConstants.statusValueSeparator+
		  		"23"+AppConstants.statusValueSeparator+
		  		"78";
  	}

		//put inventory photos in an array
		String[] inventory_photos = null;
		if (state_value_InventoryPhotos.equals("")) {
			inventory_photos = new String[0];
		}
		else {
			inventory_photos = state_value_InventoryPhotos.split(AppConstants.statusValueSeparator);
		}
		//determing current photo number
		String photoNumber = "0";
		int state_value_bar_int = Integer.parseInt(state_value_bar);
		for (int i=0;i<inventory_photos.length;i++) {
			if (i == (state_value_bar_int - 1)) {
				photoNumber = inventory_photos[i];
			}
		}
		String deletePhotoNumber = photoNumber;

  	/*feedbacks*/
  	//feedback klaar opdracht component
    String assignment_ready_notifications_component_name = "FeedbackKlaaropdracht";
  	//tag name of tags to be used
  	String notification_tag_name = "notification";
  	//tag status key to be used
		String notification_key = AppConstants.statusKeyDeleted;
  	//parts of tag keys of tags to be used, the ids filled in by the case component author
  	//keys are determined later on using photo number
  	String notification_tag_key_ShortFeedbackPrefix = "ShortFBFoto ";
  	String notification_tag_key_LongFeedbackPrefix = "LongFBFoto ";
  	String notification_tag_key_SavePostfix = " BEWAAR";
  	//there are no default status values because states are only set
    
  	//needed to recreate bar macro
		String barmacro_id = "barmacro";
  	
  	//parts of photos to be shown, photo src are determined later on using photo number
		String photo_src_start = "Foto";
		String photo_src_end = "InventarisFull.jpg";
	]]></zscript>

	<div id="${notify_id}">
		<attribute name="onCreate"><![CDATA[
			if (!errorString.equals("")) {
				alert(errorString);
			}
			Events.sendEvent("onUpdatePhoto", self, null);
			Events.sendEvent("onUpdateDeletePhoto", self, null);
		]]></attribute>
		<attribute name="onUpdateBar"><![CDATA[
			Object macro = vView.getComponent(barmacro_id);
			if (macro != null) {
				macro.setDynamicProperty("a_selected_number", state_value_bar);
				macro.setDynamicProperty("a_inventory_photos", inventory_photos);
				macro.recreate();
			}
		]]></attribute>
		<attribute name="onUpdatePhoto"><![CDATA[
			String src = "";
			if (!state_value_photo.equals("")) {
				src = plugin_path + state_value_photo;
			}
			vView.getComponent(state_tag_key_photo).setSrc(src);
		]]></attribute>
		<attribute name="onUpdateDeletePhoto"><![CDATA[
			Events.sendEvent("onState", vView.getComponent(state_tag_key_delete_photo), state_value_delete_photo);
		]]></attribute>
		<attribute name="onClickBar"><![CDATA[
			String state_tag_key = ((String[])event.getData())[0];
			String state_value = ((String[])event.getData())[1];

			state_value_bar = state_value;
			state_value_bar_int = Integer.parseInt(state_value_bar);

			//determine photo src
			photoNumber = "0";
			for (int i=0;i<inventory_photos.length;i++) {
				if (i == (state_value_bar_int - 1)) {
					photoNumber = inventory_photos[i];
				}
			}
			state_value_photo = photo_src_start + photoNumber + photo_src_end; 
			//enable delete photo button
			state_value_delete_photo = "enabled";

			Events.sendEvent("onUpdatePhoto", self, null);
			Events.sendEvent("onUpdateDeletePhoto", self, null);

			//use echoEvent for better performance
			Events.echoEvent("onClickBarRunWnd", self, new String[]{state_tag_key, state_value});
		]]></attribute>
		<attribute name="onClickBarRunWnd"><![CDATA[
			if (runWnd != null) {
				String state_tag_key = ((String[])event.getData())[0];
				String state_value = ((String[])event.getData())[1];
				List errors = new ArrayList();

				//save state_tag_key_bar
				runWnd.sSpring.setCurrentRunTagStatus(location_states_component_name, state_tag_name, state_tag_key_bar, state_key, state_value, AppConstants.statusTypeRunGroup, false, errors);
				//save state_value_photo
				runWnd.sSpring.setCurrentRunTagStatus(location_states_component_name, state_tag_name, state_tag_key_photo, state_key, state_value_photo, AppConstants.statusTypeRunGroup, false, errors);
				//save state_value_delete_photo in db using state_tag_key_delete_photo
				runWnd.sSpring.setCurrentRunTagStatus(location_states_component_name, state_tag_name, state_tag_key_delete_photo, state_key, state_value_delete_photo, AppConstants.statusTypeRunGroup, false, errors);

				errorString = "";
				for (int i=0;i<errors.size();i++) { 
					errorString += "\n" + errors.get(i);
				}
				if (errors.size() > 0) {
					alert(errorString);
				}
			}
		]]></attribute>
		<attribute name="onClickButton"><![CDATA[
			if (event.getData() != null) {
				String button_id = event.getData();
				if (button_id.equals(state_tag_key_delete_photo)) {
					//adjust inventory photos
					state_value_bar_int = Integer.parseInt(state_value_bar);
					state_value_InventoryPhotos = "";
					for (int i=0;i<inventory_photos.length;i++) {
						if (i != (state_value_bar_int - 1)) {
							if (!state_value_InventoryPhotos.equals("")) {
								state_value_InventoryPhotos += AppConstants.statusValueSeparator;
							}
							state_value_InventoryPhotos += inventory_photos[i];
						}
					}
					if (state_value_InventoryPhotos.equals("")) {
						inventory_photos = new String[0];
					}
					else {
						inventory_photos = state_value_InventoryPhotos.split(AppConstants.statusValueSeparator);
					}
					deletePhotoNumber = photoNumber;
					photoNumber = "0";
					state_value_bar = "0";
					state_value_photo = ""; 
					state_value_delete_photo = "disabled";

					Events.sendEvent("onUpdateBar", self, null);
					Events.sendEvent("onUpdatePhoto", self, null);
					Events.sendEvent("onUpdateDeletePhoto", self, null);

					Events.sendEvent("onClickButtonDeletePhotoRunWnd", self, null);
				}
			}
		]]></attribute>
		<attribute name="onClickButtonDeletePhotoRunWnd"><![CDATA[
			if (runWnd != null) {
				List errors = new ArrayList();

				//save inventory photos
				runWnd.sSpring.setCurrentRunTagStatus(states_component_name, state_tag_name, state_tag_key_InventoryPhotos, state_key, state_value_InventoryPhotos, AppConstants.statusTypeRunGroup, false, errors);
				//save state_tag_key_bar
				runWnd.sSpring.setCurrentRunTagStatus(location_states_component_name, state_tag_name, state_tag_key_bar, state_key, state_value_bar, AppConstants.statusTypeRunGroup, false, errors);
				//save state_value_photo
				runWnd.sSpring.setCurrentRunTagStatus(location_states_component_name, state_tag_name, state_tag_key_photo, state_key, state_value_photo, AppConstants.statusTypeRunGroup, false, errors);
				//save state_value_delete_photo
				runWnd.sSpring.setCurrentRunTagStatus(location_states_component_name, state_tag_name, state_tag_key_delete_photo, state_key, state_value_delete_photo, AppConstants.statusTypeRunGroup, false, errors);
				//save state_value_photo_deleted
				state_value_photo_deleted = true;
				runWnd.sSpring.setCurrentRunTagStatus(location_states_component_name, state_tag_name, state_tag_key_photo_deleted, state_key, "" + state_value_photo_deleted, AppConstants.statusTypeRunGroup, true, errors);
			  //hide Short Feedback Save for selected photo in Klaaropdracht
				//hide Long Feedback Save for selected photo in Klaaropdracht
			  String notification_tag_key = notification_tag_key_ShortFeedbackPrefix + deletePhotoNumber + notification_tag_key_SavePostfix; 
				runWnd.sSpring.setCurrentRunTagStatus(assignment_ready_notifications_component_name, notification_tag_name, notification_tag_key, notification_key, AppConstants.statusValueTrue, AppConstants.statusTypeRunGroup, false, errors);
				notification_tag_key = notification_tag_key_LongFeedbackPrefix + deletePhotoNumber + notification_tag_key_SavePostfix; 
				runWnd.sSpring.setCurrentRunTagStatus(assignment_ready_notifications_component_name, notification_tag_name, notification_tag_key, notification_key, AppConstants.statusValueTrue, AppConstants.statusTypeRunGroup, false, errors);
				//save action in history
				state_value_FotoHistory = "delete_i_" + deletePhotoNumber;
				runWnd.sSpring.setCurrentRunTagStatus(states_component_name, state_tag_name, state_tag_key_FotoHistory, state_key, state_value_FotoHistory, AppConstants.statusTypeRunGroup, false, errors);

				errorString = "";
				for (int i=0;i<errors.size();i++) { 
					errorString += "\n" + errors.get(i);
				}
				if (errors.size() > 0) {
					alert(errorString);
				}
			}
		]]></attribute>

    <include src="${plugin_path}bar_fr.zul"/>
    <include src="${plugin_path}photo_fr.zul"/>
    <include src="${plugin_path}delete_photo_fr.zul"/>

  </div>
</div>
