@font-face {
  font-family: MyriadPro;
  src: url(../font/MyriadPro-Regular.otf);
}

@font-face {
  font-family: MyriadProBold;
  src: url(../font/MyriadPro-Semibold.otf);
  font-weight: bold;
}

:root {
  --clr-1: #FFA888;
  --clr-2: #47CCBE;
  --clr-3: #E2CC5C;
  --clr-4: #699FD5;
  --clr-5: #B37ADE;
  --clr-6: #A5CF2D;
  --clr-7: #CE9C7B;
  --clr-8: #66D7E9;
  --clr-9: #FF7878;
  --clr-10: #62E295;

  --clr-1-light: #ffd6c6;
  --clr-2-light: #AAE5DF;
  --clr-3-light: #F2E09A;
  --clr-4-light: #A7C9EB;
  --clr-5-light: #E7C6FF;
  --clr-6-light: #CFE888;
  --clr-7-light: #E4C4AF;
  --clr-8-light: #A8EBF5;
  --clr-9-light: #FFB8B8;
  --clr-10-light: #97F3BC;

  --clr-primary: #5d9a01;
  --clr-primary-hvr: #41690f;

  --clr-secondary: #5f508f;
  --clr-secondary-light: #dbd9f6;

  --clr-score-lower: #B59C9C;
  --clr-score-same: #DEDEDE;
  --clr-score-higher: #ABC5AC;
}

.pv-table {
  background-color: white;
}

.pv-caption {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
.pv-hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pv-p,
.pv-ol,
.pv-ul,
.pv-select {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
}

.pv-ul,
.pv-ol,
.pv-select {
  margin-left: 1rem;
}

.pv-ol li {
  list-style-type: decimal;
}

.pv-h1,
.pv-h2,
.pv-h3,
.pv-h4,
.pv-h5 {
  font-family: MyriadProBold;
}

.pv-h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4rem;
  letter-spacing: 1px;
}

.pv-h2 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.1rem;
  letter-spacing: 1px;
}

.pv-h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1rem;
}

.pv-fieldset {
  border: 0;
  position: relative;
}

.pv-a {
  text-decoration: none;
}

.pv-btn {
  background-color: var(--clr-primary);
  border: 2px solid var(--clr-primary);
  color: white;
  padding: .25rem;
  border-radius: .25rem;
  font-weight: 700;
  height: 38px;
  padding: 0 .5rem;
  border: 0;
  cursor: pointer;
}

.pv-btn:hover {
  border: 2px solid var(--clr-primary-hvr);
  background-color: var(--clr-primary-hvr);
}

.pv-btn.small {
  height: 32px;
  font-size: .875rem;
}

.pv-btn.btn-primary {
  width: 200px;
}

.pv-btn.btn-secondary {
  border: 2px solid transparent;
  background-color: transparent;
  color: var(--clr-primary);
}

.pv-btn.btn-secondary:hover {
  color: var(--clr-primary-hvr);
}

.pv-btn.btn-context {
  color: #a4a5a5;
}

.pv-label, .pv-label-skill {
  font-family: MyriadProBold;
  font-style: italic;
  color: #8f8f8f;
  font-weight: 700;
  font-size: 18px;
  margin-right: 1.5rem;
  vertical-align: top;
  display: inline-block;
}

.pv-label {
  margin-top: .5rem;
}

.pv-label-skill {
  margin-top: 1.2rem;
}

.pv-form {
  margin-top: 0.5rem;
  max-width: 800px;
}

.pv-form.narrow {
  max-width: 500px;
}

.pv-form h1 {
  text-align: left;
}

.pv-input {
  height: 38px;
}

.pv-input.large {
  height: 48px;
}

.input-overlay-btn {
  position: relative;
  display: inline-block;
}

.input-overlay-btn button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 38px;
}

.pv-strong {
  font-family: MyriadProBold;
}

.pv-fieldset {
  margin-bottom: 0.5rem;
}

.pv-fieldset .inline-form-items {
  display: flex;
  font-family: 'MyriadPro', sans-serif;
  user-select: none;
  font-size: 18px;
  box-sizing: border-box;
}

.pv-fieldset.margin-top {
  margin-top: 130px;
}

.pv-input,
.pv-textarea {
  width: 440px;
  border: 2px solid #949494;
  border-radius: .25rem;
  font-family: MyriadPro;
  text-indent: 0;
  font-size: 18px;
  padding: .5rem;
  box-sizing: border-box;
}

.pv-select-old {
  border: 0;
  font-family: MyriadPro;
  font-size: 1rem;
  height: 38px;
}

.pv-form {
  display: flex;
  flex-direction: column;
}

.indent-1 {
  margin-left: 1.8rem;
}
.indent-h-center {
  margin-left: 23rem;
}
.indent-n-h-center {
  margin-left: 16.5rem;
}

.txt-emph {
  font-style: italic;
  color: #8a8a8a;
  font-size: 18px;
}

.flex-start {
  align-self: flex-start;
}
.flex-center {
  align-self: center;
}
.flex-end {
  align-self: flex-end;
}

.txt-align-right {
  text-align: right;
}

.pv-nr-select {
  display: flex;
  margin-left: 0;
}

.pv-nr-select li button {
  font-size: 1.4rem;
  margin-right: .5rem;
  width: 38px;
}

.pv-list,
.pv-dropdown {
  width: 440px;
  height: 135px;
  overflow-y: auto;
  border: 2px solid #949494;
  border-radius: .25rem;
  font-family: MyriadPro;
  text-indent: 0;
  font-size: 18px;
  box-sizing: border-box;
  display: inline-block;
  margin-left: 0;
  margin-bottom: 0;
  text-align: left;
  padding: .5rem 0;
}

.pv-dropdown {
  height: 39px;
  padding: .25rem 0;
}
.pv-list li,
.pv-dropdown option {
  height: 30px;
  position: relative;
  padding-left: .5rem;
  display: flex;
  align-items: center;
}

.pv-list li:hover {
  background-color: #f7f7f7;
}

.pv-list li.selected {
  background-color: #e0e0e0;
}

.pv-list li .btn-context:first-child {
  margin-left: auto;
}

.pv-indc {
  color: white;
  background-color: #8a8a8a;
  border-radius: 100px;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  padding-top: 2px;
  font-family: MyriadProBold;
  line-height: 1rem;
  margin-left: .25rem;
  margin-right: .25rem;
}

.pv-btn-holder {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  padding-right: 1rem;
  padding-bottom: 1rem;
  background-color: white;
}

.pv-btn-holder.sticky {
  position: sticky;
  bottom: 0;
}

.pv-btn-holder button {
  margin-left: .5rem;
}

.pv-envir {
  color: #ba1d1e;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-top: .1rem;
  font-family: 'MyriadPro', sans-serif;
  user-select: none;
  font-size: 14px;
}

.pv-body {
  background-color: transparent;
  width: calc(1200px - 100px);
  border-radius: .5rem;
  height: calc(650px - 40px);
  display: flex;
  flex-direction: column;
  margin: 20px 20px 20px 80px;
  overflow-y: hidden;
}

.pv-body-inner {
  margin: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.pv-table {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  height: 460px;
  overflow-y: scroll;
}

.pv-thead,
.pv-tbody,
.pv-tfoot {

}

.pv-table .pv-thead {
  flex: none;
  position: sticky;
  top: 0;
}

.pv-table .pv-tbody {
  flex: 1;
  flex-wrap: wrap;
}

.pv-table .pv-tfoot {
  flex: none;
  position: sticky;
  bottom: 0;
}

.pv-table .pv-tbody .pv-td .fa-pencil-alt {
  display: none;
  position: absolute;
  right: 4px;
  top: 4px;
}

.pv-table .pv-thead .pv-td:hover .fa-pencil-alt,
.pv-table .pv-tbody .pv-td:hover .fa-pencil-alt {
  display: inline;
}

.pv-table .pv-thead .pv-td .fa-pencil-alt {
  color: white;
  position: absolute;
  right: 10px;
}

.pv-td-examples {
  position: absolute;
  right: 4px;
  bottom: 0;
  font-style: italic;
  color: white;
  font-family: 'MyriadPro', sans-serif;
  font-size: 1rem;
}

.pv-table .pv-tbody .pv-td .pv-td-examples {
	font-size: .675rem;
}

.pv-table .pv-tbody .pv-td .pv-td-examples a {
  color: #0033dc;
  text-decoration: none;
}

.pv-table .fa-star {
  color: #2f197f;
}

.pv-tr {
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  justify-content: stretch;
}

.pv-td {
  flex: 1;
  padding-bottom: .5rem;
}

.pv-separator {
  background: linear-gradient(170deg, var(--clr-secondary), var(--clr-secondary) 50%, var(--clr-secondary-light) 50%, var(--clr-secondary-light));
}

.pv-sep {
  font-family: MyriadProBold;
  color: white;
  position: absolute;
}

.pv-sep.left {
  bottom: 12px;
  left: 8px;
}

.pv-sep.right {
  top: 10px;
	right: 8px;
}

.pv-body-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .875rem;
  margin-top: 0rem;
}

.pv-body-top h3 {
  display: inline-block;
}

.pv-table .pv-tr .pv-td.white {
  background-color: white;
}
.pv-table .pv-tr.lightpurple .pv-td:nth-child(n+3) {
  border-left: 2px solid #dbd9f6;
  border-right: 2px solid #dbd9f6;
}
.pv-tr .pv-td.transparent {
  background-color: transparent !important;
}

.pv-tr.collapsed.child {
  display: none;
}


.pv-cluster-foot .pv-td {
  background-color: #e2b95c;
}

.pv-cluster-head .pv-td { background-color: var(--clr-secondary-light); }

.pv-cluster-1 .pv-td { background-color: var(--clr-1); }
.pv-cluster-2 .pv-td { background-color: var(--clr-2); }
.pv-cluster-3 .pv-td { background-color: var(--clr-3); }
.pv-cluster-4 .pv-td { background-color: var(--clr-4); }
.pv-cluster-5 .pv-td { background-color: var(--clr-5); }
.pv-cluster-6 .pv-td { background-color: var(--clr-6); }
.pv-cluster-7 .pv-td { background-color: var(--clr-7); }
.pv-cluster-8 .pv-td { background-color: var(--clr-8); }
.pv-cluster-9 .pv-td { background-color: var(--clr-9); }
.pv-cluster-10 .pv-td { background-color: var(--clr-10); }

.pv-cluster-1.child .pv-td { background-color: var(--clr-1-light); }
.pv-cluster-2.child .pv-td { background-color: var(--clr-2-light); }
.pv-cluster-3.child .pv-td { background-color: var(--clr-3-light); }
.pv-cluster-4.child .pv-td { background-color: var(--clr-4-light); }
.pv-cluster-5.child .pv-td { background-color: var(--clr-5-light); }
.pv-cluster-6.child .pv-td { background-color: var(--clr-6-light); }
.pv-cluster-7.child .pv-td { background-color: var(--clr-7-light); }
.pv-cluster-8.child .pv-td { background-color: var(--clr-8-light); }
.pv-cluster-9.child .pv-td { background-color: var(--clr-9-light); }
.pv-cluster-10.child .pv-td { background-color: var(--clr-10-light); }

.pv-tr.cluster-head .pv-td .fa-pencil-alt {
  position: absolute;
  right: 4px;
  top: 4px;
  font-size: .675rem;
  display: none;
}

.pv-tr.yellow .pv-td .fa-plus {
  color: #6b4f11;
}

.pv-tr .pv-td:nth-child(1) {
  width: 7px;
  flex: none;
  align-items: center;
}
.pv-tr .pv-td:nth-child(2) {
  font-family: 'MyriadPro', sans-serif;
	font-size: 16px;
  width: 220px;
  flex: none;
  align-items: center;
}

.pv-td {
  background-color: #ccc;
  display: flex;
  border: 2px solid white;
  padding-right: 1rem;
  position: relative;
  padding: .5rem;
  align-items: center;
}

.pv-tr.collapsed {
  height: 39px;
}

.pv-tr.collapsed .pv-td-content {
  height: 1rem;
}

.pv-td-center {
  justify-content: center;
}

.pv-td-content {
  font-family: 'MyriadPro', sans-serif;
	overflow: hidden;
}

.pv-tbody .pv-td,
.pv-tbody .pv-td p {
  font-size: .675rem;
}

.pv-td img {
  zoom: .5;
}

.pv-td.tgl-collapse {
  cursor: pointer;
}

.pv-nr-select a {
    background-color: var(--clr-primary);
}

.wrapper {
  margin: 0 auto;
  display: flex;
  max-width: 1200px;
  margin-top: 1.5rem;
  flex-direction: column;
}

.emergo-screen {
  width: 1200px;
  height: 650px;
  margin-bottom: 1.5rem;
  background-color: #e6eaf5;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  border-radius: .5rem;
  transition: filter .5s ease-in-out;
}

.pv-build-block {
  position: relative;
  width: 380px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding: 1rem;
  font-family: 'MyriadPro', sans-serif;
  font-size: 18px;
}
.pv-build-block .fas {
  color: white;
}
.pv-build-block .fa-pencil-alt {
  font-size: 1.6rem;
  display: none;
  position: absolute;
  top: 8px;
  right: 8px;
}
.pv-build-block:hover .fa-pencil-alt {
  display: block;
}

.pv-build-block .fa-plus {
  font-size: 2rem;
  margin-left: calc(50% - 1rem);
}

.pv-build-block .pv-td-examples {
  right: 8px;
  bottom: 8px
}

.pv-build-block.pv-cluster-1 {
  background-color: var(--clr-1);
}
.pv-build-block.pv-cluster-1.child {
  background-color: var(--clr-1-light);
}
.pv-build-block.pv-cluster-2 {
  background-color: var(--clr-2);
}
.pv-build-block.pv-cluster-2.child {
  background-color: var(--clr-2-light);
}
.pv-build-block.pv-cluster-3 {
  background-color: var(--clr-3);
}
.pv-build-block.pv-cluster-3.child {
  background-color: var(--clr-3-light);
}
.pv-build-block.pv-cluster-4 {
  background-color: var(--clr-4);
}
.pv-build-block.pv-cluster-4.child {
  background-color: var(--clr-4-light);
}
.pv-build-block.pv-cluster-5 {
  background-color: var(--clr-5);
}
.pv-build-block.pv-cluster-5.child {
  background-color: var(--clr-5-light);
}
.pv-build-block.pv-cluster-6 {
  background-color: var(--clr-6);
}
.pv-build-block.pv-cluster-6.child {
  background-color: var(--clr-6-light);
}
.pv-build-block.pv-cluster-7 {
  background-color: var(--clr-7);
}
.pv-build-block.pv-cluster-7.child {
  background-color: var(--clr-7-light);
}
.pv-build-block.pv-cluster-8 {
  background-color: var(--clr-8);
}
.pv-build-block.pv-cluster-8.child {
  background-color: var(--clr-8-light);
}
.pv-build-block.pv-cluster-9 {
  background-color: var(--clr-9);
}
.pv-build-block.pv-cluster-9.child {
  background-color: var(--clr-9-light);
}
.pv-build-block.pv-cluster-10 {
  background-color: var(--clr-10);
}
.pv-build-block.pv-cluster-10.child {
  background-color: var(--clr-10-light);
}

.pv-bt-field {
  margin-bottom: .25rem;
}

.pv-bt-field .fa-trash-alt {
  position: absolute;
  top: 14px;
  right: -55px;
  font-size: 2.2rem;
  color: #a4a5a5;
}

.pv-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: .75;
  z-index: 100;
}

.pv-modal {
  background-color: white;
  border: 1px solid black;
  border-radius: .5rem;
  margin: 0 auto;
  z-index: 201;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'MyriadPro', sans-serif;
  user-select: none;
  font-size: 18px;
}

.pv-modal-content {
  padding: .5rem;
  margin-left: 12px;
  font-style: italic;
  color: #8f8f8f;
}

.pv-modal .pv-btn-holder {
  padding: .5rem;
  border-radius: .5rem;
}


/* ASL */
.pv-btn-check,
.pv-btn-check-disabled {
	width: 25px;
  height: 25px;
  margin-left: auto;
  margin-bottom: 3px;
  margin-right: 10px;
  background-color: #FFFFFF;
  border: 2px solid #949494;
}

.pv-btn-check:hover,
.pv-btn-check-disabled:hover {
  border: 2px solid var(--clr-primary-hvr);
  background-color: #FFFFFF;
}

.pv-btn-check-disabled {
	cursor: default;
}

.pv-btn-check-div {
  margin-top: 2px;
  margin-left: -4px;
  transform: rotate(-9deg);
}

.pv-btn-check-span,
.pv-btn-check-span-disabled {
  font-style: italic;
}
	
.pv-btn-check-span {
  color: #000000;
}

.pv-btn-check-span-disabled {
  color: #A80000;
}
