<?xml version="1.0" encoding="UTF-8"?>
<zk xmlns="http://www.zkoss.org/2005/zul"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd">
	<div>
		<attribute name="onCreate"><![CDATA[
			Events.sendEvent("onUpdate", self, state_value_delete_photo);
		]]></attribute>
		<attribute name="onUpdate"><![CDATA[
			Events.sendEvent("onState", vView.getComponent(state_tag_key_delete_photo), event.getData());
		]]></attribute>
		<?component name="button" macroURI="button_macro.zul"?>
		<button
	  	a_key="${state_tag_key_delete_photo}"
  		a_notify_id="${notify_id}"
		/>
	</div>
</zk>
