<?xml version="1.0" encoding="UTF-8"?>
<?init zscript="view.zs"?>
<zk xmlns:h="http://www.w3.org/1999/xhtml">
	<zscript><![CDATA[
		String location = "Sandbox";
		String pluginPath = self.getAttribute(VView.parameterPluginPath);
	  	String key_InventoryPhotos = "SandboxInventarisFotos";
		boolean onLocation = false;
  		//parts of photos to be shown, photo src are determined later on using photo number
		String photo_src_prefix = "Foto";
		String photo_src_postfix = "LocatieSandbox.JPG";

		Hashtable camerasettings_photonumber = new Hashtable();
  		camerasettings_photonumber.put("111", 1);
		camerasettings_photonumber.put("112", 2);
		camerasettings_photonumber.put("113", 3);
		camerasettings_photonumber.put("121", 4);
		camerasettings_photonumber.put("122", 5);
		camerasettings_photonumber.put("123", 6);
		camerasettings_photonumber.put("131", 7);
		camerasettings_photonumber.put("132", 8);
		camerasettings_photonumber.put("133", 9);
		camerasettings_photonumber.put("211", 10);
		camerasettings_photonumber.put("212", 11);
		camerasettings_photonumber.put("213", 12);
		camerasettings_photonumber.put("221", 13);
		camerasettings_photonumber.put("222", 14);
		camerasettings_photonumber.put("223", 15);
		camerasettings_photonumber.put("231", 16);
		camerasettings_photonumber.put("232", 17);
		camerasettings_photonumber.put("233", 18);
		camerasettings_photonumber.put("311", 19);
		camerasettings_photonumber.put("312", 20);
		camerasettings_photonumber.put("313", 21);
		camerasettings_photonumber.put("321", 22);
		camerasettings_photonumber.put("322", 23);
		camerasettings_photonumber.put("323", 24);
		camerasettings_photonumber.put("331", 25);
		camerasettings_photonumber.put("332", 26);
		camerasettings_photonumber.put("333", 27);
	]]></zscript>

	<div>
		<custom-attributes a_pluginPath="${pluginPath}"/>
		<?component name="plugin" macroURI="plugin_macro.zul"?>
		<plugin
		/>
	</div>
</zk>
