/* NOTE: top and width of CB_wrapper are overwritten in run_flash_directing_fr_macro.zul */
#CB_wrapper {
	position: absolute;
	top: 309px;
	width: 548px;
	height: 24px;
	display: none;
}

.jw_controlbar {
background-image: url("background.png");
background-repeat: repeat-x;
overflow: hidden;
}

.play {
width: 23px;
height: 24px;
background-image: url("control_play.png");
float: left;
display: none;
}

.pause {
width: 23px;
height: 24px;
background-image: url("control_pause.png");
float: left;
display: block;
}

.stop {
width: 23px;
height: 24px;
background-image: url("control_pause.png");
float: left;
display: none;
}

.scrubber {
/*width: 60%; */
width: 345px;
height: 24px;
float: left;
/*display: inline; */
margin-right:9px;
margin-left:9px;
background-color: transparent;
background-image: url("cb_slider_back.png");
background-repeat: repeat-x;
background-position-y: center;
overflow: hidden;
}

.volume {
width: 30px;
height: 24px;
float: left;
/*display: inline; */
margin-right:5px;
margin-left:5px;
background-color: transparent;
background-image: url("volume_min.png");
background-repeat: no-repeat;
overflow: hidden;
}

.currenttime {
/*width: 12%;*/
height: 24px;
float: left;
display: block;
margin-left:9px;
text-align: right;
line-height: 24px;
font-family: arial;
font-weight: bolder;
font-size: 11px;
color: black;
background-image: none;
}

.totaltime {
/*width: 12%;*/
height: 24px;
float: left;
display: block;
margin-right:9px;
line-height: 24px;
text-align: left;
font-family: arial;
font-weight: bolder;
font-size: 11px;
color: black;
background-image: none;
}

.fullscreen {
background-color: black;
float: right;
display: block;
width: 26px;
height: 24px;
background-image: url("control_fullscreen.png");
}

.mute {
width: 15px;
height: 24px;
float: left;
display: block;
background-image: url("sound_on.png");
background-repeat: no-repeat;
}

.unmute {
width: 15px;
height: 24px;
float: left;
display: none;
background-image: url("sound_mute.png");
background-repeat: no-repeat;
}
	
.scrubber.ui-slider-horizontal .ui-slider-range {
height: 24px;
background-color: transparent;
background-image: url("sliderdone_back.png");
background-repeat: repeat-x;
background-position-y: center;
overflow: hidden;
/*display: inline;*/
position: relative;
float: left;
}

.ui-slider .ui-slider-handle {
height: 24px;
width:2px;
position: relative;
background-color: transparent;
background-image: url("cb_slider.png");
background-repeat: no-repeat;
background-position-y: center;
display: block;
margin-left:0px;
text-decoration: none;
}

.ui-slider-handle:focus {
	background-color: #C92929;
	outline: 0;
}

.volume .ui-slider-range {
height: 24px;
background-color: transparent;
background-image: url("volume_max.png");
background-repeat: repeat-x;
overflow: hidden;
/*display: inline;*/
position: relative;
float: left;
}

