<![CDATA[ EMERGO ADJUSTMENT START ]]>

<script type="text/javascript">

	setTimeout("onLoadForm()", 500);
	function onLoadForm() {
		if (!userId) {
			alert ("Warning: id empty!");
		}
		window.parent.postMessage({
			'func': 'onStartForm',
			'message': 'Starting LimeSurvey iFrame.'
		}, "*");
		lSrc = lsSurveyURL + userId;
		var lAHref = document.getElementById("LS_OpenBtn");
		lAHref.href = lSrc;
		
		lAHref.innerHTML = "Start " + lsSurveyName; 
		
	}
	
	function _surveyStarted() {
		document.getElementById("surveyFinished").style.display="block";
	}
	
</script>
<![CDATA[ EMERGO ADJUSTMENT END ]]>

<div id="wrapper" style="width: 100%; height: 100%; overflow: auto; -webkit-overflow-scrolling: touch; margin: 10px">

	<p><a id="LS_OpenBtn" href="" target="_blank" onclick="onStartForm(''); _surveyStarted();"></a>
	</p>
	<div id="surveyFinished" style="display:none;">
		<p>Klik op de volgende knop om terug te keren naar het Emergo-game-venster als u alle vragen hebt beantwoord en de vragenlijst met succes hebt verzonden:
		</p>
		<p>
		<button onclick="onSubmitForm('')">Ik heb de vragenlijst afgerond</button>
		</p>
	</div>

</div>