.settings
{
	position					: absolute;
	left							: 75px;
	top								: 120px;
	width							: 294px;
	height						: 274px;
	background-image	: url('settings.png');
	z-index						: 1;
}	
	
.lens1_checked,
.lens2_checked,
.lens3_checked,
.diaphragm1_checked,
.diaphragm2_checked,
.diaphragm3_checked,
.shuttertime1_checked,
.shuttertime2_checked,
.shuttertime3_checked,
.lens1_unchecked,
.lens2_unchecked,
.lens3_unchecked,
.diaphragm1_unchecked,
.diaphragm2_unchecked,
.diaphragm3_unchecked,
.shuttertime1_unchecked,
.shuttertime2_unchecked,
.shuttertime3_unchecked
{
	position					: absolute;
	width							: 65px;
	height						: 25px;
	z-index						: 1;
	cursor						: pointer;
}

.lens1_checked,
.lens2_checked,
.lens3_checked,
.lens1_unchecked,
.lens2_unchecked,
.lens3_unchecked
{
	top								: 198px;
}

.diaphragm1_checked,
.diaphragm2_checked,
.diaphragm3_checked,
.diaphragm1_unchecked,
.diaphragm2_unchecked,
.diaphragm3_unchecked
{
	top								: 268px;
}

.shuttertime1_checked,
.shuttertime2_checked,
.shuttertime3_checked,
.shuttertime1_unchecked,
.shuttertime2_unchecked,
.shuttertime3_unchecked
{
	top								: 342px;
}

.lens1_checked,
.diaphragm1_checked,
.shuttertime1_checked,
.lens1_unchecked,
.diaphragm1_unchecked,
.shuttertime1_unchecked
{
	left							: 117px;
}

.lens2_checked,
.diaphragm2_checked,
.shuttertime2_checked,
.lens2_unchecked,
.diaphragm2_unchecked,
.shuttertime2_unchecked
{
	left							: 184px;
}

.lens3_checked,
.diaphragm3_checked,
.shuttertime3_checked,
.lens3_unchecked,
.diaphragm3_unchecked,
.shuttertime3_unchecked
{
	left							: 251px;
}

.lens1_checked,
.lens2_checked,
.lens3_checked,
.diaphragm1_checked,
.diaphragm2_checked,
.diaphragm3_checked,
.shuttertime1_checked,
.shuttertime2_checked,
.shuttertime3_checked
{
	background-image	: url('block_full.png');
}

.lens1_unchecked,
.lens2_unchecked,
.lens3_unchecked,
.diaphragm1_unchecked,
.diaphragm2_unchecked,
.diaphragm3_unchecked,
.shuttertime1_unchecked,
.shuttertime2_unchecked,
.shuttertime3_unchecked
{
}

.make_photo_enabled,
.make_photo_disabled
{
	position					: absolute;
	left							: 177px;
	top								: 394px;
	width							: 80px;
	height						: 80px;
	z-index						: 1;
}	
	
.make_photo_enabled
{
	background-image	: url('make_photo_active.png');
	cursor						: pointer;
}	
	
.make_photo_disabled
{
	background-image	: url('make_photo_inactive.png');
	cursor						: default;
}	
	
.photo
{
	position					: absolute;
	left							: 410px;
	top								: 110px;
	z-index						: 2;
}	
	
.cover
{
	position					: absolute;
	left							: 75px;
	top								: 120px;
	width							: 294px;
	height						: 274px;
	background-image	: url('cover.png');
	z-index						: 2;
}	
	
.coverback
{
	position					: absolute;
	left							: 517px;
	top								: 160px;
	width							: 297px;
	height						: 211px;
	background-image	: url('coverback.png');
	z-index						: 1;
}	
	
.save_photo_enabled,
.save_photo_disabled
{
	position					: absolute;
	left							: 100px;
	top								: 420px;
	width							: 107px;
	height						: 34px;
	z-index						: 1;
}	
	
.save_photo_enabled
{
	background-image	: url('save_photo_active.png');
	cursor						: pointer;
}	
	
.save_photo_disabled
{
	background-image	: url('save_photo_inactive.png');
	cursor						: default;
}	
	
.delete_photo_enabled,
.delete_photo_disabled
{
	position					: absolute;
	left							: 226px;
	top								: 420px;
	width							: 107px;
	height						: 34px;
	z-index						: 1;
}	
	
.delete_photo_enabled
{
	background-image	: url('delete_photo_active.png');
	cursor						: pointer;
}	
	
.delete_photo_disabled
{
	background-image	: url('delete_photo_inactive.png');
	cursor						: default;
}	
