<?xml version="1.0" encoding="UTF-8"?>
<zk>
	<div>
		<?component name="bar" macroURI="bar_macro.zul"?>
		<bar
	  	a_key="${state_tag_key_shuttertime}"
	  	a_value="${state_value_shuttertime}"
  		a_notify_id="${notify_id}"
		/>
	</div>
</zk>
