<div id="${arg.a_key}">
	<zscript><![CDATA[
		Object macro = self.getParent();
		String firstValue = macro.getDynamicProperty("a_value");
		String value = "";
		String[] values = new String[]{"1", "2", "3"};
	]]></zscript>
	<attribute name="onCreate"><![CDATA[
		Events.sendEvent("onUpdate", self, firstValue);
	]]></attribute>
	<attribute name="onClickBlock"><![CDATA[
		String newValue = event.getData();
//		Events.sendEvent("onUpdate", self, newValue);
		Object macro = self.getParent();
		Events.sendEvent("onClickBar", vView.getComponent(macro.getDynamicProperty("a_notify_id")), new String[]{macro.getDynamicProperty("a_key"), newValue});
	]]></attribute>
	<attribute name="onUpdate"><![CDATA[
		String newValue = event.getData();
		if (!newValue.equals(value)) {
			String oldValue = value;
			value = newValue;
			Object macro = self.getParent();
			String subject = macro.getDynamicProperty("a_key");
			int intOldValue = 1;
			if (!oldValue.equals("")) {
				intOldValue = Integer.parseInt(oldValue);
				if (intOldValue == 0) {
					intOldValue = 1;
				}
			}
			int intValue = Integer.parseInt(value);
			for (int i=intOldValue;i<=intValue;i++) {
				Events.sendEvent("onState", vView.getComponent(subject + i), "checked");
			}
			for (int i=(intValue+1);i<=intOldValue;i++) {
				Events.sendEvent("onState", vView.getComponent(subject + i), "unchecked");
			}
		}
	]]></attribute>
	<zk forEach="${values}">
		<?component name="block" macroURI="block_macro.zul"?>
		<block
			a_value="${each}"
  		a_key="${arg.a_key}"
		/>
	</zk>
</div>