button.CRunLocationsBtn_empty,
button.CRunLocationsBtn_active,
button.CRunLocationsBtn_selected,
button.CRunLocationsBtn_inactive
{
	width							: 150px;
	height						: 30px;
	position					: absolute;
	border						: 0;
	overflow					: hidden;
	background-color	: black;
	color							: #115F86;
	font-family				: MyriadPro;
	font-size					: 15pt;
	font-weight				: normal;
	text-align				: left;
}

button.CRunLocationsBtn_empty
{
	color							: #000000;
	cursor						: default;
}

button.CRunLocationsBtn_active
{
	color							: #4c4c4c;
	cursor						: pointer;
}
button.CRunLocationsBtn_active:hover
{
	color: #FFFFFF; 	
}

button.CRunLocationsBtn_selected
{
	color							: #FFFFFF;
	cursor						: default;
	background-color	: #1f1f1f;
	font-family				: MyriadSemibold;
}

button.CRunLocationsBtn_inactive
{
	color							: #4c4c4c;
	cursor						: default;
}

button.CRunLocationsBtn_empty,
button.CRunLocationsBtn_active,
button.CRunLocationsBtn_selected,
button.CRunLocationsBtn_inactive
{
	top								: 654px;
}
