button.CRunNoteBtn_empty,
button.CRunNoteBtn_active,
button.CRunNoteBtn_selected,
button.CRunNoteBtn_inactive
{
	width							: 150px;
	height						: 30px;
	position					: absolute;
	border						: 0;
	overflow					: hidden;
	background-color	: black;
	color							: #115F86;
	font-family				: MyriadPro;
	font-size					: 15pt;
	font-weight				: normal;
	text-align				: left;
}

button.CRunNoteBtn_empty
{
	color							: #000000;
	cursor						: default;
}

button.CRunNoteBtn_active
{
	color							: #4c4c4c;
	cursor						: pointer;
}
button.CRunNoteBtn_active:hover
{
	color: #FFFFFF; 	
}

button.CRunNoteBtn_selected
{
	color							: #FFFFFF;
	cursor						: default;
	background-color	: #1f1f1f;
	font-family				: MyriadSemibold;
}

button.CRunNoteBtn_inactive
{
	color						: #4c4c4c;
	cursor						: default;
}

button.CRunNoteBtn_empty,
button.CRunNoteBtn_active,
button.CRunNoteBtn_selected,
button.CRunNoteBtn_inactive
{
	top								: 684px;
}
