div.CRunWnd
{
	width							: 1024px;
	height						: 744px;
	overflow					: visible;
	background-color	: #000000;
}

div.z-shadow,
div.z-shadow div.z-shadow-tl,
div.z-shadow div.z-shadow-cl,
div.z-shadow div.z-shadow-cr,
div.z-shadow div.z-shadow-cm,
div.z-shadow div.z-shadow-bl
{
	background-color	: transparent;
	background			: none;
}

