div.CRunMail
{
	position					: absolute;
	top								: 32px;
	width							: 1024px;
	height						: 576px;
	halign						: left;
	valign						:	top;
	overflow					: hidden;
	background-color	: transparent;
	background-image	:	url('background_empack.png');
}

div.CRunShowMail,
div.CRunNewMail
{
	width							: 824px;
	halign						: left;
	valign						:	top;
	background-color	: #FFFFFF;
	color							: #000000;
	font-family				:	MyriadSemibold;
	font-size					:	11pt;
}

td.CRunShowMail_vbox
{
	margin						: 0px 10px;
}

div.CRunShowMail_div
{
	width							: 770px;
	height						: 400px;
	margin						: 0px 10px;
	overflow					: auto;
	color							: #000000;
	font-family				:	MyriadPro;
	font-size					:	10pt;
}

td.CRunMailHeader
{
	color							: #000000;
}

td.CRunMailAttachments
{
	color							: #2E5282;
}

div.CRunMail_title_area
{
	width							: 974px;
	height						: 30px;
	margin						: 40px 20px 0px 20px;
	padding						:	5px;
	background-color	:	transparent;
	color							:	#FFFFFF;
}
span.CRunMail_title_area_label
{
	margin						: 10px;
	font-family				:	MyriadSemibold;
	font-size					:	11pt;
}
div.CRunMail_content_area
{
	width							: 984px;
	height						: 436px;
	margin						: 0px 20px 0px 20px;
	overflow					: hidden;
	background-color	:	transparent;
}

div.CRunMail_s_content
{
	width							: 950px;
	height						: 434px;
	border						: 1px solid darkgray;
	vertical-align		: middle;
	margin						: 0px 16px 0px 16px;
	overflow					: hidden;
	background-color	:	white;
}

td.CRunMail_treecell_active,
td.CRunMail_treecell_inactive,
td.CRunMail_treecell_selected,
td.CRunMail_treecell_opened,
span.CRunMail_treecell_active,
span.CRunMail_treecell_inactive,
span.CRunMail_treecell_selected,
span.CRunMail_treecell_opened
{
	background-color	:	white;
	font-family				:	MyriadSemibold;
	font-size					:	10pt;
}
td.CRunMail_treecell_active,
span.CRunMail_treecell_active
{
	color							:	#2E5282;
	cursor						: pointer;
}

td.CRunMail_treecell_inactive,
span.CRunMail_treecell_inactive
{
	color							:	#888888;
	cursor						: default;
}

td.CRunMail_treecell_selected,
span.CRunMail_treecell_selected
{
	color							:	#203858;
	cursor						: pointer;
}

td.CRunMail_treecell_opened
{
	color							:	#203858;
	cursor						: pointer;
}

span.CRunMail_treecell_opened
{
	color							:	#A1BBDF;
	cursor						: pointer;
}

div.CRunMail_text
{
	width							: 698px;
	height						: 114px;
	margin						: 0px 0px 0px 0px;
	vertical-align		:	middle;
	background-color	:	#404040;
	border						: 1px solid darkgray;
}

div.CRunNewMail_mail
{
	margin						: 0px 0px 0px 16px;
	vertical-align		:	middle;
	background-color	:	white;
	color							: black;
	font-family				:	MyriadSemibold;
	font-size					:	11pt;
}

span.CRunNewMail_mail_text
{
	background-color	:	white;
	color							: black;
	font-family				:	MyriadSemibold;
	font-size					:	11pt;
}

.CRunMailSubjectContactsListbox_listheader
{
	background-color	:	#EEEEEE;
	color							: black;
}

div.CRunNewMailAttachment_area
{
	width							: 698px;
}

div.CRunMail_buttons_area
{
	width							: 974px;
	height						: 30px;
	margin						: 0px 20px 20px 20px;
	padding						:	5px;
	background-color	:	transparent;
	filter						: alpha(opacity=100);
	-moz-opacity			: 1.0;
	opacity						: 1.0;
}

div.CRunMail_buttons_area_white_space
{
	width							: 654px;
}
