div.CRunLocationActions
{
	position					: absolute;
	top								: 100px;
	left							: 312px;
	width							: 400px;
	halign						: left;
	valign						:	top;
	background-color	: #000000;
	color							: #2E5282;
	font-family				:	MyriadSemibold;
	font-size					:	11pt;
}

td.CRunLocationActions
{
	color							: #2E5282;
}
