div.CRunAssessments
{
	position					: absolute;
	top								: 32px;
	width							: 1024px;
	height						: 576px;
	halign						: left;
	valign						:	top;
	overflow					: hidden;
	background-color	: transparent;
	background-image	:	url('background_empack.png');
}

div.CRunAssessmentStart,
div.CRunAssessmentEnd
{
	position					: absolute;
	top								: 100px;
	left							: 312px;
	width							: 400px;
	halign						: left;
	valign						:	top;
	background-color	: #FFFFFF;
	color							: #000000;
	font-family				:	MyriadSemibold;
	font-size					:	11pt;
}

span.CRunAssessmentStart_label,
span.CRunAssessmentEnd_label
{
	color							: #000000;
	font-family				:	MyriadPro;
	font-size					:	10pt;
}

div.CRunAssessments_title_area
{
	width							: 974px;
	height						: 30px;
	margin						: 40px 20px 0px 20px;
	padding						:	5px;
	background-color	:	transparent;
	color							:	#FFFFFF;
}
span.CRunAssessments_title_area_label
{
	margin						: 10px;
	font-family				:	MyriadSemibold;
	font-size					:	11pt;
}
div.CRunAssessments_content_area
{
	width							: 492px;
	height						: 436px;
	margin						: 0px 0px 0px 20px;
	overflow					: hidden;
	background-color	:	transparent;
}
div.CRunAssessments_item_area
{
	width							: 492px;
	height						: 436px;
	margin						: 0px 1px 0px 0px;
	overflow					: hidden;
	background-color	:	transparent;
}

div.CRunAssessments_s_content
{
	width							: 464px;
	height						: 434px;
	border						: 1px solid darkgray;
	vertical-align		: middle;
	margin						: 0px 0px 0px 16px;
	overflow					: hidden;
	background-color	:	white;
}
div.CRunAssessments_item
{
	width							: 464px;
	height						: 434px;
	border						: 1px solid darkgray;
	vertical-align		: middle;
	margin						: 0px 16px 0px 10px;
	overflow					: hidden;
	background-color	:	white;
}

td.CRunAssessments_treecell_active,
td.CRunAssessments_treecell_inactive,
td.CRunAssessments_treecell_selected,
td.CRunAssessments_treecell_opened,
span.CRunAssessments_treecell_active,
span.CRunAssessments_treecell_inactive,
span.CRunAssessments_treecell_selected,
span.CRunAssessments_treecell_opened
{
	background-color	:	white;
	font-family				:	MyriadSemibold;
	font-size					:	10pt;
}
td.CRunAssessments_treecell_active,
span.CRunAssessments_treecell_active
{
	color							:	#2E5282;
	cursor						: pointer;
}

td.CRunAssessments_treecell_inactive,
span.CRunAssessments_treecell_inactive
{
	color							:	#888888;
	cursor						: default;
}

td.CRunAssessments_treecell_selected,
span.CRunAssessments_treecell_selected
{
	color							:	#203858;
	cursor						: pointer;
}

td.CRunAssessments_treecell_opened
{
	color							:	#203858;
	cursor						: pointer;
}

span.CRunAssessments_treecell_opened
{
	color							:	#A1BBDF;
	cursor						: pointer;
}

td.CRunAssessments_item_vbox1
{
	left							: 20px;
	width							:	420px;
 	position					: relative;
}

td.CRunAssessments_item_vbox2
{
	left							: 20px;
	width							:	400px;
 	position					: relative;
}

span.CRunAssessments_item_html
{
	margin						: 0px 0px 0px 0px;
	color							: black;
	font-family				:	MyriadPro;
	font-size					:	10pt;
}

span.CRunAssessments_item_radio
{
	margin						: 0px 0px 0px 0px;
}

span.CRunAssessments_score,
span.CRunAssessments_answer
{
	background-color	:	white;
	color							:	blue;
	font-family				:	MyriadSemibold;
	font-size					: xx-small;
}

div.CRunAssessments_buttons_area
{
	width							: 974px;
	height						: 30px;
	margin						: 0px 20px 20px 20px;
	padding						:	5px;
	background-color	:	transparent;
	filter						: alpha(opacity=100);
	-moz-opacity			: 1.0;
	opacity						: 1.0;
}

div.CRunAssessments_buttons_area_white_space
{
	width							: 864px;
}

button.CRunButton_assessments_100,
button.CRunButton_assessments_200
{
	margin						: 0px 10px 0px 0px;
	font-family				:	MyriadPro;
	font-size					:	10pt;
}

button.CRunButton_assessments_100
{
	width							: 100px;
}

button.CRunButton_assessments_200
{
	width							: 200px;
}

button.CRunButton_assessments_100,
button.CRunButton_assessments_200
{
	background-color	:	F2F2F2;
	color							:	#787878;
}

button[disabled].CRunButton_assessments_100,
button[disabled].CRunButton_assessments_200
{
	background-color	:	A2A2A2;
	color							:	#787878;
}
