div.CRunComponentItemWnd
{
	position					: absolute;
	top								: 100px;
	left							: 100px;
	width							: 824px;
	halign						: left;
	valign						:	top;
	background-color	: #FFFFFF;
	color							: #000000;
	font-family				:	MyriadSemibold;
	font-size					:	11pt;
}
