div.CRunNoteNeoclassic,div.CRunNoteNeoclassicLeft,div.CRunNoteNeoclassicRight,div.CRunNoteNeoclassicMax
{
	position					: absolute;
	top							: 624px;
	height						: 120px;
	halign						: left;
	valign						:	top;
	overflow					: hidden;
	background-color			: #1f1f1f;
}

div.CRunNoteNeoclassic
{
	left							: 150px;
	width							: 874px;
}

div.CRunNoteNeoclassicLeft
{
	left							: 0px;
	width							: 874px;
}

div.CRunNoteNeoclassicRight
{
	left							: 150px;
	width							: 874px;
}

div.CRunNoteNeoclassicMax
{
	left							: 0px;
	width							: 1024px;
}

div.CRunNoteNeoclassic_title_area_left
{
	width							: 836px;
}

div.CRunNoteNeoclassicLeft_title_area_left
{
	width							: 836px;
}

div.CRunNoteNeoclassicRight_title_area_left
{
	width							: 836px;
}

div.CRunNoteNeoclassicMax_title_area_left
{
	width							: 986px;
}

div.CRunNoteNeoclassic_title_area_right
{
	width							: 18px;
}

span.CRunNoteNeoclassic_title_area_label
{
	margin						: 0px 10px;
	font-family				: MyriadSemibold;
	font-size					: 11pt;
}

div.CRunNoteNeoclassic_text_area,div.CRunNoteNeoclassicLeft_text_area,div.CRunNoteNeoclassicRight_text_area,div.CRunNoteNeoclassicMax_text_area
{
	height						: 108px;
	margin						: 0px 10px;
	background-color	: transparent;
}

div.CRunNoteNeoclassic_text_area
{
	width							: 874px;
}

div.CRunNoteNeoclassicLeft_text_area
{
	width							: 874px;
}

div.CRunNoteNeoclassicRight_text_area
{
	width							: 874px;
}

div.CRunNoteNeoclassicMax_text_area
{
	width							: 1024px;
}

textarea.CRunNoteNeoclassic_text_area_div,textarea.CRunNoteNeoclassicLeft_text_area_div,textarea.CRunNoteNeoclassicRight_text_area_div,textarea.CRunNoteNeoclassicMax_text_area_div
{
	height						: 88px;
	overflow					: auto;
	color							: black;
	font-family				: MyriadPro;
	resize					: none;
}

textarea.CRunNoteNeoclassic_text_area_div
{
	width							: 844px;
}

textarea.CRunNoteNeoclassicLeft_text_area_div
{
	width							: 844px;
}

textarea.CRunNoteNeoclassicRight_text_area_div
{
	width							: 844px;
}

textarea.CRunNoteNeoclassicMax_text_area_div
{
	width							: 994px;
}
