div.CRunLocationBtnsNeoclassic,div.CRunLocationBtnsNeoclassicLeft,div.CRunLocationBtnsNeoclassicRight,div.CRunLocationBtnsNeoclassicMax
{
	position					: absolute;
	top								: 624px;
	height						: 120px;
	overflow					: hidden;
	background-color	: #1f1f1f;
}

div.CRunLocationBtnsNeoclassic
{
	left							: 150px;
	width							: 874px;
}

div.CRunLocationBtnsNeoclassicLeft
{
	left							: 0px;
	width							: 874px;
}

div.CRunLocationBtnsNeoclassicRight
{
	left							: 150px;
	width							: 874px;
}

div.CRunLocationBtnsNeoclassicMax
{
	left							: 0px;
	width							: 1024px;
}

div.CRunLocationBtnsNeoclassic_hbox_scroll
{
	position					: absolute;
	top							: 0px;
	height						: 120px;
	overflow					: hidden;
	left						: 23px;
	width						: 828px;
	background-color	: transparent;
}

table.CRunLocationBtnsNeoclassic_hbox
{
	position					: absolute;
	top							: 0px;
	height						: 120px;
	left						: 0px;
}

div.CRunLocationBtnsNeoclassic_left_arrow
{
	position					: relative;
	width						: 23px;
	height						: 120px;
	float						: left;
	cursor						: pointer;
}

div.CRunLocationBtnsNeoclassic_right_arrow
{
	position					: relative;
	width						: 23px;
	height						: 120px;
	float						: right;
	cursor						: pointer;
}

button.CRunLocationBtnsNeoclassic_arrow_btn
{
	position					: relative;
	width						: 23px;
	height						: 120px;
	cursor						: pointer;
	border						: 0;
	background-color			: #1f1f1f;
	color						: #115F86;
	padding						: 0px;
}

button.CRunLocationBtn_empty,
button.CRunLocationBtn_active,
button.CRunLocationBtn_selected,
button.CRunLocationBtn_inactive
{
	height						: 120px;
	width						: 200px;
	border						: 0;
	background-color	: #1f1f1f;
	color							: #115F86;
	font-family				: MyriadPro;
	font-size					: 11pt;
	font-weight				: normal;
}

button.CRunLocationBtn_empty
{
	color							: #000000;
	cursor						: default;
}

button.CRunLocationBtn_active
{
	color							: #FFFFFF;
	cursor						: pointer;
}
button.CRunLocationBtn_active:hover
{
	font-family				: MyriadSemibold;
}

button.CRunLocationBtn_selected
{
	color							: #FFFFFF;
	cursor						: default;
	font-family				: MyriadSemibold;
}

button.CRunLocationBtn_inactive
{
	color							: #8a8a8a;
	cursor						: default;
}
