div.CRunConversationInteraction,div.CRunConversationInteractionLeft,div.CRunConversationInteractionRight,div.CRunConversationInteractionMax
{
	position					: absolute;
	top								: 608px;
	height						: 146px;
	halign						: left;
	valign						:	top;
	overflow					: hidden;
	background-color	: transparent;
}
div.CRunConversationInteraction
{
	left							: 150px;
	width							: 974px;
	margin						: 0px 0px 0px -100px;
}

div.CRunConversationInteractionLeft
{
	left							: 0px;
	width							: 874px;
	margin						: 0px 0px 0px 0px;
}

div.CRunConversationInteractionRight
{
	left							: 150px;
	width							: 974px;
	margin						: 0px 0px 0px -100px;
}

div.CRunConversationInteractionMax
{
	left							: 0px;
	width							: 1024px;
	margin						: 0px 0px 0px 0px;
}

div.CRunConversationInteraction_content_area
{
	width							: 974px;
	height						: 120px;
	margin						: 0px 0px 0px 0px;
	background-color	: #404040 !important;
}

div.CRunConversationInteraction_s_content
{
	width							: 972px;
	height						: 118px;
	border						: 1px solid darkgray;
	vertical-align		: middle;
	margin						: 0px 0px 0px 0px;
	background-color	: #404040 !important;
	overflow					: auto;
}

button.CRunConversationBtn_active,
button.CRunConversationBtn_inactive
{
	width							: 76px;
	height						: 16px;
	margin						: 0px 16px 0px -10px;
	border						: 0;
	overflow					: hidden;
	background-color	: transparent;
}
button.CRunConversationBtn_active
{
	cursor						: pointer;
}
button.CRunConversationBtn_inactive
{
	cursor						: default;
}

td.CRunConversationInteraction_treecell_active,
td.CRunConversationInteraction_treecell_selected,
td.CRunConversationInteraction_treecell_opened,
span.CRunConversationInteraction_treecell_active,
span.CRunConversationInteraction_treecell_selected,
span.CRunConversationInteraction_treecell_opened
{
	font-family				:	MyriadSemibold;
	font-size					:	10pt;
	cursor						: pointer;
}

td.CRunConversationInteraction_treecell_active,
span.CRunConversationInteraction_treecell_active
{
  background-color	: #404040;
	color							: #FFFFFF;
}

td.CRunConversationInteraction_treecell_selected,
span.CRunConversationInteraction_treecell_selected
{
  background-color	: #6AA3CE;
	color							: #FFFFFF;
}

td.CRunConversationInteraction_treecell_opened,
span.CRunConversationInteraction_treecell_opened
{
  background-color	: #404040;
	color							: #AAAAAA;
}
/*
div.z-dottree,
div.z-dottree-body
{
	background-color	: #404040 !important;
}
*/