/* body */

body
{
	margin						: 0px;
	padding						: 0px;
	background-color	: #000000;
	color							: gray;
}

@font-face {
	font-family				: MyriadPro;
	src								: url('MyriadPro-Regular.otf');
}

@font-face {
	font-family				: MyriadSemibold;
	src								: url('MyriadPro-Semibold.otf');
}

/* tree */
/*
div.z-dottree,
div.z-dottree-body
{
	background				: white;
	background-color	: white;
	border						: 0px;
}
*/
div.z-dottree,
div.z-dottree-body
{
	background				: transparent;
	background-color	: transparent;
	border						: 0px;
}
/* CRunCloseBtn */

button
{
	outline: none;
}

button.CRunCloseBtn_active,
button.CRunCloseBtn_inactive
{
	border						: 0;
	background-color	: transparent;
}

button.CRunCloseBtn_active
{
	cursor						: pointer;
}

button.CRunCloseBtn_inactive
{
	cursor						: default;
}

/* CRunButton */

button.CRunButton_component_100,
button.CRunButton_component_200
{
	margin						: 0px 10px 0px 0px;
	background-color	: #F2F2F2;
	color							: #787878;
	cursor						: pointer;
	font-family				: MyriadPro;
	font-size				: 11pt;
}

button.CRunButton_component_100
{
	width							: 100px;
}

button.CRunButton_component_200
{
	width							: 200px;
}

button[disabled].CRunButton_component_100,
button[disabled].CRunButton_component_200
{
	background-color	: #A2A2A2;
	color							: #787878;
	cursor						: default;
}

/* CRunBlobLabel */

span.CRunBlobLabel_active,
span.CRunBlobLabel_inactive
{
	color							: blue;
	font-family				: MyriadPro;
	font-size					: 11pt;
}

span.CRunBlobLabel_active
{
	text-decoration		: underline;
	cursor						: pointer;
}

span.CRunBlobLabel_inactive
{
	cursor						: default;
}

/* CRunLocationActionLabel */

span.CRunLocationActionLabel
{
	color							: blue;
	font-family				: MyriadPro;
	font-size					: 12pt;
	text-decoration		: underline;
	cursor						: pointer;
}

div.CRunContentArea
{
	position					: absolute;
	top								: 0px;
	width							: 1024px;
	height						: 576px;
	align							: center;
	overflow					: hidden;
	background-color	: transparent;
}

.CRunGmapsIframe
{
 	width							: 950px;
 	height						: 434px;
 	margin						: 0px 16px 0px 16px;
	border						: 0px solid darkgray;
	vertical-align		: middle;
 	background-color	: transparent;
}

.CRunWebsiteIframe
{
 	width							: 1024px;
 	height						: 576px;
 	margin						: 0px 0px 0px 0px;
	border						: 0px solid darkgray;
	vertical-align		: middle;
 	background-color	: black;
}

div.CRunDescription
{
 	width							: 1024px;
 	height						: 525px;
 	margin						: 20px 0px;
  overflow					: auto;
	color							: white;
}

span.CRunDescription_title
{
	color							: white;
	font-family				: MyriadPro;
	font-size					: 11pt;
}

div.CRunDescription_div
{
	color							: white;
	font-family				: MyriadPro;
	font-size					: 11pt;
}

div.CBufferingWnd
{
	position					: absolute;
	top								: 300px;
	left							: 400px;
	width							: 175px;
	height						: 30px;
}

div.CToolTip
{
	width							: 500px;
}
