div.CRunEmpackActionBtnsNeoclassic,div.CRunEmpackActionBtnsNeoclassicLeft,div.CRunEmpackActionBtnsNeoclassicRight,div.CRunEmpackActionBtnsNeoclassicMax
{
	position					: absolute;
	top								: 624px;
	height						: 120px;
	halign						: left;
	valign						:	top;
	overflow					: hidden;
	background-color	: #1f1f1f;
}

div.CRunEmpackActionBtnsNeoclassic
{
	left							: 150px;
	width							: 874px;
}

div.CRunEmpackActionBtnsNeoclassicLeft
{
	left							: 0px;
	width							: 874px;
}

div.CRunEmpackActionBtnsNeoclassicRight
{
	left							: 150px;
	width							: 874px;
}

div.CRunEmpackActionBtnsNeoclassicMax
{
	left							: 0px;
	width							: 1024px;
}

div.CRunEmpackActionBtnsNeoclassic_hbox_scroll
{
	position					: absolute;
	top							: 0px;
	height						: 120px;
	overflow					: hidden;
	left						: 23px;
	width						: 828px;
	background-color	: transparent;
}

table.CRunEmpackActionBtnsNeoclassic_hbox
{
	position					: absolute;
	top							: 0px;
	height						: 120px;
	left						: 0px;
}

div.CRunEmpackActionBtnsNeoclassic_left_arrow
{
	position					: relative;
	width						: 23px;
	height						: 120px;
	float						: left;
	cursor						: pointer;
}

div.CRunEmpackActionBtnsNeoclassic_right_arrow
{
	position					: relative;
	width						: 23px;
	height						: 120px;
	float						: right;
	cursor						: pointer;
}

button.CRunEmpackActionBtnsNeoclassic_arrow_btn
{
	position					: relative;
	width						: 23px;
	height						: 120px;
	cursor						: pointer;
	border						: 0;
	background-color			: #1f1f1f;
	color						: #115F86;
	padding						: 0px;
}

button.CRunEmpackActionBtn_empty,
button.CRunEmpackActionBtn_active,
button.CRunEmpackActionBtn_selected,
button.CRunEmpackActionBtn_inactive
{
	height						: 120px;
	border						: 0;
	background-color	: #1f1f1f;
	color							: #115F86;
	font-family				: MyriadPro;
	font-size					: 11pt;
	font-weight				: normal;
}

button.CRunEmpackActionBtn_empty
{
	color							: #000000;
	cursor						: default;
}

button.CRunEmpackActionBtn_active
{
	color							: #FFFFFF;
	cursor						: pointer;
}
button.CRunEmpackActionBtn_active:hover
{
	font-family				: MyriadSemibold;
}

button.CRunEmpackActionBtn_selected
{
	color							: #FFFFFF;
	cursor						: default;
	font-family				: MyriadSemibold;
}

button.CRunEmpackActionBtn_inactive
{
	color							: #8a8a8a;
	cursor						: default;
}
