div.CRunTasksWnd
{
	width							: 824px;
	height						: 400px;
/*	background-color	: #0000B5; */
	color							: #FFFFFF;
	font-family				:	MyriadSemibold;
	font-size					:	11pt;
	background-color	: transparent;
	background-image	:	url('background_empack.png');
	background-position	:	-30px -30px;
	border				: 1px solid #2A4058;
}

div.CRunTasks
{
	width							: 824px;
	height						: 400px;
	halign						: left;
	valign						:	top;
/*	background-color	: #0000B5; */
	background-color	: transparent;
	color							: #FFFFFF;
	font-family				:	MyriadSemibold;
	font-size					:	11pt;
}

div.CRunTasks_title_area
{
	width:754px;height:30px;color:#FFFFFF;margin: 40px 20px 0px 20px;background-color:transparent;padding:5px;
}

span.CRunTasks_title_area_label
{
	font-family				:	MyriadSemibold;
	font-size					:	11pt;
	margin: 10px;
}

div.CRunTasks_content_area
{
	width:784px;height:236px;margin: 0px 20px 0px 20px;background-color:transparent;
}

div.CRunTasks_s_content
{
	width:750px;height:234px;border:1px solid #2A4058;margin: 0px 16px 0px 16px;vertical-align:middle;background-color:white;
}

td.CRunTasks_treecell_active,
td.CRunTasks_treecell_inactive,
td.CRunTasks_treecell_selected,
td.CRunTasks_treecell_opened,
span.CRunTasks_treecell_active,
span.CRunTasks_treecell_inactive,
span.CRunTasks_treecell_selected,
span.CRunTasks_treecell_opened
{
	background-color	: white;
	font-family				:	MyriadSemibold;
	font-size					:	10pt;
}

td.CRunTasks_treecell_active,
span.CRunTasks_treecell_active
{
	color							: #2E5282;
	cursor						: pointer;
}

td.CRunTasks_treecell_inactive,
span.CRunTasks_treecell_inactive
{
	color							: #888888;
	cursor						: default;
}

td.CRunTasks_treecell_selected,
span.CRunTasks_treecell_selected
{
	color							: #203858;
	cursor						: pointer;
}

td.CRunTasks_treecell_opened,
span.CRunTasks_treecell_opened
{
	color							: #A1BBDF;
	cursor						: pointer;
}

div.CRunTasks_buttons_area
{
	width							: 774px;
	height						: 30px;
	margin						: 10px 20px 10px 20px;
	padding						:	5px;
	background-color	:	transparent;
}

div.CRunTasks_buttons_area_white_space
{
	width							: 663px;
}

div.CRunTasksAreaNeoclassic,div.CRunTasksAreaNeoclassicLeft,div.CRunTasksAreaNeoclassicRight,div.CRunTasksAreaNeoclassicMax
{
	position					: absolute;
	top							: 624px;
	height						: 120px;
	halign						: left;
	valign						:	top;
	overflow					: hidden;
	background-color			: #1f1f1f;
}

div.CRunTasksAreaNeoclassic
{
	left							: 150px;
	width							: 874px;
}

div.CRunTasksAreaNeoclassicLeft
{
	left							: 0px;
	width							: 874px;
}

div.CRunTasksAreaNeoclassicRight
{
	left							: 150px;
	width							: 874px;
}

div.CRunTasksAreaNeoclassicMax
{
	left							: 0px;
	width							: 1024px;
}
