div.CRunTitleArea
{
	position					: relative;
	width							: 1024px;
	height						: 32px;
	overflow					: hidden;
	margin						: 0px 0px 0px 0px;
	background-color	: transparent;
	color							: #B5B5B5;
	font-family				:	MyriadSemibold;
	font-size					:	11pt;
}

div.CRunTitleArea_left
{
	width:998px;
}

div.CRunTitleArea_right
{
	width:18px;
}

span.CRunTitleArea_label
{
	margin						: 0px 20px;
	font-family				:	MyriadSemibold;
	font-size					:	11pt;
}

button.CRunPausePlayBtn_active,
button.CRunPausePlayBtn_inactive
{
	margin						: 0px 16px 0px 0px;
	border						: 0;
	background-color	: transparent;
}

button.CRunPausePlayBtn_active
{
	cursor						: pointer;
}

button.CRunPausePlayBtn_inactive
{
	cursor						: default;
}
