div.CRunAlert,div.CRunAlertLeft,div.CRunAlertRight,div.CRunAlertMax
{
	position					: absolute;
	top								: 608px;
	height						: 146px;
	halign						: left;
	valign						:	top;
	overflow					: hidden;
	background-color	: transparent;
}

div.CRunAlert
{
	left							: 150px;
	width							: 974px;
	margin						: 0px 0px 0px -100px;
}

div.CRunAlertLeft
{
	left							: 0px;
	width							: 974px;
	margin						: 0px 0px 0px 0px;
}

div.CRunAlertRight
{
	left							: 150px;
	width							: 974px;
	margin						: 0px 0px 0px -100px;
}

div.CRunAlertMax
{
	left							: 0px;
	width							: 1024px;
	margin						: 0px 0px 0px 0px;
}

div.CRunAlert_title_area_left
{
	width							: 836px;
}

div.CRunAlertLeft_title_area_left
{
	width							: 836px;
}

div.CRunAlertRight_title_area_left
{
	width							: 836px;
}

div.CRunAlertMax_title_area_left
{
	width							: 986px;
}

div.CRunAlert_title_area_right
{
	width							: 18px;
}

span.CRunAlert_title_area_label
{
	margin						: 0px 10px;
	font-family				:	MyriadSemibold;
	font-size					:	11pt;
}

div.CRunAlert_text_area,div.CRunAlertLeft_text_area,div.CRunAlertRight_text_area,div.CRunAlertMax_text_area
{
	height						: 116px;
	margin						: 0px 10px;
	background-color	: black;
	font-family				:	MyriadPro;
	font-size					:	10pt;
}

div.CRunAlert_text_area
{
	width							: 874px;
}

div.CRunAlertLeft_text_area
{
	width							: 874px;
}

div.CRunAlertRight_text_area
{
	width							: 874px;
}

div.CRunAlertMax_text_area
{
	width							: 1024px;
}

div.CRunAlert_text_area_div,div.CRunAlertLeft_text_area_div,div.CRunAlertRight_text_area_div,div.CRunAlertMax_text_area_div
{
	height						: 116px;
	overflow					: auto;
	color							: white;
}

div.CRunAlert_text_area_div
{
	width							: 844px;
}

div.CRunAlertLeft_text_area_div
{
	width							: 844px;
}

div.CRunAlertRight_text_area_div
{
	width							: 844px;
}

div.CRunAlertMax_text_area_div
{
	width							: 994px;
}
