div.CRunCanon
{
	position					: absolute;
	top								: 32px;
	width							: 1024px;
	height						: 576px;
	halign						: left;
	valign						:	top;
	overflow					: hidden;
	background-color	: transparent;
	background-image	:	url('background_empack.png');
}

div.CRunCanon_title_area
{
	width							: 974px;
	height						: 30px;
	margin						: 40px 20px 0px 20px;
	padding						:	5px;
	background-color	:	transparent;
	color							:	#FFFFFF;
}
span.CRunCanon_title_area_label
{
	margin						: 10px;
	font-family				:	MyriadSemibold;
	font-size					:	11pt;
}
div.CRunCanon_content_area
{
	width							: 492px;
	height						: 436px;
	margin						: 0px 0px 0px 20px;
	overflow					: hidden;
	background-color	:	transparent;
}
div.CRunCanon_item_area
{
	width							: 492px;
	height						: 436px;
	margin						: 0px 1px 0px 20px;
	overflow					: hidden;
	background-color	:	transparent;
}

div.CRunCanon_s_content
{
	width							: 464px;
	height						: 434px;
	border						: 1px solid darkgray;
	vertical-align		: middle;
	margin						: 0px 0px 0px 16px;
	overflow					: hidden;
	background-color	:	white;
}
div.CRunCanon_item
{
	width							: 464px;
	height						: 434px;
	border						: 1px solid darkgray;
	vertical-align		: middle;
	margin						: 0px 16px 0px 10px;
	overflow					: hidden;
	background-color	:	white;
}

td.CRunCanon_treecell_active,
td.CRunCanon_treecell_inactive,
td.CRunCanon_treecell_selected,
td.CRunCanon_treecell_opened,
span.CRunCanon_treecell_active,
span.CRunCanon_treecell_inactive,
span.CRunCanon_treecell_selected,
span.CRunCanon_treecell_opened
{
	background-color	:	white;
	font-family				:	MyriadSemibold;
	font-size					:	10pt;
}
td.CRunCanon_treecell_active,
span.CRunCanon_treecell_active
{
	color							:	#2E5282;
	cursor						: pointer;
}

td.CRunCanon_treecell_inactive,
span.CRunCanon_treecell_inactive
{
	color							:	#888888;
	cursor						: default;
}

td.CRunCanon_treecell_selected,
span.CRunCanon_treecell_selected
{
	color							:	#203858;
	cursor						: pointer;
}

td.CRunCanon_treecell_opened
{
	color							:	#203858;
	cursor						: pointer;
}

span.CRunCanon_treecell_opened
{
	color							:	#A1BBDF;
	cursor						: pointer;
}

div.CRunCanon_item_div
{
	margin						: 5px 16px;
	color							: black;
}

span.CRunCanon_item_html
{
	color							: black;
}

div.CRunCanon_buttons_area
{
	width							: 974px;
	height						: 30px;
	margin						: 0px 20px 20px 20px;
	padding						:	5px;
	background-color	:	transparent;
	filter						: alpha(opacity=100);
	-moz-opacity			: 1.0;
	opacity						: 1.0;
}

div.CRunCanon_buttons_area_white_space
{
	width							: 754px;
}
