div.CRunLogbookNeoclassic
{
	position					: absolute;
	top								: 32px;
	width							: 1024px;
	height						: 576px;
	halign						: left;
	valign						:	top;
	overflow					: hidden;
	background-color	: transparent;
	background-image	:	url('background_empack.png');
}

div.CRunLogbookNeoclassicOverview
{
	position					: absolute;
	top								: 100px;
	left							: 100px;
	width							: 824px;
	halign						: left;
	valign						:	top;
	background-color	: #FFFFFF;
	color							: #000000;
	font-family				:	MyriadSemibold;
	font-size					:	11pt;
}

td.CRunLogbookNeoclassicOverview_vbox
{
	margin						: 0px 10px;
}

div.CRunLogbookNeoclassicOverview_div
{
	width							: 770px;
	height						: 400px;
	margin						: 0px 10px;
	overflow					: auto;
	color							: #000000;
}

div.CRunLogbookNeoclassic_title_area
{
	width							: 974px;
	height						: 30px;
	margin						: 40px 20px 0px 20px;
	padding						:	5px;
	background-color	:	transparent;
	color							:	#FFFFFF;
}

span.CRunLogbookNeoclassic_title_area_label
{
	margin						: 10px;
	font-family				: MyriadSemibold;
	font-size					: 11pt;
}
div.CRunLogbookNeoclassic_content_area
{
	width							: 492px;
	height						: 436px;
	margin						: 0px 0px 0px 20px;
	overflow					: hidden;
	background-color	:	transparent;
}
div.CRunLogbookNeoclassic_item_area
{
	width							: 492px;
	height						: 436px;
	margin						: 0px 1px 0px 0px;
	overflow					: hidden;
	background-color	:	transparent;
}

div.CRunLogbookNeoclassic_s_content
{
	width							: 464px;
	height						: 434px;
	border						: 1px solid darkgray;
	vertical-align		: middle;
	margin						: 0px 0px 0px 16px;
	overflow					: hidden;
	background-color	:	white !important;
}
div.CRunLogbookNeoclassic_item
{
	width							: 464px;
	height						: 434px;
	border						: 1px solid darkgray;
	vertical-align		: middle;
	margin						: 0px 16px 0px 10px;
	overflow					: hidden;
	background-color	:	white;
}
textarea.CRunLogbookNeoclassic_s_item_text
{
	width					: 400px;
	height					: 306px;
	overflow				: auto;
	color					: black;
	font-family				: MyriadPro;
	resize					: none;
	margin					: 10px 0px 10px 20px;
}

td.CRunLogbookNeoclassic_treecell_active,
td.CRunLogbookNeoclassic_treecell_inactive,
td.CRunLogbookNeoclassic_treecell_selected,
td.CRunLogbookNeoclassic_treecell_opened,
span.CRunLogbookNeoclassic_treecell_active,
span.CRunLogbookNeoclassic_treecell_inactive,
span.CRunLogbookNeoclassic_treecell_selected,
span.CRunLogbookNeoclassic_treecell_opened
{
	background-color	:	white;
	font-family				: MyriadSemibold;
	font-size					: 10pt;
}
td.CRunLogbookNeoclassic_treecell_active,
span.CRunLogbookNeoclassic_treecell_active
{
	color							:	#2E5282;
	cursor						: pointer;
}

td.CRunLogbookNeoclassic_treecell_inactive,
span.CRunLogbookNeoclassic_treecell_inactive
{
	color							:	#888888;
	cursor						: default;
}

td.CRunLogbookNeoclassic_treecell_selected,
span.CRunLogbookNeoclassic_treecell_selected
{
	color							:	#203858;
	cursor						: pointer;
}

td.CRunLogbookNeoclassic_treecell_opened
{
	color							:	#203858;
	cursor						: pointer;
}

span.CRunLogbookNeoclassic_treecell_opened
{
	color							:	#A1BBDF;
	cursor						: pointer;
}

.CRunLogbookNeoclassic_s_margin
{
	margin					: 0px 0px 0px 20px !important;
	font-family				: MyriadPro;
	font-size				: 11pt;
}

.CRunLogbookNeoclassic_s_item_label
{
	display					: block;
	width					: 405px;
	overflow				: auto;
	height					: 54px;
}
	
div.CRunLogbookNeoclassic_buttons_area
{
	width							: 974px;
	height						: 30px;
	margin						: 0px 20px 20px 20px;
	padding						:	5px;
	background-color	:	transparent;
	filter						: alpha(opacity=100);
	-moz-opacity			: 1.0;
	opacity						: 1.0;
}

div.CRunLogbookNeoclassic_buttons_area_white_space
{
	width							: 754px;
}
