div.CRunLocationArea
{
	position					: absolute;
	top								: 32px;
	width							: 1024px;
	height						: 576px;
	align							: center;
	overflow					: hidden;
	background-color	: transparent;
}

img.CRunBackgroundImage_active,
img.CRunBackgroundImage_inactive
{
	width							: 1024px;
	height						: 576px;
	background-color	: black;
	align							: center;
	overflow					: hidden;
}
img.CRunBackgroundImage_active
{
	cursor						: pointer;
}
img.CRunBackgroundImage_inactive
{
	cursor						: default;
}
