div.CRunConversations
{
	position					: absolute;
	top								: 32px;
	width							: 1024px;
	height						: 576px;
	halign						: left;
	valign						:	top;
	overflow					: hidden;
	background-color	: transparent;
}
