body
{
	margin						: 0px;
	padding						: 0px;
	background-color	: #000000;
	color							: gray;
}

div.CRunWnd
{
	width							: 1024px;
	height						: 744px;
	overflow					: hidden;
	background-color	: #000000;
}

div.CRunTitleArea
{
	position					: relative;
	width							: 1024px;
	height						: 22px;
	overflow					: hidden;
	margin						: 0px 0px 0px 0px;
	background-color	: transparent;
	color							: #B5B5B5;
	font-family				:	verdana;
	font-size					:	10pt;
	font-weight				:	bold;
}

div.CRunLocationArea
{
	position					: absolute;
	top								: 22px;
	width							: 1024px;
	height						: 576px;
	align							: center;
	overflow					: hidden;
	background-color	: transparent;
}

div.CRunReferences,
div.CRunMail,
div.CRunAssessments,
div.CRunLogbook,
div.CRunGooglemaps,
div.CRunCanon,
div.CRunCanonResult,
div.CRunConversations
{
	position					: absolute;
	top								: 22px;
	width							: 1024px;
	height						: 576px;
	halign						: left;
	valign						:	top;
	overflow					: hidden;
	background-color	: transparent;
}

div.CRunReferences,
div.CRunMail,
div.CRunAssessments,
div.CRunLogbook,
div.CRunGooglemaps,
div.CRunCanon,
div.CRunCanonResult
{
	background-image	:	url('background_empack.png');
}

button.CRunEmpackBtn_empty,
button.CRunLocationsBtn_empty,
button.CRunNoteBtn_empty,
button.CRunTasksBtn_empty,
button.CRunEmpackBtn_active,
button.CRunLocationsBtn_active,
button.CRunNoteBtn_active,
button.CRunTasksBtn_active,
button.CRunEmpackBtn_selected,
button.CRunLocationsBtn_selected,
button.CRunNoteBtn_selected,
button.CRunTasksBtn_selected,
button.CRunEmpackBtn_inactive,
button.CRunLocationsBtn_inactive,
button.CRunNoteBtn_inactive,
button.CRunTasksBtn_inactive
{
	width							: 162px;
	height						: 73px;
	position					: absolute;
	border						: 0;
	overflow					: hidden;
	background-color	: black;
	color							: #115F86;
	font-family				: arial;
	font-size					: 8pt;
	font-weight				: bold;
}

button.CRunEmpackBtn_empty,
button.CRunLocationsBtn_empty,
button.CRunNoteBtn_empty,
button.CRunTasksBtn_empty
{
	color							: #000000;
	cursor						: default;
}

button.CRunEmpackBtn_active,
button.CRunLocationsBtn_active,
button.CRunNoteBtn_active,
button.CRunTasksBtn_active
{
	color							: #115F86;
	cursor						: pointer;
}

button.CRunEmpackBtn_selected,
button.CRunLocationsBtn_selected,
button.CRunNoteBtn_selected,
button.CRunTasksBtn_selected
{
	color							: #FFFFFF;
	cursor						: default;
}

button.CRunEmpackBtn_inactive,
button.CRunLocationsBtn_inactive,
button.CRunNoteBtn_inactive,
button.CRunTasksBtn_inactive
{
	color							: #888888;
	cursor						: default;
}

button.CRunEmpackBtn_empty,
button.CRunEmpackBtn_active,
button.CRunEmpackBtn_selected,
button.CRunEmpackBtn_inactive
{
	top								: 598px;
}

button.CRunLocationsBtn_empty,
button.CRunLocationsBtn_active,
button.CRunLocationsBtn_selected,
button.CRunLocationsBtn_inactive
{
	top								: 671px;
}

button.CRunNoteBtn_empty,
button.CRunNoteBtn_active,
button.CRunNoteBtn_selected,
button.CRunNoteBtn_inactive
{
	top								: 598px;
	left							: 862px;
}

button.CRunTasksBtn_empty,
button.CRunTasksBtn_active,
button.CRunTasksBtn_selected,
button.CRunTasksBtn_inactive
{
	top								: 671px;
	left							: 862px;
}

div.CRunLocationBtns,
div.CRunEmpackActionBtns,
div.CRunConversationInteraction,
div.CRunAlert,
div.CRunNote
{
	position					: absolute;
	top								: 598px;
	left							: 162px;
	width							: 700px;
	height						: 146px;
	halign						: left;
	valign						:	top;
	overflow					: hidden;
	background-color	: transparent;
}

div.CRunLocationActions,
div.CRunAssessmentStart,
div.CRunAssessmentEnd
{
	position					: absolute;
	top								: 100px;
	left							: 312px;
	width							: 400px;
	halign						: left;
	valign						:	top;
	background-color	: #000000;
	color							: #2E5282;
	font-family				:	verdana;
	font-size					:	10pt;
	font-weight				:	bold;
}

div.CRunLocationActions
{
	background-color	: #000000;
	color							: #2E5282;
}

div.CRunAssessmentStart,
div.CRunAssessmentEnd
{
	background-color	: #FFFFFF;
	color							: #000000;
}

div.CRunTasks,
div.CRunShowMail,
div.CRunNewMail,
div.CRunLogbookOverview,
div.CRunComponentItemWnd
{
	position					: absolute;
	top								: 100px;
	left							: 100px;
	width							: 824px;
	halign						: left;
	valign						:	top;
	font-family				:	verdana;
	font-size					:	10pt;
	font-weight				:	bold;
}

div.CRunTasks
{
	height						: 344px;
	background-color	: #0000B5;
	color							: #FFFFFF;
}

div.CRunShowMail,
div.CRunNewMail,
div.CRunLogbookOverview,
div.CRunComponentItemWnd
{
	background-color	: #FFFFFF;
	color							: #000000;
}

div.CRunContentArea
{
	position					: absolute;
	top								: 22px;
	width							: 1024px;
	height						: 576px;
	align							: center;
	overflow					: hidden;
	background-color	: transparent;
}


div.CBufferingWnd
{
	position					: absolute;
	top								: 300px;
	left							: 400px;
	width							: 175px;
	height						: 30px;
}

div.CToolTip
{
	width							: 500px;
}

