<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns:h="http://www.w3.org/1999/xhtml" xmlns:zk="http://www.zkoss.org/2005/zk">

<window use="nl.surf.emergo.control.run.CRunPlayWnd" zclass="CRunAlertWnd">
	<custom-attributes labelKey="run_alert.title"/>
  <vbox zclass="CRunAlertWnd_vbox">
    <h:div class="CRunAlertWnd_vbox_content">${arg.get('item')}</h:div>
    <hbox>
      <button zclass="CRunAlertWnd_okbtn" use="nl.surf.emergo.control.run.classic.CRunOkBtnClassic" width="80px" style="margin: 0px 0px 0px 597px">
				<custom-attributes labelKey="ok"/>
      </button>
    </hbox>
  </vbox>

</window>

</zk>
