.jw-icon
{
	-moz-font-feature-settings:liga;
	-moz-osx-font-smoothing:grayscale;
	-ms-font-feature-settings:liga 1;
	-o-font-feature-settings:liga;
	-webkit-font-feature-settings:liga;
	-webkit-font-smoothing:antialiased;
	background-color:transparent;
	font-family:jw-icons;
	font-feature-settings:liga;
	font-style:normal;
	font-variant:normal;
	font-weight:400;
	text-transform:none;
}

.jw-skin-jw_emergo,
.jw-skin-jw_emergo .jw-preview.jw-reset 
{
	background-color:transparent !important;
}

.jw-skin-jw_emergo .jw-controlbar
{
	border-top:#333 1px solid;
	height:2.5em;
}

.jw-skin-jw_emergo .jw-group
{
	vertical-align:middle;
}

.jw-skin-jw_emergo .jw-playlist
{
	background-color:rgba(0,0,0,0.5);
}

.jw-skin-jw_emergo .jw-playlist-container
{
	background-color:rgba(0,0,0,0.5);
	left:-43%;
}

.jw-skin-jw_emergo .jw-playlist-container .jw-option
{
	border-bottom:1px solid #444;
}

.jw-skin-jw_emergo .jw-playlist-container .jw-option:hover,.jw-skin-jw_emergo .jw-playlist-container .jw-option.jw-active-option
{
	background-color:#000;
}

.jw-skin-jw_emergo .jw-playlist-container .jw-option:hover .jw-label
{
	color:#ff0046;
}

.jw-skin-jw_emergo .jw-playlist-container .jw-icon-playlist
{
	margin-left:0;
}

.jw-skin-jw_emergo .jw-playlist-container .jw-label .jw-icon-play
{
	color:#ff0046;
}

.jw-skin-jw_emergo .jw-playlist-container .jw-label .jw-icon-play:before
{
	padding-left:0;
}

.jw-skin-jw_emergo .jw-tooltip-title
{
	background-color:#000;
	color:#fff;
}

.jw-skin-jw_emergo .jw-text
{
	color:#fff;
}

.jw-skin-jw_emergo .jw-button-color
{
	color:#fff;
}

.jw-skin-jw_emergo .jw-button-color:hover
{
	color:#ff0046;
}

.jw-skin-jw_emergo .jw-toggle
{
	color:#ff0046;
}

.jw-skin-jw_emergo .jw-toggle.jw-off
{
	color:#fff;
}

.jw-skin-jw_emergo .jw-controlbar .jw-icon:before,.jw-skin-jw_emergo .jw-text-elapsed,.jw-skin-jw_emergo .jw-text-duration
{
	padding:0 .7em;
}

.jw-skin-jw_emergo .jw-controlbar .jw-icon-prev:before
{
	padding-right:.25em;
}

.jw-skin-jw_emergo .jw-controlbar .jw-icon-playlist:before
{
	padding:0 .45em;
}

.jw-skin-jw_emergo .jw-controlbar .jw-icon-next:before
{
	padding-left:.25em;
}

.jw-skin-jw_emergo .jw-icon-prev,.jw-skin-jw_emergo .jw-icon-next
{
	font-size:.7em;
}

.jw-skin-jw_emergo .jw-icon-prev:before
{
	border-left:1px solid #666;
}

.jw-skin-jw_emergo .jw-icon-next:before
{
	border-right:1px solid #666;
}

.jw-skin-jw_emergo .jw-icon-display
{
	color:#fff;
}

.jw-skin-jw_emergo .jw-icon-display:before
{
	padding-left:0;
}

.jw-skin-jw_emergo .jw-display-icon-container
{
	border:1px solid #333;
	border-radius:50%;
}

.jw-skin-jw_emergo .jw-rail
{
	background-color:#384154;
	box-shadow:none;
}

.jw-skin-jw_emergo .jw-buffer
{
	background-color:#666f82;
}

.jw-skin-jw_emergo .jw-progress
{
	background:#ff0046;
}

.jw-skin-jw_emergo .jw-knob
{
	background-color:#fff;
	border-radius:1em;
	box-shadow:0 0 0 1px #000;
	height:.6em;
	width:.6em;
}

.jw-skin-jw_emergo .jw-slider-horizontal .jw-slider-container
{
	height:.95em;
}

.jw-skin-jw_emergo .jw-slider-horizontal .jw-rail,.jw-skin-jw_emergo .jw-slider-horizontal .jw-buffer,.jw-skin-jw_emergo .jw-slider-horizontal .jw-progress
{
	border-radius:0;
	height:.2em;
}

.jw-skin-jw_emergo .jw-slider-horizontal .jw-knob
{
	top:-.2em;
}

.jw-skin-jw_emergo .jw-slider-horizontal .jw-cue
{
	background-color:#fff;
	border-radius:50%;
	height:.3em;
	top:-.05em;
	width:.3em;
}

.jw-skin-jw_emergo .jw-slider-vertical .jw-rail,.jw-skin-jw_emergo .jw-slider-vertical .jw-buffer,.jw-skin-jw_emergo .jw-slider-vertical .jw-progress
{
	width:.2em;
}

.jw-skin-jw_emergo .jw-volume-tip
{
	left:-45%;
	padding-bottom:.7em;
	width:100%;
}

.jw-skin-jw_emergo .jw-text-duration
{
	color:#666f82;
}

.jw-skin-jw_emergo .jw-controlbar-right-group .jw-icon-tooltip:before,.jw-skin-jw_emergo .jw-controlbar-right-group .jw-icon-inline:before
{
	border-left:1px solid #666;
}

.jw-skin-jw_emergo .jw-controlbar-right-group .jw-icon-inline:first-child:before
{
	border:0;
}

.jw-skin-jw_emergo .jw-dock .jw-dock-button
{
	border:1px solid #333;
	border-radius:50%;
}

.jw-skin-jw_emergo .jw-dock .jw-overlay
{
	border-radius:2.5em;
}

.jw-skin-jw_emergo .jw-icon-tooltip .jw-active-option
{
	background-color:#ff0046;
	color:#fff;
}

.jw-skin-jw_emergo .jw-icon-volume
{
	min-width:2.6em;
}

.jw-skin-jw_emergo .jw-time-tip,.jw-skin-jw_emergo .jw-menu,.jw-skin-jw_emergo .jw-volume-tip,.jw-skin-jw_emergo .jw-skip
{
	border:1px solid #333;
}

.jw-skin-jw_emergo .jw-time-tip
{
	bottom:1.3em;
	padding:.2em;
}

.jw-skin-jw_emergo .jw-menu,.jw-skin-jw_emergo .jw-volume-tip
{
	bottom:.24em;
}

.jw-skin-jw_emergo .jw-skip
{
	border-radius:1.75em;
	padding:.4em;
}

.jw-skin-jw_emergo .jw-skip .jw-text,.jw-skin-jw_emergo .jw-skip .jw-icon-inline
{
	color:#fff;
	line-height:1.75em;
}

.jw-skin-jw_emergo .jw-skip.jw-skippable:hover .jw-text,.jw-skin-jw_emergo .jw-skip.jw-skippable:hover .jw-icon-inline
{
	color:#ff0046;
}

.jw-skin-jw_emergo.jw-flag-touch .jw-controlbar .jw-icon:before,.jw-skin-jw_emergo.jw-flag-touch .jw-text-elapsed,.jw-skin-jw_emergo.jw-flag-touch .jw-text-duration
{
	padding:0 .35em;
}

.jw-skin-jw_emergo.jw-flag-touch .jw-controlbar .jw-icon-prev:before
{
	padding:0 .125em 0 .7em;
}

.jw-skin-jw_emergo.jw-flag-touch .jw-controlbar .jw-icon-next:before
{
	padding:0 .7em 0 .125em;
}

.jw-skin-jw_emergo.jw-flag-touch .jw-controlbar .jw-icon-playlist:before
{
	padding:0 .225em;
}

.jw-skin-jw_emergo jw-swf
{
	background-color:transparent;
}

div.jw-controls.jw-reset > div.jw-controlbar.jw-background-color.jw-reset
{
	display:block;
}