.bar
{
	position					: absolute;
	top								: 50px;
	left							: 20px;
}

.block1,
.block2,
.block3,
.block4,
.block5,
.block6,
.block7,
.block8,
.block9,
.block10,
.block11,
.block12,
.block13,
.block14,
.block15,
.block16,
.block17,
.block18,
.block19,
.block20
{
	position					: absolute;
	cursor						: pointer;
	z-index						: 1;
}

.block1,
.block2,
.block3,
.block4
{
	top								: 0px;
}

.block5,
.block6,
.block7,
.block8
{
	top								: 75px;
}

.block9,
.block10,
.block11,
.block12
{
	top								: 150px;
}

.block13,
.block14,
.block15,
.block16
{
	top								: 225px;
}

.block17,
.block18,
.block19,
.block20
{
	top								: 300px;
}

.block1,
.block5,
.block9,
.block13,
.block17
{
	left							: 0px;
}

.block2,
.block6,
.block10,
.block14,
.block18
{
	left							: 110px;
}

.block3,
.block7,
.block11,
.block15,
.block19
{
	left							: 220px;
}

.block4,
.block8,
.block12,
.block16,
.block20
{
	left							: 330px;
}

.photo
{
	position					: absolute;
	left							: 460px;
	top								: 50px;
	z-index						: 2;
}	
	
.delete_photo_enabled,
.delete_photo_disabled
{
	position					: absolute;
	left							: 715px;
	top								: 310px;
	width							: 107px;
	height						: 34px;
	z-index						: 1;
}	
	
.delete_photo_enabled
{
	background-image	: url('delete_photo_active.png');
	cursor						: pointer;
}	
	
.delete_photo_disabled
{
	background-image	: url('delete_photo_inactive.png');
	cursor						: default;
}	
