/* Example UI */
:root {
  --ci-purple: #253374;
  --ci-lightgrey: rgb(174, 175, 181);
  --ci-btn-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
  --ci-btn-shadow-hover: 0px 2px 8px 0px rgba(0,0,0,0.35);
  --ci-shadow-0: 0px 16px 32px 0px rgba(0,0,0,0.25);
  --ci-shadow-1: 0px 2px 4px 0px rgba(0,0,0,0.35);
}

.emergo-screen {
  width: 1200px;
  height: 650px;
  margin-bottom: 1.5rem;
  background-color: white;
  padding: 2rem;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  border-radius: .5rem;
  transition: filter .5s ease-in-out;
}

.jp-dialog,
.jp-fase-progress {
  font-size: 18px;
  font-family: 'Myriad Pro', sans-serif;
  background-color: var(--ci-lightgrey);
  color: black;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  max-width: 1200px;
  margin-top: 1.5rem;
  flex-direction: column;
}

/* JS generic styles */
.jp-dialog label {
  display: block;
  margin-bottom: .5rem;
}

.jp-dialog strong {
  font-weight: 700;
}

.jp-dialog p {
  font-size: 1rem;
  line-height: 1.4rem;
  margin-bottom: 1rem;
  color: var(--ci-darkblue);
  border-radius:
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Dialog */
.jp-dialog {
  background-color: white;
  border-radius: 12px;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: var(--ci-shadow-0);
  animation: .5s ease-in-out 0s 1 slideInFromBottom;
  flex-direction: column;
  position: relative;
}

.jp-dialog-inner {
  position: relative;
  padding: 2rem;
}

.jp-dialog-close.jp-btn.round.primary {
  background-color: black;
  box-shadow: var(--ci-shadow-1);
  top: -18px;
  right: -18px;
  position: absolute;
  height: 36px;
  width: 36px;
  border-radius: 100rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: .85rem;
}

.jp-dialog-close.jp-btn.primary.white {
  background-color: white;
  color: var(--ci-darkblue);
}

/* Fases */

.jp-fases input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.jp-fases input:checked + .tab-label::after {
  transition: transform .35s ease-in-out;
  transform: rotate(90deg);
}

/* Accordion styles */
.jp-fases .tabs {
  overflow: hidden;
}

.jp-fases .tab-label {
  display: flex;
  padding: .75rem 1rem;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 0;
  align-items: center;
  color: var(--ci-lightgrey);
  transition: filter .08s ease-in-out;
}

.jp-fases .tab-label:hover {
  filter: brightness(108%);
}

.jp-fases .tab-label .jp-btn {
  margin-right: 2rem;
}

.jp-fases .tab-label-text {
  flex: 1;
}

.jp-fases .tab-label-small {
  padding-left: 1rem;
  font-size: 1rem;
  color: var(--ci-lightgrey);
  transition: filter .08s ease-in-out;
}

.jp-fases .tab-label-small:hover {
  filter: brightness(108%);
}

.jp-fases .tab-label-small.done,
.jp-fases .tab-label-small.active,
.jp-fases .tab-label.done,
.jp-fases .tab-label.active {
  color: var(--ci-purple);
}

.jp-fases .tab-label-small.active,
.jp-fases .tab-label.active {
  font-weight: 700;
}

/* Icon */
.jp-fases .tab-label:hover {

}
.jp-fases .tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: max-height .35s ease-in-out, transform .35s ease-in-out;
  display: block;
  margin-left: auto;
}
.jp-fases .tab {
  width: 100%;
  color: black;
  overflow: hidden;
}
.jp-fases .tab-content {
  max-height: 0;
  padding: 0 0 0 30px;
  color: #ccc;
  overflow: hidden;
  transition: max-height .35s ease-in-out;
}
.jp-fases .tab-content-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: purple;
    cursor: pointer;
}
.jp-fases .tab-content-close:hover {
  background: blue;
}

.jp-fases .tab-content-list {
    line-height: 32px;
}


// :checked
.jp-fases input:checked + .tab-label::after {
  transform: rotate(90deg);
}
.jp-fases input:checked  ~ .tab-content {
  max-height: 100vh;
  padding: 0 0 0 30px;
}
.tab-bullet {
  border: 2px solid var(--ci-lightgrey);
  width: 20px;
  height: 20px;
  margin-right: 1rem;
  border-radius: 100rem;
  position: relative;
  display: block;
  font-size: .75rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.jp-fases .tab-label.done [class~="fas"] {
  color: white;
}

.tab-bullet:before,
.tab-bullet:after {
  display: block;
  content: '';
  width: 2px;
  height: 18px;
  background-color: var(--ci-lightgrey);
  position: absolute;
}

.tab-bullet:before {
  top: -20px;
  left: 9px;
}

.tab-bullet:after {
  bottom: -20px;
  left: 9px;
}

.tab:first-child .tab-bullet:before,
.tab:last-child .tab-bullet:after {
  opacity: 0;
}

.tab-bullet-small {
  border: 2px solid var(--ci-lightgrey);
  width: 6px;
  height: 6px;
  margin-right: 1rem;
  border-radius: 100rem;
  position: relative;
  display: inline-block;
  left: -23px;
}

.tab-bullet-small:before,
.tab-bullet-small:after {
  display: block;
  content: '';
  width: 2px;
  height: 16px;
  background-color: var(--ci-lightgrey);
  position: absolute;
}

.tab-bullet-small:before {
  top: -18px;
  left: 2px;
}

.tab-bullet-small:after {
  bottom: -18px;
  left: 2px;
}

.tab-label-small.done .tab-bullet-small:before,
.tab-label-small.done .tab-bullet-small:after,
.tab-label-small.active .tab-bullet-small:before {
  background-color: var(--ci-purple);
}

.tab-label.active .tab-bullet,
.tab-label-small.active .tab-bullet-small {
  border: 2px solid var(--ci-purple);
}
.tab-label.done .tab-bullet,
.tab-label-small.done .tab-bullet-small {
  border: 2px solid var(--ci-purple);
  background-color: var(--ci-purple);
}
.tab-label.done .tab-bullet:before,
.tab-label.done .tab-bullet:after,
.tab-label.active .tab-bullet:before,
.tab-label.active .tab-bullet:after {
  background-color: var(--ci-purple);
}

/* JS Fase progress bar */
.jp-fase-progress {
  background-color: white;
  top: 24px;
  right: 90px;
  position: absolute;
  white-space: nowrap;
  padding: .75rem 1rem;
  border-radius: .25rem;
  font-weight: 600;
  font-size: .95rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.jp-fase-progress:hover {
  box-shadow: var(--ci-shadow-0);
  transition: all 0.08s ease-in;
  transform: scale(1.05);
}

.fase-bullet {
  border: 2px solid var(--ci-lightgrey);
  width: .5rem;
  height: .5rem;
  display: inline-block;
  border-radius: 100rem;
}

.jp-fase-progress ul {
  display: inline-flex;
  padding-left: 1rem;
}

.jp-fase-progress ul li {
  position: relative;
  padding-right: 1rem;
  display: inline-flex;
  align-items: center;
}

.jp-fase-progress ul .fase-bullet:before,
.jp-fase-progress ul .fase-bullet:after {
  content: ' ';
  width: 10px;
  height: 2px;
  background-color: var(--ci-lightgrey);
  display: block;
  position: absolute;
  top: 6px;
}

.jp-fase-progress ul .fase-bullet.done {
  border-color: var(--ci-purple);
  background-color: var(--ci-purple);
}

.jp-fase-progress ul .fase-bullet.done:before {
  background-color: var(--ci-purple);
}

.jp-fase-progress ul .fase-bullet.done:after {
  background-color: var(--ci-purple);
}

.jp-fase-progress ul .fase-bullet.active {
  border-color: var(--ci-purple);
}

.jp-fase-progress ul .fase-bullet.active:before {
  background-color: var(--ci-purple);
}

.jp-fase-progress ul .fase-bullet.active:after {
  background-color: var(--ci-purple);
}

.jp-fase-progress ul .fase-bullet:before {
  left: -10px;
  background-color: var(--ci-lightgrey);
}

.jp-fase-progress ul .fase-bullet:after {
  left: 12px;
  background-color: var(--ci-lightgrey);
}

.jp-fase-progress ul li:first-child .fase-bullet:before {
  display: none;
}

.jp-fase-progress ul li:last-child .fase-bullet:after {
  display: none;
}

.jp-fase-progress ul li:last-child {
  padding-right: 0;
}

/* Indicator */

.jp-indicator {
  border-radius: 100rem;
  color: white;
  width: 1rem;
  height: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: .75rem;
  line-height: .75rem;
  font-weight: 600;
  vertical-align: baseline;
}

.jp-indicator.green {
  background-color: var(--ci-purple);
}

.jp-indicator.darkblue {
  background-color: var(--ci-darkblue);
}

/* Button holder */
.jp-btn-holder {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.jp-btn-holder.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 3rem;
}

.jp-btn-holder .jp-btn {
  margin-right: .5rem;
}

.jp-btn-holder.align-center {
  justify-content: center;
}

/* Buttons */
.jp-btn {
  box-shadow: none;
  display: inline-block;
  border-radius: .25rem;
  color: white;
  border: 0;
  box-shadow: var(--ci-btn-shadow);
  height: 40px;
  padding: 0 1.25rem;
  font-weight: 600;
  cursor: pointer;
  font-size: .925rem;
  font-family: 'Source Sans Pro', sans-serif;
  transition: transform .08s ease-in-out, filter .08s ease-in-out, box-shadow .08s ease-in-out;
  letter-spacing: 1;
  text-decoration: none;
}

.get-attention {
  animation: shockwaveJump 1s ease-out infinite;
}

.get-attention:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  animation: shockwave 1s .65s ease-out infinite;
  pointer-events: none;
}

.get-attention:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  animation: shockwave 1s .5s ease-out infinite;
  pointer-events: none;
}

.get-attention:hover {
  animation: none;
}

.jp-btn.c2a {
  position: absolute;
  bottom: 2.5rem;
  right: 2rem;
}

.jp-btn.icon-right .far {
  padding-left: .5rem;
}

.jp-btn:hover {
  transform: scale(1.05);
  box-shadow: var(--ci-btn-shadow-hover);
}

.jp-btn:not(.disabled):hover {
  filter: brightness(108%);
}

.jp-btn.round {
  border-radius: 100rem;
  background-color: white;
  width: 42px;
  height: 42px;
  padding: 0;
}

.jp-btn.round.small {
  width: 27px;
  height: 27px;
  font-size: .75rem;
  vertical-align: top;
}


.jp-btn.primary {
  background-color: var(--ci-purple);
}

.jp-btn.tertiary {
  background-color: transparent;
  color: var(--ci-purple);
  border: 2px solid var(--ci-purple);
}

.jp-btn.icon-right .fas {
  margin-left: .25rem;
}



.jp-fase-complete {
  width: 700px;
  height: 350px;
  background-color: var(--ci-darkblue);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 1rem;
  padding: 2rem;
  box-sizing: border-box;
  transform-origin: top left;
}

.jp-fase-complete.grow-dialog {
  animation: .5s ease-in-out 0s 1 growDialog;
}

.jp-fase-complete h1,
.jp-fase-complete h2,
.jp-fase-complete h3,
.jp-fase-complete h4 {
  color: white;
  text-align: center;
}

.jp-fase-complete h2 {
  margin-bottom: 2rem;
}

.jp-fase-complete h3 {
  margin-bottom: 1.5rem;
}

.jp-fase-complete-list {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.jp-fase-complete-bullet {
  background-color: var(--ci-darkblue);
  border: 4px solid var(--ci-lightblue);
  border-radius: 100rem;
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.jp-fase-complete-bullet:after {
  content: '';
  height: 4px;
  width: 20px;
  background-color: var(--ci-lightblue);
  display: block;
  position: absolute;
  left: 28px;
  top: 10px;
}

.jp-fase-complete-bullet.done {
  border-color: var(--ci-purple);
  background-color: var(--ci-purple);
}

.jp-fase-complete-bullet.done:after {
  background-color: var(--ci-purple);
}

.jp-fase-complete-bullet:last-child:after {
  display: none;
}


/* JS Fase progress bar */
.jp-fase-progress {
  background-color: white;
  top: 24px;
  right: 24px;
  position: absolute;
  white-space: nowrap;
  padding: .75rem 1rem;
  border-radius: .25rem;
  font-weight: 600;
  font-size: .95rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.jp-fase-progress:hover {
  box-shadow: var(--ci-shadow-0);
  transition: all 0.08s ease-in;
  transform: scale(1.05);
}

.fase-bullet {
  border: 2px solid var(--ci-lightgrey);
  width: .5rem;
  height: .5rem;
  display: inline-block;
  border-radius: 100rem;
}

.jp-fase-progress ul {
  display: inline-flex;
  padding-left: 1rem;
}

.jp-fase-progress ul li {
  position: relative;
  padding-right: 1rem;
  display: inline-flex;
  align-items: center;
}

.jp-fase-progress ul .fase-bullet:before,
.jp-fase-progress ul .fase-bullet:after {
  content: ' ';
  width: 10px;
  height: 2px;
  background-color: var(--ci-lightgrey);
  display: block;
  position: absolute;
  top: 6px;
}

.jp-fase-progress ul .fase-bullet.done {
  border-color: var(--ci-purple);
  background-color: var(--ci-purple);
}

.jp-fase-progress ul .fase-bullet.done:before {
  background-color: var(--ci-purple);
}

.jp-fase-progress ul .fase-bullet.done:after {
  background-color: var(--ci-purple);
}

.jp-fase-progress ul .fase-bullet.active {
  border-color: var(--ci-purple);
}

.jp-fase-progress ul .fase-bullet.active:before {
  background-color: var(--ci-purple);
}

.jp-fase-progress ul .fase-bullet.active:after {
  background-color: var(--ci-purple);
}

.jp-fase-progress ul .fase-bullet:before {
  left: -10px;
  background-color: var(--ci-lightgrey);
}

.jp-fase-progress ul .fase-bullet:after {
  left: 12px;
  background-color: var(--ci-lightgrey);
}

.jp-fase-progress ul li:first-child .fase-bullet:before {
  display: none;
}

.jp-fase-progress ul li:last-child .fase-bullet:after {
  display: none;
}

.jp-fase-progress ul li:last-child {
  padding-right: 0;
}
