.jw-wrapper,.jw-preview,.jw-reset {
	background-color: transparent !important;
}

.jw-controls .jw-rail{
	background-color: rgba(255,255,255,0.2) !important;
}
.jw-controls .jw-buffer{
	background-color: rgba(255,255,255,0.4) !important;
}
.jw-controls .jw-progress{
	background-color: #f2f2f2 !important;
}
.jw-controls .jw-knob{
	background-color: #fff !important;
}
.jw-controls .jw-text {
	background-color: #fff !important;
}

.jw-controls .jw-reset .jw-icon {
	background-color: transparent !important;
}
