div.CRunConversationInteraction,
div.CRunConversationInteractionOnTop
{
	position					: absolute;
	top								: 456px;
	left							: 266px;
	width							: 648px;
	height						: 140px;
	halign						: left;
	valign						:	top;
	overflow					: visible;
	background-color	: transparent;
	background-image	:	url('bg-interview.png');
	background-repeat	: no-repeat;
	background-position	: bottom center;
}

div.CRunConversationInteraction
{
	z-index						: 151;
}

div.CRunConversationInteractionOnTop
{
	z-index						: 251;
}

div.CRunConversationInteraction_title_area
{
	display						: none;
}

div.CRunConversationInteraction_close_area
{
	display						: none;
}

td.CRunConversationInteractionLeft
{
	width							:	8px;
	background-image	:	url('bg-interview-tab-left.png');
}

td.CRunConversationInteractionMiddle
{
	background-image	:	url('bg-interview-tab-middle.png');
	background-repeat	:	repeat-x;
}

td.CRunConversationInteractionMiddleRight
{
	width							:	30px;
	background-image	:	url('bg-interview-tab-middle.png');
	background-repeat	:	repeat-x;
}

td.CRunConversationInteractionRight
{
	width							:	8px;
	background-image	:	url('bg-interview-tab-right.png');
}

div.CRunConversationInteraction_content_area
{
	position					: relative;
	top								: 18px;
	width							: 629px;
	height						: 92px;
	margin						: 0px 0px 0px 6px;
	background-color	: transparent;
}

div.CRunConversationInteraction_s_content
{
	width							: 637px;
	height						: 92px;
	border						: 0px;
	vertical-align		: middle;
	margin						: 0px 0px 0px 0px;
	background-color	: transparent;
	overflow					: auto;
}

.CRunConversationInteraction_content_area .z-dottree-body
{
	height						: 92px !important;
}

button.CRunConversationBtn_active,
button.CRunConversationBtn_inactive
{
	width							: 76px;
	height						: 16px;
	margin						: 0px 16px 0px 0px;
	border						: 0;
	overflow					: hidden;
	background-color	: transparent;
}
button.CRunConversationBtn_active
{
	cursor						: pointer;
}
button.CRunConversationBtn_inactive
{
	cursor						: default;
}

tr.CRunConversationInteraction_treerow
{
	background				: #8D8989;
	background-color	: #8D8989;
}

td.CRunConversationInteraction_treecell_active_odd,
td.CRunConversationInteraction_treecell_active_even,
td.CRunConversationInteraction_treecell_selected_odd,
td.CRunConversationInteraction_treecell_selected_even,
td.CRunConversationInteraction_treecell_opened_odd,
td.CRunConversationInteraction_treecell_opened_even
{
	font-size					: 11pt;
	font-family				: MyriadPro;
	cursor						: pointer;
	height						: 23px;
}

td.CRunConversationInteraction_treecell_active_odd
{
  background-color	: #8D8989;
	color							: #FFFFFF;
}

td.CRunConversationInteraction_treecell_active_even
{
	background-color	: #999595;  
	color							: #FFFFFF;
}

td.CRunConversationInteraction_treecell_selected_odd
{
  background-color	: #8D8989;
	color							: #FFFFFF;
}

td.CRunConversationInteraction_treecell_selected_even
{
	background-color	: #999595;  
	color							: #FFFFFF;
}

td.CRunConversationInteraction_treecell_opened_odd
{
  background-color	: #8D8989;
	color							: #AAAAAA;
}

td.CRunConversationInteraction_treecell_opened_even
{
	background-color	: #999595;  
	color							: #AAAAAA;
}
