div.CRunDragdropforms
{
	z-index						: 211;
}

div.CRunDragdropforms_title_area
{
	width							: 683px;
	height						: 60px;
	margin						: 39px 20px 0px 38px;
	padding-left			: 43px;
	padding-bottom		: 5px;
	background-image	: url('bg-tablet-dragdropforms-logo.png');
	background-color	: transparent;
	background-repeat	: no-repeat;
	background-position	: top left;
	color							: #494949;
}

span.CRunDragdropforms_title_area_label
{
}

div.CRunDragdropforms_close_area
{
	width							: 29px;
	height						: 60px;
	margin						: 33px 0px 0px 0px;
	padding						:	5px;
	background-color	:	transparent;
	color							:	#494949;
}

div.CRunDragdropforms_content_area
{
	margin						: -15px 0px 0px 25px;
	overflow					: hidden;
	background-color	:	transparent;
}

div.CRunDragdropforms_content_area span
{
	margin						: 0px;
	font-family				: MyriadProSemibold;
	font-size					: 11pt;
	font-weight				: normal;
}

button.CRunTabletAppBtn_empty_dragdropforms,
button.CRunTabletAppBtn_active_dragdropforms,
button.CRunTabletAppBtn_selected_dragdropforms,
button.CRunTabletAppBtn_inactive_dragdropforms
{
	background-repeat	:	no-repeat;
	background-position	: top center;
/*	height						: 130px !important;*/
}

button.CRunTabletAppBtn_active_dragdropforms,
button.CRunTabletAppBtn_selected_dragdropforms
{
	background-image	:	url('tablet-dragdropforms-button-active.png');
}

button.CRunTabletAppBtn_active_dragdropforms:hover
{
	background-image	:	url('tablet-dragdropforms-button-active.png');
}

button.CRunTabletAppBtn_inactive_dragdropforms
{
	background-image	:	url('tablet-dragdropforms-button-inactive.png');
}





div.CRunDragdropforms_s_content
{
	width							: 800px;
	height						: 400px;
	overflow					: auto;
}

div.CRunDragdropforms_s_content span
{
	color							: #494949;
	font-family				: MyriadPro !important;
}

div.CRunDragdropformDiv
{
	padding-top				: 10px;
}

span.CRunDragdropformTitle
{
	color							: blue !important;
	font-size					: 14pt !important;
}

div.CRunDragdropformInstruction
{
	position					: relative;
	left							: 10px;
	width							: 750px;
}

span.CRunDragdropformInstruction
{
	margin						: 0px;
	font-size					: 11pt !important;
}

span.CRunDragdropformLink
{
	color							: blue !important;
	font-family				: MyriadPro !important;
	font-size					: 10pt !important;
	font-weight				: normal !important;
	text-decoration		: underline;
	cursor						: pointer;
}

div.CRunDragdropformContainerDiv
{
	position					: relative;
	left							: 10px;
}

span.CRunDragdropformContainerTitle
{
	color							: blue !important;
	font-size					: 12pt !important;
}

span.CRunDragdropformContainerFixed
{
	font-size					: 11pt !important;
}

.CRunDragdropformContainerOverwrite
{
	position					: relative;
	left							: 10px;
	width							: 750px;
	font-family				: MyriadPro !important;
	font-size					: 11pt !important;
}



div.CRunDragdropformsReadyBtn
{
	position					: absolute;
	left							: 730px;
	top								: 500px;
}



div.CRunDragdropformsCommandBtn
{
	margin						: 0px 0px 0px 0px;
	cursor						: pointer;
}

td.CRunDragdropformsLabelBtnGreenLeft,
td.CRunDragdropformsLabelBtnBlueLeft,
td.CRunDragdropformsLabelBtnRedLeft
{
	width							:	3px;
	background-repeat	:	repeat-x;
}

td.CRunDragdropformsLabelBtnGreenSpacer,
td.CRunDragdropformsLabelBtnBlueSpacer,
td.CRunDragdropformsLabelBtnRedSpacer
{
	width							:	5px;
	background-repeat	:	repeat-x;
}

td.CRunDragdropformsLabelBtnGreenLabel,
td.CRunDragdropformsLabelBtnBlueLabel,
td.CRunDragdropformsLabelBtnRedLabel
{
	background-repeat	:	repeat-x;
	font-size					: 14px;
	font-family				: MyriadPro;
	padding-bottom		:	7px;
}

td.CRunDragdropformsLabelBtnGreenRight,
td.CRunDragdropformsLabelBtnBlueRight,
td.CRunDragdropformsLabelBtnRedRight
{
	width							:	5px;
	background-repeat	:	repeat-x;
}

span.CRunDragdropformsLabelBtnGreenLabel,
span.CRunDragdropformsLabelBtnBlueLabel,
span.CRunDragdropformsLabelBtnRedLabel
{
	color							: white !important;
	font-size					: 14px !important;
	font-family				: MyriadProSemibold !important;
}

td.CRunDragdropformsLabelBtnGreenLeft
{
	background-image	:	url('ispot-button-green-left.png');
}

td.CRunDragdropformsLabelBtnGreenSpacer,
td.CRunDragdropformsLabelBtnGreenLabel
{
	background-image	:	url('ispot-button-green-bg.png');
}

td.CRunDragdropformsLabelBtnGreenRight
{
	background-image	:	url('ispot-button-green-right.png');
}

td.CRunDragdropformsLabelBtnBlueLeft
{
	background-image	:	url('ispot-button-blue-left.png');
}

td.CRunDragdropformsLabelBtnBlueSpacer,
td.CRunDragdropformsLabelBtnBlueLabel
{
	background-image	:	url('ispot-button-blue-bg.png');
}

td.CRunDragdropformsLabelBtnBlueRight
{
	background-image	:	url('ispot-button-blue-right.png');
}

td.CRunDragdropformsLabelBtnRedLeft
{
	background-image	:	url('ispot-button-red-left.png');
}

td.CRunDragdropformsLabelBtnRedSpacer,
td.CRunDragdropformsLabelBtnRedLabel
{
	background-image	:	url('ispot-button-red-bg.png');
}

td.CRunDragdropformsLabelBtnRedRight
{
	background-image	:	url('ispot-button-red-right.png');
}
