div.CRunComponentItemWnd
{
	position					: absolute;
	top								: 100px;
	left							: 100px;
	width							: 824px;
	halign						: left;
	valign						:	top;
	background-color	: #FFFFFF;
	color							: #494949;
	font-family				:	MyriadPro;
	font-size					:	10pt;
	font-weight				:	bold;
	z-index						: 401;
}
