div.CRunGooglemaps
{
	z-index						: 211;
}

div.CRunGooglemaps_title_area
{
	width							: 683px;
	height						: 60px;
	margin						: 39px 20px 0px 38px;
	padding-left			: 43px;
	padding-bottom		: 5px;
	background-image	: url('bg-tablet-googlemaps-logo.png');
	background-color	: transparent;
	background-repeat	: no-repeat;
	background-position	: top left;
	color							: #494949;
}

span.CRunGooglemaps_title_area_label
{
}

div.CRunGooglemaps_close_area
{
	width							: 29px;
	height						: 60px;
	margin						: 33px 0px 0px 0px;
	padding						:	5px;
	background-color	:	transparent;
	color							:	#494949;
}

div.CRunGooglemaps_content_area
{
	width							: 821px;
	height						: 407px;
	margin						: 0px 20px 0px 20px;
	overflow					: hidden;
	background-color	:	transparent;
}

div.CRunGooglemaps_s_content
{
	width							: 787px;
	height						: 405px;
	border						: 1px solid darkgray;
	vertical-align		: middle;
	margin						: 0px 16px 0px 16px;
	overflow					: hidden;
	background-color	:	transparent;
}

button.CRunTabletAppBtn_empty_googlemaps,
button.CRunTabletAppBtn_active_googlemaps,
button.CRunTabletAppBtn_selected_googlemaps,
button.CRunTabletAppBtn_inactive_googlemaps
{
	background-repeat	:	no-repeat;
	background-position	: top center;
/*	height						: 130px !important;*/
}

button.CRunTabletAppBtn_active_googlemaps,
button.CRunTabletAppBtn_selected_googlemaps
{
	background-image	:	url('tablet-googlemaps-button-active.png');
}

button.CRunTabletAppBtn_active_googlemaps:hover
{
	background-image	:	url('tablet-googlemaps-button-active.png');
}

button.CRunTabletAppBtn_inactive_googlemaps
{
	background-image	:	url('tablet-googlemaps-button-inactive.png');
}

