div.CRunAlert
{
	position					: absolute;
	left							: 257px;
	top								: 225px;
	width							: 511px;
	height						: 291px;
	halign						: left;
	valign						:	top;
	overflow					: hidden;
	background-color	: transparent;
	background-image	:	url('bg-alert.png');
	z-index						: 401;
}

div.CRunAlert_title_area_left
{
	position					: relative;
	top								: 10px;
	width							: 472px;
}

div.CRunAlert_title_area_right
{
	position					: relative;
	top								: 10px;
	width							: 18px;
}

span.CRunAlert_title_area_label
{
	margin						: 0px 10px;
	font-family				: MyriadProSemibold;
	font-size					: 11pt;
	font-weight				: bold;
}

div.CRunAlert_text_area
{
	width							: 490px;
	height						: 220px;
	margin						: 15px 10px;
	background-color	: transparent;
	font-family				: MyriadPro;
	font-size					: 10pt;
	font-weight				: normal;
}

div.CRunAlert_text_area_div
{
	width							: 480px;
	height						: 242px;
	overflow					: auto;
	color							: #494949;
}

div.CRunAlert button.CRunCloseBtn_active
{
	background-image	:	url('close-alert-active.png');
	background-repeat	: no-repeat;
	padding						: 2px 9px;
	height						: 18px;
}

div.CRunAlert button.CRunCloseBtn_active:hover
{
	background-image	:	url('close-alert-hover.png');
	background-repeat	: no-repeat;
	padding						: 2px 9px;
	height						: 18px;
}

