div.CRunSelectionforms
{
	z-index						: 211;
}

div.CRunSelectionforms_title_area
{
	width							: 683px;
	height						: 60px;
	margin						: 39px 20px 0px 38px;
	padding-left			: 43px;
	padding-bottom		: 5px;
	background-image	: url('bg-tablet-dragdropforms-logo.png');
	background-color	: transparent;
	background-repeat	: no-repeat;
	background-position	: top left;
	color							: #494949;
}

span.CRunSelectionforms_title_area_label
{
}

div.CRunSelectionforms_close_area
{
	width							: 29px;
	height						: 60px;
	margin						: 33px 0px 0px 0px;
	padding						:	5px;
	background-color	:	transparent;
	color							:	#494949;
}

div.CRunSelectionforms_content_area
{
	margin						: -15px 0px 0px 25px;
	overflow					: hidden;
	background-color	:	transparent;
}

div.CRunSelectionforms_content_area span
{
	margin						: 0px;
	font-family				: MyriadProSemibold;
	font-size					: 11pt;
	font-weight				: normal;
}

button.CRunTabletAppBtn_empty_selectionforms,
button.CRunTabletAppBtn_active_selectionforms,
button.CRunTabletAppBtn_selected_selectionforms,
button.CRunTabletAppBtn_inactive_selectionforms
{
	background-repeat	:	no-repeat;
	background-position	: top center;
/*	height						: 130px !important;*/
}

button.CRunTabletAppBtn_active_selectionforms,
button.CRunTabletAppBtn_selected_selectionforms
{
	background-image	:	url('tablet-selectionforms-button-active.png');
}

button.CRunTabletAppBtn_active_selectionforms:hover
{
	background-image	:	url('tablet-selectionforms-button-active.png');
}

button.CRunTabletAppBtn_inactive_selectionforms
{
	background-image	:	url('tablet-selectionforms-button-inactive.png');
}





div.CRunSelectionforms_s_content
{
	width							: 800px;
	height						: 400px;
	overflow					: auto;
}

div.CRunSelectionforms_s_content span
{
	color							: #494949;
	font-family				: MyriadPro !important;
}

div.CRunSelectionformDiv
{
	padding-top				: 10px;
}

span.CRunSelectionformTitle
{
	color							: blue !important;
	font-size					: 14pt !important;
}

div.CRunSelectionformInstruction
{
	position					: relative;
	left							: 10px;
	width							: 750px;
}

span.CRunSelectionformInstruction
{
	margin						: 0px;
	font-size					: 11pt !important;
}

span.CRunSelectionformLink
{
	color							: blue !important;
	font-family				: MyriadPro !important;
	font-size					: 10pt !important;
	font-weight				: normal !important;
	text-decoration		: underline;
	cursor						: pointer;
}

div.CRunSelectionformContainerDiv
{
	position					: relative;
	left							: 10px;
}

span.CRunSelectionformContainerTitle
{
	color							: blue !important;
	font-size					: 12pt !important;
}

span.CRunSelectionformContainerFixed
{
	font-size					: 11pt !important;
}

.CRunSelectionformContainerOverwrite
{
	position					: relative;
	left							: 10px;
	width							: 750px;
	font-family				: MyriadPro !important;
	font-size					: 11pt !important;
}



div.CRunSelectionformsReadyBtn
{
	position					: absolute;
	left							: 730px;
	top								: 500px;
}



div.CRunSelectionformsCommandBtn
{
	margin						: 0px 0px 0px 0px;
	cursor						: pointer;
}

td.CRunSelectionformsLabelBtnGreenLeft,
td.CRunSelectionformsLabelBtnBlueLeft,
td.CRunSelectionformsLabelBtnRedLeft
{
	width							:	3px;
	background-repeat	:	repeat-x;
}

td.CRunSelectionformsLabelBtnGreenSpacer,
td.CRunSelectionformsLabelBtnBlueSpacer,
td.CRunSelectionformsLabelBtnRedSpacer
{
	width							:	5px;
	background-repeat	:	repeat-x;
}

td.CRunSelectionformsLabelBtnGreenLabel,
td.CRunSelectionformsLabelBtnBlueLabel,
td.CRunSelectionformsLabelBtnRedLabel
{
	background-repeat	:	repeat-x;
	font-size					: 14px;
	font-family				: MyriadPro;
	padding-bottom		:	7px;
}

td.CRunSelectionformsLabelBtnGreenRight,
td.CRunSelectionformsLabelBtnBlueRight,
td.CRunSelectionformsLabelBtnRedRight
{
	width							:	5px;
	background-repeat	:	repeat-x;
}

span.CRunSelectionformsLabelBtnGreenLabel,
span.CRunSelectionformsLabelBtnBlueLabel,
span.CRunSelectionformsLabelBtnRedLabel
{
	color							: white !important;
	font-size					: 14px !important;
	font-family				: MyriadProSemibold !important;
}

td.CRunSelectionformsLabelBtnGreenLeft
{
	background-image	:	url('ispot-button-green-left.png');
}

td.CRunSelectionformsLabelBtnGreenSpacer,
td.CRunSelectionformsLabelBtnGreenLabel
{
	background-image	:	url('ispot-button-green-bg.png');
}

td.CRunSelectionformsLabelBtnGreenRight
{
	background-image	:	url('ispot-button-green-right.png');
}

td.CRunSelectionformsLabelBtnBlueLeft
{
	background-image	:	url('ispot-button-blue-left.png');
}

td.CRunSelectionformsLabelBtnBlueSpacer,
td.CRunSelectionformsLabelBtnBlueLabel
{
	background-image	:	url('ispot-button-blue-bg.png');
}

td.CRunSelectionformsLabelBtnBlueRight
{
	background-image	:	url('ispot-button-blue-right.png');
}

td.CRunSelectionformsLabelBtnRedLeft
{
	background-image	:	url('ispot-button-red-left.png');
}

td.CRunSelectionformsLabelBtnRedSpacer,
td.CRunSelectionformsLabelBtnRedLabel
{
	background-image	:	url('ispot-button-red-bg.png');
}

td.CRunSelectionformsLabelBtnRedRight
{
	background-image	:	url('ispot-button-red-right.png');
}
