div.CRunAssessments
{
	z-index						: 211;
}

div.CRunAssessments_title_area
{
	background-image	: url('bg-tablet-assessments-logo.png');
	width							: 683px;
	height						: 45px;
	margin						: 39px 20px 0px 38px;
	padding-left			: 43px;
	padding-bottom		: 5px;
	background-color	: transparent;
	background-repeat	: no-repeat;
	background-position	: top left;
	color							: #494949;
}

div.CRunAssessments_close_area
{
	width							: 29px;
	height						: 45px;
	margin						: 33px 0px 0px 0px;
	padding						:	5px;
	background-color	:	transparent;
	color							:	#494949;
}

div.CRunAssessments_content_area
{
	position					: absolute;
	left							: 0px;
	top								: 100px;
	width							: 800px;
	height						: 432px;
	margin						: 0px 0px 0px 20px;
	overflow					: hidden;
	background-color	:	transparent;
}

div.CRunAssessments_content_area span
{
	margin						: 0px;
	font-family				: MyriadPro;
	font-size					: 11pt;
	font-weight				: normal;
}

div.CRunAssessments_s_content
{
	position					: relative;
	left							: 0px;
	top								: 20px;
	width							: 770px;
	height						: 412px;
	overflow					: visible;
	background-color	:	transparent;
}

button.CRunTabletAppBtn_empty_assessments,
button.CRunTabletAppBtn_active_assessments,
button.CRunTabletAppBtn_selected_assessments,
button.CRunTabletAppBtn_inactive_assessments
{
	background-repeat	:	no-repeat;
	background-position	: top center;
/*	height				: 130px !important;*/
}

button.CRunTabletAppBtn_active_assessments,
button.CRunTabletAppBtn_selected_assessments
{
	background-image	:	url('tablet-assessments-button-active.png');
}

button.CRunTabletAppBtn_active_assessments:hover
{
	background-image	:	url('tablet-assessments-button-active.png');
}

button.CRunTabletAppBtn_inactive_assessments
{
	background-image	:	url('tablet-assessments-button-inactive.png');
}


div.CRunAssessmentsDiv,
div.CRunAssessmentDiv,
div.CRunAssessmentItemDiv
{
	position					: absolute;
	left							: 0px;
	top								: 0px;
	width							: 844px;
}

div.CRunAssessmentsInstructionDiv
{
	position					: relative;
	left							: 36px;
	top								: 0px;
	width							: 744px;
	height						: 58px;
	overflow					: auto;
}

.CRunAssessmentsInstructionHtml
{
	color							: #494949;
	font-family				: MyriadProSemibold !important;
	font-size					: 12pt !important;
}

div.CRunAssessmentBtns,
div.CRunAssessmentBtnsScroll
{
	position					: relative;
	left							: 36px;
	top								: 10px;
	width							: 744px;
	height						: 300px;
	background-color	: transparent;
}

div.CRunAssessmentBtns
{
	overflow					: hidden;
}

div.CRunAssessmentBtnsScroll
{
	overflow					: auto;
}

div.CRunAssessmentBtnDiv
{
	width							: 350px;
	height						: 100px;
	background-color	: transparent;
}

div.CRunAssessmentBtn
{
	width							: 345px;
	height						: 90px;
	background-color	: transparent;
	background-image	: url('assessmentbtn-background.png');
	cursor						: pointer;
}

img.CRunAssessmentBtnStatusImage
{
}

img.CRunAssessmentBtnStatusImageNone
{
	position					: relative;
	left							: 314px;
	top								: 11px;
	width							: 22px;
	height						: 24px;
	background-color	: transparent;
	background-repeat	: no-repeat;
}

img.CRunAssessmentBtnStatusImageBusy
{
	position					: relative;
	left							: 314px;
	top								: 11px;
	width							: 22px;
	height						: 24px;
	background-color	: transparent;
	background-image	: url('assessment-busy.png');
	background-repeat	: no-repeat;
}

img.CRunAssessmentBtnStatusImageFinished
{
	position					: relative;
	left							: 314px;
	top								: 11px;
	width							: 22px;
	height						: 24px;
	background-color	: transparent;
	background-image	: url('assessment-finished.png');
	background-repeat	: no-repeat;
}

span.CRunAssessmentBtnTitleLabel
{
	position					: relative;
	left							: -2px;
	top								: 10px;
	width							: 264px;
	color							: #494949;
	font-family				: MyriadProSemibold !important;
	font-size					: 13pt !important;
}

.CRunAssessmentBtnInstructionDiv
{
	position					: relative;
	left							: 20px;
	top								: 30px;
	width							: 264px;
	height						: 18px;
	overflow					: hidden;
}

.CRunAssessmentBtnInstructionHtml
{
	position					: relative;
	top								: -17px;
	color							: #494949;
	font-family				: MyriadPro !important;
	font-size					: 11pt !important;
}

span.CRunAssessmentBtnNumberOfItemsLabel
{
	position					: absolute;
	left							: 20px;
	top								: 60px;
	width							: 314px;
	color							: #494949;
	font-family				: MyriadProSemibold !important;
	font-size					: 11pt !important;
}

div.CRunAssessmentBtnScoreLabelTitleDiv
{
	position					: relative;
	left							: 234px;
	top								: 15px;
	width							: 100px;
	height						: 20px;
	background-color	: transparent;
}

span.CRunAssessmentBtnScoreLabelTitle
{
	color							: #494949;
	font-family				: MyriadProSemibold !important;
	font-size					: 12pt !important;
}

span.CRunAssessmentBtnScoreLabelTitleGray
{
	color							: #C9C9C9;
	font-family				: MyriadProSemibold !important;
	font-size					: 12pt !important;
}

div.CRunAssessmentBtnScoreLabelDiv
{
	position					: relative;
	left							: 234px;
	top								: 10px;
	width							: 100px;
	height						: 20px;
	background-color	: transparent;
}

span.CRunAssessmentBtnScoreLabel
{
	color							: #494949;
	font-family				: MyriadProSemibold !important;
	font-size					: 14pt !important;
}

.CRunAssessmentPanelLeft
{
	position					: relative;
	left							: 25px;
	top								: 10px;
	width							: 350px;
	margin						: 0px 20px 0px 0px;
}

.CRunAssessmentPanelRight
{
	position					: relative;
	left							: 25px;
	top								: 10px;
	width							: 390px;
}

span.CRunAssessmentTitleLabel
{
	color							: #494949;
	font-family				: MyriadProSemibold !important;
	font-size					: 12pt !important;
}

div.CRunAssessmentInstructionDiv
{
	width							: 350px;
	height						: 58px;
	overflow					: auto;
}

span.CRunAssessmentInstructionHtml
{
	color							: #494949;
	font-family				: MyriadPro !important;
	font-size					: 11pt !important;
}

span.CRunAssessmentScoreLabel
{
	color							: #494949;
	font-family				: MyriadProSemibold !important;
	font-size					: 14pt !important;
}

div.CRunAssessmentItemBtns
{
	position					: relative;
	left							: 0px;
	top								: 0px;
	width							: 380px;
	height						: 440px;
	background-color	: #EEEEEE;
	overflow					: auto;
	
}

div.CRunAssessmentItemBtn,
div.CRunAssessmentItemBtn:hover
{
	width							: 380px;
	height						: 30px;
	color							: #494949;
	cursor						: pointer;
}

div.CRunAssessmentItemBtn:hover
{
	background-image	: url('assessment-item-hover.jpg');
}

img.CRunAssessmentItemBtnStatusImage
{
	position					: relative;
	top								: 5px;
	width							: 22px;
	height						: 24px;
	background-color	: transparent;
	background-image	: url('assessment-item.png');
	background-repeat	: no-repeat;
}

img.CRunAssessmentItemBtnStatusImageFinished
{
	position					: relative;
	top								: 5px;
	width							: 22px;
	height						: 24px;
	background-color	: transparent;
	background-image	: url('assessment-item-finished.png');
	background-repeat	: no-repeat;
}

div.CRunAssessmentItemBtnTitleDiv
{
	width							: 336px;
	height						: 30px;
}

span.CRunAssessmentItemBtnTitleLabel
{
	position					: relative;
	left							: 20px;
	top								: 7px;
	font-family				: MyriadPro !important;
	font-size					: 11pt !important;
}

.CRunAssessmentItemPanelLeft
{
	position					: relative;
	left							: 25px;
	top								: 10px;
	width							: 350px;
	margin						: 0px 20px 0px 0px;
}

.CRunAssessmentItemPanelRight
{
	position					: relative;
	left							: 25px;
	top								: 10px;
	width							: 390px;
}

span.CRunAssessmentItemTitleLabel
{
	color							: #494949;
	font-family				: MyriadProSemibold !important;
	font-size					: 12pt !important;
}

div.CRunAssessmentItemInstructionDiv,
div.CRunAssessmentItemFeedbackDiv
{
	width							: 350px;
	height						: 125px;
	overflow					: auto;
}

span.CRunAssessmentItemInstructionHtml
{
	color							: #494949;
	font-family				: MyriadPro !important;
	font-size					: 11pt !important;
}

span.CRunAssessmentItemPieceLabel
{
	color							: blue;
	font-family				: MyriadPro !important;
	font-size					: 11pt !important;
	cursor						: pointer;
}

.CRunAssessmentFeedbackVbox
{
	position					: relative;
	top								: 10px;
}

div.CRunAssessmentShowFeedbackBtn
{
	cursor						: pointer;
}

span.CRunAssessmentFeedbackInstructionLabel
{
	color							: #494949;
	font-family				: MyriadProSemibold !important;
	font-size					: 14pt !important;
}

.CRunAssessmentFeedbackInstructionHtml
{
	background-color	: transparent;
	color							: #494949;
	font-family				: MyriadPro !important;
	font-size					: 11pt !important;
}

div.CRunAssessmentAltDiv,
div.CRunAssessmentAltDivDisabled
{
	width							: 360px;
	margin						: 0px 0px -1px 0px;
}

div.CRunAssessmentAltDiv
{
	cursor						: pointer;
}

div.CRunAssessmentAltDivDisabled
{
	cursor						: default;
}

.CRunAssessmentAltCheckboxActive,
.CRunAssessmentAltCheckboxSelected,
.CRunAssessmentAltCheckboxDisabledActive,
.CRunAssessmentAltCheckboxDisabledSelected,
.CRunAssessmentAltRadioActive,
.CRunAssessmentAltRadioSelected,
.CRunAssessmentAltRadioDisabledActive,
.CRunAssessmentAltRadioDisabledSelected
{
	width							: 27px;
	height						: 26px;
	background-repeat	: no-repeat;
	margin						: 0px 10px 0px 10px;
}

.CRunAssessmentAltCheckboxSelected,
.CRunAssessmentAltCheckboxDisabledSelected
{
	background-image	: url('assessment-item-alt-selected.png');
}

.CRunAssessmentAltRadioSelected,
.CRunAssessmentAltRadioDisabledSelected
{
	background-image	: url('assessment-item-alt-radio-selected.png');
}

.CRunAssessmentAltCheckboxActive,
.CRunAssessmentAltCheckboxDisabledActive,
.CRunAssessmentAltRadioActive,
.CRunAssessmentAltRadioDisabledActive
{
	background-image	: url('assessment-item-alt-active.png');
}

.CRunAssessmentAltRadioActive:hover
{
	background-image	: url('assessment-item-alt-radio-hover.png');
}

.CRunAssessmentAltCheckboxSelected,
.CRunAssessmentAltCheckboxActive,
.CRunAssessmentAltRadioSelected,
.CRunAssessmentAltRadioActive
{
	cursor						: pointer;
}

.CRunAssessmentAltCheckboxDisabledSelected,
.CRunAssessmentAltCheckboxDisabledActive,
.CRunAssessmentAltRadioDisabledSelected,
.CRunAssessmentAltRadioDisabledActive
{
	cursor						: default;
}

div.CRunAssessmentAltInstructionDiv
{
	margin						: 10px 20px 10px 0px;
}

.CRunAssessmentAltInstructionHtml
{
	background-color	: transparent;
	color							: #494949;
	font-family				: MyriadPro !important;
	font-size					: 11pt !important;
}

td.CRunAssessmentAltFieldTd
{
	width							: 27px;
}

div.CRunAssessmentAltFieldDiv
{
	margin						: 10px 20px 10px 0px;
}

.CRunAssessmentAltField
{
	width							: 340px;
	background-color	: transparent;
	font-family				: MyriadPro !important;
	font-size					: 11pt !important
}

div.CRunAssessmentItemAlts
{
	width							: 380px;
	height						: 400px;
	background-color	: #EEEEEE;
	overflow					: auto;
}

div.CRunAssessmentItemsControl
{
	position					: relative;
	left							: 0px;
	top								: 5px;
	width							: 400px;
}

div.CRunAssessmentItemsPreviousQuestionDiv,
div.CRunAssessmentItemsNextQuestionDiv
{
	width							: 146px;
	height						: 27px;
	overflow					: hidden;
}

div.CRunAssessmentItemsNumberOfQuestionsDiv
{
	width							: 80px;
}

span.CRunAssessmentItemsNumberOfQuestionsLabel
{
	position					: relative;
	top								: 5px;
	color							: #494949;
	font-family				: MyriadPro !important;
	font-size					: 11pt !important;
}
