div.CRunVideomanual
{
	z-index						: 211;
}

div.CRunVideomanual_title_area
{
	width							: 683px;
	height						: 60px;
	margin						: 39px 20px 0px 38px;
	padding-left			: 43px;
	padding-bottom		: 5px;
	background-image	: url('bg-tablet-videomanual-logo.png');
	background-color	: transparent;
	background-repeat	: no-repeat;
	background-position	: top left;
	color							: #494949;
}

span.CRunVideomanual_title_area_label
{
}

div.CRunVideomanual_close_area
{
	width							: 29px;
	height						: 60px;
	margin						: 33px 0px 0px 0px;
	padding						:	5px;
	background-color	:	transparent;
	color							:	#494949;
}

div.CRunVideomanual_content_area
{
	margin						: -15px 0px 0px 25px;
	overflow					: hidden;
	background-color	:	transparent;
}

div.CRunVideomanual_content_area span
{
	margin						: 0px;
	font-family				: MyriadProSemibold;
	font-size					: 11pt;
	font-weight				: normal;
}

button.CRunTabletAppBtn_empty_videomanual,
button.CRunTabletAppBtn_active_videomanual,
button.CRunTabletAppBtn_selected_videomanual,
button.CRunTabletAppBtn_inactive_videomanual
{
	background-repeat	:	no-repeat;
	background-position	: top center;
/*	height						: 130px !important;*/
}

button.CRunTabletAppBtn_active_videomanual,
button.CRunTabletAppBtn_selected_videomanual
{
	background-image	:	url('tablet-videomanual-button-active.png');
}

button.CRunTabletAppBtn_active_videomanual:hover
{
	background-image	:	url('tablet-videomanual-button-active.png');
}

button.CRunTabletAppBtn_inactive_videomanual
{
	background-image	:	url('tablet-videomanual-button-inactive.png');
}





div.CRunVideomanual_s_content
{
	width							: 145px;
	height						: 440px;
	margin						: 0px 0px 0px 0px;
	overflow					: auto;
	background-color	:	transparent;
}

div.CRunVideomanual_s_content span
{
	color							: #494949;
	font-size					: 11pt;
	font-family				: MyriadPro;
}

.CRunVideomanualItemRowOdd,
.CRunVideomanualItemRowEven
{
	width							: 145px;
	overflow					: hidden;
}

.CRunVideomanualItemRowContent
{
	width							: 128px;
	margin						: 10px 5px 5px 12px;
}

.CRunVideomanualItemRowOdd
{
	background-color	:	#FFFFFF;
}

.CRunVideomanualItemRowEven
{
	background-color	:	#EEEEEE;
}

span.CRunVideomanualTitleLabel,
span.CRunVideomanualTitleLabelSelected
{
	cursor						: pointer;
}

span.CRunVideomanualTitleLabel
{
}

span.CRunVideomanualTitleLabelSelected
{
	color							: #BF2420 !important;
}

div.CRunVideomanualPlayer
{
	position					: absolute;
	left							: 168px;
	top								: 89px;
	width							: 668px;
	height						: 450px;
	background-image	: url('videomanual-bg-video.png');
}
