div.CRunMail
{
	z-index						: 211;
}

div.CRunShowMail,
div.CRunNewMail
{
	width							: 824px;
	halign						: left;
	valign						:	top;
	background-color	: #FFFFFF;
	color							: #494949;
	font-size					: 11pt;
	font-weight				: bold;
	font-family				: MyriadPro;

}

.CRunNewMail .z-listbox
{
	width							: 624px;
}

div.CRunShowMail_vbox
{
	margin						: 0px 10px;
}

div.CRunShowMail_div
{
	width							: 750px;
	height						: 350px;
	margin						: 0px 0px 10px 0px;
	overflow					: auto;
	color							: #494949;
	font-weight				:	normal;
	font-size					: 10pt;
	font-family				: MyriadPro;
}

div.CRunShowMail_okdiv
{
	width							: 750px;
}

td.CRunMailHeader
{
	color							: #494949;
}

table.CRunMailHeader span
{
	font-weight				: normal;
	font-size					: 11pt;
	font-family				: MyriadProSemibold;
}

td.CRunMailAttachments
{
	color							: #2E5282;
}

button.CRunNewMailAttachment_delete_button_empty,
button.CRunNewMailAttachment_delete_button_active,
button.CRunNewMailAttachment_delete_button_selected,
button.CRunNewMailAttachment_delete_button_inactive
{
	border						: 0;
	overflow					: hidden;
	background-color	: transparent;
	padding						: 0px 0px !important;
}

button.CRunNewMailAttachment_delete_button_empty,
button.CRunNewMailAttachment_delete_button_selected,
button.CRunNewMailAttachment_delete_button_inactive
{
	cursor						: default;
}

button.CRunNewMailAttachment_delete_button_active
{
	cursor						: pointer;
}

button.CRunNewMailAttachment_delete_button_active:hover
{
	background-position	: bottom left !important;
}

div.CRunMail_title_area
{
	width							: 683px;
	height						: 60px;
	margin						: 39px 20px 0px 38px;
	padding-left			: 43px;
	padding-bottom		: 5px;
	background-image	: url('bg-tablet-mail-logo.png');
	background-color	: transparent;
	background-repeat	: no-repeat;
	background-position	: top left;
	color							: #494949;
}

div.CRunMail_close_area
{
	width							: 29px;
	height						: 60px;
	margin						: 33px 0px 0px 0px;
	padding						: 5px;
	background-color	: transparent;
	color							: #494949;
}

div.CRunMail_content_area
{
	width							: 821px;
	height						: 377px;
	margin						: 0px 20px 0px 20px;
	overflow					: hidden;
	background-color	:	transparent;
}

div.CRunMail_content_area span
{
	margin						: 0px;
	font-family				: MyriadProSemibold;
	font-size					: 10pt;
	font-weight				: normal;
}

div.CRunMail_s_content
{
	width							: 787px;
	height						: 375px;
	border						: 0px;
	vertical-align		: middle;
	margin						: 0px 16px 0px 16px;
	overflow					: hidden;
	background-color	:	transparent;
}

td.CRunMail_treecell_active,
td.CRunMail_treecell_inactive,
td.CRunMail_treecell_selected,
td.CRunMail_treecell_opened
{
	background-color	:	transparent;
	font-family				: MyriadPro;
	font-size					: 11pt;
	font-weight				: normal;
}
td.CRunMail_treecell_active
{
	color							:	#2E5282;
	cursor						: pointer;
}

td.CRunMail_treecell_inactive
{
	color							:	#888888;
	cursor						: default;
}

td.CRunMail_treecell_selected
{
	color							:	#203858;
	cursor						: pointer;
}

td.CRunMail_treecell_opened
{
	color							:	#a6b8d0;
	cursor						: pointer;
}

div.CRunMail_text
{
	width							: 698px;
	height						: 114px;
	margin						: 0px 0px 0px 0px;
	vertical-align		:	middle;
	background-color	:	#404040;
	border						: 1px solid darkgray;
}

div.CRunNewMail_mail
{
	margin						: 0px 0px 24px 16px;
	vertical-align		:	middle;
	background-color	:	white;
	color							: #494949;
	font-size					: 11pt;
	font-weight				: bold;
	font-family				: MyriadPro;
}

.CRunNewMail_mail_text
{
	width							: 624px;
	background-color	:	white;
	color							: #494949;
	font-size					: 11pt;
	font-weight				: normal;
	font-family				: MyriadPro;
}

.CRunMailSubjectContactsListbox_listheader
{
	background-color	:	#EEEEEE;
	color							: #494949;
	font-size					: 11pt;
	font-weight				: normal;
	font-family				: MyriadProSemibold;
}

.CRunMailSubjectContactsListbox_listcell_label
{
	color							: #494949;
	font-size					: 11pt;
	font-weight				: normal;
	font-family				: MyriadPro;
	cursor						: pointer;
}

div.CRunNewMailAttachment_area
{
	width							: 604px;
}

div.CRunMail_buttons_area
{
	margin						: 7px 36px 20px 20px;
	padding						:	5px;
	background-color	:	transparent;
	filter						: alpha(opacity=100);
	-moz-opacity			: 1.0;
	opacity						: 1.0;
	float							: right;
}

div.CRunNewMail_buttons_area
{
	margin						: 0px 0px 0px 0px;
	padding						:	0px;
	background-color	:	transparent;
	filter						: alpha(opacity=100);
	-moz-opacity			: 1.0;
	opacity						: 1.0;
	float							: right;
}

button.CRunTabletAppBtn_empty_mail,
button.CRunTabletAppBtn_active_mail,
button.CRunTabletAppBtn_selected_mail,
button.CRunTabletAppBtn_inactive_mail
{
	background-repeat	:	no-repeat;
	background-position	: top center;
/*	height						: 130px !important;*/
}

button.CRunTabletAppBtn_active_mail,
button.CRunTabletAppBtn_selected_mail
{
	background-image	:	url('tablet-mail-button-active.png');
}

button.CRunTabletAppBtn_active_mail:hover
{
	background-image	:	url('tablet-mail-button-hover.png');
}

button.CRunTabletAppBtn_inactive_mail
{
	background-image	:	url('tablet-mail-button-inactive.png');
}

