div.CRunTabletAppBtns
{
	width							: 900px;
	height						: 400px;
	border						: 0;
	margin-left				: auto;
	vertical-align		: top;
	overflow					: hidden;
	background-color	: transparent;
}

button.CRunTabletAppBtn_empty,
button.CRunTabletAppBtn_active,
button.CRunTabletAppBtn_selected,
button.CRunTabletAppBtn_inactive
{
	height						: 130px;
	width							: 90px;
	border						: 0;
	background-color	: transparent;
	color							: #115F86;
	font-family				: MyriadPro;
	font-size					: 10pt;
	overflow					: visible;
	word-wrap					: break-word;
}

button.CRunTabletAppBtn_empty
{
	color							: transparent;
	cursor						: default;
}

button.CRunTabletAppBtn_active
{
	color							: #494949;
	cursor						: pointer;
}

button.CRunTabletAppBtn_selected
{
	color							: #494949;
	cursor						: default;
}

button.CRunTabletAppBtn_inactive
{
	color							: #888888;
	cursor						: default;
}
