div.CRunLocationArea
{
	position					: absolute;
	top								: 0px;
	width							: 990px;
	height						: 610px;
	align							: center;
	overflow					: hidden;
	background-color	: transparent;
	z-index						: 100;
}

img.CRunBackgroundImage_active,
img.CRunBackgroundImage_inactive
{
	background-color	: transparent;
	align							: center;
	overflow					: hidden;
}
img.CRunBackgroundImage_active
{
	cursor						: pointer;
}
img.CRunBackgroundImage_inactive
{
	cursor						: default;
}

div.CRunLocationObjects
{
	position					: absolute;
	top								: 0px;
	background-color	: transparent;
	z-index						: 131;
}
