div.CRunTablet
{
	position					: absolute;
	left							: 0px;
	top								: 0px;
	width							: 990px;
	height						: 610px;
	margin-left				: auto;
	vertical-align		: top;
	overflow					: hidden;
	background-color	: transparent;
	background-image	:	url('bg-tablet.png');
	z-index						: 201;
}

div.CRunTablet_title_area
{
	width							: 646px;
	height						: 60px;
	margin						: 70px 20px 0px 150px;
	padding						:	5px;
	background-color	:	transparent;
	color							: #494949;
}

span.CRunTablet_title_area_label
{
	font-family				: MyriadProSemibold;
	font-size					: 18pt;
	font-weight				: bold;
}

div.CRunTablet_close_area
{
	width							: 50px;
	height						: 45px;
	margin						: 69px 0px 0px 21px;
	padding						:	5px;
	background-color	:	transparent;
	color							: #494949;
}

button.CRunTabletCloseBtn_active,
button.CRunTabletCloseBtn_inactive
{
	border						: 0;
	background-color	: transparent;
	color							: #787878;
	font-family				: MyriadPro;
	font-size					: 9pt;
	background-image	:	url('close-tablet-active.png');
	background-repeat	: no-repeat;
	background-position	: top center;
	height						: 75px;
	width							: 38px;
}

button.CRunTabletCloseBtn_active
{
	cursor						: pointer;
}

button.CRunTabletCloseBtn_active:hover
{
	background-image	:	url('close-tablet-hover.png');
}

button.CRunTabletCloseBtn_inactive
{
	cursor						: default;
}

div.CRunTablet_content_area
{
	width							: 821px;
	height						: 407px;
	margin						: 0px 20px 0px 144px;
	overflow					: hidden;
	background-color	:	transparent;
}

div.CRunTablet_s_content
{
	width							: 787px;
	height						: 405px;
	border						: 1px solid darkgray;
	vertical-align		: middle;
	margin						: 0px 16px 0px 16px;
	overflow					: hidden;
	background-color	:	transparent;
}

div.CRunWnd_tablet_app > div:first-child
{
	position					: absolute;
	left							: 63px;
	top								: 36px;
	width							: 861px;
	height						: 562px;
	overflow					: hidden;

	margin-left				: auto;
	vertical-align		: top;

	background-color	: transparent;
	background-position	: 36px 36px;
	background-repeat	: no-repeat;
	z-index						: 201;
}

div.CRunWnd_tablet_app
{
	position					: absolute;
	overflow					: hidden;
	left							: 0px;
	top								: 0px;
	width							: 990px;
	height						: 610px;
	margin-left				: auto;
	vertical-align		: top;

	background-color	: transparent;
	background-image	: url('bg-tablet-application.png');
	background-position	: 0px 0px;
	background-repeat	: no-repeat;
	z-index						: 201;
}

div.CRunWnd_tablet_app span
{
	margin						: 10px;
	font-family				: MyriadProSemibold;
	font-size					: 18pt;
	font-weight				: normal;
}

td.CRunLabelButtonLabel span
{
	margin						: 0px;
	font-family				: MyriadProSemibold;
	font-size					: 12pt;
	font-weight				: normal;
}