div.CRunTasks
{
	font-family				: MyriadProSemibold;
	font-weight				:	bold;
	z-index						: 211;
}

div.CRunTasks_title_area
{
	width							: 683px;
	height						: 60px;
	margin						: 39px 20px 0px 38px;
	padding-left			: 43px;
	padding-bottom		: 5px;
	background-image	: url('bg-tablet-tasks-logo.png');
	background-color	: transparent;
	background-repeat	: no-repeat;
	background-position	: top left;
	color							: #494949;
}

span.CRunTasks_title_area_label
{
}

div.CRunTasks_close_area
{
	width							: 29px;
	height						: 60px;
	margin						: 33px 0px 0px 0px;
	padding						:	5px;
	background-color	:	transparent;
	color							:	#494949;
}

div.CRunTasks_content_area
{
	width							: 821px;
	height						: 407px;
	margin						: 0px 20px 0px 20px;
	overflow					: hidden;
	background-color	:	transparent;
}

div.CRunTasks_content_area span
{
	margin						: 0px;
	font-family				: MyriadPro;
	font-size					: 11pt;
	font-weight				: normal;
}

div.CRunTasks_s_content
{
	width							: 787px;
	height						: 405px;
	border						: 0px;
	vertical-align		: middle;
	margin						: 0px 16px 0px 16px;
	overflow					: hidden;
	background-color	:	transparent;
}

td.CRunTasks_treecell_active,
td.CRunTasks_treecell_inactive,
td.CRunTasks_treecell_selected,
td.CRunTasks_treecell_opened
{
	background-color	:	transparent;
	font-family				: MyriadPro;
	font-size					: 11pt;
	font-weight				: normal;
}

td.CRunTasks_treecell_active
{
	color							: #2E5282;
	cursor						: pointer;
}

td.CRunTasks_treecell_inactive
{
	color							: #888888;
	cursor						: default;
}

td.CRunTasks_treecell_selected
{
	color							: #203858;
	cursor						: pointer;
}

td.CRunTasks_treecell_opened
{
	color							: #A1BBDF;
	cursor						: pointer;
}

button.CRunTabletAppBtn_empty_tasks,
button.CRunTabletAppBtn_active_tasks,
button.CRunTabletAppBtn_selected_tasks,
button.CRunTabletAppBtn_inactive_tasks
{
	background-repeat	:	no-repeat;
	background-position	: top center;
/*	height						: 130px !important;*/
}

button.CRunTabletAppBtn_active_tasks,
button.CRunTabletAppBtn_selected_tasks
{
	background-image	:	url('tablet-tasks-button-active.png');
}

button.CRunTabletAppBtn_active_tasks:hover
{
	background-image	:	url('tablet-tasks-button-active.png');
}

button.CRunTabletAppBtn_inactive_tasks
{
	background-image	:	url('tablet-tasks-button-inactive.png');
}

