button.CRunNoteBtn_empty,
button.CRunNoteBtn_active,
button.CRunNoteBtn_selected,
button.CRunNoteBtn_inactive
{
	position					: absolute;
	width							: 56px;
	height						: 71px;
	top								: 537px;
	left							: 925px;
	border						: 0;
	overflow					: hidden;
	background-color	: transparent;
	color							: #115F86;
	font-family				: MyriadPro;
	font-size					: 9pt;
	z-index						: 251;
	background-repeat	: no-repeat;
}

button.CRunNoteBtn_empty
{
	color							: #000000;
	cursor						: default;
}

button.CRunNoteBtn_active
{
	color							: #115F86;
	cursor						: pointer;
}

button.CRunNoteBtn_selected
{
	color							: #FFFFFF;
	cursor						: default;
}

button.CRunNoteBtn_inactive
{
	color							: #888888;
	cursor						: default;
}

button.CRunNoteBtn_active,
button.CRunNoteBtn_selected,
button.CRunNoteBtn_inactive
{
	background-image	:	url('button-note-active.png');
}

button.CRunNoteBtn_active:hover
{
	background-image	:	url('button-note-hover.png');
}
