div.CRunReferences
{
	z-index						: 211;
}

div.CRunReferences_title_area
{
	width							: 683px;
	height						: 60px;
	margin						: 39px 20px 0px 38px;
	padding-left			: 43px;
	padding-bottom		: 5px;
	background-image	: url('bg-tablet-references-logo.png');
	background-color	: transparent;
	background-repeat	: no-repeat;
	background-position	: top left;
	color							: #494949;
}

span.CRunReferences_title_area_label
{
}

div.CRunReferences_close_area
{
	width							: 29px;
	height						: 60px;
	margin						: 33px 0px 0px 0px;
	padding						:	5px;
	background-color	:	transparent;
	color							:	#494949;
}

div.CRunReferences_report_area
{
	position					: absolute;
	left							: 600px;
	top								: 50px;
	width							: 200px;
}

div.CRunReferences_content_area
{
	width							: 821px;
	height						: 407px;
	margin						: 0px 20px 0px 20px;
	overflow					: hidden;
	background-color	:	transparent;
}

div.CRunReferences_content_area span
{
	margin						: 0px;
	font-family				: MyriadPro;
	font-size					: 11pt;
	font-weight				: normal;
}

div.CRunReferences_s_content
{
	width							: 787px;
	height						: 405px;
	border						: 0px;
	vertical-align		: middle;
	margin						: 0px 16px 0px 16px;
	overflow					: hidden;
	background-color	:	transparent;
}

td.CRunReferences_treecell_active,
td.CRunReferences_treecell_inactive,
td.CRunReferences_treecell_selected,
td.CRunReferences_treecell_opened
{
	background-color	:	transparent;
	font-family				: MyriadPro;
	font-size					: 11pt;
	font-weight				: normal;
}

td.CRunReferences_treecell_active
{
	color							:	#2E5282;
	cursor						: pointer;
}

td.CRunReferences_treecell_inactive
{
	color							:	#888888;
	cursor						: default;
}

td.CRunReferences_treecell_selected
{
	color							:	#203858;
	cursor						: pointer;
}

td.CRunReferences_treecell_opened
{
	color							:	#203858;
	cursor						: pointer;
}

button.CRunTabletAppBtn_empty_references,
button.CRunTabletAppBtn_active_references,
button.CRunTabletAppBtn_selected_references,
button.CRunTabletAppBtn_inactive_references
{
	background-repeat	:	no-repeat;
	background-position	: top center;
/*	height						: 130px !important;*/
}

button.CRunTabletAppBtn_active_references,
button.CRunTabletAppBtn_selected_references
{
	background-image	:	url('tablet-references-button-active.png');
}

button.CRunTabletAppBtn_active_references:hover
{
	background-image	:	url('tablet-references-button-active.png');
}

button.CRunTabletAppBtn_inactive_references
{
	background-image	:	url('tablet-references-button-inactive.png');
}

