div.CRunDirecting
{
	z-index						: 211;
}

div.CRunDirecting_title_area
{
	width							: 683px;
	height						: 60px;
	margin						: 39px 20px 0px 38px;
	padding-left			: 43px;
	padding-bottom		: 5px;
	background-image	: url('bg-tablet-directing-logo.png');
	background-color	: transparent;
	background-repeat	: no-repeat;
	background-position	: top left;
	color							: #494949;
}

span.CRunDirecting_title_area_label
{
}

div.CRunDirecting_close_area
{
	width							: 29px;
	height						: 60px;
	margin						: 33px 0px 0px 0px;
	padding						:	5px;
	background-color	:	transparent;
	color							:	#494949;
}

div.CRunDirecting_content_area
{
	width							: 821px;
	height						: 407px;
	margin						: 0px 20px 0px 20px;
	overflow					: hidden;
	background-color	:	transparent;
}

div.CRunDirecting_s_content
{
	width							: 787px;
	height						: 405px;
	border						: 0px;
	vertical-align		: middle;
	margin						: 0px 16px 0px 16px;
	overflow					: hidden;
	background-color	:	transparent;
}

button.CRunTabletAppBtn_empty_directing,
button.CRunTabletAppBtn_active_directing,
button.CRunTabletAppBtn_selected_directing,
button.CRunTabletAppBtn_inactive_directing
{
	background-repeat	:	no-repeat;
	background-position	: top center;
/*	height						: 130px !important;*/
}

button.CRunTabletAppBtn_active_directing,
button.CRunTabletAppBtn_selected_directing
{
	background-image	:	url('tablet-directing-button-active.png');
}

button.CRunTabletAppBtn_active_directing:hover
{
	background-image	:	url('tablet-directing-button-active.png');
}

button.CRunTabletAppBtn_inactive_directing
{
	background-image	:	url('tablet-directing-button-inactive.png');
}

div.CRunDirectingViews
{
	position					: absolute;
	left							: 30px;
	top								: 91px;
	background-color	: transparent;
	z-index						: 3;
}

.CRunDirectingViewsVbox
{
	position					: relative;
	left							: 8px;
	top								: 15px;
	width							: 159px;
	height						: 435px;
}

span.CRunDirectingViewsLabel
{
	position					: absolute;
	left							: 0px;
	top								: 108px;
	color							: #494A4B;
	font-family				: MyriadProSemibold !important;
	font-size					: 18px !important;
}

div.CRunDirectingSettings
{
	position					: absolute;
	left							: 174px;
	top								: 490px;
	width							: 653px;
	background-color	: transparent;
	z-index						: 2;
}

span.CRunDirectingSettingsLabel
{
	color							: #494A4B;
	font-family				: MyriadProSemibold !important;
	font-size					: 14px !important;
}

.CRunDirectingSettingsLabelCombo
{
	position					: relative;
	left							: 50px;
	top								: 0px;
}

div.CRunDirectingPlayer
{
	position					: absolute;
	left							: 167px;
	top								: 89px;
	width							: 670px;
	height						: 450px;
	overflow					: hidden;
	background-image	: url('directing-bg-video.png');
	background-repeat	: no-repeat;
	background-color	: transparent;
	z-index						: 1;
}

div.CRunDirectingLabelButton,
div.CRunDirectingLabelButtonDisabled
{
 	width							: 114px;
	height						: 72px;
	overflow					: hidden;
}

div.CRunDirectingLabelButton
{
	background-image	:	url('directing-camera-active.png');
	cursor						: pointer;
}

div.CRunDirectingLabelButtonDisabled
{
	background-image	:	url('directing-camera-inactive.png');
	cursor						: default;
}

td.CRunDirectingLabelButtonTop
{
	height						: 24px;
}

td.CRunDirectingLabelButtonLeft,
td.CRunDirectingLabelButtonLeftDisabled
{
	width							: 50%;
}

td.CRunDirectingLabelButtonLabel,
td.CRunDirectingLabelButtonLabelDisabled
{
	text-align				: center;
}

td.CRunDirectingLabelButtonRight,
td.CRunDirectingLabelButtonRightDisabled
{
	width							: 50%;
}

span.CRunDirectingLabelButtonLabel,
span.CRunDirectingLabelButtonLabelDisabled
{
	color							: #494A4B;
	font-family				: MyriadProSemibold !important;
	font-size					: 18px !important;
}

span.CRunDirectingLabelButtonLabel
{
	cursor						: pointer;
}

span.CRunDirectingLabelButtonLabelDisabled
{
	cursor						: default;
}

.z-combobox-rounded-readonly 
{
	width							: 518px;
	background-image: url('bg-directing-combo.png');
}

.z-combobox-rounded .z-combobox-rounded-btn 
{
	background-image: url('bg-directing-combo.png');
}

.z-comboitem 
{
	font-family				: MyriadPro;
	font-size					: 12px;
}

.z-combobox-rounded-pp
{
	border					: 1px solid #888888;
	background-color		: #CCCCCC;
}

.z-combobox-rounded-pp .z-comboitem-seld
{
	background-color		: #CCCCCC !important;
}

.z-combobox-rounded-pp .z-comboitem-over,
.z-combobox-rounded-pp .z-comboitem-over-seld
{
	background-color		: #C92929 !important;
}
