div.CRunMemos
{
	z-index						: 211;
}

div.CRunMemos_title_area
{
	width							: 683px;
	height						: 60px;
	margin						: 39px 20px 0px 38px;
	padding-left			: 43px;
	padding-bottom		: 5px;
	background-image	: url('bg-tablet-memos-logo.png');
	background-color	: transparent;
	background-repeat	: no-repeat;
	background-position	: top left;
	color							: #494949;
}

span.CRunMemos_title_area_label
{
}

div.CRunMemos_close_area
{
	width							: 29px;
	height						: 60px;
	margin						: 33px 0px 0px 0px;
	padding						:	5px;
	background-color	:	transparent;
	color							:	#494949;
}

div.CRunMemos_content_area
{
	margin						: -15px 0px 0px 25px;
	overflow					: hidden;
	background-color	:	transparent;
}

div.CRunMemos_content_area span
{
	margin						: 0px;
	font-family				: MyriadProSemibold;
	font-size					: 11pt;
	font-weight				: normal;
}

button.CRunTabletAppBtn_empty_memos,
button.CRunTabletAppBtn_active_memos,
button.CRunTabletAppBtn_selected_memos,
button.CRunTabletAppBtn_inactive_memos
{
	background-repeat	:	no-repeat;
	background-position	: top center;
/*	height						: 130px !important;*/
}

button.CRunTabletAppBtn_active_memos,
button.CRunTabletAppBtn_selected_memos
{
	background-image	:	url('tablet-memos-button-active.png');
}

button.CRunTabletAppBtn_active_memos:hover
{
	background-image	:	url('tablet-memos-button-active.png');
}

button.CRunTabletAppBtn_inactive_memos
{
	background-image	:	url('tablet-memos-button-inactive.png');
}





div.CRunMemos_s_content
{
	width							: 336px;
	height						: 440px;
	margin						: 0px 0px 0px 0px;
	overflow					: auto;
	background-color	:	transparent;
}

div.CRunMemos_s_content span
{
	color							: #494949;
	font-size					: 11pt;
	font-family				: MyriadPro;
}

.CRunMemosItemRowOdd,
.CRunMemosItemRowEven
{
	width							: 318px;
	overflow					: hidden;
}

.CRunMemosItemRowContent
{
	width							: 302px;
	margin						: 10px 5px 5px 12px;
}

.CRunMemosItemRowOdd
{
	background-color	:	#FFFFFF;
}

.CRunMemosItemRowEven
{
	background-color	:	#EEEEEE;
}

span.CRunMemosTitleLabel
{
	font-size					: 12pt !important;
	font-weight				: bold !important;
}

span.CRunMemosTitleLabelSub,
span.CRunMemosTitleLabelSubSelected
{
	cursor						: pointer;
}

span.CRunMemosTitleLabelSub
{
}

span.CRunMemosTitleLabelSubSelected
{
	color							: #BF2420 !important;
}

div.CRunMemosPlayer
{
	position					: absolute;
	left							: 359px;
	top								: 89px;
	width							: 477px;
	height						: 450px;
	background-image	: url('memos-bg-video.png');
}
