div.CRunLocationActions
{
	position					: absolute;
	top								: 100px;
	left							: 312px;
	width							: 400px;
	halign						: left;
	valign						:	top;
	background-color	: #000000;
	color							: #2E5282;
	font-family				:	MyriadPro;
	font-size					:	10pt;
	font-weight				:	bold;
	z-index						: 401;
}

span.CRunLocationActionLabel
{
	color							: #2E5282;
	cursor						: pointer;
}
