div.CRunCanon
{
	z-index						: 211;
}

div.CRunCanon_title_area
{
	width							: 683px;
	height						: 60px;
	margin						: 39px 20px 0px 38px;
	padding-left			: 43px;
	padding-bottom		: 5px;
	background-image	: url('bg-tablet-canon-logo.png');
	background-color	: transparent;
	background-repeat	: no-repeat;
	background-position	: top left;
	color							: #494949;
}

span.CRunCanon_title_area_label
{
}

div.CRunCanon_close_area
{
	width							: 29px;
	height						: 60px;
	margin						: 33px 0px 0px 0px;
	padding						:	5px;
	background-color	:	transparent;
	color							:	#494949;
}

div.CRunCanon_content_area
{
	width							: 475px;
	height						: 407px;
	margin						: 0px 0px 0px 20px;
	overflow					: hidden;
	background-color	:	transparent;
}

div.CRunCanon_item_area
{
	width							: 475px;
	height						: 407px;
	margin						: 0px 1px 0px 20px;
	overflow					: hidden;
	background-color	:	transparent;
}

div.CRunCanon_s_content
{
	width							: 447px;
	height						: 405px;
	border						: 1px solid darkgray;
	vertical-align		: middle;
	margin						: 0px 0px 0px 16px;
	overflow					: hidden;
	background-color	:	transparent;
}
div.CRunCanon_item
{
	width							: 447px;
	height						: 405px;
	border						: 1px solid darkgray;
	vertical-align		: middle;
	margin						: 0px 16px 0px 10px;
	overflow					: hidden;
	background-color	:	transparent;
}

td.CRunCanon_treecell_active,
td.CRunCanon_treecell_inactive,
td.CRunCanon_treecell_selected,
td.CRunCanon_treecell_opened
{
	background-color	:	transparent;
	font-weight				: bold;
	font-family				: MyriadPro;
	font-size					: 9pt;
}
td.CRunCanon_treecell_active
{
	color							:	#2E5282;
	cursor						: pointer;
}

td.CRunCanon_treecell_inactive
{
	color							:	#888888;
	cursor						: default;
}

td.CRunCanon_treecell_selected
{
	color							:	#203858;
	cursor						: pointer;
}

td.CRunCanon_treecell_opened
{
	color							:	#203858;
	cursor						: pointer;
}

div.CRunCanon_item_div
{
	margin						: 5px 16px;
	color							: #494949;
}

span.CRunCanon_item_html
{
	color							: #494949;
}
