button.CRunTabletAppCloseBtn_active,
button.CRunTabletAppCloseBtn_inactive
{
	border						: 0;
	background-color	: transparent;
	color							: #787878;
	font-family				: MyriadPro;
	font-size					: 9pt;
	background-image	:	url('close-tabletapp-active.png');
	background-repeat	: no-repeat;
	background-position	: top center;
	height						: 75px;
	width							: 38px;
}

button.CRunTabletAppCloseBtn_active
{
	cursor						: pointer;
}

button.CRunTabletAppCloseBtn_active:hover
{
	background-image	:	url('close-tablet-hover.png');
}

button.CRunTabletAppCloseBtn_inactive
{
	cursor						: default;
}

