div.CRunLogbook
{
	z-index						: 211;
}

div.CRunLogbook_title_area
{
	width							: 683px;
	height						: 60px;
	margin						: 39px 20px 0px 38px;
	padding-left			: 43px;
	padding-bottom		: 5px;
	background-image	: url('bg-tablet-logbook-logo.png');
	background-color	: transparent;
	background-repeat	: no-repeat;
	background-position	: top left;
	color							: #494949;
}

span.CRunLogbook_title_area_label
{
}

div.CRunLogbook_close_area
{
	width							: 29px;
	height						: 60px;
	margin						: 33px 0px 0px 0px;
	padding						:	5px;
	background-color	:	transparent;
	color							:	#494949;
}

div.CRunLogbook_report_area
{
	position					: absolute;
	left							: 600px;
	top								: 50px;
	width							: 200px;
}

div.CRunLogbook_content_area
{
	margin						: -15px 0px 0px 25px;
	overflow					: hidden;
	background-color	:	transparent;
}

div.CRunLogbook_content_area span
{
	margin						: 0px;
	font-family				: MyriadProSemibold;
	font-size					: 12pt;
	font-weight				: normal;
}

button.CRunTabletAppBtn_empty_logbook,
button.CRunTabletAppBtn_active_logbook,
button.CRunTabletAppBtn_selected_logbook,
button.CRunTabletAppBtn_inactive_logbook
{
	background-repeat	:	no-repeat;
	background-position	: top center;
/*	height						: 130px !important;*/
}

button.CRunTabletAppBtn_active_logbook,
button.CRunTabletAppBtn_selected_logbook
{
	background-image	:	url('tablet-logbook-button-active.png');
}

button.CRunTabletAppBtn_active_logbook:hover
{
	background-image	:	url('tablet-logbook-button-active.png');
}

button.CRunTabletAppBtn_inactive_logbook
{
	background-image	:	url('tablet-logbook-button-inactive.png');
}




div.CRunLogbook_s_content
{
	width							: 811px;
	height						: 440px;
	margin						: 0px 0px 0px 0px;
	overflow					: auto;
	background-color	:	transparent;
}

div.CRunLogbook_s_content span
{
	color							: #494949;
	font-size					: 12pt;
	font-family				: MyriadPro;
}

.CRunLogbookItemRowOdd,
.CRunLogbookItemRowEven
{
	width							: 793px;
	overflow					: hidden;
}

.CRunLogbookItemRowContent
{
	width							: 717px;
	margin						: 10px 5px 5px 24px;
}

.CRunLogbookItemRowButtons
{
	margin						: 25px 0px 0px 0px;
}

.CRunLogbookItemRowOdd
{
	background-color	:	#FFFFFF;
}

.CRunLogbookItemRowEven
{
	background-color	:	#EEEEEE;
}

span.CRunLogbookTitleLabel
{
	font-weight				: bold !important;
}

span.CRunLogbookTitleLabelSub
{
}

span.CRunLogbookNoteHtml
{
	position					: relative;
	top								: -5px;
	font-size					: 10pt !important;
}

.CRunLogbookNoteTextbox
{
	position					: relative;
	top								: -5px;
	width							: 700px;
	color							: #494949;
	font-family				: MyriadPro;
	font-size					: 10pt;
}

.CRunLogbookNoteEditButton
{
	position					: relative;
	left							: 5px;
	width							: 23px;
	height						: 23px;
	background-image	:	url('logbook-edit.png');
	cursor						: pointer;
}

.CRunLogbookNoteSaveButton
{
	position					: relative;
	top								: 0px;
	width							: 24px;
	height						: 24px;
	background-image	:	url('logbook-save.png');
	cursor						: pointer;
}
