div.CRunNote
{
	position					: absolute;
	top								: 464px;
	left							: 267px;
	width							: 583px;
	height						: 140px;
	halign						: left;
	valign						:	top;
	overflow					: hidden;
	background-color	: transparent;
	background-image	:	url('bg-note.png');
	z-index						: 401;
}

div.CRunNote_title_area_left
{
	width							: 521px;
	margin						: 10px 0px 0px 13px;
}

div.CRunNote_title_area_right
{
	width							: 18px;
	margin						: 8px 0px 0px 0px;
}

span.CRunNote_title_area_label
{
	color							: #494949;
	margin						: 0px 10px;
	font-size					: 11pt;
	font-family				: MyriadProSemibold;
	font-weight				: bold;
}

/*
button.CRunNote_close_btn_active.CRunCloseBtn_active,
button.CRunNote_close_btn_active.CRunCloseBtn_active:hover
{
	background-repeat	: no-repeat;
	padding						: 2px 9px;
	height						: 18px;
}
*/

button.CRunNote_close_btn_active.CRunCloseBtn_active
{
	background-image	:	url('close-note-active.png');
	background-repeat	: no-repeat;
	padding						: 2px 9px;
	height						: 20px;
}

button.CRunNote_close_btn_active.CRunCloseBtn_active:hover
{
	background-image	:	url('close-note-hover.png');
	background-repeat	: no-repeat;
	padding						: 2px 9px;
	height						: 20px;
}

div.CRunNote_text_area
{
	margin						: 15px 0px 0px 13px;
	background-color	: transparent;
}

textarea.CRunNote_text_area_div
{
	overflow					: auto;
	font-family				: MyriadPro;
	font-size					: 10pt;
	background-color	: transparent;
	color							: #494949;
}
