div.CRunEditforms
{
	z-index						: 211;
}

div.CRunEditforms_title_area
{
	width							: 683px;
	height						: 60px;
	margin						: 39px 20px 0px 38px;
	padding-left			: 43px;
	padding-bottom		: 5px;
	background-image	: url('bg-tablet-editforms-logo.png');
	background-color	: transparent;
	background-repeat	: no-repeat;
	background-position	: top left;
	color							: #494949;
}

span.CRunEditforms_title_area_label
{
}

div.CRunEditforms_close_area
{
	width							: 29px;
	height						: 60px;
	margin						: 33px 0px 0px 0px;
	padding						:	5px;
	background-color	:	transparent;
	color							:	#494949;
}

div.CRunEditforms_content_area
{
	margin						: -15px 0px 0px 25px;
	overflow					: hidden;
	background-color	:	transparent;
}

div.CRunEditforms_content_area span
{
	margin						: 0px;
	font-family				: MyriadProSemibold;
	font-size					: 11pt;
	font-weight				: normal;
}

button.CRunTabletAppBtn_empty_editforms,
button.CRunTabletAppBtn_active_editforms,
button.CRunTabletAppBtn_selected_editforms,
button.CRunTabletAppBtn_inactive_editforms
{
	background-repeat	:	no-repeat;
	background-position	: top center;
/*	height						: 130px !important;*/
}

button.CRunTabletAppBtn_active_editforms,
button.CRunTabletAppBtn_selected_editforms
{
	background-image	:	url('tablet-editforms-button-active.png');
}

button.CRunTabletAppBtn_active_editforms:hover
{
	background-image	:	url('tablet-editforms-button-active.png');
}

button.CRunTabletAppBtn_inactive_editforms
{
	background-image	:	url('tablet-editforms-button-inactive.png');
}





div.CRunEditforms_s_content
{
	width							: 800px;
	height						: 400px;
	overflow					: auto;
}

div.CRunEditforms_s_content span
{
	color							: #494949;
	font-family				: MyriadPro !important;
}

div.CRunEditformDiv
{
	padding-top				: 10px;
}

span.CRunEditformTitle
{
	color							: blue !important;
	font-size					: 14pt !important;
}

div.CRunEditformInstruction
{
	position					: relative;
	left							: 10px;
	width							: 750px;
}

span.CRunEditformInstruction
{
	margin						: 0px;
	font-size					: 11pt !important;
}

span.CRunEditformLink
{
	color							: blue !important;
	font-family				: MyriadPro !important;
	font-size					: 10pt !important;
	font-weight				: normal !important;
	text-decoration		: underline;
	cursor						: pointer;
}

div.CRunEditformSectionDiv
{
	position					: relative;
	left							: 10px;
}

span.CRunEditformSectionTitle
{
	color							: blue !important;
	font-size					: 12pt !important;
}

span.CRunEditformSectionFixed
{
	font-size					: 11pt !important;
}

.CRunEditformSectionOverwrite
{
	position					: relative;
	left							: 10px;
	width							: 750px;
	font-family				: MyriadPro !important;
	font-size					: 11pt !important;
}

div.CRunEditformsReadyBtn
{
	position					: absolute;
	left							: 730px;
	top								: 500px;
}

div.CRunEditformsReadyBtnDiv
{
	position					: absolute;
	left							: 955px;
	top								: 43px;
}
