.effort1_checked,
.effort2_checked,
.effort3_checked,
.effort4_checked,
.effort5_checked,
.effort6_checked,
.effort7_checked,
.effort8_checked,
.effort9_checked,
.confident1_checked,
.confident2_checked,
.confident3_checked,
.confident4_checked,
.confident5_checked,
.confident6_checked,
.confident7_checked,
.confident8_checked,
.confident9_checked,
.satisfaction1_checked,
.satisfaction2_checked,
.satisfaction3_checked,
.satisfaction4_checked,
.satisfaction5_checked,
.satisfaction6_checked,
.satisfaction7_checked,
.satisfaction8_checked,
.satisfaction9_checked,
.effort1_unchecked,
.effort2_unchecked,
.effort3_unchecked,
.effort4_unchecked,
.effort5_unchecked,
.effort6_unchecked,
.effort7_unchecked,
.effort8_unchecked,
.effort9_unchecked,
.confident1_unchecked,
.confident2_unchecked,
.confident3_unchecked,
.confident4_unchecked,
.confident5_unchecked,
.confident6_unchecked,
.confident7_unchecked,
.confident8_unchecked,
.confident9_unchecked,
.satisfaction1_unchecked,
.satisfaction2_unchecked,
.satisfaction3_unchecked,
.satisfaction4_unchecked,
.satisfaction5_unchecked,
.satisfaction6_unchecked,
.satisfaction7_unchecked,
.satisfaction8_unchecked,
.satisfaction9_unchecked
{
	position					: absolute;
	width							: 34px;
	height						: 34px;
	z-index						: 1;
	cursor						: pointer;
}

.effort1_checked,
.effort2_checked,
.effort3_checked,
.effort4_checked,
.effort5_checked,
.effort6_checked,
.effort7_checked,
.effort8_checked,
.effort9_checked,
.effort1_unchecked,
.effort2_unchecked,
.effort3_unchecked,
.effort4_unchecked,
.effort5_unchecked,
.effort6_unchecked,
.effort7_unchecked,
.effort8_unchecked,
.effort9_unchecked
{
	top								: 194px;
}

.confident1_checked,
.confident2_checked,
.confident3_checked,
.confident4_checked,
.confident5_checked,
.confident6_checked,
.confident7_checked,
.confident8_checked,
.confident9_checked,
.confident1_unchecked,
.confident2_unchecked,
.confident3_unchecked,
.confident4_unchecked,
.confident5_unchecked,
.confident6_unchecked,
.confident7_unchecked,
.confident8_unchecked,
.confident9_unchecked
{
	top								: 308px;
}

.satisfaction1_checked,
.satisfaction2_checked,
.satisfaction3_checked,
.satisfaction4_checked,
.satisfaction5_checked,
.satisfaction6_checked,
.satisfaction7_checked,
.satisfaction8_checked,
.satisfaction9_checked,
.satisfaction1_unchecked,
.satisfaction2_unchecked,
.satisfaction3_unchecked,
.satisfaction4_unchecked,
.satisfaction5_unchecked,
.satisfaction6_unchecked,
.satisfaction7_unchecked,
.satisfaction8_unchecked,
.satisfaction9_unchecked
{
	top								: 424px;
}

.effort1_checked,
.confident1_checked,
.satisfaction1_checked,
.effort1_unchecked,
.confident1_unchecked,
.satisfaction1_unchecked
{
	left							: 279px;
}

.effort2_checked,
.confident2_checked,
.satisfaction2_checked,
.effort2_unchecked,
.confident2_unchecked,
.satisfaction2_unchecked
{
	left							: 324px;
}

.effort3_checked,
.confident3_checked,
.satisfaction3_checked,
.effort3_unchecked,
.confident3_unchecked,
.satisfaction3_unchecked
{
	left							: 369px;
}

.effort4_checked,
.confident4_checked,
.satisfaction4_checked,
.effort4_unchecked,
.confident4_unchecked,
.satisfaction4_unchecked
{
	left							: 414px;
}

.effort5_checked,
.confident5_checked,
.satisfaction5_checked,
.effort5_unchecked,
.confident5_unchecked,
.satisfaction5_unchecked
{
	left							: 459px;
}

.effort6_checked,
.confident6_checked,
.satisfaction6_checked,
.effort6_unchecked,
.confident6_unchecked,
.satisfaction6_unchecked
{
	left							: 504px;
}

.effort7_checked,
.confident7_checked,
.satisfaction7_checked,
.effort7_unchecked,
.confident7_unchecked,
.satisfaction7_unchecked
{
	left							: 549px;
}

.effort8_checked,
.confident8_checked,
.satisfaction8_checked,
.effort8_unchecked,
.confident8_unchecked,
.satisfaction8_unchecked
{
	left							: 594px;
}

.effort9_checked,
.confident9_checked,
.satisfaction9_checked,
.effort9_unchecked,
.confident9_unchecked,
.satisfaction9_unchecked
{
	left							: 639px;
}

.effort1_checked,
.confident1_checked,
.satisfaction1_checked
{
	background-image	: url('block1_full.png');
}

.effort2_checked,
.confident2_checked,
.satisfaction2_checked
{
	background-image	: url('block2_full.png');
}

.effort3_checked,
.confident3_checked,
.satisfaction3_checked
{
	background-image	: url('block3_full.png');
}

.effort4_checked,
.confident4_checked,
.satisfaction4_checked
{
	background-image	: url('block4_full.png');
}

.effort5_checked,
.confident5_checked,
.satisfaction5_checked
{
	background-image	: url('block5_full.png');
}

.effort6_checked,
.confident6_checked,
.satisfaction6_checked
{
	background-image	: url('block6_full.png');
}

.effort7_checked,
.confident7_checked,
.satisfaction7_checked
{
	background-image	: url('block7_full.png');
}

.effort8_checked,
.confident8_checked,
.satisfaction8_checked
{
	background-image	: url('block8_full.png');
}

.effort9_checked,
.confident9_checked,
.satisfaction9_checked
{
	background-image	: url('block9_full.png');
}

.effort1_unchecked,
.confident1_unchecked,
.satisfaction1_unchecked
{
	background-image	: url('block1_empty.png');
}

.effort2_unchecked,
.confident2_unchecked,
.satisfaction2_unchecked
{
	background-image	: url('block2_empty.png');
}

.effort3_unchecked,
.confident3_unchecked,
.satisfaction3_unchecked
{
	background-image	: url('block3_empty.png');
}

.effort4_unchecked,
.confident4_unchecked,
.satisfaction4_unchecked
{
	background-image	: url('block4_empty.png');
}

.effort5_unchecked,
.confident5_unchecked,
.satisfaction5_unchecked
{
	background-image	: url('block5_empty.png');
}

.effort6_unchecked,
.confident6_unchecked,
.satisfaction6_unchecked
{
	background-image	: url('block6_empty.png');
}

.effort7_unchecked,
.confident7_unchecked,
.satisfaction7_unchecked
{
	background-image	: url('block7_empty.png');
}

.effort8_unchecked,
.confident8_unchecked,
.satisfaction8_unchecked
{
	background-image	: url('block8_empty.png');
}

.effort9_unchecked,
.confident9_unchecked,
.satisfaction9_unchecked
{
	background-image	: url('block9_empty.png');
}

.poll_ready_enabled,
.poll_ready_disabled
{
	position					: absolute;
	left							: 421px;
	top								: 500px;
	width							: 107px;
	height						: 34px;
	z-index						: 1;
}	
	
.poll_ready_enabled
{
	background-image	: url('poll_ready_active.png');
	cursor						: pointer;
}	
	
.poll_ready_disabled
{
	background-image	: url('poll_ready_inactive.png');
	cursor						: default;
}	
	
