table.CRunAlertClassic,
table.CRunAlertClassicMin,
table.CRunAlertClassicMed,
table.CRunAlertClassicMax
{
	height				: 146px;
	halign				: left;
	valign				: top;
	overflow			: hidden;
	background-color	: black;
}

table.CRunAlertClassic
{
	width	: 874px;
}

table.CRunAlertClassicMin
{
	width	: 700px;
}

table.CRunAlertClassicMed
{
	width	: 862px;
}

table.CRunAlertClassicMax
{
	width	: 1024px;
}

div.CRunAlertClassicMin_title_area_left
{
	width	: 662px;
}

div.CRunAlertClassicMed_title_area_left
{
	width	: 824px;
}

div.CRunAlertClassicMax_title_area_left
{
	width	: 986px;
}

div.CRunAlertClassic_title_area_right
{
	width	: 18px;
}

span.CRunAlertClassic_title_area_label
{
	font-size	: 10pt;
	font-family	: verdana;
	font-weight	: bold;
	margin		: 0px 10px;
}

div.CRunAlertClassicMin_text_area,
div.CRunAlertClassicMed_text_area,
div.CRunAlertClassicMax_text_area
{
	height				: 116px;
	margin				: 0px 10px;
	background-color	: transparent;
}

div.CRunAlertClassicMin_text_area
{
	width				: 700px;
}

div.CRunAlertClassicMed_text_area
{
	width				: 862px;
}

div.CRunAlertClassicMax_text_area
{
	width				: 1024px;
}

div.CRunAlertClassicMin_text_area_div,
div.CRunAlertClassicMed_text_area_div,
div.CRunAlertClassicMax_text_area_div
{
	height		: 116px;
	overflow	: auto;
}

div.CRunAlertClassicMin_text_area_div
{
	width	: 678px;
}

div.CRunAlertClassicMed_text_area_div
{
	width	: 838px;
}

div.CRunAlertClassicMax_text_area_div
{
	width	: 1000px;
}

span.CRunAlertClassic_text_area_label
{
	color		: white;
	overflow	: auto;
	font-family	: verdana;
	font-weight	: regular;
	font-size	: 9pt;
}
