div.CRunLogbookClassic
{
	width				: 1024px;
	height				: 576px;
	overflow			: hidden;
	background-color	: transparent;
	background-image	: url('background_empack.jpg');
}

div.CRunLogbookClassicOverview
{
	position				: absolute;
	top						: 100px;
	left					: 100px;
	width					: 824px;
	halign					: left;
	valign					: top;
	background-color		: #FFFFFF;
	color					: #000000;
	font-family				: verdana;
	font-size				: 10pt;
}

table.CRunLogbookOverview_vbox
{
	margin				: 0px 0px 0px 40px;
}

div.CRunLogbookOverview_div
{
	width				: 680px;
	height				: 296px;
	overflow			: auto;
	color				: #000000;
	font-family			: verdana;
	font-size			: 9pt;
	font-weight			: normal;
	background-color	: white;
	padding				: 20px;
}

div.CRunLogbookOverview_wnd
{
	width				: 824px;
	height				: 482px;
/*	background-color	: #0000B5; */
	color				: #FFFFFF;
	font-size			: 10pt;
	font-family			: verdana;
	font-weight			: bold;
	background-color	: transparent;
	background-image	: url('background_empack.jpg');
	background-position	: -30px -30px;
	border				: 1px solid #2A4058;
}

div.CRunLogbookOverview_wnd-header
{
	margin				: 40px 20px 0px 40px;
}

div.CRunLogbookClassic_title_area
{
	width				: 974px;
	height				: 30px;
	margin				: 40px 20px 0px 20px;
	padding				: 5px;
	background-color	: transparent;
	color				: #FFFFFF;
}

span.CRunLogbookClassic_title_area_label
{
	margin					: 10px;
	font-family				: verdana;
	font-size				: 10pt;
	font-weight				: bold;
}

div.CRunLogbookClassic_content_area
{
	width				: 492px;
	height				: 436px;
	margin				: 0px 0px 0px 20px;
	overflow			: hidden;
	background-color	: transparent;
}

div.CRunLogbookClassic_item_area
{
	width				: 492px;
	height				: 436px;
	margin				: 0px 1px 0px 0px;
	overflow			: hidden;
	background-color	: transparent;
}

div.CRunLogbookClassic_content
{
	width				: 466px;
	height				: 421px;
	border				: 0px solid darkgray;
	vertical-align		: middle;
	margin				: 0px 0px 0px 16px;
	overflow-y			: auto;
	overflow-x			: hidden;
	background-color	: white !important;
	padding				: 10px 0px 5px 0px;
}

div.CRunLogbookClassic_item
{
	width				: 465px;
	height				: 434px;
	border				: 0px solid darkgray;
	vertical-align		: middle;
	margin				: 0px 16px 0px 10px;
	overflow			: hidden;
	background-color	: white;
	padding				: 10px 0px 5px 0px;
}

textarea.CRunLogbookClassic_s_item_text
{
	width				: 400px;
	height				: 352px;
	overflow			: auto;
	color				: black;
	font-family			: verdana;
	font-size			: 10pt;
/*	font-weight			: bold; */
	resize				: none;
	margin				: 0px 0px 0px 20px;
}

.CRunLogbookClassic_item_label
{
	font-family			: verdana;
	font-weight			: bold;
	font-size			: 8pt;
	height				: 39px;
	width				: 421px;
	overflow			: auto;
	margin				: 0px 0px 0px 20px;
	color				: #2e5282;
	display				: block;
}

.CRunLogbookClassic_item_note
{
	font-family			: verdana;
	font-weight			: normal;
	font-size			: 10pt;
	margin				: 10px 0px 0px 20px;
	height				: 317px;
}

td.CRunLogbook_treecell_active,
td.CRunLogbook_treecell_inactive,
td.CRunLogbook_treecell_selected,
td.CRunLogbook_treecell_opened,
span.CRunLogbook_treecell_active,
span.CRunLogbook_treecell_inactive,
span.CRunLogbook_treecell_selected,
span.CRunLogbook_treecell_opened
{
	background-color	: white;
	font-family			: verdana;
	font-size			: 8pt;
	font-weight			: bold;
}

td.CRunLogbook_treecell_active,
span.CRunLogbook_treecell_active
{
	color				: #2E5282;
	cursor				: pointer;
}

td.CRunLogbook_treecell_inactive,
span.CRunLogbook_treecell_inactive
{
	color				: #888888;
	cursor				: default;
}

td.CRunLogbook_treecell_selected,
span.CRunLogbook_treecell_selected
{
	color				: #203858;
	cursor				: pointer;
}

td.CRunLogbook_treecell_opened,
span.CRunLogbook_treecell_opened
{
	color				: #A1BBDF;
	cursor				: pointer;
}

.CRunLogbookClassic_s_margin
{
	margin				: 0px 0px 0px 20px !important;
	font-family			: verdana;
	font-size			: 10pt;
/*	font-weight			: bold; */
}

div.CRunLogbookClassic_buttons_area
{
	width				: 974px;
	height				: 30px;
	margin				: 0px 20px 20px 20px;
	padding				: 5px;
	background-color	: transparent;
	filter				: alpha(opacity=100);
	-moz-opacity		: 1.0;
	opacity				: 1.0;
}

div.CRunLogbookClassic_buttons_area_white_space
{
	width				: 754px;
}

div.CRunLogbookOverview_wnd
{
	width				: 824px;
	height				: 482px;
/*	background-color	: #0000B5; */
	color				: #FFFFFF;
	font-size			: 10pt;
	font-family			: verdana;
	font-weight			: bold;
	background-color	: transparent;
	background-image	: url('background_empack.jpg');
	background-position	: -30px -30px;
	border				: 1px solid #2A4058;
}

