div.CRunTasksWnd
{
	width				: 824px;
	height				: 400px;
/*	background-color	: #0000B5; */
	color				: #FFFFFF;
	font-size			: 10pt;
	font-family			: verdana;
	font-weight			: bold;
	background-color	: transparent;
	background-image	: url('background_empack.jpg');
	background-position	: -30px -30px;
	border				: 1px solid #2A4058;
}

div.CRunTasksClassic
{
	width				: 824px;
	height				: 376px;
/*	background-color	: #7EA2D2; */
	background-color	: transparent;
	color				: #FFFFFF;
}

div.CRunTasksClassic_title_area
{
	width				: 754px;
	height				: 30px;
	color				: #FFFFFF;
	margin				: 40px 20px 0px 20px;
	background-color	: transparent;
	padding				: 5px;
}

span.CRunTasksClassic_title_area_label
{
	font-size			: 10pt;
	font-family			: verdana;
	font-weight			: bold;
	margin				: 10px;
}

div.CRunTasksClassic_content_area
{
	width				: 784px;
	height				: 236px;
	margin				: 0px 20px 0px 20px;
	background-color	: transparent;
}

div.CRunTasksClassic_content
{
/* important because of IE */	
	width				: 750px;
	height				: 234px;
	border				: 1px solid darkgray !important;
	margin				: 0px 16px 0px 16px !important;
	vertical-align		: middle !important;
	background-color	: white !important;
	overflow-y			: auto !important;
	overflow-x			: hidden !important;
}

.CRunTasksClassic_content .z-dottree-body
{
/* important because of IE */	
	height				: 234px !important;
	overflow-y			: auto !important;
	overflow-x			: hidden !important;
}

td.CRunTasks_treecell_active,
td.CRunTasks_treecell_inactive,
td.CRunTasks_treecell_selected,
td.CRunTasks_treecell_opened,
span.CRunTasks_treecell_active,
span.CRunTasks_treecell_inactive,
span.CRunTasks_treecell_selected,
span.CRunTasks_treecell_opened
{
	font-size	: 8pt;
	font-family	: verdana;
	font-weight	: bold;
	height		: 18px;
}

td.CRunTasks_treecell_active,
span.CRunTasks_treecell_active
{
	color						: #2E5282;
	cursor						: pointer;
}

td.CRunTasks_treecell_inactive,
span.CRunTasks_treecell_inactive
{
	color						: #888888;
	cursor						: default;
}

td.CRunTasks_treecell_selected,
span.CRunTasks_treecell_selected
{
	color						: #203858;
	cursor						: pointer;
}

td.CRunTasks_treecell_opened,
span.CRunTasks_treecell_opened
{
	color						: #A1BBDF;
	cursor						: pointer;
}

div.CRunTasksClassic_buttons_area
{
	width				: 774px;
	height				: 30px;
	margin				: 0px 20px 20px 20px;
	padding				: 5px;
	background-color	: transparent;
}

div.CRunTasksClassic_buttons_area_white_space
{
	width							: 664px;
}
