button.CRunEmpackBtn_empty,
button.CRunEmpackBtn_active,
button.CRunEmpackBtn_selected,
button.CRunEmpackBtn_inactive
{
	width					: 162px;
	height					: 73px;
/*	position				: absolute;*/
	border					: 0;
	overflow				: hidden;
	background-color		: transparent;
	color					: #115F86;
	font-family				: arial;
	font-size				: 8pt;
	font-weight				: bold;
	text-align				: center;
	padding					: 0px;
}

button.CRunEmpackBtn_empty
{
	color						: #000000;
	cursor						: default;
}

button.CRunEmpackBtn_active
{
	color						: #115F86;
	cursor						: pointer;
}

button.CRunEmpackBtn_selected
{
	color						: #FFFFFF;
	cursor						: default;
}

button.CRunEmpackBtn_inactive
{
	color						: #4c4c4c;
	cursor						: default;
}
