div.CRunEmpackActionBtnsClassic
{
	position:relative;
}

button.CRunEmpackActionBtnClassic_empty,
button.CRunEmpackActionBtnClassic_active,
button.CRunEmpackActionBtnClassic_selected,
button.CRunEmpackActionBtnClassic_inactive
{
	height					: 105px;
	width					: 90px;
	border					: 0;
	background-color		: transparent;
	color					: #115F86;
	font-family				: arial;
	font-size				: 8pt;
	font-weight				: bold;
	-webkit-box-align		: start;
	-moz-box-align			: start;
}

.CRunEmpackActionBtnClassic_empty img,
.CRunEmpackActionBtnClassic_active img,
.CRunEmpackActionBtnClassic_selected img,
.CRunEmpackActionBtnClassic_inactive img
{
	margin-top				: 10px;
}

button.CRunEmpackActionBtnClassic_empty
{
	color					: #000000;
	cursor					: default;
}

button.CRunEmpackActionBtnClassic_active
{
	color					: #115F86;
	cursor					: pointer;
}

button.CRunEmpackActionBtnClassic_selected
{
	color					: #FFFFFF;
	cursor					: default;
}

button.CRunEmpackActionBtnClassic_inactive
{
	color					: #4c4c4c;
	cursor					: default;
}
