button.CRunTasksBtn_empty,
button.CRunTasksBtn_active,
button.CRunTasksBtn_selected,
button.CRunTasksBtn_inactive
{
	width				: 162px;
	height				: 73px;
/*	position			: absolute;*/
	border				: 0;
	overflow			: hidden;
	background-color	: transparent;
	color				: #115F86;
	font-family			: arial;
	font-size			: 8pt;
	font-weight			: bold;
	text-align			: center;
/*	top					: 714px;*/
	padding				: 0px;
}

button.CRunTasksBtn_empty
{
	color				: #000000;
	cursor				: default;
}

button.CRunTasksBtn_active
{
	color				: #115F86;
	cursor				: pointer;
}

button.CRunTasksBtn_selected
{
	color				: #FFFFFF;
	cursor				: default;
}

button.CRunTasksBtn_inactive
{
	color				: #4c4c4c;
	cursor				: default;
}
