div.CRunParallax
{
/*	position					: absolute;
	top							: 600px;
	left						: 200px;
	width						: 700px;
	height						: 146px;
	overflow					: hidden;
	background-color			: transparent;
*/	cursor						: move;
	z-index						: 101;
}

#content {
	MARGIN: 0px 0px 0px 0px; WIDTH: 60em
}

DIV#content {
	WIDTH: 100%; HEIGHT: 146px
}

DIV#parallax {
	OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 146px
}

DIV#parallax DIV {
	TOP: 0px; POSITION: relative
}

DIV#parallax DIV.runLocationBackground A {
	DISPLAY: block; OVERFLOW: hidden; CURSOR: pointer;
}

.layers
{
/*	position:absolute; 
	width:862px !important; 
	height:146px; 
	float:left; 
*/	background:transparent; 
	z-index:501;
}

.runLocationBackground
	{
		z-index:101;
	}
.layer1
	{
		z-index:102;
	}
