div.CRunAssessmentsClassic
{
	width				: 1024px;
	height				: 576px;
	background-color	: transparent;
	background-image	: url('background_empack.jpg');
}

div.CRunAssessmentStart,
div.CRunAssessmentEnd
{
	position					: absolute;
	top								: 100px;
	left							: 312px;
	width							: 400px;
	halign						: left;
	valign						:	top;
	background-color	: #FFFFFF;
	color							: #000000;
	font-family				:	verdana;
	font-size					:	11pt;
}

span.CRunAssessmentStart_label,
span.CRunAssessmentEnd_label
{
	color							: #000000;
	font-family				:	verdana;
	font-size					:	10pt;
}

div.CRunAssessmentsClassic_title_area
{
	width				: 974px;
	height				: 30px;
	margin				: 40px 20px 0px 20px;
	padding				: 5px;
	background-color	: transparent;
	color				: #FFFFFF;
}

span.CRunAssessmentsClassic_title_area_label
{
	margin				: 10px;
	font-family			: verdana;
	font-size			: 10pt;
	font-weight			: bold;
}

div.CRunAssessmentsClassic_content_area
{
	width				: 492px;
	height				: 436px;
	margin				: 0px 0px 0px 20px;
	background-color	: transparent;
}

div.CRunAssessmentsClassic_content-body
{
	overflow	: auto;
}

div.CRunAssessmentsClassic_item_area
{
	width				: 492px;
	height				: 436px;
	margin				: 0px 1px 0px 0px;
	background-color	: transparent;
}

div.CRunAssessmentsClassic_content
{
	width				: 464px;
	height				: 434px;
	border				: 1px solid darkgray;
	vertical-align		: middle;
	margin				: 0px 0px 0px 16px;
	background-color	: white !important;
	overflow			: hidden !important;
}

.CRunAssessmentsClassic_content div.z-dottree-body 
{
	width				: 464px !important;
	height				: 434px !important;
}

div.CRunAssessmentsClassic_item
{
	width				: 464px;
	height				: 434px;
	border				: 1px solid darkgray;
	vertical-align		: middle;
	margin				: 0px 16px 0px 10px;
	overflow			: auto;
	background-color	: white;
}

.CRunAssessmentsClassic_item_questiontext
{
	position			: relative;
	left				: 20px;
	width				: 420px;
	font-family			: verdana;
	font-size			: 10pt;
	font-weight			: bold;
	color				: #2E5282;
}

.CRunAssessmentsClassic_richtext
{
	color				: #2E5282;
	margin				: 0px 0px 0px 0px;
	font-size			: 10pt;
	font-family			: verdana;
}


.CRunAssessmentsClassic_richtext p
{
	-webkit-margin-before	: 0em;
	-webkit-margin-after	: 0em;
	margin-top				: 0px;
	margin-bottom			: 0px;
}

.CRunAssessmentsClassic_item_radio
{
	margin				: 0px 0px 0px 16px;
}

.CRunAssessmentsClassic_item_alternativetext
{
	position			: relative;
	left				: 20px;
	width				: 400px;
	font-family			: verdana;
	font-size			: 10pt;
}

.CRunAssessmentsClassic_item_feedbackbox
{
	position			: relative;
	left				: 20px;
	width				: 400px;
}

.CRunAssessmentsClassic_item_feedbacktexttrue
{
	font-family			: verdana;
	font-size			: 8pt;
	color				: green;
}

.CRunAssessmentsClassic_item_feedbacktext,
.CRunAssessmentsClassic_item_feedbacktextfalse
{
	font-family			: verdana;
	font-size			: 8pt;
	color				: red;
}

.CRunAssessmentsClassic_item_reference
{
	margin		: 0px 0px 0px 16px;
	cursor		: pointer;
}

.CRunAssessmentsClassic_ass_feedbackbox
{
	font-family			: verdana;
	font-size			: 10pt;
	font-weight			: bold;
	color				: #2E5282;
	position			: relative;
	left				: 20px;
	width				: 400px;
}

div.CRunAssessmentsClassic_ass_feedback
{
	width				: 464px;
	height				: 434px;
	border				: 1px solid darkgray;
	vertical-align		: middle;
	margin				: 0px 16px 0px 10px;
	overflow			: auto;
	background-color	: white;
}

td.CRunAssessments_treecell_active,
td.CRunAssessments_treecell_selected,
td.CRunAssessments_treecell_opened,
td.CRunAssessments_treecell_inactive,
span.CRunAssessments_treecell_active,
span.CRunAssessments_treecell_selected,
span.CRunAssessments_treecell_opened,
span.CRunAssessments_treecell_inactive
{
	font-size	: 8pt;
	font-family	: verdana;
	font-weight	: bold;
	height		: 18px;
}

td.CRunAssessments_treecell_active,
span.CRunAssessments_treecell_active
{
	cursor		: pointer;
	color		: #2E5282;
}

td.CRunAssessments_treecell_inactive,
span.CRunAssessments_treecell_inactive
{
	color		: #888888;
	cursor		: default;
}

td.CRunAssessments_treecell_selected,
span.CRunAssessments_treecell_selected
{
	color		: #203858;
	cursor		: pointer;
}

td.CRunAssessments_treecell_opened,
span.CRunAssessments_treecell_opened
{
	color		: #A1BBDF;
	cursor		: pointer;
}

table.CRunAssessments_readybox
{
	float	: right;
}

.CRunAssessments_readybox tr
{
	vertical-align	: middle;
}

.CRunAssessments_readybox .CRunAssessments_treecell_active
{
	margin-right	: 20px;
}

.CRunAssessments_question_label
{
	margin-left	: 20px;
}

td.CRunAssessments_treecell_selected img
{
	margin-left	: 15px;
}

.CRunAssessments_treecell_selected .CRunAssessments_question_label
{
	margin-left	: 4px;
}

td.CRunAssessments_item_vbox1
{
	left							: 20px;
	width							:	420px;
 	position					: relative;
}

td.CRunAssessments_item_vbox2
{
	left							: 20px;
	width							:	400px;
 	position					: relative;
}

span.CRunAssessments_item_html
{
	margin						: 0px 0px 0px 0px;
	color							: black;
	font-family				:	MyriadPro;
	font-size					:	10pt;
}

span.CRunAssessments_item_radio
{
	margin						: 0px 0px 0px 0px;
}

span.CRunAssessments_score,
span.CRunAssessments_answer
{
	background-color	:	white;
	color							:	blue;
	font-family				:	MyriadSemibold;
	font-size					: xx-small;
}

div.CRunAssessmentsClassic_buttons_area
{
	width				: 974px;
	height				: 30px;
	margin				: 0px 20px 20px 20px;
	padding				: 5px;
	background-color	: transparent;
	filter				: alpha(opacity=100);
	-moz-opacity		: 1.0;
	opacity				: 1.0;
}

div.CRunAssessmentsClassic_buttons_area_white_space
{
	width		:864px;
}

button.CRunButtonClassic_assessments_100
{
	width	: 100px;
}

button.CRunButtonClassic_assessments_200
{
	width							: 200px;
}

button.CRunButtonClassic_assessments_300
{
	width:300px;
}

button.CRunButtonClassic_assessments_400
{
	width:400px;
}

button.CRunButtonClassic_assessments_100,
button.CRunButtonClassic_assessments_200,
button.CRunButtonClassic_assessments_300,
button.CRunButtonClassic_assessments_400
{
	font-size			: 8pt;
	font-family			: arial;
	margin				: 0px 10px 0px 0px;
	color				: black; 
	background-color	: #F2F2F2;
}

button[disabled].CRunButtonClassic_assessments_100,
button[disabled].CRunButtonClassic_assessments_200,
button[disabled].CRunButtonClassic_assessments_300,
button[disabled].CRunButtonClassic_assessments_400
{
	color				: #787878; 
	background-color	: #A2A2A2;
}
