div.CRunLocationBtnsClassic
{
	position:relative;
}

button.CRunLocationBtnClassic_empty,
button.CRunLocationBtnClassic_active,
button.CRunLocationBtnClassic_selected,
button.CRunLocationBtnClassic_inactive
{
	height					: 105px;
	width					: 90px;
	border					: 0;
	background-color		: transparent;
	color					: #115F86;
	font-family				: arial;
	font-size				: 8pt;
	font-weight				: bold;
	-webkit-box-align		: start;
	-moz-box-align			: start;
}

.CRunLocationBtnClassic_empty img,
.CRunLocationBtnClassic_active img,
.CRunLocationBtnClassic_selected img,
.CRunLocationBtnClassic_inactive img
{
	margin-top				: 10px;
}

button.CRunLocationBtnClassic_empty
{
	color					: #000000;
	cursor					: default;
}

button.CRunLocationBtnClassic_active
{
	color					: #115F86;
	cursor					: pointer;
}

button.CRunLocationBtnClassic_selected
{
	color					: #FFFFFF;
	cursor					: default;
}

button.CRunLocationBtnClassic_inactive
{
	color					: #4c4c4c;
	cursor					: default;
}
