table.CRunNoteClassic,
table.CRunNoteClassicMin,
table.CRunNoteClassicMed,
table.CRunNoteClassicMax
{
	height				: 146px;
	halign				: left;
	valign				: top;
	overflow			: hidden;
	background-color	: black;
}

table.CRunNoteClassic
{
	width	: 874px;
}

table.CRunNoteClassicMin
{
	width	: 700px;
}

table.CRunNoteClassicMed
{
	width	: 862px;
}

table.CRunNoteClassicMax
{
	width	: 1024px;
}

div.CRunNoteClassicMin_title_area_left
{
	width	: 662px;
}

div.CRunNoteClassicMed_title_area_left
{
	width	: 824px;
}

div.CRunNoteClassicMax_title_area_left
{
	width	: 986px;
}

div.CRunNoteClassic_title_area_right
{
	width	: 18px;
}

span.CRunNoteClassic_title_area_label
{
	font-size	: 10pt;
	font-family	: verdana;
	font-weight	: bold;
	margin		: 0px 10px;
}

div.CRunNoteClassicMin_text_area,
div.CRunNoteClassicMed_text_area,
div.CRunNoteClassicMax_text_area
{
	height				: 116px;
	margin				: 0px 10px;
	background-color	: transparent;
}

div.CRunNoteClassicMin_text_area
{
	width				: 700px;
}

div.CRunNoteClassicMed_text_area
{
	width				: 862px;
}

div.CRunNoteClassicMax_text_area
{
	width				: 1024px;
}

textarea.CRunNoteClassicMin_text_area_div,
textarea.CRunNoteClassicMed_text_area_div,
textarea.CRunNoteClassicMax_text_area_div
{
	height		: 116px;
	color		: black;
	overflow	: auto;
	font-family	: verdana;
	font-weight	: regular;
	font-size	: 9pt;
}

textarea.CRunNoteClassicMin_text_area_div
{
	width	: 673px;
}

textarea.CRunNoteClassicMed_text_area_div
{
	width	: 835px;
}

textarea.CRunNoteClassicMax_text_area_div
{
	width	: 997px;
}
