button.CRunNoteBtn_empty,
button.CRunNoteBtn_active,
button.CRunNoteBtn_selected,
button.CRunNoteBtn_inactive
{
	width				: 162px;
	height				: 73px;
/*	position			: absolute;*/
	border				: 0;
	overflow			: hidden;
	background-color	: transparent;
	color				: #115F86;
	font-family			: arial;
	font-size			: 8pt;
	font-weight			: bold;
	text-align			: center;
/*	top					: 684px; */
	padding				: 0px;
}

button.CRunNoteBtn_empty
{
	color				: #000000;
	cursor				: default;
}

button.CRunNoteBtn_active
{
	color				: #115F86;
	cursor				: pointer;
}

button.CRunNoteBtn_selected
{
	color				: #FFFFFF;
	cursor				: default;
}

button.CRunNoteBtn_inactive
{
	color				: #4c4c4c;
	cursor				: default;
}
