div.CRunReferencesClassic
{
	width				: 1024px;
	height				: 576px;
	overflow			: hidden;
	background-color	: transparent;
	background-image	: url('background_empack.jpg');
}

div.CRunReferencesClassic_title_area
{
	width				: 974px;
	height				: 30px;
	margin				: 40px 20px 0px 20px;
	padding				: 5px;
	background-color	: transparent;
	color				: #FFFFFF;
}

span.CRunReferencesClassic_title_area_label
{
	margin					: 10px;
	font-family				: verdana;
	font-size				: 10pt;
	font-weight				: bold;
}

div.CRunReferencesClassic_content_area
{
	width				: 984px;
	height				: 436px;
	margin				: 0px 20px 0px 20px;
	overflow			: hidden;
	background-color	: transparent;
}

div.CRunReferencesClassic_content
{
	width				: 953px;
	height				: 421px;
	border				: 0px solid darkgray;
	vertical-align		: middle;
	margin				: 0px 16px 0px 16px;
	overflow			: hidden;
	background-color	: white !important;
	padding				: 10px 0px 5px 0px;
}

div.CRunReferencesClassic_content-body
{
	width				: 925px !important;
	margin-left			: 10px;
}

td.CRunReferencesClassic_treecell_active,
td.CRunReferencesClassic_treecell_inactive,
td.CRunReferencesClassic_treecell_selected,
td.CRunReferencesClassic_treecell_opened,
span.CRunReferencesClassic_treecell_active,
span.CRunReferencesClassic_treecell_inactive,
span.CRunReferencesClassic_treecell_selected,
span.CRunReferencesClassic_treecell_opened
{
	background-color	: white;
	font-family			: verdana;
	font-size			: 8pt;
	font-weight			: bold;
}

td.CRunReferencesClassic_treecell_active,
span.CRunReferencesClassic_treecell_active
{
	color				: #2E5282;
	cursor				: pointer;
}

td.CRunReferencesClassic_treecell_inactive,
span.CRunReferencesClassic_treecell_inactive
{
	color				: #888888;
	cursor				: default;
}

td.CRunReferencesClassic_treecell_selected,
span.CRunReferencesClassic_treecell_selected
{
	color				: #203858;
	cursor				: pointer;
}

td.CRunReferencesClassic_treecell_opened,
span.CRunReferencesClassic_treecell_opened
{
	color				: #A1BBDF;
	cursor				: pointer;
}

div.CRunReferencesClassic_buttons_area	
{
	width				: 974px;
	height				: 30px;
	margin				: 0px 20px 20px 20px;
	padding				: 5px;
	background-color	: transparent;
	filter				: alpha(opacity=100);
	-moz-opacity		: 1.0;
	opacity				: 1.0;
}

div.CRunReferencesClassic_buttons_area_white_space
{
	width				: 864px;
}
