div.CRunMailClassic
{
	width						: 1024px;
	height						: 576px;
	overflow					: hidden;
	background-color			: transparent;
	background-image			: url('background_empack.jpg');
}

div.CRunShowMailClassic
{
	width				: 874px;
	height				: 576px;
	halign				: left;
	valign				: top;
	background-color	: #7EA2D2;
	color				: #000000;
	font-size			: 10pt;
	font-family			: verdana;
	font-weight			: bold;
}

td.CRunShowMailClassic_vbox
{
	margin						: 0px 10px;
}

div.CRunShowMailClassic_div
{
	width							: 770px;
	height						: 400px;
	margin						: 0px 10px;
	overflow					: auto;
	color							: #000000;
	font-family				: Verdana;
	font-size				: 10pt;
	font-weight				: bold;
}

td.CRunMailHeaderClassic
{
	color							: #000000;
}

td.CRunMailAttachmentsClassic
{
	color							: #2E5282;
}

div.CRunMailClassic_title_area
{
	width							: 974px;
	height						: 30px;
	margin						: 40px 20px 0px 20px;
	padding						:	5px;
	background-color	:	transparent;
	color							:	#FFFFFF;
}

span.CRunMailClassic_title_area_label
{
	margin					: 10px;
	font-family				: Verdana;
	font-size				: 10pt;
	font-weight				: bold;
}

div.CRunMailClassic_content_area
{
	width				: 984px;
	height				: 436px;
	margin				: 0px 20px 0px 20px;
	overflow			: hidden;
	background-color	: transparent;
}

div.CRunMailClassic_content_area .z-dottree-body
{
	background-color	: white;
}

div.CRunMailClassic_content
{
	width				: 950px;
	height				: 434px;
	border				: 0px solid darkgray;
	vertical-align		: middle;
	margin				: 0px 16px 0px 16px;
	overflow			: hidden;
	background-color	: white !important;
	padding				: 10px 0px 5px 0px;
}

td.CRunMail_treecell_active,
td.CRunMail_treecell_inactive,
td.CRunMail_treecell_selected,
td.CRunMail_treecell_opened,
span.CRunMail_treecell_active,
span.CRunMail_treecell_inactive,
span.CRunMail_treecell_selected,
span.CRunMail_treecell_opened
{
	background-color		: white;
	font-family				: Verdana;
	font-size				: 8pt;
	font-weight				: bold;
}

td.CRunMail_treecell_active,
span.CRunMail_treecell_active
{
	color					: #2E5282;
	cursor					: pointer;
	background-color		: white;
	font-family				: Verdana;
	font-size				: 8pt;
	font-weight				: bold;
}

td.CRunMail_treecell_inactive,
span.CRunMail_treecell_inactive
{
	color					: #888888;
	cursor					: default;
	background-color		: white;
	font-family				: Verdana;
	font-size				: 8pt;
	font-weight				: bold;
}

td.CRunMail_treecell_selected,
span.CRunMail_treecell_selected
{
	color					: #203858;
	cursor					: pointer;
	background-color		: white;
	font-family				: Verdana;
	font-size				: 8pt;
	font-weight				: bold;
}

td.CRunMail_treecell_opened,
span.CRunMail_treecell_opened
{
	color					: #A1BBDF;
	cursor					: pointer;
	background-color		: white;
	font-family				: Verdana;
	font-size				: 8pt;
	font-weight				: bold;
}

div.CRunMailClassic_text
{
	width				: 698px;
	height				: 114px;
	margin				: 0px 0px 0px 0px;
	vertical-align		: middle;
	background-color	: #404040;
	border				: 1px solid darkgray;
}

div.CRunMailSubjectContactsListboxClassic
{
	width				: 650px;
	height				: 150px !important;
	overflow-y			: hidden !important;
	overflow-x			: hidden !important;
}

div.CRunMailSubjectContactsListboxClassic .z-listbox-body
{
	height				: 119px !important;
	overflow-y			: auto !important;
	overflow-x			: hidden !important;
}

div.CRunMailSubjectContactsListboxClassic .z-listbox-header
{
	width				: 650px;
	height				: 31px !important;
	overflow			: hidden !important;
}

.CRunMailSubjectContactsListboxClassic_listhead
{
	background-color	: #EEEEEE;
	color				: black;
	font-size			: 10pt !important;
	font-family			: verdana !important;
	font-weight			: bold !important;
}

.CRunMailSubjectContactsListboxClassic_listcell_label
{
	font-size			: 10pt !important;
	font-family			: verdana !important;
}

div.CRunMailClassic_buttons_area
{
	width				: 974px;
	height				: 30px;
	margin				: 0px 20px 20px 20px;
	padding				: 5px;
	background-color	: transparent;
	filter				: alpha(opacity=100);
	-moz-opacity		: 1.0;
	opacity				: 1.0;
}
div.CRunMailClassic_buttons_area_white_space
{
	width							: 654px;
}

div.CRunNewMailWnd
{
	width				: 874px;
	height				: 644px;
/*	background-color	: #0000B5;*/
	background-color	: black;
	color				: #FFFFFF;
	font-size			: 10pt;
	font-family			: verdana;
	font-weight			: bold;
	background-image	: url('background_empack.jpg');
	background-repeat	: no-repeat;
	background-position	: -30px -30px;
	border				: 1px solid #2A4058;
}

div.CRunNewMailClassic
{
	width				: 874px;
	height				: 636px;
	halign				: left;
	valign				: top;
	background-color	: transparent;
	color				: #000000;
	font-size			: 10pt;
	font-family			: verdana;
	font-weight			: bold;
}

div.CRunNewMailClassic_buttons_area
{
	width				: 824px;
	height				: 30px;
	margin				: 0px 20px 20px 20px;
	background-color	: transparent;
	padding				: 5px;
}

div.CRunNewMailClassic_buttons_area_white_space
{
	width	: 620px;
}

div.CRunNewMailClassic_title_area
{
	width				: 824px;
	height				: 30px;
	color				: white;
	margin				: 40px 20px 0px 20px;
	background-color	: transparent;
	padding				: 5px;
}

span.CRunNewMailClassic_title_area_label
{
	font-size		: 10pt;
	font-family		: verdana;
	font-weight		: bold;
	margin			: 10px;
}

div.CRunNewMailClassic_mail_area
{
	width				: 794px;
	height				: 466px;
	margin				: 0px 20px 10px 20px;
	background-color	: white;
	overflow			: auto;
	padding				: 20px;
}

div.CRunNewMailClassic_mail
{
	margin				: 0px 0px 0px 16px;
	vertical-align		: middle;
	background-color	: white;
	color				: black;
	font-family			: verdana !important;
	font-size			: 10pt !important;
	font-weight			: bold !important;
}

span.CRunNewMailClassic_mail_text
{
	background-color	: white;
	color				: black;
	font-family			: verdana;
	font-size			: 10pt;
	font-weight			: bold;
}

span.CRunNewMail_mail_text
{
	background-color	: white;
	color				: black;
	font-family			: verdana !important;
	font-size			: 10pt !important;
	font-weight			: bold !important;
}

div.CRunNewMailAttachmentClassic_area
{
	width							: 698px;
}

div.CRunMailWnd
{
	width				: 874px;
	height				: 644px;
/*	background-color	: #0000B5;*/
	background-color	: black;
	color				: #FFFFFF;
	font-size			: 10pt;
	font-family			: verdana;
	font-weight			: bold;
	background-image	: url('background_empack.jpg');
	background-repeat	: no-repeat;
	background-position	: -30px -30px;
	border				: 1px solid #2A4058;
}

div.CRunMailWnd-header
{
	margin				: 10px 10px 10px 13px;
}

table.CRunMailWnd_content
{
	margin-left			: 5px;
	background-color	: white;
	overflow			: auto;
	padding				: 10px 10px 10px 10px;
	width				: 770px;
}

table.CRunMailHeaderClassic span
{
	color				: #000000;
	font-family			: verdana !important;
	font-size			: 10pt !important;
	font-weight			: bold !important;
}

table.CRunMailAttachmentsClassic
{
	font-family			: verdana !important;
	font-size			: 10pt !important;
}

span.CRunMailAttachmentsClassic_label
{
	color				: #000000;
	font-weight			: normal !important;
}

span.CRunMailAttachmentsClassic_attachment
{
	color				: #2E5282;
	font-weight			: bold !important;
	cursor				: pointer;
}
