body
{
	margin:0px;padding:0px;color:gray;background-color:#000000;
}

@font-face {
	font-family				: MyriadPro;
	src								: url('../../style/MyriadPro-Regular.otf'),url('../../style/MyriadPro-Regular.eot');
/*
	src								: url('MyriadPro-Regular.otf'),url('MyriadPro-Regular.eot');
	*/
}

@font-face {
	font-family				: MyriadProSemibold;
	src								: url('../../style/MyriadPro-Semibold.otf'),url('../../style/MyriadPro-Semibold.eot');
/*
	src								: url('MyriadPro-Semibold.otf'),url('MyriadPro-Semibold.eot');
	*/
}

button
{
	outline: none;
}

/* window */

.z-window,
.z-window-content
{
	background:transparent;
}

.z-window-content
{
	padding:0px;
}

/* tree */

.z-tree-header-border
{
	border-bottom:0px;
}

/* window-modal */

div.z-window-modal,
div.z-window-modal-shadow,
div.z-window-modal-tl,
div.z-window-modal-tr,
div.z-window-modal-cl,
div.z-window-modal-cr,
div.z-window-modal-bl,
div.z-window-modal-br,
div.z-window-modal-hl,
div.z-window-modal-hr,
div.z-window-modal-hm
{
	background				: #FFFFFF;
	background-color	: #FFFFFF;
}

div.z-window-modal-header
{
	font-family				: MyriadProSemibold;
	font-size					: 12pt;
}

div.z-window-modal-cm
{
	border						: 0px;
}

div.z-window-modal-move-ghost,
div.z-window-modal-move-ghost dl
{
	background				: #FFFFFF;
	background-color	: #FFFFFF;
	border						: 0px;
}

div.CRunWndClassic
{
	width				: 1024px;
	height				: 744px;
	margin				: auto;
	background-color	: black;
}

div.CRunTitleAreaClassic
{
	width:1024px;height:22px;color:#B5B5B5;overflow:hidden;margin: 0px 0px 0px 0px;
}
div.CRunTitleAreaClassic_left
{
	width:997px;
}
div.CRunTitleAreaClassic_right
{
	width:18px;
}
span.CRunTitleAreaClassic_label
{
	font-size:10pt;font-family:verdana;font-weight:bold;margin: 0px 20px;
}
div.CRunViewAreaClassic
{
	width:1024px;height:576px;overflow:hidden;
}
div.CRunChoiceAreaClassicMin
{
	width:700px;height:146px;overflow:hidden;position:relative;margin: 0px 0px 0px 0px;
}
div.CRunChoiceAreaClassicMed
{
	width:862px;height:146px;overflow:hidden;position:relative;margin: 0px 0px 0px 0px;
}
div.CRunChoiceAreaClassicMax
{
	width:1024px;height:146px;overflow:hidden;position:relative;margin: 0px 0px 0px 0px;
}
div.CRunChoiceHoverBtnsClassic
{
	position:relative;
}
div.CRunHoverBtnClassic_side
{
	width:162px;height:73px;
}
div.CRunHoverBtnClassic_center
{
	width:66px;height:146px;
}
div.CRunHoverBtnClassic_conversation
{
	width:76px;height:16px;
}
div.CRunHoverBtnLabelClassic_side_normal,
div.CRunHoverBtnLabelClassic_side_selected
{
	width:162px;
	height:17px;
	text-align:center;
/*	background-image:url('side_label.gif');*/
}
div.CRunHoverBtnLabelClassic_center_normal,
div.CRunHoverBtnLabelClassic_center_selected
{
	width:66px;
	height:35px;
	text-align:center;
/*	background-image:url('side_label.gif');*/
}
div.CRunHoverBtnLabelClassic_side_normal,
div.CRunHoverBtnLabelClassic_center_normal
{
	color:#115F86;
}
div.CRunHoverBtnLabelClassic_side_selected,
div.CRunHoverBtnLabelClassic_center_selected
{
	color:#FFFFFF;
}
span.CRunHoverBtnLabelClassic_label
{
	font-size:8pt;font-family:arial;font-weight:bold;
}

button.CRunHoverBtnImageClassic_side_active,
button.CRunHoverBtnImageClassic_side_inactive
{
	width:162px;height:56px;border:0;background-color:black;
}
button.CRunHoverBtnImageClassic_center_active,
button.CRunHoverBtnImageClassic_center_inactive
{
	width:66px;height:80px;border:0;background-color:black;
}
button.CRunHoverBtnImageClassic_conversation_active,
button.CRunHoverBtnImageClassic_conversation_inactive
{
	width:76px;height:16px;border:0;background-color:black;margin: 0px 16px 0px 0px;
}
button.CRunHoverBtnImageClassic_pause_play_active,
button.CRunHoverBtnImageClassic_pause_play_inactive
{
	width:16px;height:16px;border:0;background-color:black;margin: 0px 16px 0px 0px;
}
button.CRunHoverBtnImageClassic_close_active,
button.CRunHoverBtnImageClassic_close_inactive
{
	width:18px;height:16px;border:0;background-color:black;margin: 0px 16px 0px 0px;
}
button.CRunHoverBtnImageClassic_side_active,
button.CRunHoverBtnImageClassic_center_active
button.CRunHoverBtnClassic_conversation_active,
button.CRunHoverBtnClassic_pause_play_active,
button.CRunHoverBtnClassic_close_active
{
	cursor:pointer;
}
button.CRunHoverBtnImageClassic_side_inactive,
button.CRunHoverBtnImageClassic_center_inactive,
button.CRunHoverBtnClassic_conversation_inactive,
button.CRunHoverBtnClassic_pause_play_inactive,
button.CRunHoverBtnClassic_close_inactive
{
	cursor:default;
}

button.CRunButtonClassic_component_100,button.CRunButton_conversation_interaction_100,
button.CRunButtonClassic_component_200,button.CRunButton_conversation_interaction_200,
button.CRunButtonClassic_component_300,button.CRunButton_conversation_interaction_300,
button.CRunButtonClassic_component_400,button.CRunButton_conversation_interaction_400
{
		font-size:9pt;font-family:arial;font-weight:bold;margin: 0px 10px 0px 0px;
}

button.CRunButtonClassic_component_100,
button.CRunButtonClassic_component_200,
button.CRunButtonClassic_component_300,
button.CRunButtonClassic_component_400
{
/*	color				: #787878; */ 
	color				: black; 
	background-color	: #F2F2F2;
}

button[disabled].CRunButtonClassic_component_100,
button[disabled].CRunButtonClassic_component_200,
button[disabled].CRunButtonClassic_component_300,
button[disabled].CRunButtonClassic_component_400
{
	color:#787878; background-color:#A2A2A2;
}

button.CRunButtonClassic_conversation_interaction_100,
button.CRunButtonClassic_conversation_interaction_200,
button.CRunButtonClassic_conversation_interaction_300,
button.CRunButtonClassic_conversation_interaction_400
{
	color:#000000; background-color:#B5B5B5;
}
button.CRunButtonClassic_component_100,
button.CRunButtonClassic_conversation_interaction_100
{
	width:100px;
}

button.CRunButtonClassic_component_200,
button.CRunButtonClassic_conversation_interaction_200
{
	width:200px;
}

button.CRunButtonClassic_component_300,
button.CRunButtonClassic_conversation_interaction_300
{
	width:300px;
}

button.CRunButtonClassic_component_400,
button.CRunButtonClassic_conversation_interaction_400
{
	width:400px;
}

/* CRunCloseBtn */

button.CRunCloseBtn_active,
button.CRunCloseBtn_inactive
{
	border						: 0;
	background-color	: transparent;
}

button.CRunCloseBtn_active
{
	cursor						: pointer;
}

button.CRunCloseBtn_inactive
{
	cursor						: default;
}

img.CRunBackgroundImageClassic_active,
img.CRunBackgroundImageClassic_inactive
{
	width:1024px;height:576px;background-color:black;
}
img.CRunBackgroundImageClassic_active
{
/*	cursor:pointer; */
}
img.CRunBackgroundImageClassic_inactive
{
	cursor:default;
}

div.CRunGooglemapsClassic,
div.CRunCanonClassic,
div.CRunCanonResultClassic
{
	width:1024px;height:576px;background-color:transparent;background-image:url('background_empack.jpg');
}

div.CRunConversationInteractionClassicMin
{
	width:700px;height:146px;background-color:black;
}
table.CRunConversationInteractionClassicMed
{
	width:862px;height:146px;background-color:black;
}
div.CRunConversationInteractionClassicMax
{
	width:1024px;height:146px;background-color:black;
}

div.CRunGooglemapsClassic_title_area,
div.CRunCanonClassic_title_area,
div.CRunCanonResultClassic_title_area
{
	width:974px;height:30px;color:#FFFFFF;margin: 40px 20px 0px 20px;background-color:transparent;padding:5px;
}

span.CRunGooglemapsClassic_title_area_label,
span.CRunCanonClassic_title_area_label,
span.CRunCanonResultClassic_title_area_label
{
	font-size:10pt;font-family:verdana;font-weight:bold;margin: 10px;
}

div.CRunGooglemapsClassic_content_area
{
	width:984px;height:436px;margin: 0px 20px 0px 20px;background-color:transparent;overflow:hidden;
}

div.CRunCanonClassic_content_area,
div.CRunCanonResultClassic_content_area
{
	width:492px;height:436px;margin: 0px 0px 0px 20px;background-color:transparent;
}

div.CRunCanonClassic_item_area,
div.CRunCanonResultClassic_item_area
{
	width:492px;height:436px;margin: 0px 1px 0px 0px;background-color:transparent;
}

.CRunGooglemapsClassic_content
{
	width				: 960px !important;
	height				: 434px;
/*	border:1px solid darkgray; */
	border				: 0px !important;
	margin				: 0px 16px 0px 11px !important;
	vertical-align		: middle;
	background-color	: transparent !important;
}

.CRunGmapsClassic_map_area
{
	width				: 960px !important;
}

div.CRunCanonClassic_content,
div.CRunCanonResultClassic_content
{
	width				: 464px;
	height				: 434px;
	border				: 1px solid darkgray;
	margin				: 0px 0px 0px 16px;
	vertical-align		: middle;
	background-color	: white !important;
	overflow			: hidden !important;
}

div.CRunCanonClassic_item,
div.CRunCanonResultClassic_item
{
	width				: 464px;
	height				: 434px;
	border				: 1px solid darkgray;
	margin				: 0px 16px 0px 10px;
	vertical-align		: middle;
	background-color	: white;
	overflow			: auto;
}

div.CRunConversationInteractionClassicMin_content_area,
div.CRunConversationInteractionClassicMed_content_area,
div.CRunConversationInteractionClassicMax_content_area
{
	height				: 123px;
	margin				: 0px 0px 0px 0px;
	background-color	: black;
	overflow-x			: hidden !important;
}

div.CRunConversationInteractionClassicMin_content_area
{
	width				: 700px;
}

div.CRunConversationInteractionClassicMed_content_area
{
	width				: 862px;
}
div.CRunConversationInteractionClassicMax_content_area
{
	width				: 1024px !important;
}

div.CRunConversationInteractionClassicMin_content,
div.CRunConversationInteractionClassicMed_content,
div.CRunConversationInteractionClassicMax_content
{
	height				: 121px;
	border				: 1px solid darkgray !important;
	margin				: 0px 0px 0px 9px;
	vertical-align		: middle;
	background-color	: #404040 !important;
/* for IE: */
	overflow-x			: hidden !important;
	overflow-y			: auto !important;
	font-size	: 12pt;
	font-family	: verdana;
}

/* for IE: */
div.CRunConversationInteractionClassicMin_content .z-dottree-body,
div.CRunConversationInteractionClassicMed_content .z-dottree-body,
div.CRunConversationInteractionClassicMax_content .z-dottree-body
{
	height				: 121px !important;
}

div.CRunConversationInteractionClassicMin_content
{
	width				: 680px;
}

div.CRunConversationInteractionClassicMed_content
{
	width				: 851px;
}

div.CRunConversationInteractionClassicMax_content
{
	width				: 1013px;
}

/* height has to be set to 0, and no width, so background objects are still clickable. */
div.CRunText
{
	position					: absolute;
	height						:	0px;
	overflow					: visible;
	background-color	: transparent;
}

#td_runConversations span
{
	color							: white;
	font-family       : MyriadProSemibold !important;
	font-size         : 13pt !important;
	font-style				: italic;
}

div.CRunText_replay
{
	position					: absolute;
	width							: 32px;
	height						: 32px;
	background-image	:	url('icon_replay.png');
	cursor						: pointer;
}

td.CRunCanon_treecell_active,
td.CRunCanonResult_treecell_active,
td.CRunConversationInteraction_treecell_active,
td.CRunCanon_treecell_selected,
td.CRunCanonResult_treecell_selected,
td.CRunConversationInteraction_treecell_selected,
td.CRunCanon_treecell_opened,
td.CRunCanonResult_treecell_opened,
td.CRunConversationInteraction_treecell_opened
{
	font-size	: 8pt;
	font-family	: verdana;
	font-weight	: bold;
	height		: 18px;
}

td.CRunCanon_treecell_active,
td.CRunCanonResult_treecell_active,
td.CRunConversationInteraction_treecell_active,
td.CRunCanon_treecell_selected,
td.CRunCanonResult_treecell_selected,
td.CRunConversationInteraction_treecell_selected,
td.CRunCanon_treecell_opened,
td.CRunCanonResult_treecell_opened,
td.CRunConversationInteraction_treecell_opened
{
	cursor				: pointer;
}

td.CRunCanon_treecell_active,
td.CRunCanonResult_treecell_active
{
	color	: #2E5282;
}

td.CRunConversationInteraction_treecell_active,
span.CRunConversationInteraction_treecell_active
{
	color				: #FFFFFF; 
	background-color	: #404040;
}

td.CRunConversationInteraction_treecell_selected,
span.CRunConversationInteraction_treecell_selected
{
	color				: #FFFFFF; 
	background-color	: #6AA3CE;
}

td.CRunConversationInteraction_treecell_opened,
span.CRunConversationInteraction_treecell_opened
{
	color				: #AAAAAA; 
	background-color	: #404040;
}

td.CRunCanon_treecell_selected,
td.CRunCanonResult_treecell_selected
{
	color	: #203858;
}

td.CRunCanon_treecell_opened,
td.CRunCanonResult_treecell_opened
{
	color	: #A1BBDF;
}

span.CRunCanon_treecell_active,
span.CRunCanonResult_treecell_active
{
	color	: #2E5282;
}

span.CRunCanon_treecell_selected,
span.CRunCanonResult_treecell_selected
{
	color	: #203858;
}

span.CRunCanon_treecell_opened,
span.CRunCanonResult_treecell_opened
{
	color	: #A1BBDF;
}

div.CRunGooglemapsClassic_buttons_area,
div.CRunCanonClassic_buttons_area,
div.CRunCanonResultClassic_buttons_area
{
	width:974px;height:30px;margin: 0px 20px 20px 20px;background-color:transparent;padding:5px;opacity:1.0;
}

div.CRunGooglemapsClassic_buttons_area_white_space
{
	width:864px;
}
div.CRunCanonClassic_buttons_area_white_space
{
	width:864px;
}
div.CRunCanonResultClassic_buttons_area_white_space
{
	width:864px;
}

.z-shadow-cm
{
	background: !important;
}

/* tree */
div.z-dottree,
div.z-dottree-body
{
	background			: transparent;
	background-color	: transparent;
	border				: 0px;
	overflow			: auto;
}

div.z-dottree-header-bg
{
	background-image: url();
}

div.CRunAlertWnd
{
/*	background-color	: #0000B5;*/
	background-color	: transparent;
	color				: #FFFFFF;
	font-size			: 10pt;
	font-family			: verdana;
	font-weight			: bold;
	background-image	: url('background_empack.jpg');
	background-position	: -30px -30px;
	border				: 1px solid #2A4058;
	width				: 700px;
	height				: 160px;
}

div.CRunAlertWnd-header
{
	margin				: 10px 10px 10px 13px;
}

table.CRunAlertWnd_vbox
{
	margin				: 0px 10px 0px 10px;
}

div.CRunAlertWnd_vbox_content
{
	width				: 650px;
	height				: 68px;
	margin				: 0px 5px 5px 5px;
	background-color	: white;
	overflow			: auto;
	padding				: 10px;
	color				: black;
}

button.CRunAlertWnd_okbtn
{
	font-size			: 10pt;
	font-family			: verdana;
	font-weight			: bold;
}

.CRunBlobLabelClassic_active
{
	cursor:pointer;
}