/* Example UI */
:root {
  --ci-green: #00A4A7;
  --ci-grey: #F0F4F5;
  --ci-darkblue: #003B5A;
  --ci-blue: #1A4F6B;
  --ci-lightblue: #287197;
  --ci-yellow: #FCC120;
  --ci-yellow-light: rgb(252, 193, 32, .25);
  --ci-lightgrey: #B7CCD6;
  --ci-junglemist: #c2d3dc;
  --ci-btn-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
  --ci-btn-shadow-hover: 0px 2px 8px 0px rgba(0,0,0,0.35);
  --ci-shadow-0: 0px 16px 32px 0px rgba(0,0,0,0.25);
  --ci-shadow-1: 0px 2px 4px 0px rgba(0,0,0,0.35);
  --ci-shadow-2: 0px 2px 40px 0px rgba(0,0,0,0.65);
  --ci-shadow-c2a: 0px 2px 40px 0px rgba(255,255,255,0.65);
  --ci-lightbluegrey: #92999D;
  --ci-twitter: rgb(29, 155, 240);
  --ci-twitter-light: #bfdcea;
}

html {
  font-size: 18px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--ci-lightgrey);
  color: var(--ci-darkblue);
  user-select: none;
  margin: 0;
}

.js-table {
  background-color: white;
}

.js-caption {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
  display: block;
}

.js-img {
  margin-bottom: 1rem;
}

.js-hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.js-code {
  font-family: 'Roboto Mono', monospace;
  font-size: .825rem;
}

.js-hide {
  opacity: 0 !important;
}

.js-show {
  opacity: 1 !important;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  max-width: 1200px;
  margin-top: 1.5rem;
  flex-direction: column;
}

/* Helpers */
.text-align-center {
  text-align: center;
}

.pdf-doc {
  border: 2px solid black;
}

.flex-dir-col {
  flex-direction: column;
}

/* Tables */

.js-table-wrapper {
  position: relative;
  display: table;
  margin-bottom: 1rem;
}

.js-table-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.js-table-olbl {
  background-color: var(--ci-yellow);
  padding: .5rem;
  text-transform: uppercase;
  font-size: .875rem;
  border-radius: .5rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 2rem;
}

.js-table {
  margin-bottom: 1rem;
  position: relative;
}

.js-table thead th {
  font-weight: bold;
  text-transform: uppercase;
}

.js-table th,
.js-table td {
  padding: .25rem .5rem;
  line-height: 1.5rem;
  border: 2px solid var(--ci-junglemist);
  max-width: 200px;
}

.js-table .js-hint {
  background-color: var(--ci-yellow);
  color: var(--ci-blue);
  font-weight: bold;
}

.js-table th.js-hint {
  position: relative;
}

.js-table th.js-hint .js-table-olbl {
  position: absolute;
  white-space: nowrap;
  top: 0;
  right: -200px;
  margin-top: 0;
}

/* SPSS Table styling */
.hal{text-align:left}
.hac{text-align:center}
.har{text-align:right}
.val{vertical-align:left}
.vac{vertical-align:center}
.var{vertical-align:right}

.pivot tbody th {
  text-align:left;
}
.analysisTitle,
.analysisSubTitle {
  line-height: 1.3rem;
}

/* Assets layout not relevant for Junior Scientist */

/* ASL NOTE removed 'display: flex;', otherwise references were not shown correctly */
.emergo-screen {
  width: 1200px;
  height: 650px;
  margin-bottom: 1.5rem;
  background-color: white;
  padding: 2rem;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  border-radius: .5rem;
  transition: filter .5s ease-in-out;
  justify-content: center;
}

@keyframes screenDarkenInOut {
  0% {
    filter: none;
  }
  25% {
    filter: grayscale(1) brightness(35%) blur(5px);filter: grayscale(1) brightness(35%) blur(5px);
  }
  75% {
    filter: grayscale(1) brightness(35%) blur(5px);filter: grayscale(1) brightness(35%) blur(5px);
  }
  100% {
    filter: none;
  }
}

.emergo-screen.darken {
  animation: 6s ease-in-out 0s 1 screenDarkenInOut;
}

.emergo-screen.no-padding {
  padding: 0;
}

.emergo-assets {
    background-color: white;
    padding: 1.5rem;
    width: 1200px;
}

.emergo-asset {
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  padding: 1rem;
}

.emergo-field {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.emergo-cutout {
  height: 500px;
  border: 1px solid black;
  position: relative;
}

/* JS generic styles */
/* ASL NOTE changed 'label' to '.js-label', because it interfered with Emergo style */
.js-label {
  display: block;
  margin-bottom: .5rem;
}


.js-h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--ci-darkblue);
  padding-bottom: .5rem;
}

.js-h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--ci-darkblue);
  padding-bottom: .5rem;
}

.js-h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--ci-darkblue);
  padding-bottom: .5rem;
}

.js-h4 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--ci-darkblue);
  padding-bottom: .5rem;
}

.js-strong {
  font-weight: 700;
}

.js-select {
	display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: var(--ci-darkblue);
	line-height: 1.3;
	padding: .3em 1.4em .2em .8em;
	width: 100%;
  min-width: 60px;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid var(--ci-grey);
	box-shadow: 0 1px 0 1px rgba(0,0,0,.1);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--ci-grey);
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #fff 0%, #fff 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.js-select::-ms-expand {
	display: none;
}
.js-select:hover {
	border-color: var(--ci-green);
}
.js-select:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: var(--ci-darkblue);
	outline: none;
}

.js-select:disabled:hover {
  border: 1px solid var(--ci-grey);
  cursor: default;
}
.js-select option {
	font-weight:normal;
}

.js-p {
  font-size: 1rem;
  line-height: 1.4rem;
  margin-bottom: 1rem;
  color: var(--ci-darkblue);
}

.js-p .js-indicator {
  vertical-align: middle;
}

.js-txtarea-white {
  max-width: calc(600px - 1rem);
  padding: 1.75rem;
  border-radius: .75rem;
  margin: 0 auto;
}

.js-txtarea-grey {
  background-color: var(--ci-grey);
  border: 2px solid var(--ci-junglemist);
  max-width: calc(600px - 1rem);
  padding: 1.75rem;
  border-radius: .75rem;
  margin: 0 auto;
}

.js-txtarea-grey img {
  text-align: center;
}

.js-txtarea-grey.scrollable {
  overflow-y: auto;
}

.js-txtarea-grey p {
  line-height: 1.5rem;
}

.js-txtarea-grey ul {
  margin-bottom: 1rem;
}

.js-txtarea-grey ul li {
  list-style-type: circle;
  margin-left: 1.1rem;
  line-height: 1.5;
}

/* ASL NOTE changed 'js h1' to 'js-h1a', otherwise style class did not work within ZK environment */
.js-h1a {
  color: var(--ci-darkblue);
  font-weight: bold;
  font-size: 24px;
  margin-bottom: .75rem;
  border-bottom: 0;
}

/* Opdracht 1 */
.js-opdr1 {
  display: flex;
  flex-direction: column;
}

.js-opdr1-inner {
  flex: 1;
  display: flex;
}

.js-opdr1 .js-worry-questions {
  flex: 1;
  overflow-y: auto;
  max-height: 540px;
}

.js-opdr1 .js-txtarea-grey {
  flex: 1;
}

.js-txt-col {
  column-count: 4;
  column-fill: balance;
}

.js-txt-col p {
  font-size: 15px;
  line-height: 16px;
}

.js-txt-col h1 {
  column-span: all;
  font-size: 34px;
}

.js-txt-blur {
  filter: blur(3px);
  user-select: none;
}

.js-news-top {
  border-bottom: 4px solid var(--ci-darkblue);
  display: flex;
  padding-bottom: .5rem;
  margin-bottom: .5rem;
}

.js-news-date {
  flex: 1;
  font-size: 15px;
}

.js-news-page {
  margin-left: auto;
  font-size: 15px;
}

.js-txt-hl,
.js-img-hl {
  border-radius: .5rem;
  font-weight: 600;
  color: var(--ci-green);
  padding-left: .25rem;
  padding-right: .25rem;
  padding-bottom: .15rem;
  border: 1px solid transparent;
  cursor: text;
}

.js-img-hl {
  margin: .5rem;
}

.js-img-hl:hover,
.js-txt-hl:hover {
  border: 1px solid var(--ci-green);
}

.js-txt-hl .js-indicator {
  margin-right: .25rem;
}

.js-img-hl-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottomRight {
  0% {
    opacity: 0;
    transform: translateX(150px) translateY(200px);
  }
  100% {
    transform: translateX(150px) translateY(0);
    opacity: 1;
  }
}

/* Dialog */
.js-dialog {
  background-color: white;
  border-radius: 12px;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: var(--ci-shadow-0);
  animation: .5s ease-in-out 0s 1 slideInFromBottom;
  flex-direction: column;
  position: relative;
}

.js-dialog.left {
  margin-left: 0;
}

.js-dialog-medium {
  background-color: white;
  border-radius: 12px;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: var(--ci-shadow-0);
  animation: .5s ease-in-out 0s 1 slideInFromBottom;
  flex-direction: column;
  position: relative;
  width: 830px;
  height: 500px;
  top: 65px;
  margin: 0;
  transform: translateX(0);
  transition: transform 1s ease-in-out;
  overflow: hidden;
  display: flex;
}

.js-dialog-medium.right {
  transform: translateX(150px);
  animation: .5s ease-in-out 0s 1 slideInFromBottomRight;
}

.js-dialog-nav {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.js-dialog-nav.right {
  bottom: 1.5rem;
  right: 1.5rem;
  width: 850px;
}

.js-dialog-nav-page {
  background-color: white;
  margin-right: 10px;
  padding: .5rem;
  border-radius: .25rem;
  box-shadow: var(--ci-shadow-0);
}

.js-dialog-small {
  width: 795px;
  height: 500px;
  top: 65px;
  left: 340px;
  margin: 0;
  animation: none;
}

.js-dialog-inner {
  position: relative;
  padding: 2rem;
}

.js-dialog-title {
  padding: 1rem 2rem;
  border-bottom: 1px solid  var(--ci-junglemist);
}

.js-dialog-title h1 {
  margin-bottom: 0;
}

.js-screen-close.js-btn.round.primary,
.js-dialog-close.js-btn.round.primary {
  background-color: var(--ci-darkblue);
  box-shadow: var(--ci-shadow-1);
  top: -18px;
  right: -18px;
  position: absolute;
  height: 36px;
  width: 36px;
  border-radius: 100rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: .85rem;
}

.js-screen-close.js-btn.primary.white,
.js-dialog-close.js-btn.primary.white {
  background-color: white;
  color: var(--ci-darkblue);
}

.js-screen-close.js-btn.round.primary {
  top: 18px;
  right: 18px;
}

/* Fases */

.js-fases input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.js-fases input:checked + .tab-label::after {
  transition: transform .35s ease-in-out;
  transform: rotate(90deg);
}

/* Accordion styles */
.js-fases .tabs {
  overflow: hidden;
}

.js-fases .tab-label {
  display: flex;
  padding: .75rem 1rem;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 0;
  align-items: center;
  color: var(--ci-lightgrey);
  transition: filter .08s ease-in-out;
}

.js-fases .tab-label:hover {
  filter: brightness(108%);
}

.js-fases .tab-label .js-btn {
  margin-right: 2rem;
}

.js-fases .tab-label-text {
  flex: 1;
}

.js-fases .tab-label-small {
  padding-left: 1rem;
  font-size: 1rem;
  color: var(--ci-lightgrey);
  transition: filter .08s ease-in-out;
}

.js-fases .tab-label-small:hover {
  filter: brightness(108%);
}

.js-fases .tab-label-small.done,
.js-fases .tab-label-small.active,
.js-fases .tab-label.done,
.js-fases .tab-label.active {
  color: var(--ci-green);
}

.js-fases .tab-label-small.active,
.js-fases .tab-label.active {
  font-weight: 700;
}

/* Icon */
.js-fases .tab-label:hover {

}
.js-fases .tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: max-height .35s ease-in-out, transform .35s ease-in-out;
  display: block;
  margin-left: auto;
}
.js-fases .tab {
  width: 100%;
  color: black;
  overflow: hidden;
}
.js-fases .tab-content {
  max-height: 0;
  padding: 0 0 0 30px;
  color: #ccc;
  overflow: hidden;
  transition: max-height .35s ease-in-out;
}
.js-fases .tab-content-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: purple;
    cursor: pointer;
}
.js-fases .tab-content-close:hover {
  background: blue;
}

.js-fases .tab-content-list {
    line-height: 32px;
}


/* :checked */
.js-fases input:checked + .tab-label::after {
  transform: rotate(90deg);
}
.js-fases input:checked  ~ .tab-content {
  max-height: 100vh;
  padding: 0 0 0 30px;
}
.tab-bullet {
  border: 2px solid var(--ci-lightgrey);
  width: 20px;
  height: 20px;
  margin-right: 1rem;
  border-radius: 100rem;
  position: relative;
  display: block;
  font-size: .75rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.js-fases .tab-label.done [class~="fas"] {
  color: white;
}

.tab-bullet:before,
.tab-bullet:after {
  display: block;
  content: '';
  width: 2px;
  height: 18px;
  background-color: var(--ci-lightgrey);
  position: absolute;
}

.tab-bullet:before {
  top: -20px;
  left: 9px;
}

.tab-bullet:after {
  bottom: -20px;
  left: 9px;
}

.tab:first-child .tab-bullet:before,
.tab:last-child .tab-bullet:after {
  opacity: 0;
}

.tab-bullet-small {
  border: 2px solid var(--ci-lightgrey);
  width: 6px;
  height: 6px;
  margin-right: 1rem;
  border-radius: 100rem;
  position: relative;
  display: inline-block;
  left: -23px;
}

.tab-bullet-small:before,
.tab-bullet-small:after {
  display: block;
  content: '';
  width: 2px;
  height: 16px;
  background-color: var(--ci-lightgrey);
  position: absolute;
}

.tab-bullet-small:before {
  top: -18px;
  left: 2px;
}

.tab-bullet-small:after {
  bottom: -18px;
  left: 2px;
}

.tab-label-small.done .tab-bullet-small:before,
.tab-label-small.done .tab-bullet-small:after,
.tab-label-small.active .tab-bullet-small:before {
  background-color: var(--ci-green);
}

.tab-label.active .tab-bullet,
.tab-label-small.active .tab-bullet-small {
  border: 2px solid var(--ci-green);
}
.tab-label.done .tab-bullet,
.tab-label-small.done .tab-bullet-small {
  border: 2px solid var(--ci-green);
  background-color: var(--ci-green);
}
.tab-label.done .tab-bullet:before,
.tab-label.done .tab-bullet:after,
.tab-label.active .tab-bullet:before,
.tab-label.active .tab-bullet:after {
  background-color: var(--ci-green);
}

/* JS Fase progress bar */
.js-fase-progress {
  background-color: white;
  top: 24px;
  right: 90px;
  position: absolute;
  white-space: nowrap;
  padding: .5rem 1rem;
  border-radius: .25rem;
  font-weight: 600;
  font-size: .8rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.js-fase-progress:hover {
  box-shadow: var(--ci-shadow-0);
  transition: all 0.08s ease-in;
  transform: scale(1.05);
}

.fase-bullet {
  border: 2px solid var(--ci-lightgrey);
  width: .5rem;
  height: .5rem;
  display: inline-block;
  border-radius: 100rem;
}

.js-fase-progress ul {
  display: inline-flex;
  padding-left: 1rem;
}

.js-fase-progress ul li {
  position: relative;
  padding-right: 1rem;
  display: inline-flex;
  align-items: center;
}

.js-fase-progress ul .fase-bullet:before,
.js-fase-progress ul .fase-bullet:after {
  content: ' ';
  width: 10px;
  height: 2px;
  background-color: var(--ci-lightgrey);
  display: block;
  position: absolute;
  top: 6px;
}

.js-fase-progress ul .fase-bullet.done {
  border-color: var(--ci-green);
  background-color: var(--ci-green);
}

.js-fase-progress ul .fase-bullet.done:before {
  background-color: var(--ci-green);
}

.js-fase-progress ul .fase-bullet.done:after {
  background-color: var(--ci-green);
}

.js-fase-progress ul .fase-bullet.active {
  border-color: var(--ci-green);
}

.js-fase-progress ul .fase-bullet.active:before {
  background-color: var(--ci-green);
}

.js-fase-progress ul .fase-bullet.active:after {
  background-color: var(--ci-green);
}

.js-fase-progress ul .fase-bullet:before {
  left: -10px;
  background-color: var(--ci-lightgrey);
}

.js-fase-progress ul .fase-bullet:after {
  left: 12px;
  background-color: var(--ci-lightgrey);
}

.js-fase-progress ul li:first-child .fase-bullet:before {
  display: none;
}

.js-fase-progress ul li:last-child .fase-bullet:after {
  display: none;
}

.js-fase-progress ul li:last-child {
  padding-right: 0;
}

/* Indicator */

.js-indicator {
  border-radius: 100rem;
  color: white;
  width: 1rem;
  height: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: .75rem;
  line-height: .75rem;
  font-weight: 600;
  vertical-align: baseline;
}

.js-indicator.green {
  background-color: var(--ci-green);
}

.js-indicator.darkblue {
  background-color: var(--ci-darkblue);
}

.js-indicator.secondary.yellow {
  background-color: transparent;
  color: var(--ci-yellow);
  border: 2px solid var(--ci-yellow);
}

.js-indicator.yellow {
  background-color: var(--ci-yellow);
  color: var(--ci-darkblue);
}

/* Button holder */
.js-btn-holder {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  box-sizing: border-box;
  text-align: center;
}

.js-btn-holder.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 4rem);
  box-sizing: border-box;
  margin-bottom: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.js-btn-holder .js-btn {
  margin-right: .5rem;
}

.js-btn-holder.align-center {
  justify-content: center;
}

/* Buttons */
.js-btn {
  box-shadow: none;
  display: inline-block;
  border-radius: 100rem;
  color: white;
  border: 0;
  box-shadow: var(--ci-btn-shadow);
  height: 40px;
  padding: 0 1.25rem;
  font-weight: 600;
  cursor: pointer;
  font-size: .925rem;
  font-family: 'Source Sans Pro', sans-serif;
  transition: transform .08s ease-in-out, filter .08s ease-in-out, box-shadow .08s ease-in-out;
  letter-spacing: 1;
  text-decoration: none;
  cursor: pointer;
}

@keyframes shockwaveJump {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.03);
  }
  50% {
     transform: scale(0.98);
  }
  55% {
    transform: scale(1.02);
  }
  60% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shockwave {
  0% {
    transform: scale(1);
    box-shadow: 0 0 2px rgba(0,164,167,1), inset 0 0 1px rgba(0,164,167,0.15);
  }
  95% {
    box-shadow: 0 0 50px rgba(0,164,167,0), inset 0 0 30px rgba(0,164,167,0);
  }
  100% {
    transform: scale(2.25);

  }
}

.get-attention {
  animation: shockwaveJump 1s ease-out infinite;
}

.get-attention:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  animation: shockwave 1s .65s ease-out infinite;
  pointer-events: none;
}

.get-attention:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  animation: shockwave 1s .5s ease-out infinite;
  pointer-events: none;
}

.get-attention:hover {
  animation: none;
}

.get-attention:hover:after,
.get-attention:hover:before {
  display: none;
}

.js-btn.c2a {
  position: absolute;
  bottom: 2.5rem;
  right: 2rem;
}

.js-edit {
  color: var(--ci-green);
}

.js-btn.icon-right .far,
.js-btn.icon-right .fas {
  padding-left: .5rem;
}

.js-btn.icon-left .far,
.js-btn.icon-left .fas {
  padding-right: .5rem;
}

.js-btn:hover {
  transform: scale(1.05);
  box-shadow: var(--ci-btn-shadow-hover);
}

.js-btn:not(.disabled):hover {
  filter: brightness(108%);
}

.js-btn.round {
  border-radius: 100rem;
  background-color: white;
  width: 42px;
  height: 42px;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.js-btn.tertiary.warning {
  background-color: var(--ci-yellow);
  border: 2px solid var(--ci-yellow);
  color: var(--ci-blue);
}

.js-btn.round.twitter {
  background-color: var(--ci-twitter);
}

.js-btn.round.small {
  width: 27px;
  height: 27px;
  font-size: .75rem;
  vertical-align: middle;
}


.js-btn.primary {
  background-color: var(--ci-green);
}
.js-btn.secondary {
  background-color: var(--ci-yellow);
  color: var(--ci-darkblue);
}

.js-btn.tertiary {
  background-color: white;
  color: var(--ci-green);
  border: 2px solid var(--ci-green);
}

/* ASL NOTE added cursor:default; */
.js-btn.disabled {
  color: #95aeba;
  background-color: var(--ci-junglemist);
  box-shadow: none;
  cursor:default;
}

.js-btn.icon-right .fas {
  margin-left: .25rem;
}

/* Guided Tour */
.js-guided {
  position: absolute;
  background-color: var(--ci-darkblue);
  color: white;
  z-index: 1;
  padding: 2rem;
  text-align: center;
  border-radius: 1.125rem;
}

.js-guided-line {
  width: 10px;
  position: absolute;
  border-left: 4px dashed white;
  top: 0;
  left: 0;
  z-index: 1;
}

.js-guided-line.horizontal {
  height: 4px;
  position: absolute;
  border-top: 4px dashed white;
  border-left: 0;
}

/* Overlay */
.js-overlay {
  background-color: var(--ci-darkblue);
  opacity: .75;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* Worry question */

/* ASL NOTE added margin-right: 1rem; */
.js-worry-question {
  display: flex;
  border-bottom: 1px solid var(--ci-grey);
  padding: .6rem 0;
  margin-left: 2rem;
  margin-right: 1rem;
  align-items: center;
  font-size: .925rem;
}

.js-worry-question .js-indicator {
  margin-right: 1rem;
}

.js-worry-question .question {
  width: 324px;
}

.js-worry-question .controls {
  flex: none;
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: flex-end;
}
.js-worry-question .controls select,
.js-worry-question .controls img {
  margin-left: .75rem;
}

/* Dialogue */

.js-dialogue {
  background-color: white;
  opacity: .9;
  width: 700px;
  height: 140px;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  position: absolute;
  z-index: 10;
  bottom: 0;
  box-shadow: var(--ci-shadow-1);
  transform: translate(-50%, 0);
  margin: 0 auto;
  left: 50%;
  display: flex;
  box-sizing: border-box;
}

/* ASL NOTE changed height to 140px */
.js-dialogue.inner-dialogue {
  background-color: var(--ci-darkblue);
  height: 140px;
}

.js-dialogue.inner-dialogue .js-dialogue-txt {
  color: white;
}

.js-dialogue__inner {
  position: relative;
  display: flex;
  padding: 1rem 2rem;
  flex: 1;
}

.js-dialogue__button {
  position: absolute;
  top: calc(50% - 21px);
}

.js-dialogue__button.left {
  left: -21px;
}

.js-dialogue__button.right {
  right: -21px;
}

.js-dialogue-portrait {
  flex: none;
  border-right: 2px solid var(--ci-lightgrey);
  padding-right: 2rem;
}

.js-dialogue-txt {
  font-size: 1.1rem;
  line-height: 1.2;
  color: var(--ci-darkblue);
  font-weight: 600;
  text-align: center;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

/* Badges */

.js-badge {
  font-size: .75rem;
  background-color: var(--ci-blue);
  color: white;
  border-radius: .25rem;
  display: block;
  position: absolute;
  text-transform: uppercase;
  font-family: sans-serif, Arial, "Helvetica";
  padding: .1rem .25rem;
}

/* Mail */
.js-mail,
.js-tweets {
  display: flex;
  overflow: hidden;
  flex: 1;
  flex-direction: column;
  height: calc(650px - 8rem);
}

.js-mail-composepane {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.js-mail-compose {
  width: 700px;
  margin: 0 auto;
  background-color: white;
  padding: 1.5rem;
  flex: 1;
  overflow-y: auto;
  box-shadow: var(--ci-shadow-0);
}

.js-mail-c2a {
  position: absolute;
  bottom: 0;
  margin-bottom: -1rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.js-mail p {
  font-family: 'Roboto Mono', monospace;
  font-size: .925rem;
}

.js-mail ul {
   line-height: 1.4rem;
   margin-left: 1rem;
   margin-bottom: 1rem;
   font-family: 'Roboto Mono', monospace;
   font-size: .925rem;
}

.js-mail ul li {
  list-style-type: bullet;
}

.js-mail-compose {
  height: calc(650px - 274px);
}

.js-mail-pane {
  display: flex;
  overflow: hidden;
  flex: 1;
}

.js-mail-messages {
  flex: 1;
  overflow-y: auto;
  border-right: 1px solid var(--ci-junglemist);
}

.js-mail-messages ul {
  margin: 0;
}

.js-mail-messages ul li {
  position: relative;
}

.js-mail-messages ul li .js-badge {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.js-mail-readingpane {
  flex: 1;
  overflow:hidden;
  display: flex;
  flex-direction: column;
}

.js-mail-read {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
}

.js-tweets-read {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
}

.js-mail-read ul li {
  margin-bottom: .5rem;
}

.js-mail-action {
  display: flex;
  justify-content: center;
  flex: none;
  border-top: 1px solid var(--ci-junglemist);
  padding: 1rem 2rem;
  background-color: white;
}

.js-mail-name {
  font-weight: 700;
}

.js-mail-list li {
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--ci-junglemist);
  display: flex;
  flex-direction: column;
  line-height: 1.4;
}

.js-mail-list li:hover {
  background-color: var(--ci-grey);
}

.js-mail-list li.active {
  background-color: var(--ci-lightgrey);
}

.js-mail-list li.active:hover {
  background-color: var(--ci-grey);
}

/* ASL NOTE changed overflow: hidden; to overflow-x: auto; */
.js-inventory {
  flex: 1;
  height: calc(650px - 7rem);
  overflow-x: auto;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
}

.js-inventory-col {
  padding: 1rem 2rem;
  border-right: 1px solid var(--ci-lightgrey);
  border-bottom: 1px solid var(--ci-lightgrey);
}

.js-inventory h2 {

}

.js-inventory-grid {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.js-inventory-grid li {
  height: 2rem;
  overflow: hidden;
  display: flex;
  border-radius: .25rem;
  margin-bottom: .25rem;
}

.js-inventory li a {
  flex: 1;
  display: flex;
  text-decoration: none;
  color: var(--ci-green);
  font-size: .925rem;
  padding: .25rem;
  border: 1px solid transparent;
  align-items: center;
}

.js-inventory li a .far {
  font-size: 1.3rem;
  margin-right: .75rem;
}

.js-inventory li a:hover {
  border: 1px solid var(--ci-junglemist);
  background-color: transparent;
}

.js-inventory-readingpane {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

/* Title breadcrumbs */

.js-breadcrumbs {
  flex: none;
  display: flex;
  align-items: center;
}

.js-breadcrumbs .js-dialog-alert {
  margin-left: auto;
}

.js-breadcrumbs .js-dialog-alert .fa {
  margin-left: .5rem; 
  padding: .5rem; 
  background-color: var(--ci-yellow); 
  border-radius: .25rem;
}

/* Inventory */
.js-inventory-btn-holder {
  background-color: white;
  border-top-left-radius: 0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  width: 3rem;
  height: 3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: var(--ci-shadow-2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.08s ease-in;
}

.js-inventory-btn-holder:hover {
  transform: scale(1.1);
}

.js-inventory-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.js-inventory-btn-holder .far {
  font-size: 1.3rem;
  color: var(--ci-green);
}

/* Answer box */

.js-answer {
  margin: 0 auto;
  width: 100%;
  z-index: 2;
  bottom: 9rem;
  left: 0;
  position: absolute;
  text-align: center;
}

.js-answer.inner-dialogue {
  bottom: 7.5rem;
}

.js-answer .js-btn {
  margin-right: .5rem;
}

/* Location buttons */
.js-location {
  height: 72px;
  width: 108px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

/* Avatars */
.js-avatar {
  width: 72px;
  height: 92px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.js-avatar.char-self {
  background-image: url('../../avatar-placeholder.svg');
  background-size: 100%;
  background-repeat: no-repeat;
}

/* ASL NOTE changed commission in commissie */
.js-avatar.char-commissie {
  background-image: url('../../ui_portrait_commissie_small.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.js-avatar.char-hella {
  background-image: url('../../ui_portrait_hella_small.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.js-avatar.char-bas {
  background-image: url('../../ui_portrait_bas_small.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.js-avatar.char-dina {
  background-image: url('../../ui_portrait_dina_small.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.js-avatar.char-sven {
  background-image: url('../../ui_portrait_sven_small.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

/* ASL NOTE changed commission in commissie */
@media (-webkit-min-device-pixel-ratio: 2),
     (min-device-pixel-ratio: 2),
     (min-resolution: 192dpi) {
      .js-avatar.char-commissie {
        background-image: url('../../ui_portrait_commissie.png');
        background-size: 100%;
      }

       .js-avatar.char-hella {
         background-image: url('../../ui_portrait_hella.png');
         background-size: 100%;
       }

       .js-avatar.char-bas {
         background-image: url('../../ui_portrait_bas.png');
         background-size: 100%;
       }

       .js-avatar.char-dina {
         background-image: url('../../ui_portrait_dina.png');
         background-size: 100%;
       }

       .js-avatar.char-sven {
         background-image: url('../../ui_portrait_sven.png');
         background-size: 100%;
       }
}

.js-portrait-name {
  border-radius: .25rem;
  background-color: var(--ci-blue);
  min-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .75rem;
  color: white;
  font-weight: 600;
  padding: 0 .5rem;
  box-sizing: border-box;
}

.js-portrait-name.white {
  background-color: white;
  color: var(--ci-darkblue);
}

/* Fase complete */
@keyframes growDialog {
  0% {
    transform: scale(.2) translate(-50%,-50%);
  }
  100% {
    transform: scale(1) translate(-50%,-50%);
  }
}

.js-fase-complete {
  width: 700px;
  height: 350px;
  background-color: var(--ci-darkblue);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 1rem;
  padding: 2rem;
  box-sizing: border-box;
  transform-origin: top left;
}

.js-fase-complete.grow-dialog {
  animation: .5s ease-in-out 0s 1 growDialog;
}

.js-fase-complete h1,
.js-fase-complete h2,
.js-fase-complete h3,
.js-fase-complete h4 {
  color: white;
  text-align: center;
}

.js-fase-complete h2 {
  margin-bottom: 2rem;
}

.js-fase-complete h3 {
  margin-bottom: 1.5rem;
}

.js-fase-complete-list {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.js-fase-complete-bullet {
  background-color: var(--ci-darkblue);
  border: 4px solid var(--ci-lightblue);
  border-radius: 100rem;
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.js-fase-complete-bullet:after {
  content: '';
  height: 4px;
  width: 20px;
  background-color: var(--ci-lightblue);
  display: block;
  position: absolute;
  left: 28px;
  top: 10px;
}

.js-fase-complete-bullet.done {
  border-color: var(--ci-green);
  background-color: var(--ci-green);
}

.js-fase-complete-bullet.done:after {
  background-color: var(--ci-green);
}

.js-fase-complete-bullet:last-child:after {
  display: none;
}

/* Character animation */

@keyframes charSlideinRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes charFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes charFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.js-character.char-slidein-right {
  transform: translateX(0);
  animation: .5s ease-in-out 0s 1 charSlideinRight;
}

.js-character.character-fade-in {
  animation: .5s ease-in-out 0s 1 charFadeOut;
}

.js-character.character-fade-out {
  animation: .5s ease-in-out 0s 1 charFadeOut;
}

/* Canvas */

canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

/* Blur background */

.js-blur {
  filter: blur(1.5rem);
}

/* Time title */
@keyframes titleFadeInOut {
  0% {
    opacity: 0;
    transform: scale(.9);
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

h1.js-time-title {
  top: 275px;
  text-align: center;
  left: 0;
  opacity: 0;
}

h1.js-time-title.show {
  position: absolute;
  color: white;
  font-size: 76px;
  text-shadow: var(--ci-btn-shadow-hover);
  width: 100%;
  animation: 6s ease-in-out 0s 1 titleFadeInOut;
}

/* Calendar */

.calendar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
font-family: 'Roboto', sans-serif;}

@keyframes calendar-transition-in {
  0% {
    transform: scale(0.8);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 1; } }

.calendar {
  width: 200px;
  height: 200px;
  position: relative;
  perspective: 800px;
  perspective-origin: 50% 50%;
  transfrom: scale(0.5);
  opacity: 0;
  backface-visibility: hidden; }
  .calendar.in {
    animation: calendar-transition-in 3000ms cubic-bezier(0.735, 0.245, 0.65, 0.985) 1 forwards; }
  .calendar:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    box-shadow: 0px 4px 37px -2px rgba(0, 0, 0, 0.4); }


.day .top span {

}

.day {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  transform-style: preserve-3d; }
  .day .top, .day .bottom {
    position: absolute;
    left: 0;
    right: 0;
    flex-grow: 1;
    margin: 0;
    height: 100%;
    transform-style: preserve-3d;
    overflow: hidden;
    background-color: var(--ci-yellow);
    backface-visibility: hidden; }
    .day .top .overlay, .day .bottom .overlay {
      content: "";
      position: absolute;
      top: 0;
      right: 1px;
      bottom: 0;
      left: 1px;
      background-color: #000000;
      opacity: 0; }
    .day .top span, .day .bottom span {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      line-height: 160px;
      font-size: 110px;
      color: var(--ci-darkblue);}
    .day .top .month, .day .bottom .month {
      font-size: 40px;
      line-height: 310px; }
  .day .top {
    top: 0;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; }
    .day .top span {
      bottom: -100%; }
  .day .bottom {
    bottom: 0;
    height: 50%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; }
    .day .bottom span {
      top: -100%; }
  .day:last-child .top, .day:last-child .bottom {
    background-color: #ffffff; }

/* -------------------------------------------------------------------
  Microtip

  Modern, lightweight css-only tooltips
  Just 1kb minified and gzipped

  @author Ghosh
  @package Microtip

----------------------------------------------------------------------
  1. Base Styles
  2. Direction Modifiers
  3. Position Modifiers
--------------------------------------------------------------------*/


/* ------------------------------------------------
  [1] Base Styles
-------------------------------------------------*/

[aria-label][role~="tooltip"] {
  position: relative;
}

[aria-label][role~="tooltip"]::before,
[aria-label][role~="tooltip"]::after {
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
  opacity: 0;
  pointer-events: none;
  transition: all var(--microtip-transition-duration, .18s) var(--microtip-transition-easing, ease-in-out) var(--microtip-transition-delay, 0s);
  position: absolute;
  box-sizing: border-box;
  z-index: 10;
  transform-origin: top;
}

[aria-label][role~="tooltip"]::before {
  background-size: 100% auto !important;
  content: "";
}

[aria-label][role~="tooltip"]::after {
  background: rgba(17, 17, 17, .9);
  border-radius: 4px;
  color: #ffffff;
  content: attr(aria-label);
  font-size: var(--microtip-font-size, 16px);
  font-weight: var(--microtip-font-weight, normal);
  text-transform: var(--microtip-text-transform, none);
  padding: .5em 1em;
  white-space: nowrap;
  box-sizing: content-box;
}

[aria-label][role~="tooltip"]:hover::before,
[aria-label][role~="tooltip"]:hover::after,
[aria-label][role~="tooltip"]:focus::before,
[aria-label][role~="tooltip"]:focus::after {
  opacity: 1;
  pointer-events: auto;
}



/* ------------------------------------------------
  [2] Position Modifiers
-------------------------------------------------*/

[role~="tooltip"][data-microtip-position|="top"]::before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%280%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E") no-repeat;
  height: 6px;
  width: 18px;
  margin-bottom: 5px;
}

[role~="tooltip"][data-microtip-position|="top"]::after {
  margin-bottom: 11px;
}

[role~="tooltip"][data-microtip-position|="top"]::before {
  transform: translate3d(-50%, 0, 0);
  bottom: 100%;
  left: 50%;
}

[role~="tooltip"][data-microtip-position|="top"]:hover::before {
  transform: translate3d(-50%, -5px, 0);
}

[role~="tooltip"][data-microtip-position|="top"]::after {
  transform: translate3d(-50%, 0, 0);
  bottom: 100%;
  left: 50%;
}

[role~="tooltip"][data-microtip-position="top"]:hover::after {
  transform: translate3d(-50%, -5px, 0);
}

/* ------------------------------------------------
  [2.1] Top Left
-------------------------------------------------*/
[role~="tooltip"][data-microtip-position="top-left"]::after {
  transform: translate3d(calc(-100% + 16px), 0, 0);
  bottom: 100%;
}

[role~="tooltip"][data-microtip-position="top-left"]:hover::after {
  transform: translate3d(calc(-100% + 16px), -5px, 0);
}


/* ------------------------------------------------
  [2.2] Top Right
-------------------------------------------------*/
[role~="tooltip"][data-microtip-position="top-right"]::after {
  transform: translate3d(calc(0% + -16px), 0, 0);
  bottom: 100%;
}

[role~="tooltip"][data-microtip-position="top-right"]:hover::after {
  transform: translate3d(calc(0% + -16px), -5px, 0);
}


/* ------------------------------------------------
  [2.3] Bottom
-------------------------------------------------*/
[role~="tooltip"][data-microtip-position|="bottom"]::before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%28180%2018%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E") no-repeat;
  height: 6px;
  width: 18px;
  margin-top: 5px;
  margin-bottom: 0;
}

[role~="tooltip"][data-microtip-position|="bottom"]::after {
  margin-top: 11px;
}

[role~="tooltip"][data-microtip-position|="bottom"]::before {
  transform: translate3d(-50%, -10px, 0);
  bottom: auto;
  left: 50%;
  top: 100%;
}

[role~="tooltip"][data-microtip-position|="bottom"]:hover::before {
  transform: translate3d(-50%, 0, 0);
}

[role~="tooltip"][data-microtip-position|="bottom"]::after {
  transform: translate3d(-50%, -10px, 0);
  top: 100%;
  left: 50%;
}

[role~="tooltip"][data-microtip-position="bottom"]:hover::after {
  transform: translate3d(-50%, 0, 0);
}


/* ------------------------------------------------
  [2.4] Bottom Left
-------------------------------------------------*/
[role~="tooltip"][data-microtip-position="bottom-left"]::after {
  transform: translate3d(calc(-100% + 16px), -10px, 0);
  top: 100%;
}

[role~="tooltip"][data-microtip-position="bottom-left"]:hover::after {
  transform: translate3d(calc(-100% + 16px), 0, 0);
}


/* ------------------------------------------------
  [2.5] Bottom Right
-------------------------------------------------*/
[role~="tooltip"][data-microtip-position="bottom-right"]::after {
  transform: translate3d(calc(0% + -16px), -10px, 0);
  top: 100%;
}

[role~="tooltip"][data-microtip-position="bottom-right"]:hover::after {
  transform: translate3d(calc(0% + -16px), 0, 0);
}


/* ------------------------------------------------
  [2.6] Left
-------------------------------------------------*/
[role~="tooltip"][data-microtip-position="left"]::before,
[role~="tooltip"][data-microtip-position="left"]::after {
  bottom: auto;
  left: auto;
  right: 100%;
  top: 50%;
  transform: translate3d(10px, -50%, 0);
}

[role~="tooltip"][data-microtip-position="left"]::before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%28-90%2018%2018%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E") no-repeat;
  height: 18px;
  width: 6px;
  margin-right: 5px;
  margin-bottom: 0;
}

[role~="tooltip"][data-microtip-position="left"]::after {
  margin-right: 11px;
}

[role~="tooltip"][data-microtip-position="left"]:hover::before,
[role~="tooltip"][data-microtip-position="left"]:hover::after {
  transform: translate3d(0, -50%, 0);
}


/* ------------------------------------------------
  [2.7] Right
-------------------------------------------------*/
[role~="tooltip"][data-microtip-position="right"]::before,
[role~="tooltip"][data-microtip-position="right"]::after {
  bottom: auto;
  left: 100%;
  top: 50%;
  transform: translate3d(-10px, -50%, 0);
}

[role~="tooltip"][data-microtip-position="right"]::before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%2890%206%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E") no-repeat;
  height: 18px;
  width: 6px;
  margin-bottom: 0;
  margin-left: 5px;
}

[role~="tooltip"][data-microtip-position="right"]::after {
  margin-left: 11px;
}

[role~="tooltip"][data-microtip-position="right"]:hover::before,
[role~="tooltip"][data-microtip-position="right"]:hover::after {
  transform: translate3d(0, -50%, 0);
}

/* ------------------------------------------------
  [3] Size
-------------------------------------------------*/
[role~="tooltip"][data-microtip-size="small"]::after {
  white-space: initial;
  width: 80px;
}

[role~="tooltip"][data-microtip-size="medium"]::after {
  white-space: initial;
  width: 150px;
}

[role~="tooltip"][data-microtip-size="large"]::after {
  white-space: initial;
  width: 260px;
}

/* Employee card */
.js-employee-card {
  margin: 0 auto;
  display: block;
  width: 720px;
  position: relative;
}

.js-employee-card > .js-img {
  width: 720px;
}

.js-employee-card__bg {
  position: absolute;
}

.js-employee-card__ph {
  position: absolute;
  z-index: 1;
  width: 160px;
}

.js-employee-card__fu {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  position: absolute;
  top: 180px;
  left: 96px;
}

.js-employee-card__fu-inner {
  position: relative;
  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.js-employee-card__fu-inner .js-img {
  width: 100px;
}

.js-employee-card__title {
  font-size: 24px;
  font-weight: 600;
  color: white;
  position: absolute;
  top: 230px;
  left: 300px;
  z-index: 3;
  opacity: .75;
}

.js-employee-card__fu .fa-upload {
  z-index: 2;
}

.js-employee-card__fu label  {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 4;
}

.js-employee-card__fu button {
  z-index: 3;
  position: absolute;
  right: 0;
  bottom: 0;
}

.js-employee-card__fu i {
  pointer-events: none;
}

.js-employee-card__bg {
  width: 100%;
}

.js-employee-card-small {
  width: 150px;
  margin-bottom: 1rem;
}

.js-employee-card__player {
  border: 1px solid transparent;
  background-color: transparent;
  font-size: 32px;
  color: white;
  position: absolute;
  top: 190px;
  left: 300px;
  z-index: 3;
  border-radius: .5rem;
}

.js-employee-card__player:focus {
  outline: none;
  background-color: rgb(255,255,255,.1);
}

.js-employee-card__player::placeholder {
  color: white;
  opacity: .35;
}

.js-employee-card__player:hover {
  background-color: rgb(255,255,255,.1);
}

/* User profile */

/* ASL NOTE changed 'background-size: 200%;' to 'background-size: 100%;', so user profile shows correctly */
.js-user-profile {
  background-image: url('../../avatar-placeholder-white.svg');
  background-size: contain;
  width: 46px;
  height: 46px;
  right: 24px;
  top: 24px;
  position: absolute;
  display: block;
  border-radius: 100%;
  background-size: 100%;
  background-position: top center;
}

.js-user-profile .js-user-profile__inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

.js-user-profile .js-user-profile__inner .js-indicator {
  position: absolute;
  bottom: -.45rem;
  right: -.45rem;
}

/* Detail */

.js-detail {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../detail-bg.jpg');
  box-sizing: border-box;
  border-top: 4px solid grey;
  border-left: 4px solid grey;
  border-top-left-radius: 1rem;
  box-shadow: inset 0 0 30px black;
  background-color: black;
  bottom: 0;
  right: 0;
  position:
  absolute;
  width: 235px;
  height: 200px;
}

.js-detail .js-img {
  width: 150px;
}

/* Newspaper animation */
@keyframes newspaper {
  0% {
    transform: translateY(-45px) scale(1.6) rotate(16deg);
    opacity: 0;
  }
  50% {

  }
  80% {
    transform: translateY(-75px) scale(.95) rotate(-2deg);
    opacity: 1;
  }
  85% {
    transform: translateY(-75px) scale(1) rotate(-2deg);
  }
  100% {
    transform: translateY(-75px) scale(.95) rotate(-2deg);
  }
}

.animate-newspaper {
  animation: 1s ease-in 0s 1 newspaper;
  transform: translateY(-75px) scale(.95) rotate(-2deg);
}

/* bottomTop */
@keyframes bottomTopAlert {
  0% {
    transform: translate(-50%, 350px);
  }
  100% {
    transform: translate(-50%, -50px);
  }
}

@keyframes bottomTop {
  0% {
    transform: translate(-50%, 350px);
  }
  100% {
    transform: translate(-50%, 50px);
  }
}

/* bottomTop */
@keyframes topBottom {
  0% {
    transform: translate(-50%, 50px);
  }
  100% {
    transform: translate(-50%, 350px);
  }
}

.js-popup {
  background-color: white;
  width: 600px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 350px);
  box-shadow: 0px 16px 64px 0px rgba(0,0,0,0.5);
  border-radius: .5rem;
  padding: 1.5rem;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.js-popup-large {
  transform: translate(-50%, 400px);
  height: 400px;
  width: 700px;
}

.js-popup.right {
  left: 62%;
}

.js-popup-title {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.js-popup .hint-btn {
  margin-left: auto;
}

.js-popup ul {
  display: flex;
}

.js-popup ul li {
  flex: 1;
}

.js-popup ul li a {
  text-decoration:
  none; border-radius: .5rem;
  border: 2px solid var(--ci-junglemist);
  padding: 1rem;
  display: inline-block;
  color: var(--ci-blue);
  font-weight: 600;
}

.js-popup ul li a .fa {
  background-color: var(--ci-yellow);
  border-radius: 100%;
  position: absolute;
  top: -.75rem;
  right: -.75rem;
  padding: .5rem;
}

.js-popup ul li:first-child {
  margin-right: .5rem;
}

.js-popup ul li a.alert {
  border-color: var(--ci-yellow);
}

.js-popup ul li a.alert:hover {
  border: 2px solid var(--ci-yellow);
  background-color: var(--ci-yellow-light);
}

.js-popup ul li a.alert:hover .fa {
  display: none;
}

.js-popup ul li a.selected {
  border-color: var(--ci-green);
  color: var(--ci-green);
}

.js-popup ul li a.selected:hover {
  border-color: var(--ci-green);
  background-color: transparent;
}

.js-popup ul li a:hover {
  border-color: var(--ci-blue);
  background-color: var(--ci-junglemist);
}

.js-popup.appear {
  animation: .35s ease-in-out 0s 1 bottomTop;
  transform: translate(-50%, 50px);
}

/* ASL NOTE changed 'transform: translate(-50%, 0);'transform: translate(-50%, -10%);', so buttons don't partly disappear */
.js-popup-large.appear-large {
  animation: .35s ease-in-out 0s 1 bottomTop;
  transform: translate(-50%, -10%);
}

.js-popup.disappear {
  animation: .35s ease-in-out 0s 1 topBottom;
  transform: translate(-50%, 350px);
}

/* JS Inventory Tooltip */

.js-inventory-tooltip {
  position: absolute;
  bottom: 75px;
  left: 25px;
  background-color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 1rem;
  width: 320px;
  background-color: var(--ci-blue);
  z-index: 11;
}

.js-inventory-tooltip.small {
  width: 275px;
}

.js-inventory-tooltip__inner {
  position: relative;
  padding: 1.5rem;
}

.js-inventory-tooltip h3 {
  color: white;
}

.js-inventory-tooltip ul {
  line-height: .925rem;
  font-size: .925rem;
}

.js-inventory-tooltip ul li {
  border: 2px solid transparent;
  padding: .1rem .25rem;
  border-radius: .25rem;
}

.js-inventory-tooltip .js-hint,
.js-hint {
  border: 2px dotted var(--ci-yellow);
  padding: .25rem;
  border-radius: .25rem;
  margin-top: -2px;
}

.js-hint a,
.js-hint,
.js-inventory-tooltip ul li.js-hint a {
  text-decoration: none;
  color: var(--ci-yellow);
}

table .js-hint .js-indicator {
  background-color: var(--ci-blue);
  color: var(--ci-yellow);
  margin: 0 .25rem;
}

.js-inventory-tooltip ul li a {
  text-decoration: none;
  color: var(--ci-green);
}

.js-inventory-tooltip__inner:before {
  width: 0;
  height: 0;
  border-top: 20px solid var(--ci-blue);
  border-right: 20px solid transparent;
  position: absolute;
  content: '';
  left: 0;
  bottom: -20px;
}

/* Txt effects */
.txt-placeholder {
  position: relative;
  display: inline-block;
  margin: 0 .5rem;
  vertical-align: middle;
  height: 25px;
  text-align: center;
  border: 2px dashed lightgrey;
  padding: .25rem;
}

.txt-highlight {
  font-weight: 600;
  display: inline;
  font-size: .75rem;
  color: #029d9f;
}

/* Grow effect */
@keyframes growBox {
  0% {
    transform: scale(.2);
    opacity: 0;
  }
  100% {
    transform: scale(.9);
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* HUK NOTE added 'overflow-y:auto', so entire text can be read */
.js-tweet {
  opacity: 0;
  background-color: white;
  border-radius: .75rem;
  width: 331px;
  padding: 1rem;
  position: absolute;
  box-shadow: var(--ci-shadow-0);
  overflow-y: auto;
} 
.js-tweet h1 {
  font-size: 20px;
}

.js-tweet h2 {
  font-size: 12px;
}

.js-feed-btns {
  position: absolute;
  top: 336px;
  left: 1.5rem;
  text-align: center;
  width: 361px;
}

.js-tweet-list {
  display: flex;
  height: 229px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.js-tweet-list .js-tweet {
  opacity: 1;
  position: relative;
  margin: 0 25px;
}

.js-tweet-holder {
  position: absolute;
  top: 100px;
  left: 0;
  width: 391px;
  height: 229px;
  overflow: hidden;
  z-index: 3;
}

.js-feed-count {
  padding: 0 .5rem
}

.grow {
  animation: .5s ease-in-out 0s 1 growBox;
  animation-fill-mode: forwards;
  transform-box: fill-box;
}

.move-up {
  animation: .35s ease-in-out 0s 1 moveUp;
  animation-fill-mode: forwards;
}

h1.js-tweet-title {
  color: white;
  width: 100%;
  text-align: center;
}

.js-tweet-btn {
  text-align: center;
}

.js-tweet-title,
.js-tweet-btn {
  opacity: 0;
}

.delay-1 {
  animation-delay: 1s;
}
.delay-2 {
  animation-delay: 2s;
}
.delay-3 {
  animation-delay: 2.75s;
}
.delay-4 {
  animation-delay: 3.5s;
}
.delay-5 {
  animation-delay: 4s;
}
.delay-6 {
  animation-delay: 4.25s;
}
.delay-7 {
  animation-delay: 4.5s;
}
.delay-8 {
  animation-delay: 4.75s;
}
.delay-9 {
  animation-delay: 5s;
}
.delay-10 {
  animation-delay: 5.25s;
}
.delay-11 {
  animation-delay: 5.5s;
}
.delay-12 {
  animation-delay: 5.75s;
}
.delay-13 {
  animation-delay: 6.5s;
}
.delay-14 {
  animation-delay: 7s;
}

/* Background blur */
.js-bg-blur {
  filter: blur(8px);
}

.js-txt-mark {
  background-color: var(--ci-green);
  color: white;
  position: relative;
  display: inline-block;
}

.js-txt-mark.done {
  background-color: var(--ci-junglemist);
  color: var(--ci-darkblue);
}

.js-txt-mark.warning {
  background-color: var(--ci-yellow-light);
  color: var(--ci-darkblue);
}

.js-txt-mark .js-btn {
  position: absolute;
  top: 0;
  left: 615px;
  display: inline-flex;
}

.js-comm {
  position: relative;
}

.js-comm:hover .js-txt-mark {
  background-color: var(--ci-blue);
  color: white;
}

.js-comm:hover .js-txt-mark.warning {
  background-color: var(--ci-yellow);
  color: var(--ci-blue);
}

.js-comm-right {
  left: 0;
  top: 0;
  height: 100%;
  position: absolute;
}

.js-comm-accol:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 10px;
  height: 100%;
  border-top: 2px dotted var(--ci-green);
  border-right: 2px dotted var(--ci-green);
  border-bottom: 2px dotted var(--ci-green);
}

.js-comm-accol:after {
  width: 10px;
  height: 2px;
  border-top: 2px dotted var(--ci-green);
  content: '';
  position: absolute;
  left: 10px;
  top: 50%;
}

.js-comm-btntxt {
  left: 40px;
  top: 50%;
  transform: translateY(-.5rem);
  position: absolute;
  font-family: 'Source Sans Pro', sans-serif;
  width: 150px;
  line-height: 1rem;
  font-style: italic;
}

.js-doc-comm {
  flex: 1;
  padding: 2rem;
  padding-right: 250px;
  font-family: 'Roboto Mono', monospace;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  margin-bottom: 35px;
}

.js-doc-comm table,
.js-doc-comm p {
  font-size: .925rem;
}

/* Assignment mode */
.js-assignment-mode {
  background-color: red;
  width: 250px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: .5rem 1rem;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  text-align: center;
  background-color: white;
  font-weight: 700;
  box-shadow: var(--ci-shadow-0);
}

@keyframes docAppear {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.js-doc {
  background-color: white;
  width: 150px;
  height: 200px;
  transform: scale(1);
  border-radius: 6px;
  opacity: 0;
  margin-right: 25px;
  padding: .5rem;
  box-sizing: border-box;
  box-shadow: var(--ci-shadow-0);
  margin-bottom: 2rem;
  position: relative;
}

.js-doc.appear {
  animation: .5s ease-in-out 0s 1 docAppear;
  animation-fill-mode: forwards;
}

.js-doc.appeared {
  animation-fill-mode: none;
  opacity: 1;
}

.js-doc.appear-1 {
  animation-delay: .5s;
}
.js-doc.appear-2 {
  animation-delay: 1s;
}
.js-doc.appear-3 {
  animation-delay: 1.5s;
}
.js-doc.appear-4 {
  animation-delay: 2s;
}

.js-doc-line {
  opacity: .5;
  display: block;
  background-color: var(--ci-blue);
  height: 6px;
  margin-bottom: 6px;
}

.js-doc-line.small {
  width: 40px;
}

.js-doc-line.medium {
  width: 80px;
}

.js-doc-line.large {
  width: 130px;
}

.js-doc-line.trans {
  width: 110px;
  background-color: transparent;
}


@keyframes docMove1 {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(250px) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(250px) scale(6);
    opacity: 0;
  }
}

@keyframes docMove2 {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(70px);
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    transform: translateX(70px);
    opacity: 0;
  }
}

@keyframes docMove3 {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(-100px);
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    transform: translateX(-100px);
    opacity: 0;
  }
}

@keyframes docMove4 {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(-275px);
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    transform: translateX(-275px);
    opacity: 0;
  }
}

@keyframes fadeDocContainer {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.js-doc.move-1 {
  animation: 2s ease-in-out 0s 1 docMove1;
  animation-fill-mode: forwards;
  z-index: 5;
}
.js-doc.move-2 {
  animation: 2s ease-in-out 0s 1 docMove2;
  animation-fill-mode: forwards;
  z-index: 4;
}
.js-doc.move-3 {
  animation: 2s ease-in-out 0s 1 docMove3;
  animation-fill-mode: forwards;
  z-index: 3;
}
.js-doc.move-4 {
  animation: 2s ease-in-out 0s 1 docMove4;
  animation-fill-mode: forwards;
  z-index: 2;
}

.js-doc-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: #eeeeee;
  pointer-events: none;
}

.js-doc-container.fade {
  animation: 2s ease-in-out 0s 1 fadeDocContainer;
  animation-fill-mode: forwards;
}

.js-mark-example {
  color: var(--ci-green);
  position: absolute;
  bottom: -15px;
  right: -10px;
  z-index: 10;
  font-size: 30px;
  transform: scale(.1);
  opacity: 0;
}

@keyframes commExampleGrow {
  0% {
    opacity: 1;
    transform: scale(.1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  75% {
    opacity: 1;
    transform: scale(.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.js-mark-example-1.grow {
  animation: .5s ease-in-out commExampleGrow;
  animation-fill-mode: forwards;
}

.js-mark-example-2.grow {
  animation: .5s ease-in-out commExampleGrow;
  animation-fill-mode: forwards;
}

.js-mark-example-3.grow {
  animation: .5s ease-in-out commExampleGrow;
  animation-fill-mode: forwards;
}

.js-mark-example-4.grow {
  animation: .5s ease-in-out commExampleGrow;
  animation-fill-mode: forwards;
}

i {
  font-style: italic;
}

/* Trophies */

.js-trophies {
  display: flex;
  flex-direction: column;
}

.js-trophies li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
  background-color: var(--ci-grey);
  height: 6rem;
  border: 2px solid var(--ci-junglemist);
  border-radius: 1rem;
  padding: .75rem 1rem;
  font-weight: 500;
  font-size: 1em;
  cursor: pointer;
  transition: transform .25s ease-in-out;
}

.js-trophies li:hover {
  transform: scale(1.1);
}

.js-trophies li img {
  margin-right: 1.5rem;
}

.js-trophy-placeholder {
  margin-right: 1rem; 
  border-radius: .5rem; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  border: 2px dashed var(--ci-blue); 
  width: 3rem; 
  height: 3rem;
  font-size: 2rem;
  font-weight: 700;
  opacity: .5;
}

.js-trophy-detail {
  box-shadow: inset 0 0 30px rgb(195, 195, 195);
}

/* HUK NOTE added class, used in resource documents */
.js-procedure-title {
	font-family: SansSerif;
	font-size: 14pt;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}