<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd">
<include src="view/view.zul"/>
<style src="style/emergo.css"/>

<window use="nl.surf.emergo.control.CDecoratedInputWndCC">
	<custom-attributes role="adm"/>
	<custom-attributes width="windowWidth"/>
	<custom-attributes labelKey="adm_filter_contextaccounts"/>

  <vbox sclass="VboxOuter">
		<include src="i_logged_in_as.zul"/>
	  <hbox>
			<include src="i_bread_login.zul"/>
			<include src="i_bread_account_roles.zul"/>
			<include src="i_bread_adm.zul"/>
			<include src="i_bread_adm_contexts.zul"/>
	  </hbox>
	  <include src="filter_accounts_fr.zul"/>
    <hbox>
      <button use="nl.surf.emergo.control.adm.CAdmFilterContextAccountsOkBtn">
				<custom-attributes labelKey="ok"/>
      </button>
    </hbox>
  </vbox>

</window>

</zk>
