<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd">

<window use="nl.surf.emergo.control.CInputWnd" border="normal">
	<custom-attributes role="adm"/>
	<custom-attributes labelKey="adm_s_components_import.title"/>
	<custom-attributes width="windowWidth"/>

  <vbox sclass="VboxOuter">
    <grid>
    <columns>
      <column use="nl.surf.emergo.control.CInputColumn1"/>
      <column use="nl.surf.emergo.control.CInputColumn2"/>
    </columns>
    <rows id="form">
      <row>
      	<div use="nl.surf.emergo.control.CInputLabelDiv">
					<custom-attributes helpLabelKey="adm_components.import.help"/>
					<custom-attributes _labelKey="choose_file"/>
					<custom-attributes _InputRequired="true"/>
	      </div>
        <hbox>
          <button use="nl.surf.emergo.control.CUploadMediaButton">
						<custom-attributes labelKey="file"/>
          </button>
          <textbox id="filename" use="nl.surf.emergo.control.def.CDefTextbox" value="" disabled="true">
						<custom-attributes width="colWidth2"/>
						<custom-attributes widthCorrection="-100"/>
          </textbox>
        </hbox>
      </row>
    </rows>
    </grid>
    <hbox>
      <button use="nl.surf.emergo.control.adm.CAdmComponentsImportOkBtn">
				<custom-attributes labelKey="ok"/>
      </button>
      <button use="nl.surf.emergo.control.CItemCancelBtn">
				<custom-attributes labelKey="cancel"/>
      </button>
    </hbox>
  </vbox>

</window>

</zk>
