<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd">

<window use="nl.surf.emergo.control.cde.CCdeCaseExportWnd" border="normal" xmlns:h="http://www.w3.org/1999/xhtml" xmlns:zk="http://www.zkoss.org/2005/zk">
	<custom-attributes role="cde"/>
	<custom-attributes width="windowWidth"/>

  <vbox sclass="VboxOuter">
    <html use="nl.surf.emergo.control.def.CDefHtml" zclass="Html">
			<custom-attributes labelKey="cde_s_case_export"/>
    </html>
 	  <h:a id="downloadLink" href="" target="_blank" class="HtmlLink" download="">case</h:a>
    <hbox>
      <button use="nl.surf.emergo.control.CExportDoneBtn">
				<custom-attributes labelKey="ok"/>
      </button>
    </hbox>
  </vbox>

</window>

</zk>
