<?xml version="1.0" encoding="UTF-8"?>
<zk xmlns:h="http://www.w3.org/1999/xhtml">

<html>
	<div id="gamebricsAuthorPromptPopupDiv" style="position:absolute;left:0px;top:0px;width:1200px;height:734px;visibility:hidden;">
		<div class="ga-modal" style="width: 400px;">
			<div id="gamebricsAuthorPromptPopupTextDiv" class="ga-modal-content"/>
			<input id="gamebricsAuthorPromptPopupTextInput" class="ga-input" style="margin-left:20px;width:370px;"/>
			<div class="ga-btn-holder indent-1">
				<button id="gamebricsAuthorPromptPopupCancelButton" class="ga-btn btn-secondary small"/>
				<button id="gamebricsAuthorPromptPopupOkButton" class="ga-btn small"/>
			</div>
		</div>
		<div class="ga-overlay"/>
	</div>
</html>

</zk>