<?xml version="1.0" encoding="UTF-8"?>
<zk xmlns:h="http://www.w3.org/1999/xhtml">

<html><![CDATA[
  <script type="text/javascript">
  	//update rubric skill script

 		var skillclustercolors = null;
 		var subskillcolors = null;

		function initUpdateRubric(skillJson, skillElementsJson, skillclustercolorsJson, subskillcolorsJson) {
	  		var skill = JSON.parse(skillJson);
	
	  		var elements = JSON.parse(skillElementsJson);
	  		skillclustercolors = JSON.parse(skillclustercolorsJson);
	  		subskillcolors = JSON.parse(subskillcolorsJson);
  		
			document.getElementById('updateRubricSkillHeaderSpan').innerHTML = skill[0].name;
			var numberofperformancelevels = skill[0].numberofperformancelevels;
			var performancelevelsdescending = skill[0].performancelevelsdescending == 'true';
			setUpdateRubricSkillHeader(numberofperformancelevels, performancelevelsdescending);
  		
	  		var elementsId = 'updateRubricDiv';
	  		var elementsParent = document.getElementById(elementsId);
	  		removeAllChildNodes(elementsParent);
	  		
	  		var clusterCounter = 0;
	  		var colorCounter = -1;
	  		var noSkillClusterYet = true;
			for (let i=0;i<Object.keys(elements).length;i++) {
				if (elements[i].tagName == 'skillcluster') {
					clusterCounter++;
					if (noSkillClusterYet) {
						noSkillClusterYet = false;
						//NOTE reset colorCounter when first skill cluster. Sub skills of skill cluster will 'follow' skill cluster color.
						colorCounter = -1;
					}
					if (colorCounter == 9) {
						//there are ten colors, so repeat colors
						colorCounter = 0;
					}
					else {
	  				colorCounter++;
	  			}
				}
				if (noSkillClusterYet) {
					//NOTE sub skills directly under skill tag show colors as well
					if (colorCounter == 9) {
						//there are ten colors, so repeat colors
						colorCounter = 0;
					}
					else {
	  				colorCounter++;
	  			}
				}
 				addUpdateSkillElement(numberofperformancelevels, performancelevelsdescending, elementsId, elements[i], clusterCounter, colorCounter);
			}
			
			initUpdateRubricSkillClustersCollapse();
		}

		function setUpdateRubricSkillHeader(numberofperformancelevels, performancelevelsdescending) {
			var parentElement = document.getElementById('updateRubricSkillHeaderDiv');
			removeAllChildNodes(parentElement);

	  		var newElement = document.createElement('div');
	  		parentElement.appendChild(newElement);
	  		newElement.className = 'ga-tr ga-cluster-head';
	  		newElement.style.height = '39px';
	
	  		var newSubElement = document.createElement('div');
	  		newElement.appendChild(newSubElement);
	  		newSubElement.className = 'ga-td white';
	
	  		newSubElement = document.createElement('div');
	  		newElement.appendChild(newSubElement);
	  		newSubElement.className = 'ga-td ga-separator';
	
	  		var newSubSubElement = document.createElement('span');
	  		newSubElement.appendChild(newSubSubElement);
	  		newSubSubElement.className = 'ga-sep left';
	  		newSubSubElement.innerHTML = '${vView.getLabel("cde_gamebricsauthor.updaterubric.label.rubric-parts")}';
	
	  		newSubSubElement = document.createElement('span');
	  		newSubElement.appendChild(newSubSubElement);
	  		newSubSubElement.className = 'ga-sep right';
	  		newSubSubElement.innerHTML = '${vView.getLabel("cde_gamebricsauthor.updaterubric.label.level")}';
	  		
	  		for (let i=0;i<numberofperformancelevels;i++) {
		  		newSubElement = document.createElement('div');
	  			newElement.appendChild(newSubElement);
	  			newSubElement.className = 'ga-td ga-td-center';
	  			
	  			var numberOfStars = i + 1;
	  			if (performancelevelsdescending) {
	  				numberOfStars = numberofperformancelevels - i;
	  			}
	  			for (let j=0;j<numberOfStars;j++) {
			  		newSubSubElement = document.createElement('i');
	  				newSubElement.appendChild(newSubSubElement);
			  		newSubSubElement.className = 'fas fa-star';
	  			}
	  		}
		}

		function addUpdateSkillElement(numberofperformancelevels, performancelevelsdescending, elementsId, element, clusterCounter, colorCounter) {
	  		var backgroundColor = null;
	  		if (element.tagName == 'skillcluster') {
	  			backgroundColor = skillclustercolors[colorCounter].color;;
	  		}
	  		else if (element.tagName == 'subskill') {
	  			backgroundColor = subskillcolors[colorCounter].color;;
	  		}
	
	  		var elements = document.getElementById(elementsId);
	  		
	  		var newElement = createSkillElementCell(element, clusterCounter, backgroundColor);
			elements.appendChild(newElement);
	
	  		if (element.tagName == 'skillcluster') {
		  		for (let i=0;i<numberofperformancelevels;i++) {
			  		newSubElement = createSkillElementSkillClusterContent(backgroundColor);
			  		newElement.appendChild(newSubElement);
		  		}
	  		}
	  		else if (element.tagName == 'subskill') {
		  		for (let i=0;i<numberofperformancelevels;i++) {
		  			var index = i;
	  				if (!performancelevelsdescending) {
	  					index = numberofperformancelevels - i - 1;
	  				}
					var perfElement = element.performanceLevels[index];
	
			  		newSubElement = createSkillElementSubSkillContent(perfElement, backgroundColor);
			  		newElement.appendChild(newSubElement);
		  		}
	  		}
	
	  		return newElement;
		}

		function createSkillElementCell(element, clusterCounter, backgroundColor) {
	  		var newElement = document.createElement('div');
	  		newElement.id = element.tagId;
	  		newElement.setAttribute('parentTagId', element.parentTagId);
	  		newElement.setAttribute('tagId', element.tagId);
	  		newElement.setAttribute('tagName', element.tagName);
	  		newElement.setAttribute('elementName', element.name);

			var className = 'ga-tr collapsed ga-cluster-' + clusterCounter;
	  		if (element.tagName == 'skillcluster') {
	  			className = className + ' parent';
	  		}
	  		else if (element.tagName == 'subskill' && clusterCounter > 0) {
	  			className = className + ' child';
	  		}
	  		newElement.className = className;
	
	  		var newSubElement = document.createElement('div');
	  		newElement.appendChild(newSubElement);
	  		if (element.tagName == 'skillcluster') {
		  		newSubElement.id = 'ga-cluster-' + clusterCounter;
		  	}
	  		newSubElement.className = 'ga-td transparent tgl-collapse';
	  		newSubElement.style.backgroundColor = backgroundColor;
	
	  		if (element.tagName == 'skillcluster') {
		  		var newSubSubElement = document.createElement('i');
	  			newSubElement.appendChild(newSubSubElement);
	  			newSubSubElement.className = 'fas fa-chevron-right';
	  		}
	
	  		var newSubElement = document.createElement('div');
	  		newElement.appendChild(newSubElement);
	  		newSubElement.className = 'ga-td';
	  		newSubElement.style.backgroundColor = backgroundColor;
	
	  		newSubSubElement = document.createElement('span');
	  		newSubElement.appendChild(newSubSubElement);
	  		newSubSubElement.innerHTML = element.name;
	
	  		newSubSubElement = document.createElement('span');
	  		newSubElement.appendChild(newSubSubElement);
	  		newSubSubElement.className = 'ga-td-examples';
	  		
	  		if (element.tagName == 'subskill') {
		  		newSubSubSubElement = document.createElement('a');
	  			newSubSubElement.appendChild(newSubSubSubElement);
	  			newSubSubSubElement.id = 'description_' + element.tagId;
	  			newSubSubSubElement.onclick = function(){promptEditRichtext(this.parentElement.parentElement.parentElement, 'Pas beschrijving aan')};
		  		newSubSubSubElement.href = '#';
	  			newSubSubSubElement.innerHTML = '${vView.getLabel("cde_gamebricsauthor.updaterubric.label.description")}';
	  			newSubSubSubElement.style.cursor = 'pointer';
	  			if (element.description == '') {
		  			newSubSubSubElement.style.color = 'white';
			  	}
	  			newSubSubSubElement.setAttribute('description', element.description);
	  		}
	
	  		return newElement;
		}

		function createSkillElementSkillClusterContent(backgroundColor) {
	  		newSubElement = document.createElement('div');
				newSubElement.className = 'ga-td';
	  		newSubElement.style.backgroundColor = backgroundColor;
	  		return newSubElement;
		}

		function createSkillElementSubSkillContent(perfElement, backgroundColor) {
	  		newSubElement = document.createElement('div');
	  		newSubElement.id = perfElement.tagId;
	  		newSubElement.setAttribute('parentTagId', perfElement.parentTagId);
			newSubElement.setAttribute('tagId', perfElement.tagId);
	  		newSubElement.setAttribute('tagName', perfElement.tagName);
			newSubElement.setAttribute('level', perfElement.level);

			newSubElement.className = 'ga-td';
	  		newSubElement.style.backgroundColor = backgroundColor;
			  		
	  		newSubSubElement = document.createElement('span');
			newSubElement.appendChild(newSubSubElement);
	  		newSubSubElement.id = 'description_' + perfElement.tagId;
	  		newSubSubElement.className = 'ga-td-content';
	  		newSubSubElement.innerHTML = perfElement.description;
	
	  		newSubSubElement = document.createElement('i');
	  		newSubElement.appendChild(newSubSubElement);
	  		newSubSubElement.onclick = function(){promptEditRichtext(this.parentElement, 'Pas beheersingsniveau aan')};
			newSubSubElement.className = 'fas fa-pencil-alt';
	  		newSubSubElement.style.cursor = 'pointer';
	  				
	  		/*
	  		newSubSubElement = document.createElement('span');
			newSubElement.appendChild(newSubSubElement);
	  		newSubSubElement.onclick = function(){editPerformanceLevelExamples(this.parentElement)};
	  		newSubSubElement.className = 'ga-td-examples';
	  		newSubSubElement.style.cursor = 'pointer';
	  		if (perfElement.performancelevelexamples.length == 0) {
		  		newSubSubElement.innerHTML = '${vView.getLabel("cde_gamebricsauthor.updaterubric.label.examples")}';
		  	}
		  	else {
		  		var newSubSubSubElement = document.createElement('a');
				newSubSubElement.appendChild(newSubSubSubElement);
		  		newSubSubSubElement.className = 'ga-a';
		  		newSubSubSubElement.href = '#';
		  		newSubSubSubElement.innerHTML = '${vView.getLabel("cde_gamebricsauthor.updaterubric.label.examples")}';
		  	}
	  		*/
	
	  		return newSubElement;
		}

	  	function promptEditRichtext(element, text) {
	  		var richtext = '';
	  		if (element.getAttribute('tagName') == 'subskill') {
	  			richtext = document.getElementById('description_' + element.getAttribute('tagId')).getAttribute('description');
	  		}
	  		else if (element.getAttribute('tagName') == 'performancelevel') {
	  			richtext = document.getElementById('description_' + element.getAttribute('tagId')).innerHTML;
	  		}
	  		showPromptRichtextPopup(element,
	  			text,
		  		'gamebricsAuthorPromptRichtextPopupTextInput',
	  			richtext, 
	  			'OK',
	  			'Annuleer',
	  			function(){hidePromptRichtextPopup();saveRichtext(element)},
	  			function(){hidePromptRichtextPopup()});
		}
	
	  	function saveRichtext(element) {
				//save change
	  		var parentElement = getParentDiv(element);
		    var jsonObject = {
		    	"action":"save_richtext",
		    	"tagId":element.getAttribute('tagId'),
		    	"tagName":element.getAttribute('tagName'),
		    	"richtextFieldZkId":'gamebricsAuthorPromptRichtextPopupTextInput',
		    	"descriptionFieldId":'description_' + element.getAttribute('tagId')
	    	};
			zAu.send(new zk.Event(zk.Widget.$(parentElement.id), 'onNotify', jsonObject));
		}
	
	  	function updateRichtext(tagName, elementId, description) {
	  		if (tagName == 'subskill') {
				var color = '';			
	  			if (description == '') {
	  				color = 'white';
		  		}
	 			document.getElementById(elementId).setAttribute('description', decode(decode(description))); 
				document.getElementById(elementId).style.color = color;
	  		}
	  		else if (tagName == 'performancelevel') {
				document.getElementById(elementId).innerHTML = decode(description);
				document.getElementById(elementId).innerHTML = decode(document.getElementById(elementId).innerHTML);
	  		}
		}
	
		function decode(pStr) {
			var lTA = document.createElement("textarea");
			lTA.innerHTML = pStr;
			return lTA.value;
		}
		
	  	function updateRubric(element) {
	  		var parentElement = getParentDiv(element);
		    var jsonObject = {
		    	"action":"update_rubric"
	    	};
			zAu.send(new zk.Event(zk.Widget.$(parentElement.id), 'onNotify', jsonObject));
		}
	
	  	//script for folding and unfolding skill clusters 
	
		var pv_showRows = (function(e, parent, children) {
			for (var i = 0; i < children.length; i++) {
				children.item(i).classList.remove('collapsed');
			}
			parent.classList.remove('collapsed');
			e.querySelector('.fas').classList.remove('fa-chevron-right');
			e.querySelector('.fas').classList.add('fa-chevron-down');
		});
	
		var pv_hideRows = (function(e, parent, children) {
			for (var i = 0; i < children.length; i++) {
				children.item(i).classList.add('collapsed');
			}
			parent.classList.add('collapsed');
			e.querySelector('.fas').classList.remove('fa-chevron-down');
			e.querySelector('.fas').classList.add('fa-chevron-right');
		});
	
		var pv_toggleRows = (function(e, parent, children) {
			return function(e, parent, children) {
				var collapsed = e.querySelector('.fa-chevron-right') != null;
				collapsed ? pv_showRows(e, parent, children) : pv_hideRows(e, parent, children);
			}
		})();

		function initUpdateRubricSkillClustersCollapse() {
			var tglBtns = document.getElementsByClassName('tgl-collapse');

			for (var i = 0; i < tglBtns.length; i++) {
				tglBtns.item(i).onclick = function() {
					var cluster = this.id;
					var children = document.getElementsByClassName(cluster + ' child');
					var parent = this.closest('.parent');

					pv_toggleRows(this, parent, children);
				};
			}
		}

  </script>
]]></html>

<style>
</style>

<div id="gamebricsAuthorUpdateRubricDiv" use="nl.surf.emergo.control.cde.GamebricsAuthor.rubrics.CCdeGamebricsAuthorUpdateRubricDiv" zclass="zkparentelement" visible="false" style="width:1200px;height:650px;top:115px;">
	<custom-attributes _idPrefix="updateRubricRubric"/>
	<html>
		<span class="ga-envir">${vView.getLabel("cde_gamebricsauthor.mainmenuoption.gamebricsAuthor")}</span>
		<div class="ga-body">
			<div class="ga-body-inner">
				<div class="ga-body-top indent-1">
					<div class="ga-title">
						<h3 class="ga-h3" style="margin-right: .5rem"><span style="font-style:italic;color:#8f8f8f;">${vView.getLabel("cde_gamebricsauthor.updaterubric.label.rubric")} </span><span id="updateRubricSkillHeaderSpan"></span></h3>
						<button class="ga-btn small" onClick="updateRubric(this)"><i class="fas fa-pencil-alt"></i></button>
					</div>
				</div>
				<div class="ga-table">
					<div id="updateRubricSkillHeaderDiv" class="ga-thead"/>
					<div id="updateRubricDiv" class="ga-tbody"/>
				</div>
			</div>
			<div class="ga-btn-holder indent-1">
				<button class="ga-btn" onClick="navigateBackward(this,'gamebricsAuthorRubricsDiv')">${vView.getLabel("cde_gamebricsauthor.button.back")}</button>
			</div>
		</div>
	</html>
</div>

</zk>
