<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd">

<window use="nl.surf.emergo.control.cde.CCdeCaseWnd" border="normal">
	<custom-attributes role="cde"/>
	<custom-attributes width="windowWidth"/>

  <vbox sclass="VboxOuter">
    <grid>
    <columns>
      <column use="nl.surf.emergo.control.CInputColumn1"/>
      <column use="nl.surf.emergo.control.CInputColumn2"/>
    </columns>
    <rows id="form">
      <row>
      	<div use="nl.surf.emergo.control.CInputLabelDiv">
					<custom-attributes _labelKey="name"/>
					<custom-attributes _InputRequired="true"/>
	      </div>
        <textbox id="name" use="nl.surf.emergo.control.CDomainEntityTextbox" focus="true"/>
      </row>
      <row>
      	<div use="nl.surf.emergo.control.CInputLabelDiv">
					<custom-attributes helpLabelKey="cde_cases.code.help"/>
					<custom-attributes _labelKey="code"/>
	      </div>
        <textbox id="code" use="nl.surf.emergo.control.CDomainEntityTextbox"/>
      </row>
      <row>
      	<div use="nl.surf.emergo.control.CInputLabelDiv">
					<custom-attributes helpLabelKey="version.help"/>
					<custom-attributes _labelKey="version"/>
	      </div>
        <textbox id="version" use="nl.surf.emergo.control.CDomainEntityTextbox"/>
      </row>
      <row>
      	<div use="nl.surf.emergo.control.CInputLabelDiv">
					<custom-attributes helpLabelKey="cde_cases.skin.help"/>
					<custom-attributes _labelKey="skin"/>
	      </div>
        <listbox id="skin" use="nl.surf.emergo.control.cde.CCdeCaseSkinLb" rows="1" mold="select"/>
      </row>
      <row>
      	<div use="nl.surf.emergo.control.CInputLabelDiv">
					<custom-attributes helpLabelKey="cde_cases.multilingual.help"/>
					<custom-attributes _labelKey="multilingual"/>
	      </div>
        <checkbox id="multilingual" use="nl.surf.emergo.control.CDomainEntityCheckbox"/>
      </row>
      <row>
      	<div use="nl.surf.emergo.control.CInputLabelDiv">
					<custom-attributes helpLabelKey="cde_cases.casCasId.help"/>
					<custom-attributes _labelKey="cde_cases.casCasId"/>
	      </div>
        <listbox id="casCasId" use="nl.surf.emergo.control.cde.CCdeCaseCaseLb" rows="1" mold="select"/>
      </row>
    </rows>
    </grid>
    <hbox>
      <button use="nl.surf.emergo.control.cde.CCdeCaseOkBtn">
				<custom-attributes labelKey="ok"/>
      </button>
      <button use="nl.surf.emergo.control.CItemCancelBtn">
				<custom-attributes labelKey="cancel"/>
      </button>
    </hbox>
  </vbox>

</window>

</zk>
