<?xml version="1.0" encoding="UTF-8"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c" ?>

<zk xmlns="http://www.zkoss.org/2005/zul"
	xmlns:h="http://www.w3.org/1999/xhtml"
	xmlns:n="native"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd">

<include src="view/view.zul"/>

<zscript><![CDATA[
	import nl.surf.emergo.view.VView;
	String GA_StartPage = VView.v_cde_gamebricsauthor;
	String GA_RedirectBack = nl.surf.emergo.control.cde.GamebricsAuthor.CCdeGamebricsAuthorDiv.cde_GA_redirectBack;
]]></zscript>

<style src="style/emergo.css"/>
<style src="style/GamebricsAuthor/GA_style.css"/>

<style>
	.mediaViewInfo {
		--web-view-name: Custom Size – 1;
		--web-view-id: Custom_Size__1;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Custom_Size__1;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Custom_Size__1 {
		position: absolute;
		width: 1200px;
		height: 650px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: Custom Size – 1;
		--web-view-id: Custom_Size__1;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#Rectangle_115 {
		fill: rgba(235,235,255,1);
		stroke: rgba(149,145,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_115 {
		position: absolute;
		overflow: visible;
		width: 660px;
		height: 325px;
		left: 510px;
		top: 267px;
	}
	#Invoer_reflectiefeedback_Naam_ {
		left: 80px;
		top: 13px;
		position: absolute;
		overflow: visible;
		width: 423px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 23px;
		color: rgba(4,80,157,1);
	}
	#Rectangle_82 {
		opacity: 0.321;
		fill: rgba(234,234,234,1);
	}
	.Rectangle_82 {
		position: absolute;
		overflow: visible;
		width: 308px;
		height: 100px;
		left: 143px;
		top: 182px;
	}
	#Rectangle_89 {
		opacity: 0.321;
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_89 {
		position: absolute;
		overflow: visible;
		width: 649px;
		height: 137px;
		left: 510px;
		top: 79px;
	}
	#Rectangle_92 {
		fill: rgba(248,248,248,1);
	}
	.Rectangle_92 {
		position: absolute;
		overflow: visible;
		width: 611px;
		height: 96px;
		left: 527px;
		top: 306px;
	}
	#Rectangle_95 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_95 {
		position: absolute;
		overflow: visible;
		width: 611px;
		height: 95px;
		left: 527px;
		top: 441px;
	}
	#Rectangle_85 {
		opacity: 0.321;
		fill: rgba(234,234,234,1);
	}
	.Rectangle_85 {
		position: absolute;
		overflow: visible;
		width: 284px;
		height: 237px;
		left: 29px;
		top: 335px;
	}
	#Rectangle_83 {
		fill: rgba(159,159,159,1);
	}
	.Rectangle_83 {
		mix-blend-mode: darken;
		position: absolute;
		overflow: visible;
		width: 14px;
		height: 100px;
		left: 451px;
		top: 182px;
	}
	#Rectangle_88 {
		fill: rgba(159,159,159,1);
	}
	.Rectangle_88 {
		mix-blend-mode: darken;
		position: absolute;
		overflow: visible;
		width: 14px;
		height: 137px;
		left: 1156px;
		top: 79px;
	}
	#Rectangle_91 {
		fill: rgba(159,159,159,1);
	}
	.Rectangle_91 {
		mix-blend-mode: darken;
		position: absolute;
		overflow: visible;
		width: 14px;
		height: 96px;
		left: 1138px;
		top: 306px;
	}
	#Rectangle_94 {
		fill: rgba(159,159,159,1);
	}
	.Rectangle_94 {
		mix-blend-mode: darken;
		position: absolute;
		overflow: visible;
		width: 14px;
		height: 95px;
		left: 1138px;
		top: 441px;
	}
	#Rectangle_84 {
		fill: rgba(40,116,193,1);
	}
	.Rectangle_84 {
		position: absolute;
		overflow: visible;
		width: 8px;
		height: 48px;
		left: 454px;
		top: 184px;
	}
	#Rectangle_90 {
		fill: rgba(40,116,193,1);
	}
	.Rectangle_90 {
		position: absolute;
		overflow: visible;
		width: 8px;
		height: 83px;
		left: 1159px;
		top: 83px;
	}
	#Rectangle_93 {
		fill: rgba(40,116,193,1);
	}
	.Rectangle_93 {
		position: absolute;
		overflow: visible;
		width: 8px;
		height: 50px;
		left: 1141px;
		top: 308px;
	}
	#Rectangle_96 {
		fill: rgba(40,116,193,1);
	}
	.Rectangle_96 {
		position: absolute;
		overflow: visible;
		width: 8px;
		height: 48px;
		left: 1141px;
		top: 444px;
	}
	#AANTAL_STAMTEKST-SCOREDELEN {
		left: 30px;
		top: 65px;
		position: absolute;
		overflow: visible;
		width: 279px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(4,80,157,1);
	}
	#STAMTEKSTDEELLABEL_BIJ_SCOREDE {
		left: 143px;
		top: 126px;
		position: absolute;
		overflow: visible;
		width: 323px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(4,80,157,1);
	}
	#INHOUD_STAMTEKSTDEEL {
		left: 510px;
		top: 58px;
		position: absolute;
		overflow: visible;
		width: 208px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(4,80,157,1);
	}
	#SCOREDEEL {
		left: 29px;
		top: 126px;
		position: absolute;
		overflow: visible;
		width: 100px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(4,80,157,1);
	}
	#RUBRIEKONDERDELEN {
		left: 29px;
		top: 312px;
		position: absolute;
		overflow: visible;
		width: 186px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(4,80,157,1);
	}
	#BEHEERSINGS_NIVEAU {
		left: 343px;
		top: 331px;
		position: absolute;
		overflow: visible;
		width: 116px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(4,80,157,1);
	}
	#n__STAMDEEL {
		left: 527px;
		top: 280px;
		position: absolute;
		overflow: visible;
		width: 105px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(4,80,157,1);
	}
	#REFLECTIEFEEDBACK {
		left: 512px;
		top: 245px;
		position: absolute;
		overflow: visible;
		width: 177px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(4,80,157,1);
	}
	#n__REMEDIREND_DEEL {
		left: 527px;
		top: 417px;
		position: absolute;
		overflow: visible;
		width: 185px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(4,80,157,1);
	}
	#Rectangle_97 {
		fill: rgba(149,145,255,1);
	}
	.Rectangle_97 {
		position: absolute;
		overflow: visible;
		width: 74px;
		height: 32px;
		left: 1078px;
		top: 545px;
	}
	#Rectangle_98 {
		fill: rgba(149,145,255,1);
	}
	.Rectangle_98 {
		position: absolute;
		overflow: visible;
		width: 74px;
		height: 32px;
		left: 1096px;
		top: 225px;
	}
	#Klaar {
		left: 1095px;
		top: 552px;
		position: absolute;
		overflow: visible;
		width: 39px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 15px;
		color: rgba(255,255,255,1);
	}
	#Klaar_bc {
		left: 1113px;
		top: 232px;
		position: absolute;
		overflow: visible;
		width: 39px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 15px;
		color: rgba(255,255,255,1);
	}
	#Rectangle_99 {
		fill: rgba(159,159,159,1);
	}
	.Rectangle_99 {
		mix-blend-mode: darken;
		position: absolute;
		overflow: visible;
		width: 14px;
		height: 237px;
		left: 313px;
		top: 335px;
	}
	#Rectangle_100 {
		fill: rgba(40,116,193,1);
	}
	.Rectangle_100 {
		position: absolute;
		overflow: visible;
		width: 8px;
		height: 83px;
		left: 316px;
		top: 339px;
	}
	#Rectangle_101 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_101 {
		position: absolute;
		overflow: visible;
		width: 43px;
		height: 22px;
		left: 344px;
		top: 376px;
	}
	#Rectangle_102 {
		fill: rgba(149,145,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_102 {
		position: absolute;
		overflow: visible;
		width: 23px;
		height: 22px;
		left: 384px;
		top: 376px;
	}
	#n_ {
		left: 360px;
		top: 378px;
		position: absolute;
		overflow: visible;
		width: 9px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(0,0,0,1);
	}
	#Polygon_2 {
		fill: rgba(255,255,255,1);
	}
	.Polygon_2 {
		overflow: visible;
		position: absolute;
		width: 11px;
		height: 10px;
		transform: matrix(1,0,0,1,390,382) rotate(180deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Rectangle_103 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_103 {
		position: absolute;
		overflow: visible;
		width: 81px;
		height: 22px;
		left: 30px;
		top: 152px;
	}
	#Rectangle_104 {
		fill: rgba(149,145,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_104 {
		position: absolute;
		overflow: visible;
		width: 23px;
		height: 22px;
		left: 105px;
		top: 152px;
	}
	#n__-_20 {
		left: 43px;
		top: 154px;
		position: absolute;
		overflow: visible;
		width: 55px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(0,0,0,1);
	}
	#Polygon_3 {
		fill: rgba(255,255,255,1);
	}
	.Polygon_3 {
		overflow: visible;
		position: absolute;
		width: 11px;
		height: 10px;
		transform: matrix(1,0,0,1,111,158) rotate(180deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Rectangle_105 {
		fill: rgba(149,145,255,1);
	}
	.Rectangle_105 {
		position: absolute;
		overflow: visible;
		width: 23px;
		height: 23px;
		left: 416px;
		top: 152px;
	}
	#Line_2 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_2 {
		overflow: visible;
		position: absolute;
		width: 2px;
		height: 12px;
		left: 427.5px;
		top: 157.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_3 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_3 {
		overflow: visible;
		position: absolute;
		width: 12px;
		height: 2px;
		left: 421.5px;
		top: 163.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Rectangle_106 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_106 {
		position: absolute;
		overflow: visible;
		width: 43px;
		height: 22px;
		left: 316px;
		top: 64px;
	}
	#Rectangle_107 {
		fill: rgba(149,145,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_107 {
		position: absolute;
		overflow: visible;
		width: 23px;
		height: 22px;
		left: 356px;
		top: 64px;
	}
	#n__bs {
		left: 332px;
		top: 66px;
		position: absolute;
		overflow: visible;
		width: 9px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(0,0,0,1);
	}
	#Polygon_4 {
		fill: rgba(255,255,255,1);
	}
	.Polygon_4 {
		overflow: visible;
		position: absolute;
		width: 11px;
		height: 10px;
		transform: matrix(1,0,0,1,362,70) rotate(180deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Rectangle_108 {
		fill: rgba(149,145,255,1);
	}
	.Rectangle_108 {
		position: absolute;
		overflow: visible;
		width: 74px;
		height: 32px;
		left: 396px;
		top: 59px;
	}
	#Klaar_bw {
		left: 413px;
		top: 66px;
		position: absolute;
		overflow: visible;
		width: 39px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 15px;
		color: rgba(255,255,255,1);
	}
	#Zwak_Voldoende_Goed_ {
		left: 162px;
		top: 191px;
		position: absolute;
		overflow: visible;
		width: 86px;
		white-space: nowrap;
		line-height: 33px;
		margin-top: -7.5px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(0,0,0,1);
	}
	#Vergelijken_en_selecteren_Fout {
		left: 47px;
		top: 347px;
		position: absolute;
		overflow: visible;
		width: 200px;
		white-space: nowrap;
		line-height: 33px;
		margin-top: -7.5px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(0,0,0,1);
	}
	#Je_hebt_een_aantal_van {
		left: 523px;
		top: 91px;
		position: absolute;
		overflow: visible;
		width: 145px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(0,0,0,1);
	}
	#Je_hebt_een_aantal_van_b {
		left: 540px;
		top: 319px;
		position: absolute;
		overflow: visible;
		width: 145px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(0,0,0,1);
	}
	#Probeer_bij_het_uitvoeren_van {
		left: 540px;
		top: 452px;
		position: absolute;
		overflow: visible;
		width: 180px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(0,0,0,1);
	}
	#Rectangle_109 {
		fill: rgba(149,145,255,0);
		stroke: rgba(149,145,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_109 {
		position: absolute;
		overflow: visible;
		width: 294px;
		height: 31px;
		left: 149px;
		top: 187px;
	}
	#Rectangle_110 {
		fill: rgba(149,145,255,0);
		stroke: rgba(149,145,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_110 {
		position: absolute;
		overflow: visible;
		width: 270px;
		height: 31px;
		left: 34px;
		top: 376px;
	}
	#Rectangle_111 {
		fill: rgba(149,145,255,1);
	}
	.Rectangle_111 {
		position: absolute;
		overflow: visible;
		width: 23px;
		height: 23px;
		left: 416px;
		top: 191px;
	}
	#Rectangle_112 {
		fill: rgba(149,145,255,1);
	}
	.Rectangle_112 {
		position: absolute;
		overflow: visible;
		width: 23px;
		height: 23px;
		left: 416px;
		top: 223px;
	}
	#Rectangle_114 {
		fill: rgba(149,145,255,1);
	}
	.Rectangle_114 {
		position: absolute;
		overflow: visible;
		width: 23px;
		height: 23px;
		left: 416px;
		top: 255px;
	}
	#Line_4 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_4 {
		overflow: visible;
		position: absolute;
		width: 1px;
		height: 12px;
		transform: matrix(1,0,0,1,427.5,196.5) rotate(45deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Line_6 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_6 {
		overflow: visible;
		position: absolute;
		width: 1px;
		height: 12px;
		transform: matrix(1,0,0,1,427.5,228.5) rotate(45deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Line_8 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_8 {
		overflow: visible;
		position: absolute;
		width: 1px;
		height: 12px;
		transform: matrix(1,0,0,1,427.5,260.5) rotate(45deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Line_5 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_5 {
		overflow: visible;
		position: absolute;
		width: 12px;
		height: 1px;
		transform: matrix(1,0,0,1,421.5,202.5) rotate(45deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Line_7 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_7 {
		overflow: visible;
		position: absolute;
		width: 12px;
		height: 1px;
		transform: matrix(1,0,0,1,421.5,234.5) rotate(45deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Line_9 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_9 {
		overflow: visible;
		position: absolute;
		width: 12px;
		height: 1px;
		transform: matrix(1,0,0,1,421.5,266.5) rotate(45deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Polygon_5 {
		fill: rgba(149,145,255,1);
		stroke: rgba(255,255,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Polygon_5 {
		overflow: visible;
		position: absolute;
		width: 36px;
		height: 23px;
		transform: matrix(1,0,0,1,812,231) rotate(180deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Path_1 {
		fill: transparent;
		stroke: rgba(183,235,131,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_1 {
		overflow: visible;
		position: absolute;
		width: 17.955px;
		height: 16.395px;
		left: 277.828px;
		top: 350.058px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_2 {
		fill: transparent;
		stroke: rgba(183,235,131,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_2 {
		overflow: visible;
		position: absolute;
		width: 17.955px;
		height: 16.395px;
		left: 277.828px;
		top: 384.058px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_3 {
		opacity: 0.1;
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_3 {
		overflow: visible;
		position: absolute;
		width: 17.955px;
		height: 16.395px;
		left: 277.828px;
		top: 418.058px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_4 {
		opacity: 0.1;
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_4 {
		overflow: visible;
		position: absolute;
		width: 17.955px;
		height: 16.395px;
		left: 277.828px;
		top: 446.962px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Rectangle_116 {
		fill: rgba(149,145,255,1);
	}
	.Rectangle_116 {
		width: 74px;
		height: 41px;
		position: absolute;
		overflow: visible;
		transform: matrix(1,0,0,1,12.5,-7.5) rotate(-90deg);
		transform-origin: center;
	}
	#Group_9 {
		position: absolute;
		width: 27.349px;
		height: 31.796px;
		left: 35.42px;
		top: 13px;
		overflow: visible;
	}
	#Path_39 {
		fill: rgba(255,255,255,1);
	}
	.Path_39 {
		overflow: visible;
		position: absolute;
		width: 12.482px;
		height: 14.403px;
		left: 7.185px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_40 {
		fill: rgba(255,255,255,1);
	}
	.Path_40 {
		overflow: visible;
		position: absolute;
		width: 13.015px;
		height: 17.898px;
		left: 14.334px;
		top: 13.898px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_41 {
		fill: rgba(255,255,255,1);
	}
	.Path_41 {
		overflow: visible;
		position: absolute;
		width: 13.016px;
		height: 17.888px;
		left: 0px;
		top: 13.895px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_42 {
		fill: rgba(255,255,255,1);
	}
	.Path_42 {
		overflow: visible;
		position: absolute;
		width: 6.728px;
		height: 0.994px;
		left: 10.062px;
		top: 5.791px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_43 {
		fill: rgba(255,255,255,1);
	}
	.Path_43 {
		overflow: visible;
		position: absolute;
		width: 6.728px;
		height: 0.994px;
		left: 10.062px;
		top: 3.637px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_44 {
		fill: rgba(255,255,255,1);
	}
	.Path_44 {
		overflow: visible;
		position: absolute;
		width: 6.728px;
		height: 0.994px;
		left: 10.062px;
		top: 7.945px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_10 {
		position: absolute;
		width: 29px;
		height: 33px;
		left: 1141px;
		top: 599px;
		overflow: visible;
	}
	#Rectangle_18 {
		fill: rgba(40,116,193,1);
	}
	.Rectangle_18 {
		position: absolute;
		overflow: visible;
		width: 29px;
		height: 33px;
		left: 0px;
		top: 0px;
	}
	#Text {
		left: 9px;
		top: 4px;
		position: absolute;
		overflow: visible;
		width: 13px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		color: rgba(255,255,255,1);
	}
	#Group_11 {
		position: absolute;
		width: 29px;
		height: 33px;
		left: 1141px;
		top: 599px;
		overflow: visible;
	}
	#Rectangle_18_cu {
		fill: rgba(40,116,193,1);
	}
	.Rectangle_18_cu {
		position: absolute;
		overflow: visible;
		width: 29px;
		height: 33px;
		left: 0px;
		top: 0px;
	}
	#Text_cv {
		left: 9px;
		top: 4px;
		position: absolute;
		overflow: visible;
		width: 13px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		color: rgba(255,255,255,1);
	}

</style>

<window>
	<custom-attributes role="cde"/>

	<vbox sclass="VboxOuter">
		<include src="i_logged_in_as.zul"/>
		<hbox>
			<include src="i_bread_login.zul"/>
			<include src="i_bread_account_roles.zul"/>
			<include src="i_bread_cde_cases.zul"/>
		</hbox>

		<n:div id="Custom_Size__1">
		
			<div zclass="ReturnMain" use="nl.surf.emergo.control.cde.GamebricsAuthor.CCdeGARedirectBtn">
				<custom-attributes redirectFile="${GA_StartPage}"/>
				<html><![CDATA[
				<div id="Group_12_s">
					<svg class="ga-btn-main-menu">
						<rect class="ga-btn-main" rx="12" ry="12" x="0" y="0" width="83" height="33">
						</rect>
					</svg>
				</div>
				<svg class="Line_18" viewBox="0 0 14.437 2.5">
					<path id="Line_18" d="M 0 0 L 14.4365234375 0">
					</path>
				</svg>
				<svg class="Line_19" viewBox="0 0 14.437 2.5">
					<path id="Line_19" d="M 0 0 L 14.4365234375 0">
					</path>
				</svg>
				<svg class="Line_20" viewBox="0 0 14.437 2.5">
					<path id="Line_20" d="M 0 0 L 14.4365234375 0">
					</path>
				</svg>
				
				<div class="GA_Menu_Btn">
					<span>Menu</span>
				</div>
				]]></html>
			</div>
		
			<div zclass="ReturnBack" use="nl.surf.emergo.control.cde.GamebricsAuthor.CCdeGARedirectBtn">
				<custom-attributes redirectFile="${GA_RedirectBack}"/>
				<html><![CDATA[
	   			<svg class="ga-btn-main-back">
					<rect class="ga-btn-main" rx="10" ry="10" x="0" y="0" width="74" height="32">
					</rect>
				</svg>
				<div id="Terug">
					<span>Terug</span>
				</div>
				]]></html>
			</div>
		
			<html><![CDATA[

			<svg class="Rectangle_115">
				<rect id="Rectangle_115" rx="13" ry="13" x="0" y="0" width="660" height="325">
				</rect>
			</svg>
			<div id="Invoer_reflectiefeedback_Naam_">
				<span>Invoer reflectiefeedback (Naam Game)</span>
			</div>
			<svg class="Rectangle_82">
				<rect id="Rectangle_82" rx="0" ry="0" x="0" y="0" width="308" height="100">
				</rect>
			</svg>
			<svg class="Rectangle_89">
				<rect id="Rectangle_89" rx="0" ry="0" x="0" y="0" width="649" height="137">
				</rect>
			</svg>
			<svg class="Rectangle_92">
				<rect id="Rectangle_92" rx="0" ry="0" x="0" y="0" width="611" height="96">
				</rect>
			</svg>
			<svg class="Rectangle_95">
				<rect id="Rectangle_95" rx="0" ry="0" x="0" y="0" width="611" height="95">
				</rect>
			</svg>
			<svg class="Rectangle_85">
				<rect id="Rectangle_85" rx="0" ry="0" x="0" y="0" width="284" height="237">
				</rect>
			</svg>
			<svg class="Rectangle_83">
				<rect id="Rectangle_83" rx="0" ry="0" x="0" y="0" width="14" height="100">
				</rect>
			</svg>
			<svg class="Rectangle_88">
				<rect id="Rectangle_88" rx="0" ry="0" x="0" y="0" width="14" height="137">
				</rect>
			</svg>
			<svg class="Rectangle_91">
				<rect id="Rectangle_91" rx="0" ry="0" x="0" y="0" width="14" height="96">
				</rect>
			</svg>
			<svg class="Rectangle_94">
				<rect id="Rectangle_94" rx="0" ry="0" x="0" y="0" width="14" height="95">
				</rect>
			</svg>
			<svg class="Rectangle_84">
				<rect id="Rectangle_84" rx="4" ry="4" x="0" y="0" width="8" height="48">
				</rect>
			</svg>
			<svg class="Rectangle_90">
				<rect id="Rectangle_90" rx="4" ry="4" x="0" y="0" width="8" height="83">
				</rect>
			</svg>
			<svg class="Rectangle_93">
				<rect id="Rectangle_93" rx="4" ry="4" x="0" y="0" width="8" height="50">
				</rect>
			</svg>
			<svg class="Rectangle_96">
				<rect id="Rectangle_96" rx="4" ry="4" x="0" y="0" width="8" height="48">
				</rect>
			</svg>
			<div id="AANTAL_STAMTEKST-SCOREDELEN">
				<span>AANTAL STAMTEKST-SCOREDELEN</span>
			</div>
			<div id="STAMTEKSTDEELLABEL_BIJ_SCOREDE">
				<span>STAMTEKSTDEELLABEL BIJ SCOREDEEL</span>
			</div>
			<div id="INHOUD_STAMTEKSTDEEL">
				<span>INHOUD STAMTEKSTDEEL</span>
			</div>
			<div id="SCOREDEEL">
				<span>SCOREDEEL</span>
			</div>
			<div id="RUBRIEKONDERDELEN">
				<span>RUBRIEKONDERDELEN</span>
			</div>
			<div id="BEHEERSINGS_NIVEAU">
				<span>BEHEERSINGS<br/>NIVEAU</span>
			</div>
			<div id="n__STAMDEEL">
				<span>1. STAMDEEL</span>
			</div>
			<div id="REFLECTIEFEEDBACK">
				<span>REFLECTIEFEEDBACK</span>
			</div>
			<div id="n__REMEDIREND_DEEL">
				<span>2. REMEDIËREND DEEL</span>
			</div>
			<svg class="Rectangle_97">
				<rect id="Rectangle_97" rx="10" ry="10" x="0" y="0" width="74" height="32">
				</rect>
			</svg>
			<svg class="Rectangle_98">
				<rect id="Rectangle_98" rx="10" ry="10" x="0" y="0" width="74" height="32">
				</rect>
			</svg>
			<div id="Klaar">
				<span>Klaar</span>
			</div>
			<div id="Klaar_bc">
				<span>Klaar</span>
			</div>
			<svg class="Rectangle_99">
				<rect id="Rectangle_99" rx="0" ry="0" x="0" y="0" width="14" height="237">
				</rect>
			</svg>
			<svg class="Rectangle_100">
				<rect id="Rectangle_100" rx="4" ry="4" x="0" y="0" width="8" height="83">
				</rect>
			</svg>
			<svg class="Rectangle_101">
				<rect id="Rectangle_101" rx="0" ry="0" x="0" y="0" width="43" height="22">
				</rect>
			</svg>
			<svg class="Rectangle_102">
				<rect id="Rectangle_102" rx="0" ry="0" x="0" y="0" width="23" height="22">
				</rect>
			</svg>
			<div id="n_">
				<span>2</span>
			</div>
			<svg class="Polygon_2" viewBox="0 0 11 10">
				<path id="Polygon_2" d="M 5.499999523162842 0 L 11 10 L 0 10 Z">
				</path>
			</svg>
			<svg class="Rectangle_103">
				<rect id="Rectangle_103" rx="0" ry="0" x="0" y="0" width="81" height="22">
				</rect>
			</svg>
			<svg class="Rectangle_104">
				<rect id="Rectangle_104" rx="0" ry="0" x="0" y="0" width="23" height="22">
				</rect>
			</svg>
			<div id="n__-_20">
				<span>0 - 20%</span>
			</div>
			<svg class="Polygon_3" viewBox="0 0 11 10">
				<path id="Polygon_3" d="M 5.499999523162842 0 L 11 10 L 0 10 Z">
				</path>
			</svg>
			<svg class="Rectangle_105">
				<rect id="Rectangle_105" rx="10" ry="10" x="0" y="0" width="23" height="23">
				</rect>
			</svg>
			<svg class="Line_2" viewBox="0 0 2 12">
				<path id="Line_2" d="M 0 0 L 0 12">
				</path>
			</svg>
			<svg class="Line_3" viewBox="0 0 12 2">
				<path id="Line_3" d="M 12 0 L 0 0">
				</path>
			</svg>
			<svg class="Rectangle_106">
				<rect id="Rectangle_106" rx="0" ry="0" x="0" y="0" width="43" height="22">
				</rect>
			</svg>
			<svg class="Rectangle_107">
				<rect id="Rectangle_107" rx="0" ry="0" x="0" y="0" width="23" height="22">
				</rect>
			</svg>
			<div id="n__bs">
				<span>5</span>
			</div>
			<svg class="Polygon_4" viewBox="0 0 11 10">
				<path id="Polygon_4" d="M 5.499999523162842 0 L 11 10 L 0 10 Z">
				</path>
			</svg>
			<svg class="Rectangle_108">
				<rect id="Rectangle_108" rx="10" ry="10" x="0" y="0" width="74" height="32">
				</rect>
			</svg>
			<div id="Klaar_bw">
				<span>Klaar</span>
			</div>
			<div id="Zwak_Voldoende_Goed_">
				<span>Zwak<br/>Voldoende<br/>Goed</span><br/>
			</div>
			<div id="Vergelijken_en_selecteren_Fout">
				<span>Vergelijken en selecteren<br/>Fouten vaststellen<br/>Induceren<br/>Deduceren</span>
			</div>
			<div id="Je_hebt_een_aantal_van">
				<span>Je hebt een aantal van…</span>
			</div>
			<div id="Je_hebt_een_aantal_van_b">
				<span>Je hebt een aantal van…</span>
			</div>
			<div id="Probeer_bij_het_uitvoeren_van">
				<span>Probeer bij het uitvoeren van…</span>
			</div>
			<svg class="Rectangle_109">
				<rect id="Rectangle_109" rx="12" ry="12" x="0" y="0" width="294" height="31">
				</rect>
			</svg>
			<svg class="Rectangle_110">
				<rect id="Rectangle_110" rx="12" ry="12" x="0" y="0" width="270" height="31">
				</rect>
			</svg>
			<svg class="Rectangle_111">
				<rect id="Rectangle_111" rx="10" ry="10" x="0" y="0" width="23" height="23">
				</rect>
			</svg>
			<svg class="Rectangle_112">
				<rect id="Rectangle_112" rx="10" ry="10" x="0" y="0" width="23" height="23">
				</rect>
			</svg>
			<svg class="Rectangle_114">
				<rect id="Rectangle_114" rx="10" ry="10" x="0" y="0" width="23" height="23">
				</rect>
			</svg>
			<svg class="Line_4" viewBox="0 0 2 12">
				<path id="Line_4" d="M 0 0 L 0 12">
				</path>
			</svg>
			<svg class="Line_6" viewBox="0 0 2 12">
				<path id="Line_6" d="M 0 0 L 0 12">
				</path>
			</svg>
			<svg class="Line_8" viewBox="0 0 2 12">
				<path id="Line_8" d="M 0 0 L 0 12">
				</path>
			</svg>
			<svg class="Line_5" viewBox="0 0 12 2">
				<path id="Line_5" d="M 12 0 L 0 0">
				</path>
			</svg>
			<svg class="Line_7" viewBox="0 0 12 2">
				<path id="Line_7" d="M 12 0 L 0 0">
				</path>
			</svg>
			<svg class="Line_9" viewBox="0 0 12 2">
				<path id="Line_9" d="M 12 0 L 0 0">
				</path>
			</svg>
			<svg class="Polygon_5" viewBox="0 0 36 23">
				<path id="Polygon_5" d="M 18 0 L 36 23.00000381469727 L 0 23.00000381469727 Z">
				</path>
			</svg>
			<svg class="Path_1" viewBox="-63.172 457.058 15.609 13.076">
				<path id="Path_1" d="M -63.17241287231445 463.4066162109375 L -57.60675430297852 470.13330078125 L -47.5631103515625 457.0575561523438">
				</path>
			</svg>
			<svg class="Path_2" viewBox="-63.172 457.058 15.609 13.076">
				<path id="Path_2" d="M -63.17241287231445 463.4066162109375 L -57.60675430297852 470.13330078125 L -47.5631103515625 457.0575561523438">
				</path>
			</svg>
			<svg class="Path_3" viewBox="-63.172 457.058 15.609 13.076">
				<path id="Path_3" d="M -63.17241287231445 463.4066162109375 L -57.60675430297852 470.13330078125 L -47.5631103515625 457.0575561523438">
				</path>
			</svg>
			<svg class="Path_4" viewBox="-63.172 457.058 15.609 13.076">
				<path id="Path_4" d="M -63.17241287231445 463.4066162109375 L -57.60675430297852 470.13330078125 L -47.5631103515625 457.0575561523438">
				</path>
			</svg>
			<svg class="Rectangle_116">
				<rect id="Rectangle_116" rx="10" ry="10" x="0" y="0" width="74" height="41">
				</rect>
			</svg>
			<div id="Group_9">
				<svg class="Path_39" viewBox="170.738 508 12.482 14.403">
					<path id="Path_39" d="M 178.8516845703125 520.1718139648438 C 181.4093475341797 519.3772583007812 183.1192169189453 517.1280517578125 183.2168273925781 514.445068359375 C 183.312255859375 511.8196105957031 181.7284240722656 509.3890075683594 179.2701110839844 508.4458618164062 C 178.7355651855469 508.2407836914062 178.15869140625 508.1456909179688 177.6012878417969 508 L 176.3574371337891 508 C 176.1059417724609 508.0511474609375 175.85302734375 508.0960693359375 175.6031799316406 508.1544799804688 C 172.8119964599609 508.8072204589844 170.848388671875 511.1744995117188 170.7429962158203 514.0107421875 C 170.6371002197266 516.8615112304688 172.3993682861328 519.3244018554688 175.1616973876953 520.2039794921875 C 175.3015899658203 520.24853515625 175.4464569091797 520.3670043945312 175.5272216796875 520.4910888671875 C 175.8595733642578 521.002197265625 176.1648864746094 521.5307006835938 176.4863891601562 522.0489501953125 C 176.7796783447266 522.5215454101562 177.1802825927734 522.5213012695312 177.4725799560547 522.0494384765625 C 177.7828979492188 521.548583984375 178.0943298339844 521.0480346679688 178.3897094726562 520.5385131835938 C 178.5004119873047 520.3475952148438 178.6381378173828 520.2381591796875 178.8516845703125 520.1718139648438 Z M 177.7046966552734 519.7513427734375 C 177.48974609375 520.1390380859375 177.2456207275391 520.5107421875 176.9805145263672 520.9436645507812 C 176.7160034179688 520.5133056640625 176.4679718017578 520.1349487304688 176.2473297119141 519.741455078125 C 176.1100006103516 519.49658203125 175.9227752685547 519.3665771484375 175.6527557373047 519.2968139648438 C 173.5526580810547 518.7538452148438 171.9886627197266 516.9691772460938 171.7619476318359 514.8724975585938 C 171.5206451416016 512.6420288085938 172.6242523193359 510.5338745117188 174.6109313964844 509.5663146972656 C 176.5389556884766 508.6273803710938 178.4315032958984 508.7774658203125 180.1400451660156 510.0693969726562 C 181.8610992431641 511.370849609375 182.5365142822266 513.172119140625 182.1130218505859 515.2782592773438 C 181.6942596435547 517.3606567382812 180.3744506835938 518.6991577148438 178.3237915039062 519.2914428710938 C 178.0458374023438 519.3717041015625 177.8466491699219 519.4952392578125 177.7046966552734 519.7513427734375 Z">
					</path>
				</svg>
				<svg class="Path_40" viewBox="256.953 675.599 13.015 17.898">
					<path id="Path_40" d="M 269.9676513671875 685.5411376953125 C 269.9790954589844 684.5884399414062 269.4153137207031 684.0096435546875 268.5922241210938 683.645263671875 C 269.47509765625 681.9962768554688 268.2470092773438 680.4610595703125 266.6020202636719 680.5624389648438 C 265.8174743652344 680.61083984375 265.0275573730469 680.5707397460938 264.2400207519531 680.5707397460938 L 263.9255676269531 680.5707397460938 C 263.9255676269531 679.98876953125 263.9293212890625 679.4514770507812 263.9245910644531 678.9141845703125 C 263.9199523925781 678.3872680664062 263.9470825195312 677.8558349609375 263.887939453125 677.3346557617188 C 263.7941589355469 676.5064086914062 263.3056640625 675.9478149414062 262.5155639648438 675.7007446289062 C 261.7078247070312 675.4483642578125 260.999755859375 675.6718139648438 260.4311218261719 676.2935180664062 C 260.0724182128906 676.6858520507812 259.9389038085938 677.1643676757812 259.9434509277344 677.6929321289062 C 259.9516906738281 678.6431884765625 259.94580078125 679.5936889648438 259.94580078125 680.5650024414062 C 259.8277282714844 680.5878295898438 259.7283020019531 680.6094360351562 259.6281127929688 680.6259155273438 C 258.1527404785156 680.8701782226562 256.9963073730469 682.1396484375 256.9765625 683.6353759765625 C 256.9465637207031 685.899658203125 256.9437255859375 688.1650390625 256.9782409667969 690.4293212890625 C 257.0028686523438 692.0388793945312 258.36572265625 693.4223022460938 259.9810180664062 693.4637451171875 C 261.8346252441406 693.5112915039062 263.6907653808594 693.5042724609375 265.5447387695312 693.468017578125 C 266.8569946289062 693.4423217773438 267.75537109375 692.1944580078125 267.4129943847656 690.9612426757812 C 267.3674621582031 690.7973022460938 267.297119140625 690.6401977539062 267.2345275878906 690.4696655273438 C 267.9125061035156 690.2951049804688 268.4323425292969 689.9447021484375 268.7204284667969 689.3191528320312 C 269.0142517089844 688.6812744140625 268.9248046875 688.0530395507812 268.59619140625 687.44091796875 C 269.4628295898438 687.0850219726562 269.95654296875 686.4674072265625 269.9676513671875 685.5411376953125 Z M 260.94384765625 677.6080322265625 C 260.9517211914062 677.031982421875 261.3624572753906 676.6121826171875 261.9051818847656 676.5991821289062 C 262.4338989257812 676.58642578125 262.8995056152344 676.9740600585938 262.9156799316406 677.5259399414062 C 262.9450378417969 678.5248413085938 262.9239501953125 679.525390625 262.9239501953125 680.5554809570312 L 260.9403686523438 680.5554809570312 C 260.9403686523438 680.3069458007812 260.9403076171875 680.0726318359375 260.9403686523438 679.8381958007812 C 260.9407043457031 679.0947875976562 260.9336242675781 678.3513793945312 260.94384765625 677.6080322265625 Z M 268.9090881347656 685.9064331054688 C 268.7482299804688 686.3051147460938 268.3895568847656 686.5284423828125 267.8926086425781 686.5289306640625 C 266.2136840820312 686.5305786132812 264.5347290039062 686.529541015625 262.855712890625 686.529541015625 C 262.7832336425781 686.529541015625 262.710693359375 686.529541015625 262.6381225585938 686.529541015625 C 262.1385192871094 686.530029296875 261.8934936523438 686.697509765625 261.9000244140625 687.0341186523438 C 261.9063415527344 687.3602294921875 262.1458129882812 687.5222778320312 262.6236877441406 687.5223388671875 C 264.033203125 687.5226440429688 265.4427490234375 687.5185546875 266.8522033691406 687.524169921875 C 267.5824890136719 687.5270385742188 268.0679931640625 688.1661987304688 267.851318359375 688.8220825195312 C 267.7156372070312 689.2329711914062 267.2973022460938 689.505859375 266.7720642089844 689.5074462890625 C 265.4351196289062 689.5115356445312 264.09814453125 689.5089111328125 262.7611999511719 689.5089111328125 C 262.6783447265625 689.5089111328125 262.5953369140625 689.5075073242188 262.5124816894531 689.5093383789062 C 262.1461486816406 689.5173950195312 261.9346008300781 689.7054443359375 261.9408264160156 690.0162963867188 C 261.9468994140625 690.3146362304688 262.1523742675781 690.4979248046875 262.5038146972656 690.5004272460938 C 263.1463317871094 690.5050659179688 263.7889404296875 690.5018310546875 264.4315185546875 690.5018310546875 C 264.7630920410156 690.5018310546875 265.0947875976562 690.4993896484375 265.4263916015625 690.5023803710938 C 266.0415344238281 690.5081176757812 266.4835205078125 690.9142456054688 266.4920349121094 691.4779663085938 C 266.5001831054688 692.0152587890625 266.0675659179688 692.4525146484375 265.4761352539062 692.48193359375 C 265.1245422363281 692.49951171875 264.7715759277344 692.4880981445312 264.4192199707031 692.4881591796875 C 263.0511779785156 692.4885864257812 261.68310546875 692.4901123046875 260.3151245117188 692.4878540039062 C 258.9005432128906 692.4854125976562 257.9633483886719 691.551513671875 257.956298828125 690.1338500976562 C 257.9511108398438 689.0994262695312 257.9552307128906 688.0650634765625 257.9552307128906 687.0307006835938 C 257.9552307128906 685.996337890625 257.951904296875 684.9619140625 257.9560852050781 683.9276123046875 C 257.9618835449219 682.4912109375 258.8945007324219 681.5650634765625 260.3341979980469 681.5640869140625 C 262.4692077636719 681.5625610351562 264.6041564941406 681.5626220703125 266.7391662597656 681.5645141601562 C 267.2931823730469 681.5650634765625 267.7117614746094 681.8264770507812 267.850830078125 682.24658203125 C 268.0681457519531 682.9029541015625 267.5842895507812 683.5451049804688 266.8556518554688 683.5482177734375 C 265.4150390625 683.5543823242188 263.9744262695312 683.5517578125 262.5338745117188 683.548828125 C 262.2436828613281 683.5482177734375 262.0188598632812 683.6376953125 261.9515991210938 683.9440307617188 C 261.8759765625 684.28857421875 262.1124877929688 684.5398559570312 262.5134887695312 684.5416259765625 C 263.4254760742188 684.5458374023438 264.3375549316406 684.5429077148438 265.2495422363281 684.5430908203125 C 266.1304931640625 684.5431518554688 267.0115356445312 684.5340576171875 267.8922729492188 684.5465698242188 C 268.683349609375 684.5578002929688 269.18017578125 685.2344360351562 268.9090881347656 685.9064331054688 Z">
					</path>
				</svg>
				<svg class="Path_41" viewBox="84.09 675.56 13.016 17.888">
					<path id="Path_41" d="M 94.02175903320312 675.5816040039062 C 92.19862365722656 675.548828125 90.37440490722656 675.5594482421875 88.55084991455078 675.5772705078125 C 87.56059265136719 675.5869140625 86.69678497314453 676.3318481445312 86.60257720947266 677.2861328125 C 86.56086730957031 677.7090454101562 86.68798828125 678.1484985351562 86.73965454101562 678.5906982421875 C 85.57732391357422 678.8919677734375 84.69493865966797 680.0599365234375 85.44580841064453 681.6170043945312 C 84.60240173339844 681.9625244140625 84.10304260253906 682.5763549804688 84.09059906005859 683.5022583007812 C 84.07775115966797 684.4564208984375 84.63764190673828 685.0385131835938 85.47582244873047 685.4089965820312 C 85.1807861328125 685.9246215820312 85.08302307128906 686.4518432617188 85.23046112060547 687.0098266601562 C 85.45675659179688 687.8656005859375 86.25770568847656 688.4677734375 87.20011901855469 688.4772338867188 C 88.16219329833984 688.4868774414062 89.12434387207031 688.4793701171875 90.13325500488281 688.4793701171875 C 90.13325500488281 689.428955078125 90.12870788574219 690.3377075195312 90.13632965087891 691.2462768554688 C 90.13832092285156 691.4825439453125 90.14959716796875 691.7255859375 90.20590209960938 691.9533081054688 C 90.44033050537109 692.9013061523438 91.37104797363281 693.5420532226562 92.33303833007812 693.4371337890625 C 93.31392669677734 693.3301391601562 94.07614898681641 692.5366821289062 94.103271484375 691.5501098632812 C 94.12715911865234 690.6820678710938 94.11148071289062 689.8128662109375 94.11313629150391 688.9442138671875 C 94.11338806152344 688.7931518554688 94.11313629150391 688.6421508789062 94.11313629150391 688.48876953125 C 94.23320770263672 688.4634399414062 94.31298828125 688.4434204101562 94.39383697509766 688.4298095703125 C 95.92193603515625 688.1730346679688 97.06244659423828 686.9260864257812 97.08301544189453 685.39013671875 C 97.11320495605469 683.1361694335938 97.11668395996094 680.881103515625 97.08078002929688 678.627197265625 C 97.05466461181641 676.9878540039062 95.66213989257812 675.611083984375 94.02175903320312 675.5816040039062 Z M 93.11715698242188 691.3648681640625 C 93.11375427246094 692.0049438476562 92.71091461181641 692.4464111328125 92.13800048828125 692.4522705078125 C 91.56600189208984 692.4581298828125 91.13621520996094 692.0137939453125 91.13032531738281 691.38623046875 C 91.12203979492188 690.4880981445312 91.12792205810547 689.58984375 91.12892150878906 688.691650390625 C 91.12899780273438 688.6318359375 91.13903045654297 688.5722045898438 91.14583587646484 688.4971923828125 L 93.09327697753906 688.4971923828125 C 93.10173034667969 688.5761108398438 93.1170654296875 688.6541137695312 93.11724090576172 688.7321166992188 C 93.11897277832031 689.6097412109375 93.12180328369141 690.4873046875 93.11715698242188 691.3648681640625 Z M 96.10304260253906 682.0348510742188 C 96.10304260253906 683.0589599609375 96.10594177246094 684.0830078125 96.10237121582031 685.1069946289062 C 96.09732055664062 686.5634155273438 95.16808319091797 687.486328125 93.70822906494141 687.4871215820312 C 91.58366394042969 687.48828125 89.45901489257812 687.486083984375 87.33437347412109 687.48828125 C 86.86412048339844 687.48876953125 86.473388671875 687.3414306640625 86.25471496582031 686.9014282226562 C 85.92999267578125 686.2482299804688 86.42105865478516 685.5078125 87.1865234375 685.5033569335938 C 88.59596252441406 685.4953002929688 90.00556182861328 685.5011596679688 91.41499328613281 685.5004272460938 C 91.51848602294922 685.5003662109375 91.62628173828125 685.5114135742188 91.72446441650391 685.4868774414062 C 91.972412109375 685.4249267578125 92.1190185546875 685.2656860351562 92.11660766601562 684.99951171875 C 92.11428833007812 684.7330932617188 91.96403503417969 684.5774536132812 91.71534729003906 684.5194091796875 C 91.61659240722656 684.4964599609375 91.50911712646484 684.5084228515625 91.40554809570312 684.5084228515625 C 89.71624755859375 684.5078735351562 88.02694702148438 684.5095825195312 86.33755493164062 684.5055541992188 C 86.16350555419922 684.5050659179688 85.98248291015625 684.4945678710938 85.81671905517578 684.447021484375 C 85.30716705322266 684.3009033203125 85.01319885253906 683.8524169921875 85.08692169189453 683.3681640625 C 85.16080474853516 682.882568359375 85.56969451904297 682.5277099609375 86.08779144287109 682.5238647460938 C 87.04124450683594 682.5167236328125 87.99476623535156 682.5215454101562 88.94821929931641 682.5214233398438 C 89.78772735595703 682.5214233398438 90.62723541259766 682.5218505859375 91.46665954589844 682.5213012695312 C 91.91436004638672 682.5209350585938 92.15301513671875 682.351318359375 92.1585693359375 682.031982421875 C 92.16429138183594 681.7098999023438 91.9224853515625 681.529052734375 91.48117065429688 681.52880859375 C 90.08210754394531 681.5281982421875 88.68294525146484 681.529541015625 87.28379058837891 681.5281372070312 C 86.61775207519531 681.5275268554688 86.16607666015625 681.1334838867188 86.15570831298828 680.5494995117188 C 86.14575958251953 679.9873046875 86.622314453125 679.5471801757812 87.27060699462891 679.5442504882812 C 88.68004608154297 679.5379638671875 90.08964538574219 679.5503540039062 91.49891662597656 679.5319213867188 C 91.68109893798828 679.5296020507812 91.90805816650391 679.431884765625 92.02696990966797 679.2998657226562 C 92.11354064941406 679.2039184570312 92.12249755859375 678.9334106445312 92.04637908935547 678.82275390625 C 91.95275115966797 678.6869506835938 91.736328125 678.5651245117188 91.56998443603516 678.5611572265625 C 90.57557678222656 678.5372314453125 89.58033752441406 678.5569458007812 88.58542633056641 678.5463256835938 C 87.79517364501953 678.5379638671875 87.31207275390625 677.7385864257812 87.69458770751953 677.0848999023438 C 87.89385223388672 676.7442626953125 88.21311187744141 676.5711059570312 88.59720611572266 676.5692749023438 C 90.40043640136719 676.5607299804688 92.20409393310547 676.544677734375 94.00691223144531 676.5748901367188 C 95.12206268310547 676.5934448242188 96.05924987792969 677.5403442382812 96.08918762207031 678.6527709960938 C 96.11946105957031 679.7794799804688 96.0958251953125 680.907470703125 96.0958251953125 682.0348510742188 L 96.10304260253906 682.0348510742188 Z">
					</path>
				</svg>
				<svg class="Path_42" viewBox="205.431 577.833 6.728 0.994">
					<path id="Path_42" d="M 211.5278015136719 577.8343505859375 C 209.705078125 577.8331909179688 207.8823547363281 577.8331909179688 206.0595397949219 577.8343505859375 C 205.6516418457031 577.8345947265625 205.439453125 578.000244140625 205.4314880371094 578.3157958984375 C 205.4231872558594 578.6458740234375 205.6420288085938 578.825439453125 206.0622863769531 578.8262329101562 C 206.9736938476562 578.827880859375 207.885009765625 578.8267211914062 208.79638671875 578.8267211914062 C 209.7078247070312 578.8267211914062 210.619140625 578.827880859375 211.530517578125 578.8262329101562 C 211.9375305175781 578.825439453125 212.1506958007812 578.6592407226562 212.1588439941406 578.3441772460938 C 212.1672973632812 578.0144653320312 211.9483032226562 577.8345947265625 211.5278015136719 577.8343505859375 Z">
					</path>
				</svg>
				<svg class="Path_43" viewBox="205.431 551.857 6.728 0.994">
					<path id="Path_43" d="M 211.5278015136719 551.8580932617188 C 209.705078125 551.8569946289062 207.8823547363281 551.8569946289062 206.0595397949219 551.8580932617188 C 205.6516418457031 551.8582763671875 205.439453125 552.0239868164062 205.4314880371094 552.339599609375 C 205.4231872558594 552.6695556640625 205.6420288085938 552.8492431640625 206.0622863769531 552.8500366210938 C 206.9736938476562 552.8515625 207.885009765625 552.8504638671875 208.79638671875 552.8504638671875 C 209.7078247070312 552.8504638671875 210.619140625 552.8515625 211.530517578125 552.8499145507812 C 211.9375305175781 552.8492431640625 212.1506958007812 552.6829833984375 212.1588439941406 552.3678588867188 C 212.1672973632812 552.0382080078125 211.9483032226562 551.8582763671875 211.5278015136719 551.8580932617188 Z">
					</path>
				</svg>
				<svg class="Path_44" viewBox="205.431 603.81 6.728 0.994">
					<path id="Path_44" d="M 211.5276336669922 603.8112182617188 C 209.704833984375 603.8101196289062 207.8820953369141 603.8101196289062 206.0592956542969 603.811279296875 C 205.6516418457031 603.8115234375 205.4393615722656 603.9775390625 205.4316558837891 604.2930908203125 C 205.4235992431641 604.623046875 205.6422729492188 604.8023681640625 206.0628509521484 604.8031005859375 C 206.9741821289062 604.8046875 207.8855895996094 604.8036499023438 208.7969818115234 604.8036499023438 C 209.7083129882812 604.8036499023438 210.6197204589844 604.8046875 211.5311126708984 604.8031005859375 C 211.9377593994141 604.8023681640625 212.151123046875 604.6357421875 212.1589965820312 604.320556640625 C 212.1672210693359 603.990966796875 211.9483795166016 603.8114013671875 211.5276336669922 603.8112182617188 Z">
					</path>
				</svg>
			</div>
			<div id="Group_10">
				<svg class="Rectangle_18">
					<rect id="Rectangle_18" rx="12" ry="12" x="0" y="0" width="29" height="33">
					</rect>
				</svg>
				<div id="Text">
					<span>?</span>
				</div>
			</div>
			<div id="Group_11">
				<svg class="Rectangle_18_cu">
					<rect id="Rectangle_18_cu" rx="12" ry="12" x="0" y="0" width="29" height="33">
					</rect>
				</svg>
				<div id="Text_cv">
					<span>?</span>
				</div>
			</div>
			]]></html>

		</n:div>

	</vbox>
</window>

</zk>
