<?xml version="1.0" encoding="UTF-8"?>
<zk xmlns:h="http://www.w3.org/1999/xhtml">

<h:div id="gamebricsAuthorPromptRichtextPopupDiv" style="position:absolute;left:0px;top:0px;width:1200px;height:734px;visibility:hidden;">
	<h:div class="ga-modal" style="width: 400px;">
		<h:div id="gamebricsAuthorPromptRichtextPopupTextDiv" class="ga-modal-content"/>
		<h:div style="padding-left:1rem;">
			<ckeditor id="gamebricsAuthorPromptRichtextPopupTextInput" customConfigurationsPath="${vView.getLabel('cde_gamebricsauthor.ckeditor.custom.config.file')}" width="376px" height="300px"/>
		</h:div>
		<h:div class="ga-btn-holder indent-1">
			<h:button id="gamebricsAuthorPromptRichtextPopupCancelButton" class="ga-btn btn-secondary small"/>
			<h:button id="gamebricsAuthorPromptRichtextPopupOkButton" class="ga-btn small"/>
		</h:div>
	</h:div>
	<h:div class="ga-overlay"/>
</h:div>

</zk>