<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd">

<window use="nl.surf.emergo.control.crm.CCrmRunWnd" border="normal">
	<custom-attributes role="crm"/>
	<custom-attributes width="windowWidth"/>

  <vbox sclass="VboxOuter">
    <grid>
    <columns>
      <column use="nl.surf.emergo.control.CInputColumn1"/>
      <column use="nl.surf.emergo.control.CInputColumn2"/>
    </columns>
    <rows id="form">
      <row>
      	<div use="nl.surf.emergo.control.CInputLabelDiv">
					<custom-attributes _labelKey="case"/>
					<custom-attributes _InputRequired="true"/>
	      </div>
        <listbox id="casCasId" use="nl.surf.emergo.control.crm.CCrmRunCaseLb" rows="1" mold="select"/>
      </row>
      <row use="nl.surf.emergo.control.crm.CCrmRunContextRow">
      	<div use="nl.surf.emergo.control.CInputLabelDiv">
					<custom-attributes helpLabelKey="context.help"/>
					<custom-attributes _labelKey="context"/>
	      </div>
        <listbox id="rcoRcoIds" use="nl.surf.emergo.control.crm.CCrmRunContextLb" multiple="true" checkmark="true" rows="5"/>
      </row>
      <row>
      	<div use="nl.surf.emergo.control.CInputLabelDiv">
					<custom-attributes _labelKey="name"/>
					<custom-attributes _InputRequired="true"/>
	      </div>
        <textbox id="name" use="nl.surf.emergo.control.CDomainEntityTextbox" focus="true"/>
      </row>
      <row>
      	<div use="nl.surf.emergo.control.CInputLabelDiv">
					<custom-attributes helpLabelKey="crm_runs.code.help"/>
					<custom-attributes _labelKey="code"/>
	      </div>
        <textbox id="code" use="nl.surf.emergo.control.CDomainEntityTextbox"/>
      </row>
      <row>
      	<div use="nl.surf.emergo.control.CInputLabelDiv">
					<custom-attributes helpLabelKey="startdate.help"/>
					<custom-attributes _labelKey="startdate"/>
	      </div>
        <datebox id="startdate" use="nl.surf.emergo.control.crm.CCrmRunDatebox" format="dd-MM-yyyy"/>
      </row>
      <row visible="true">
      	<div use="nl.surf.emergo.control.CInputLabelDiv">
					<custom-attributes _labelKey="starttime"/>
	      </div>
        <timebox id="starttime" use="nl.surf.emergo.control.crm.CCrmRunTimebox" format="HH:mm:ss"/>
      </row>
      <row>
      	<div use="nl.surf.emergo.control.CInputLabelDiv">
					<custom-attributes helpLabelKey="enddate.help"/>
					<custom-attributes _labelKey="enddate"/>
	      </div>
        <datebox id="enddate" use="nl.surf.emergo.control.crm.CCrmRunDatebox" format="dd-MM-yyyy"/>
      </row>
      <row>
      	<div use="nl.surf.emergo.control.CInputLabelDiv">
					<custom-attributes _labelKey="endtime"/>
	      </div>
        <timebox id="endtime" use="nl.surf.emergo.control.crm.CCrmRunTimebox" format="HH:mm:ss"/>
      </row>
      <row>
      	<div use="nl.surf.emergo.control.CInputLabelDiv">
					<custom-attributes helpLabelKey="crm_runs.active.help"/>
					<custom-attributes _labelKey="active"/>
	      </div>
        <checkbox id="active" use="nl.surf.emergo.control.CDomainEntityCheckbox" checked="true"/>
      </row>
      <row>
      	<div use="nl.surf.emergo.control.CInputLabelDiv">
					<custom-attributes helpLabelKey="open.help"/>
					<custom-attributes _labelKey="open"/>
	      </div>
        <checkbox id="openaccess" use="nl.surf.emergo.control.CDomainEntityCheckbox" checked="false"/>
      </row>
      <row>
      	<div use="nl.surf.emergo.control.CInputLabelDiv">
					<custom-attributes helpLabelKey="crm_s_run.accessmail.help"/>
					<custom-attributes _labelKey="crm_s_run.accessmailsubject"/>
	      </div>
        <textbox id="accessmailsubject" use="nl.surf.emergo.control.crm.CCrmRunMailSubjectTb"/>
      </row>
      <row>
      	<div use="nl.surf.emergo.control.CInputLabelDiv">
					<custom-attributes helpLabelKey="crm_s_run.accessmail.help"/>
					<custom-attributes _labelKey="crm_s_run.accessmailbody"/>
	      </div>
        <textbox id="accessmailbody" use="nl.surf.emergo.control.crm.CCrmRunMailBodyTb" rows="10"/>
      </row>
    </rows>
    </grid>
    <hbox>
      <button use="nl.surf.emergo.control.crm.CCrmRunOkBtn">
				<custom-attributes labelKey="ok"/>
      </button>
      <button use="nl.surf.emergo.control.CItemCancelBtn">
				<custom-attributes labelKey="cancel"/>
      </button>
    </hbox>
  </vbox>

</window>

</zk>
