<?xml version="1.0" encoding="UTF-8"?>
<hbox>
  <label value="&gt;" sclass="breadcrumb"/>
  <label use="nl.surf.emergo.control.CBreadcrumbRedirectLabel" sclass="breadcrumb">
 		<custom-attributes labelKey="runs"/>
 		<custom-attributes labelCapitalizeFirstChar="true"/>
 		<custom-attributes urlToRedirecToOnClick="adm_runs.zul"/>
	</label>
</hbox>
