<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd">

  <div xmlns:h="http://www.w3.org/1999/xhtml" xmlns:zk="http://www.zkoss.org/2005/zk" zclass="CRunShowMail_vbox">
	  <vbox use="nl.surf.emergo.control.run.CRunMailHeader"/>
	  <div zclass="CRunShowMail_vbox">
		  <h:br/>
	  		<h:br/>
	  		<div zclass="CRunShowMail_div">
			    <html content="${arg.body}"/>
		    </div>
    	<vbox>
    		<div zclass="CRunShowMail_okdiv">
  	    	<div use="nl.surf.emergo.control.run.${arg.a_CRunOkLabelButton}" zclass="CRunLabelButton" style="float:right;"/>
  	    </div>
	    </vbox>
 	 </div>
  </div>

</zk>
