<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd">
<include src="view/view.zul"/>
<style src="style/emergo.css"/>

<window use="nl.surf.emergo.control.CDecoratedInputWndTC">
	<custom-attributes role="tut"/>

	<vbox sclass="VboxOuter">
		<include src="i_logged_in_as.zul"/>
	  <hbox>
			<include src="i_bread_login.zul"/>
			<include src="i_bread_account_roles.zul"/>
			<include src="i_bread_tut_runs.zul"/>
  	</hbox>
  	<label use="nl.surf.emergo.control.def.CDefLabel">
			<custom-attributes labelKey="tut_rungroupaccounts.title"/>
		</label>
  	<listbox id="rungroupaccountsLb" use="nl.surf.emergo.test.CTutRunGroupAccountScoresLb" mold="paging" pageSize="20">
    	<listhead style="color:black;background-color:#EEEEEE;">
      	<listheader use="nl.surf.emergo.control.def.CDefListheader" sort="auto" width="50px">
					<custom-attributes labelKey="title"/>
    	  </listheader>
	      <listheader use="nl.surf.emergo.control.def.CDefListheader" sort="auto" width="100px">
					<custom-attributes labelKey="initials"/>
    	  </listheader>
  	    <listheader use="nl.surf.emergo.control.def.CDefListheader" sort="auto" width="100px">
					<custom-attributes labelKey="nameprefix"/>
    	  </listheader>
    	  <listheader use="nl.surf.emergo.control.def.CDefListheader" sort="auto" width="150px">
					<custom-attributes labelKey="lastname"/>
    	  </listheader>
      	<listheader use="nl.surf.emergo.control.def.CDefListheader" label="score" sort="auto" width="100px">
    	  </listheader>
	    </listhead>
  	</listbox>
  </vbox>

</window>

</zk>
