<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd">

<?component name="init_style_zul" macroURI="./tut_rungroupaccountemailtext_init_style_zul_macro.zul"?>
<init_style_zul/>

<window use="nl.surf.emergo.control.CWnd" border="normal" width="800px">
	<custom-attributes labelKey="run_mail.title"/>

	<?component name="mail_content" macroURI="./tut_rungroupaccountemailtext_macro.zul"?>
	<mail_content
		item="${arg.get('item')}"
		body="${arg.get('body')}"
		a_CRunOkLabelButton="ounl.CRunOkLabelButtonOunl"
	/>
</window>

</zk>
