@font-face {
	font-family				: MyriadPro;
	src						: url('MyriadPro-Regular.otf'),url('MyriadPro-Regular.eot');
}

.QuestionText {
	position					: absolute;
	left						: 23px;
	top							: 30px;
	width						: 600px;
	z-index						: 10;
	font-family					: MyriadPro;
	font-size					: 15px;
}

.PL_YN_Value {
	position					: absolute;
	top							: 70px;
	left						: 100px;
	width						: 470px;
	z-index						: 10;
}

.settings
{
	position					: absolute;
	left						: 0px;
	top							: 0px;
	width						: 638px;
	height						: 175px;
	background-image			: url('settings.png');
	background-size				: 638px 175px;
	z-index						: 1;
}	
	
.PL_YN_Value_checked,
.PL_YN_Value_unchecked
{
	width						: 15px;
	height						: 15px;
	z-index						: 1;
	cursor						: pointer;
	margin-left					: 3px;
	margin-right				: 3px;
	border-radius				: 50%;
}

.PL_YN_Value_checked
{
	background-image	: url('block_full.png');
}

.PL_YN_Value_unchecked
{
	background-image	: url('_block_empty.png');
	background-color	: grey;
}

.PL_YN_Value_text
{
	font-family					: MyriadPro;
	font-size					: 15px;
}
