@font-face {
  font-family: MyriadPro;
  src:url('../MyriadPro-Regular.otf'),url('../MyriadPro-Regular.eot');
}

@font-face {
  font-family: MyriadProBold;
  src:url('../MyriadPro-Semibold.otf'),url('../MyriadPro-Semibold.eot');
  font-weight: bold;
}

@font-face {
  font-family: HelveticaNeue;
  src:url('../Helvetica Neue LT Pro 55 Roman.otf'),url('../MyriadPro-Regular.eot');
}

@font-face {
  font-family: HelveticaNeueBold;
  src:url('../Helvetica Neue LT Pro 75 Bold.otf'),url('../MyriadPro-Semibold.eot');
  font-weight: bold;
}

:root {
  --clr-1: #FFA888;
  --clr-2: #47CCBE;
  --clr-3: #E2CC5C;
  --clr-4: #699FD5;
  --clr-5: #B37ADE;
  --clr-6: #A5CF2D;
  --clr-7: #CE9C7B;
  --clr-8: #66D7E9;
  --clr-9: #FF7878;
  --clr-10: #62E295;

  --clr-1-light: #ffd6c6;
  --clr-2-light: #AAE5DF;
  --clr-3-light: #F2E09A;
  --clr-4-light: #A7C9EB;
  --clr-5-light: #E7C6FF;
  --clr-6-light: #CFE888;
  --clr-7-light: #E4C4AF;
  --clr-8-light: #A8EBF5;
  --clr-9-light: #FFB8B8;
  --clr-10-light: #97F3BC;

  --clr-primary: #5d9a01;
  --clr-primary-hvr: #41690f;

  --clr-secondary: #5f508f;
  --clr-secondary-light: #dbd9f6;

  --clr-score-lower: #B59C9C;
  --clr-score-same: #DEDEDE;
  --clr-score-higher: #ABC5AC;
  
  --clr-ga-icon-image: rgba(149,145,255,1);
  --clr-ga-icon-image-light: rgba(149,145,255,0.8);
  --clr-ga-icon-image-light2: rgba(149,145,255,0.3);

  --clr-ga-btn-main: rgba(40,116,193,1);
  --clr-ga-btn-page: rgba(149,145,255,1);
  --clr-ga-btn-page-light: rgba(149,145,255,0.8);
  --clr-ga-btn-page-light2: rgba(149,145,255,0.3);
  --clr-ga-btn-page-dark: rgba(100,100,255,1);

  --clr-ga-li-select: rgba(149,145,255,1);

  --font-regular: HelveticaNeue;
  --font-bold: HelveticaNeueBold;
}

body {
	color: rgb(0, 0, 0);
	width: 1200px;
	height: 720px;
}

::selection {
	background-color: var(--clr-ga-icon-image-light);
	color: #333; /* tekstkleur van geselecteerde tekst */
}

.z-page {
	background-color: white;
}

.VboxOuter {
	width: 100%;
}

.ChangePWBtn {
	position: absolute;
	left: 1053px;
}

.ga-popup-div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1200px;
	height: 735px;
	visibility: hidden;
}

.ReturnMain {
	position: absolute;
	cursor: pointer;
	width: 83px;
	height: 33px;
	left: 1044px;
	top: 599px;
	overflow: visible;
	z-index: 1;
}
.GA_Menu_Btn {
	left: 32px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: var(--font-bold);
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Group_12_s {
	position: absolute;
	width: 83px;
	height: 33px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Line_18 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 2.5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_18 {
	overflow: visible;
	position: absolute;
	width: 16.937px;
	height: 2.5px;
	left: 8.5px;
	top: 10.56px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_19 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 2.5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_19 {
	overflow: visible;
	position: absolute;
	width: 16.937px;
	height: 2.5px;
	left: 8.5px;
	top: 16.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_20 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 2.5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_20 {
	overflow: visible;
	position: absolute;
	width: 16.937px;
	height: 2.5px;
	left: 8.5px;
	top: 22.44px;
	transform: matrix(1,0,0,1,0,0);
}

.ReturnBack {
	position: absolute;
	cursor: pointer;
	overflow: visible;
	width: 74px;
	height: 32px;
	left: 28px;
	top: 599px;
	z-index: 1;
}
#Terug {
	left: 17px;
	top: 7px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: var(--font-bold);
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}

.OpenHelp {
	position: absolute;
	width: 29px;
	height: 33px;
	left: 1141px;
	top: 599px;
	overflow: visible;
	cursor: pointer;
	z-index: 1;
}
#Text_bm {
	left: 9px;
	top: 4px;
	position: absolute;
	overflow: visible;
	width: 13px;
	white-space: nowrap;
	text-align: left;
	font-family: var(--font-bold);
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(255,255,255,1);
}

.GamebricsAuthor {
	position: absolute;
	width: 1200px;
	height: 650px;
}

#GB_author_title_div {
	position: absolute;
	overflow: visible;
	width: 372px;
	white-space: nowrap;
	text-align: left;
	font-family: var(--font-bold);
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(4,80,157,1);
	left: -1px;
	top: 13px;
}
#GB_author_title_div span {
	overflow: visible;
	white-space: nowrap;
	text-align: left;
	font-family: var(--font-bold);
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(4,80,157,1);
}
.GB_author_title_image {
	position: relative;
	left: 0px;
}
.GB_author_title_text {
	position: relative;
	left: 80px;
	top: 0px;
}

#GB_author_ti_rect {
	fill: var(--clr-ga-icon-image);
	width: 74px;
	height: 41px;
}
.GB_author_ti_rect {
	position: absolute;
	overflow: visible;
	width: 74px;
	height: 41px;
	top: -13px;
	transform: matrix(1,0,0,1,12.5,-7.5) rotate(-90deg);
	transform-origin: center;
}

.ga-table {
  background-color: white;
}

.ga-caption {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.ga-hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ga-p,
.ga-ol,
.ga-ul,
.ga-select {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
}

.ga-ul,
.ga-ol,
.ga-select {
  margin-left: 1rem;
}

.ga-ol li {
  list-style-type: decimal;
}

.ga-h1,
.ga-h2,
.ga-h3,
.ga-h4,
.ga-h5 {
  font-family: var(--font-bold);
}

.ga-h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4rem;
  letter-spacing: 1px;
}

.ga-h2 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.1rem;
  letter-spacing: 1px;
}

.ga-h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1rem;
}

.ga-fieldset {
  border: 0;
  position: relative;
}

.ga-a {
  text-decoration: none;
}

.ga-btn-main {
	fill: var(--clr-ga-btn-main);
}

.ga-btn-main-back {
	overflow: visible;
	width: 74px;
	height: 32px;
}

.ga-btn-main-menu {
	position: absolute;
	overflow: visible;
	width: 83px;
	height: 33px;
	left: 0px;
	top: 0px;
}

.ga-btn-main-help {
	position: absolute;
	overflow: visible;
	width: 29px;
	height: 33px;
	left: 0px;
	top: 0px;
}

.ga-btn {
  background-color: var(--clr-ga-btn-page);
  color: white;
  border-radius: .25rem;
  font-weight: 700;
  height: 38px;
  padding: 0 .5rem;
  border: 0;
  cursor: pointer;
  z-index: 10;
}

.ga-btn:hover {
  border: 1px solid var(--clr-ga-btn-page-light2);
  background-color: var(--clr-ga-btn-page-dark);
}

.ga-btn.small {
  height: 32px;
  font-size: .875rem;
}

.ga-btn.btn-primary {
  width: 200px;
}

.ga-btn.btn-secondary {
  background-color: transparent;
  color: var(--clr-ga-btn-page);
  margin-right: 5px;
}

.ga-btn.btn-secondary:hover {
  color: var(--clr-ga-btn-page-dark);
}

.ga-btn.btn-context {
  color: var(--clr-ga-btn-page);
}

.ga-btn.btn-secondary.btn-delete {
	background: url('KF1-challenges verwijderen.png');
	overflow: visible;
	width: 23px;
	height: 23px;
	margin-top: 2px;
	margin-right: 2px;
	background-repeat: no-repeat;
	background-position: center;
}

.ga-btn.btn-secondary.btn-add {
	background: url('KF1-challenges toevoegen.png');
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 23px;
	background-repeat: no-repeat;
	background-position: center;
}

.ga-btn.btn-secondary.btn-connect {
	background: url('KF3-connect_300.png');
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 32px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.ga-btn.btn-secondary.btn-check {
	background: url('KF3-check_unchecked_400_G.png');
	overflow: visible;
	width: 20px;
	height: 19px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-top: 3px;
	margin-right: 8px;
}

.ga-btn.btn-secondary.btn-edit {
	margin-top: -4px;
	margin-right: 2px;
}

.ga-btn-local {
	position: absolute;
	cursor: pointer;
	overflow: visible;
	height: 32px;
	z-index: 1;
}
.ga-btn-local.disabled {
	cursor: default;
}
.ga-btn-local-text {
	left: 17px;
	top: 7px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: var(--font-bold);
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
.ga-btn-local-svg {
	overflow: visible;
	width: 74px;
	height: 32px;
}
.ga-btn-local-rect {
	fill: var(--clr-ga-icon-image);
}

.disabled .ga-btn-local-rect {
	fill: var(--clr-ga-icon-image-light2);
}

#cke_editor1 {
	display: none;
}

.ga-label, .ga-label-skill {
  font-family: var(--font-bold);
  font-style: italic;
  color: #8f8f8f;
  font-weight: 700;
  font-size: 18px;
  margin-right: 1.5rem;
  vertical-align: top;
  display: inline-block;
}

.ga-label {
  margin-top: .5rem;
}

.ga-label-skill {
  margin-top: 1.2rem;
}

.ga-form {
  margin-top: 0.5rem;
  max-width: 800px;
}

.ga-form.narrow {
  max-width: 500px;
}

.ga-form h1 {
  text-align: left;
}

.ga-input {
  height: 38px;
}

.ga-input.large {
  height: 48px;
  width: 600px;
}

.input-overlay-btn {
  position: relative;
  display: inline-block;
}

.input-overlay-btn button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 38px;
}

.ga-strong {
  font-family: var(--font-bold);
}

.ga-fieldset {
  margin-bottom: 0.5rem;
}

.ga-fieldset .inline-form-items {
  display: flex;
  font-family: var(--font-regular), sans-serif;
  user-select: none;
  font-size: 18px;
  box-sizing: border-box;
}

.ga-fieldset.margin-top {
  margin-top: 130px;
}

.ga-input,
.ga-textarea {
  width: 680px;
  border: 2px solid #949494;
  border-radius: .25rem;
  font-family: var(--font-regular);
  text-indent: 0;
  font-size: 18px;
  padding: .5rem;
  box-sizing: border-box;
}

.ga-input {
  border: 1px solid rgb(0, 0, 0);
}

.ga-select-old {
  border: 0;
  font-family: var(--font-regular);
  font-size: 1rem;
  height: 38px;
}

.ga-form {
  display: flex;
  flex-direction: column;
}

.indent-1 {
  margin-left: 1.8rem;
}
.indent-h-center {
 /*
  margin-left: 23rem;
  */
}
.indent-n-h-center {
  margin-left: 16.5rem;
}

.txt-emph {
  font-style: italic;
  color: #8a8a8a;
  font-size: 18px;
}

.flex-start {
  align-self: flex-start;
}
.flex-center {
  align-self: center;
}
.flex-end {
  align-self: flex-end;
}

.txt-align-right {
  text-align: right;
}

.ga-nr-select {
  display: flex;
  margin-left: 0;
}

.ga-nr-select li button {
  font-size: 1.4rem;
  margin-right: .5rem;
  width: 38px;
}

.ga-list,
.ga-dropdown {
  width: 680px;
  height: 135px;
  overflow-y: auto;
  border: 2px solid #949494;
  border-radius: .25rem;
  font-family: var(--font-regular);
  text-indent: 0;
  font-size: 18px;
  box-sizing: border-box;
  display: inline-block;
  margin-left: 0;
  margin-bottom: 0;
  text-align: left;
  padding: .5rem 0;
}

.ga-list-rubrics-all{
  height: 192px;
}

.ga-dropdown {
  height: 39px;
  padding: .25rem 0;
}
.ga-list li,
.ga-dropdown option {
	height: 30px;
	position: relative;
	padding-left: .5rem;
	padding-right: .5rem;
	display: flex;
	align-items: center;
}

.ga-list li:hover {
  background-color: #f7f7f7;
}

.ga-list li.selected {
	/*
  background-color: #e0e0e0;
  */
}

.ga-list li .btn-context:first-child {
	margin-left: auto;
}

.ga-list-content {
	position: absolute;
	display: inline-block;
	border: none;
	fill: rgba(234,234,234,1);
	background-color: rgba(248,248,248);
}

.ga-selectrect {
	height: 31px;
	border-radius: 12px / 12px;
	border: 2px solid transparent;
	width: 100%;
	display: flex;
	padding-left: 8px;
}

li.selected .ga-selectrect {
	border-color: var(--clr-ga-li-select);
}

.ga-indc {
  color: white;
  background-color: #8a8a8a;
  border-radius: 100px;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  padding-top: 2px;
  font-family: var(--font-bold);
  line-height: 1rem;
  margin-left: .25rem;
  margin-right: .25rem;
}

.ga-btn-holder {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  padding-right: 1rem;
  padding-bottom: 1rem;
  background-color: white;
}

.ga-btn-holder.sticky {
  position: sticky;
  bottom: 0;
}

.ga-btn-holder button {
  margin-left: .5rem;
}

.ga-envir {
  color: #ba1d1e;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-top: .1rem;
  font-family: var(--font-regular), sans-serif;
  user-select: none;
  font-size: 14px;
}

.ga-body,
.ga-body-rubrics,
.ga-body-update-rubric {
  background-color: transparent;
  width: calc(1200px - 138px);
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  margin: 20px 20px 20px 80px;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}

.ga-body {
  height: calc(650px - 158px);
  top: 10px
}

.ga-body-rubrics {
  top: 35px
}

.ga-body-update-rubric {
  height: calc(707px - 158px);
  top: -1px
}

.ga-body-inner {
  margin: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.ga-body-subtitle {
  top: 11px;
  position: relative;
  left: 16px;
  width: 600px;
}

.ga-table {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  height: 460px;
  overflow-y: scroll;
}

.ga-thead,
.ga-tbody,
.ga-tfoot {
/*  display: flex;
*/
}

.ga-table .ga-thead {
  flex: none;
  position: sticky;
  top: 0;
}

.ga-table .ga-tbody {
  flex: 1;
  flex-wrap: wrap;
}

.ga-table .ga-tfoot {
  flex: none;
  position: sticky;
  bottom: 0;
}

.ga-table .ga-tbody .ga-td .fa-pencil-alt {
  display: none;
  position: absolute;
  right: 4px;
  top: 4px;
}

.ga-table .ga-thead .ga-td:hover .fa-pencil-alt,
.ga-table .ga-tbody .ga-td:hover .fa-pencil-alt {
  display: inline;
}

.ga-table .ga-thead .ga-td .fa-pencil-alt {
  color: white;
  position: absolute;
  right: 10px;
}

.ga-td-examples {
  position: absolute;
  right: 4px;
  bottom: 0;
  font-style: italic;
  color: white;
  font-family: var(--font-regular), sans-serif;
  font-size: 1rem;
}

.ga-table .ga-tbody .ga-td .ga-td-examples {
	font-size: .675rem;
}

.ga-table .ga-tbody .ga-td .ga-td-examples a {
  color: #0033dc;
  text-decoration: none;
}

.ga-table .fa-star {
  color: #2f197f;
}

.ga-tr {
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  justify-content: stretch;
}

.ga-td {
  flex: 1;
  padding-bottom: .5rem;
}

.ga-separator {
  background: linear-gradient(170deg, var(--clr-secondary), var(--clr-secondary) 50%, var(--clr-secondary-light) 50%, var(--clr-secondary-light));
}

.ga-sep {
  font-family: var(--font-bold);
  color: white;
  position: absolute;
}

.ga-sep.left {
  bottom: 12px;
  left: 8px;
}

.ga-sep.right {
  top: 10px;
	right: 8px;
}

.ga-body-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .875rem;
  margin-top: 0rem;
}

.ga-body-top h3 {
  display: inline-block;
}

.ga-table .ga-tr .ga-td.white {
  background-color: white;
}
.ga-table .ga-tr.lightpurple .ga-td:nth-child(n+3) {
  border-left: 2px solid #dbd9f6;
  border-right: 2px solid #dbd9f6;
}
.ga-tr .ga-td.transparent {
  background-color: transparent !important;
}

.ga-tr.collapsed.child {
  display: none;
}


.ga-cluster-foot .ga-td {
  background-color: #e2b95c;
}

.ga-cluster-head .ga-td { background-color: var(--clr-secondary-light); }

.ga-cluster-1 .ga-td { background-color: var(--clr-1); }
.ga-cluster-2 .ga-td { background-color: var(--clr-2); }
.ga-cluster-3 .ga-td { background-color: var(--clr-3); }
.ga-cluster-4 .ga-td { background-color: var(--clr-4); }
.ga-cluster-5 .ga-td { background-color: var(--clr-5); }
.ga-cluster-6 .ga-td { background-color: var(--clr-6); }
.ga-cluster-7 .ga-td { background-color: var(--clr-7); }
.ga-cluster-8 .ga-td { background-color: var(--clr-8); }
.ga-cluster-9 .ga-td { background-color: var(--clr-9); }
.ga-cluster-10 .ga-td { background-color: var(--clr-10); }

.ga-cluster-1.child .ga-td { background-color: var(--clr-1-light); }
.ga-cluster-2.child .ga-td { background-color: var(--clr-2-light); }
.ga-cluster-3.child .ga-td { background-color: var(--clr-3-light); }
.ga-cluster-4.child .ga-td { background-color: var(--clr-4-light); }
.ga-cluster-5.child .ga-td { background-color: var(--clr-5-light); }
.ga-cluster-6.child .ga-td { background-color: var(--clr-6-light); }
.ga-cluster-7.child .ga-td { background-color: var(--clr-7-light); }
.ga-cluster-8.child .ga-td { background-color: var(--clr-8-light); }
.ga-cluster-9.child .ga-td { background-color: var(--clr-9-light); }
.ga-cluster-10.child .ga-td { background-color: var(--clr-10-light); }

.ga-tr.cluster-head .ga-td .fa-pencil-alt {
  position: absolute;
  right: 4px;
  top: 4px;
  font-size: .675rem;
  display: none;
}

.ga-tr.yellow .ga-td .fa-plus {
  color: #6b4f11;
}

.ga-tr .ga-td:nth-child(1) {
  width: 7px;
  flex: none;
  align-items: center;
}
.ga-tr .ga-td:nth-child(2) {
  font-family: var(--font-regular), sans-serif;
	font-size: 16px;
  width: 220px;
  flex: none;
  align-items: center;
}

.ga-td {
  background-color: #ccc;
  display: flex;
  border: 2px solid white;
  padding-right: 1rem;
  position: relative;
  padding: .5rem;
  align-items: center;
}

/*
.ga-tr.collapsed {
  height: 39px;
}
*/

/*
.ga-tr.collapsed .ga-td-content {
  height: 1rem;
}
*/

.ga-td-center {
  justify-content: center;
}

.ga-td-content {
  font-family: var(--font-regular), sans-serif;
	overflow: hidden;
}

.ga-tbody .ga-td,
.ga-tbody .ga-td p {
  font-size: .675rem;
}

.ga-td img {
  zoom: .5;
}

.ga-td.tgl-collapse {
  cursor: pointer;
}

.ga-nr-select a {
    background-color: var(--clr-primary);
}

.wrapper {
  margin: 0 auto;
  display: flex;
  max-width: 1200px;
  margin-top: 1.5rem;
  flex-direction: column;
}

.emergo-screen {
  width: 1200px;
  height: 650px;
  margin-bottom: 1.5rem;
  background-color: #e6eaf5;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  border-radius: .5rem;
  transition: filter .5s ease-in-out;
}

.ga-build-block {
  position: relative;
  width: 380px;
  height: 62px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding: 1rem;
  font-family: var(--font-regular), sans-serif;
  font-size: 18px;
}
.ga-build-block .fas {
  color: white;
}
.ga-build-block .fa-pencil-alt {
  font-size: 1.6rem;
  display: none;
  position: absolute;
  top: 8px;
  right: 8px;
}
.ga-build-block:hover .fa-pencil-alt {
  display: block;
}

.ga-build-block .fa-plus {
  font-size: 2rem;
  margin-left: calc(50% - 1rem);
}

.ga-build-block .ga-td-examples {
  right: 8px;
  bottom: 8px
}

.ga-build-block.ga-cluster-1 {
  background-color: var(--clr-1);
}
.ga-build-block.ga-cluster-1.child {
  background-color: var(--clr-1-light);
}
.ga-build-block.ga-cluster-2 {
  background-color: var(--clr-2);
}
.ga-build-block.ga-cluster-2.child {
  background-color: var(--clr-2-light);
}
.ga-build-block.ga-cluster-3 {
  background-color: var(--clr-3);
}
.ga-build-block.ga-cluster-3.child {
  background-color: var(--clr-3-light);
}
.ga-build-block.ga-cluster-4 {
  background-color: var(--clr-4);
}
.ga-build-block.ga-cluster-4.child {
  background-color: var(--clr-4-light);
}
.ga-build-block.ga-cluster-5 {
  background-color: var(--clr-5);
}
.ga-build-block.ga-cluster-5.child {
  background-color: var(--clr-5-light);
}
.ga-build-block.ga-cluster-6 {
  background-color: var(--clr-6);
}
.ga-build-block.ga-cluster-6.child {
  background-color: var(--clr-6-light);
}
.ga-build-block.ga-cluster-7 {
  background-color: var(--clr-7);
}
.ga-build-block.ga-cluster-7.child {
  background-color: var(--clr-7-light);
}
.ga-build-block.ga-cluster-8 {
  background-color: var(--clr-8);
}
.ga-build-block.ga-cluster-8.child {
  background-color: var(--clr-8-light);
}
.ga-build-block.ga-cluster-9 {
  background-color: var(--clr-9);
}
.ga-build-block.ga-cluster-9.child {
  background-color: var(--clr-9-light);
}
.ga-build-block.ga-cluster-10 {
  background-color: var(--clr-10);
}
.ga-build-block.ga-cluster-10.child {
  background-color: var(--clr-10-light);
}

.ga-bt-field {
  margin-bottom: .25rem;
}

.ga-bt-field .fa-trash-alt {
  position: absolute;
  top: 14px;
  right: -55px;
  font-size: 2.2rem;
  color: #a4a5a5;
}

.ga-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: .75;
  z-index: 100;
}

.ga-modal {
  background-color: white;
  border: 1px solid black;
  border-radius: .5rem;
  margin: 0 auto;
  z-index: 201;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-regular), sans-serif;
  user-select: none;
  font-size: 18px;
}

.ga-modal-content {
  padding: .5rem;
  padding-bottom: 1rem;
  margin-left: 12px;
  font-style: italic;
  color: #8f8f8f;
}

.ga-modal .ga-btn-holder {
  padding: .5rem;
  border-radius: .5rem;
}


/* ASL */
.ga-btn-check,
.ga-btn-check-disabled {
	width: 25px;
  height: 25px;
  margin-left: auto;
  margin-bottom: 3px;
  margin-right: 10px;
  background-color: #FFFFFF;
  border: 2px solid #949494;
}

.ga-btn-check:hover,
.ga-btn-check-disabled:hover {
  border: 2px solid var(--clr-primary-hvr);
  background-color: #FFFFFF;
}

.ga-btn-check-disabled {
	cursor: default;
}

.ga-btn-check-div {
  margin-top: 2px;
  margin-left: -4px;
  transform: rotate(-9deg);
}

.ga-btn-check-span,
.ga-btn-check-span-disabled {
  font-style: italic;
}
	
.ga-btn-check-span {
  color: #000000;
}

.ga-btn-check-span-disabled {
  color: #A80000;
}

.ga-input-multi-plain,
.z-ckeditor .cke_contents .cke_reset {
	margin: 0;
	box-sizing: border-box;
	resize: none;
	text-align: left;
	font-family: var(--font-regular);
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
	
.ga-input-multi-plain {
	padding-top: 15px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	border: 1px solid rgba(200,200,200,1);
}
	
.z-ckeditor .cke_contents .cke_reset {
	padding-top: 5px;
	padding-right: 8px;
	padding-left: 8px;
	padding-bottom: 5px;
}
	
.z-ckeditor {
	border: 1px solid rgba(159,159,159,1);
}
	
.ga-input-single-plain,
.ga-input-single-plain-disabled {
	margin: 0;
	padding-top: 0px;
	padding-right: 3px;
	padding-left: 3px;
	padding-bottom: 0px;
	
	box-sizing: border-box;
	resize: none;
	height: 22px;
	min-height: 22px;

	text-align: left;
	font-family: var(--font-regular);
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(0,0,0,1);
	border: 1px solid rgba(0,0,0,1);
}
	
.ga-input-single-plain-disabled {
	border: 1px solid rgba(0,0,0,0.5);
	color: darkgray;
}

.ga-combo .z-combobox-input,
.ga-combo-ch-modal .z-combobox-input {
	margin: 0;
	padding-top: 0px;
	padding-right: 3px;
	padding-left: 3px;
	padding-bottom: 0px;
	
	box-sizing: border-box;
	resize: none;
	height: 22px;
	min-height: 22px;

	text-align: left;
	font-family: var(--font-regular);
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(0,0,0,1);
	border: 1px solid rgba(0,0,0,1);
	background: white;
}
	
.ga-combo .z-combobox-button,
.ga-combo-ch-modal .z-combobox-button {
	height: 22px;
	min-height: 22px;
	color: white;
	background-color: var(--clr-ga-icon-image);
	border-color: black;
	width: 23px;
	min-width: 23px;
}

.ga-combo .z-comboitem-text,
.ga-combo-ch-modal .z-comboitem-text {
	margin: 0;
	padding-top: 0px;
	padding-right: 3px;
	padding-left: 3px;
	padding-bottom: 0px;
	text-align: left;
	font-family: var(--font-regular);
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(0,0,0,1);
}

.ga-combo .z-combobox-button:hover,
.ga-combo-ch-modal .z-combobox-button:hover {
	color: white;
	background-color: var(--clr-ga-icon-image-light);
	background: var(--clr-ga-icon-image-light);
	border-color: black;
}

.ga-combo .z-combobox-icon,
.ga-combo-ch-modal .z-combobox-icon {
	position: relative;
	top: -9px;
	left: -4px;
	font-size: 25px;
	transform: scaleX(0.6);
}

.ga-combo .z-comboitem-selected,
.ga-combo-ch-modal .z-comboitem-selected {
	background: var(--clr-ga-icon-image-light2);
}

.ga-label-small {
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	text-align: left;
	font-family: var(--font-regular);
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(0,0,0,1);
}

/* rubrics */

.ga-rubric-weighting {
  width: 67px;
  position: absolute;
  top: 15px;
  right: -173px;
  height: 30px;
  padding: 10px;
  border: 2px solid rgb(0, 128, 192);
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

/* challenges */

.ga-ch-body {
  background-color: transparent;
  height: 650px;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  z-index:10;
  top:10px
}

.ga-ch-body-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ga-ch-fieldset {
  border: 0;
  position: relative;
  margin-bottom: 0rem;
}

.ga-ch-fieldset .inline-form-items {
  display: flex;
  font-family: var(--font-regular), sans-serif;
  user-select: none;
  font-size: 18px;
  box-sizing: border-box;
}

.ga-ch-fieldset.margin-top {
  margin-top: 130px;
}

.ga-ch-fieldset-modal {
  margin-bottom: 1rem;
}

.ga-label-ch,
.ga-label-ch-modal {
	overflow: visible;
	white-space: nowrap;
	text-align: left;
	font-family: var(--font-bold);
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(4,80,157,1);
	cursor: default;
}

.ga-label-ch {
	position: absolute;
}

.ga-label-ch-modal {
	padding: 0.5rem;
	margin-left: 12px;
}

.ga-label-ch-type_stu {
	left: 380px;
	top: 79px;
	width: 300px;
}

.ga-label-ch-type_aut {
	left: 380px;
	top: 142px;
	width: 300px;
}

.ga-label-ch-name_aut {
	left: 713px;
	top: 79px;
	width: 300px;
}

.ga-label-ch-time {
	left: 380px;
	top: 205px;
	width: 200px;
}

.ga-label-ch-content_stu {
	left: 27px;
	top: 297px;
	width: 309px;
}

.ga-label-ch-content_aut {
	left: 640px;
	top: 297px;
	width: 305px;
}

.ga-label-ch-list_cha {
	left: 27px;
	top: 79px;
	width: 250px;
}

.ga-label-ch-time_hou {
	left: 445px;
	top: 228px;
}

.ga-label-ch-time_min {
	left: 546px;
	top: 228px;
}

.ga-input-ch-content,
.ga-ch-studentContent .z-ckeditor,
.ga-ch-authorContent .ga-input-ch-content_aut {
	position: absolute;
	overflow: visible;
	height: 246px;
	top: 318px;
}

.ga-input-ch-content_aut {
	left: 640px;
	width: 533px;
}
	
.ga-ch-studentContent .z-ckeditor {
	left: 27px;
	width: 588px;
}

.ga-input-ch-name_aut,
.ga-input-ch-type_stu {
	position: absolute;
	overflow: visible;
	top: 99px;
}

.ga-input-ch-name_aut {
	left: 713px;
	width: 304px;
}

.ga-input-ch-type_aut {
	position: absolute;
	overflow: visible;
	top: 162px;
	left: 380px;
	width: 637px;
}

.ga-input-ch-type_stu {
	left: 380px;
	width: 314px;
}

.ga-combo-ch-modal {
	overflow: visible;
	padding: 0.5rem;
	padding-top: 0;
	margin-left: 12px;
	width: 357px;
}

.ga-combo-ch-modal .z-combobox-button{
	position: relative;
	right: 2px;
}

.ga-combo-ch-normtime_hou {
	position: absolute;
	overflow: visible;
	left: 380px;
	top: 225px;
	width: 58px;
}

.ga-combo-ch-normtime_min {
	position: absolute;
	overflow: visible;
	left: 482px;
	top: 225px;
	width: 58px;
}

.ga-combo-ch-modal.z-combobox-popup {
	top: 413px !important;
	left: 416px !important;
}

.ga-ch-btn_ready {
	position: absolute;
	overflow: visible;
	left: 933px;
	top: 218px;
	width: 74px;
}

.ga-list-ch {
	width: 322px;
	height: 146px;
	left: 27px;
	top: 110px;
}

.ga-btn-ch-add_cha {
	left: 313px;
	top: 80px;
}

.ga-label-me-list_cha {
	left: 27px;
	top: 79px;
	width: 250px;
}

.ga-label-me-list_ass {
	left: 550px;
	top: 79px;
	width: 250px;
}

.ga-list-me-ch {
	width: 407px;
	height: 198px;
	left: 27px;
	top: 110px;
}

.ga-list-me-ass {
	width: 407px;
	height: 198px;
	left: 550px;
	top: 110px;
}

.ga-label-me-content_ass {
	left: 27px;
	top: 337px;
	width: 280px;
}

.ga-me-assignmentContent .z-ckeditor {
	position: absolute;
	overflow: visible;
	height: 204px;
	top: 358px;
	left: 27px;
	width: 1126px;
}

.ga-btn-me-connect {
	left: 482px;
	top: 174px;
}

.ga-tooltip {
	background-color: #fff8dd;
	color: black;
	text-align: left;
	padding: 2px 5px;
	border: 1px solid #cecece;
	overflow: visible;
	z-index: 100;
	font-family: HelveticaNeue;
	font-weight: normal;
	font-size: 14px;
}

@supports not selector(::-webkit-scrollbar) {
	:root {               /* Firefox */
		scrollbar-width: thin;
	    scrollbar-color: rgba(40,116,193,1) rgba(159,159,159,1);
	}
}

::-webkit-scrollbar {
	width: 14px;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
	background: rgba(159,159,159,1);        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
	background-color: rgba(40,116,193,1);    /* color of the scroll thumb */
	border-radius: 20px;       /* roundness of the scroll thumb */
	border: 3px solid rgba(159,159,159,1);  /* creates padding around scroll thumb */
}

