/* body */

body
{
	background-image	:	url('bg-gradient.png');
	color							: gray;
	background-color	: transparent;
}


/* CRunCloseBtn - general */

button.CRunCloseBtn_active,
button.CRunCloseBtn_inactive
{
	background-image	: url('close-tabletapp-active.png');
}

button.CRunCloseBtn_active:hover
{
	background-image	:	url('close-tabletapp-hover.png');
}

/* CRunCloseBtn - overrule for closing Emergo */

div.CRunCloseArea button.CRunCloseBtn_active,
div.CRunCloseArea button.CRunCloseBtn_inactive
{
	background-image	: url('close-emergo-active.png');
}

div.CRunCloseArea button.CRunCloseBtn_active:hover
{
	background-image	:	url('close-emergo-hover.png');
}

/* CRunCloseEmergoBtn */

button.CRunCloseEmergoBtn_active,
button.CRunCloseEmergoBtn_inactive
{
	background-image	: url('close-emergo-active.png');
}

button.CRunCloseEmergoBtn_active:hover
{
	background-image	:	url('close-emergo-hover.png');
}

td.CRunLabelButtonLeft,
td.CRunLabelButtonLeftDisabled
{
	width							:	8px;
	height						: 29px;
	background-image	:	url('pad-left-light.png');
}

td.CRunLabelButtonLabel,
td.CRunLabelButtonLabelDisabled
{
	background-image	:	url('pad-bg-light.png');
}

td.CRunLabelButtonRight,
td.CRunLabelButtonRightDisabled
{
	background-image	:	url('pad-right-light.png');
}

span.CRunLabelButtonLabelDisabled
{
	color							: lightgray;
}


td.CRunLabelButtonSmallLeft,
td.CRunLabelButtonSmallLeftDisabled
{
	background-image	:	url('pad-left-light.png');
}

td.CRunLabelButtonSmallLabel,
td.CRunLabelButtonSmallLabelDisabled
{
	background-image	:	url('pad-bg-light.png');
}

td.CRunLabelButtonSmallRight,
td.CRunLabelButtonSmallRightDisabled
{
	background-image	:	url('pad-right-light.png');
}
