div.CRunWndLeftTop
{
	background-image	:	url('border-inside-lefttop.png');
}

div.CRunWndRightTop
{
	background-image	:	url('border-inside-righttop.png');
}

div.CRunWndLeftBottom
{
	background-image	:	url('border-inside-leftbottom.png');
}

div.CRunWndRightBottom
{
	background-image	:	url('border-inside-rightbottom.png');
}

div.CRunWndLogo
{
	position					: absolute;
	left							: 0px;
	top								: 615px;
	width							: 156px;
	height						: 35px;
	background				: transparent;
	background-image	:	url('logo_stichting_praktijkleren.png');
	z-index						: 111;
}

div.CRunWndBorderTop
{
	background-image	:	url('border-top.png');
}

div.CRunWndBorderLeft
{
	background-image	:	url('border-left.png');
}

div.CRunWndBorderRight
{
	background-image	:	url('border-right.png');
}

div.CRunWndBorderBottom
{
	background-image	:	url('border-bottom.png');
}
