div.CRunTablet
{
	background-image	:	url('bg-tablet.png');
}

button.CRunTabletCloseBtn_active,
button.CRunTabletCloseBtn_inactive
{
	background-image	:	url('close-tablet-active.png');
}

button.CRunTabletCloseBtn_active:hover
{
	background-image	:	url('close-tablet-hover.png');
}
