td.CRunBreadcrumbsAreaLeft
{
	background-image	:	url('pad-left.png');
}

td.CRunBreadcrumbsAreaSpacer
{
	background-image	:	url('pad-bg.png');
}

td.CRunBreadcrumbsAreaLabel
{
	background-image	:	url('pad-bg.png');
}

td.CRunBreadcrumbsAreaNext
{
	background-image	:	url('pad-next.png');
}

td.CRunBreadcrumbsAreaRight
{
	background-image	:	url('pad-right.png');
}

span.CRunBreadcrumbLabel
{
	color							: #EEEEEE;
}
