button.CRunTabletBtn_empty,
button.CRunTabletBtn_active,
button.CRunTabletBtn_selected,
button.CRunTabletBtn_inactive
{
	width							: 180px;
	height						: 121px;
}

button.CRunTabletBtn_empty
{
	background-image	:	url('button-tablet.png');
}

button.CRunTabletBtn_active
{
	background-image	:	url('button-tablet.png');
}

button.CRunTabletBtn_selected
{
	background-image	:	url('button-tablet.png');
}

button.CRunTabletBtn_inactive
{
	background-image	:	url('button-tablet.png');
}

button.CRunTabletBtn_active:hover
{
	background-image	:	url('button-tablet.png');
}