div.CRunConversationInteraction
{
	background-image	:	url('bg-interview.png');
}

button.CRunConversationInteraction_close_btn_active.CRunCloseBtn_active
{
	background-image	:	url('close-interaction-active.png');
}

button.CRunConversationInteraction_close_btn_active.CRunCloseBtn_active:hover
{
	background-image	:	url('close-interaction-hover.png');
}

td.CRunConversationInteraction_treecell_active_odd,
td.CRunConversationInteraction_treecell_active_even,
td.CRunConversationInteraction_treecell_selected_odd,
td.CRunConversationInteraction_treecell_selected_even,
td.CRunConversationInteraction_treecell_opened_odd,
td.CRunConversationInteraction_treecell_opened_even
{
	font-size					: 11pt;
	font-family				: MyriadPro;
	cursor						: pointer;
	height						: 23px;
}

.z-treerow-over .CRunConversationInteraction_treecell_active_odd,
.z-treerow-over .CRunConversationInteraction_treecell_active_even
{
/*	color							: #CCCCCC; */
  background-color	: #8D8989;
	color							: #e5a730;
}

td.CRunConversationInteraction_treecell_active_odd,
td.CRunConversationInteraction_treecell_active_even
{
  background-color	: #E5A730;
	color							: #FFFFFF;
}

.z-treerow-over .CRunConversationInteraction_treecell_opened_odd,
.z-treerow-over .CRunConversationInteraction_treecell_opened_even
{
  background-color	: #E5A730;
	color							: #a77e2f;
}


td.CRunConversationInteraction_treecell_opened_odd,
td.CRunConversationInteraction_treecell_opened_even
{
  background-color	: #E5A730;
	color							: #666666;
}
